<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <div class="box box-solid ">
            <div class="box-header with-border">
                <h3 class="box-title">CPU</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-2">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">RAM</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-2">
        <div class="box box-solid ">
            <div class="box-header with-border">
                <h3 class="box-title">DISK</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-2">

        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">SWAP</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    </div>

    <div class="col-md-2 pull-right">
        <a class="btn btn-success pull-right btn-tab" id="bt_saveGeneraleConfig"><i class="fa fa-check-circle"></i> {{ 'Sauvegarder' }}</a>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1" id="div_MenuList">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Administration' }}</h3>
            </div>
            <div class="box-body">
                <a class="btn btn-app" data-id="div_General"><i class="fa fa-wrench"></i> {{ 'Général' }} </a>
                <a class="btn btn-app" data-id="div_API"> <i class="fa fa-key"></i> {{ 'API' }}</a>
                <a class="btn btn-app" data-id="div_OSDB"><i class="fa fa-terminal"></i> {{ 'OS/DB' }}</a>
                <a class="btn btn-app" data-id="div_Securite"><i class="fa fa-shield"></i> {{ 'Securité' }}</a>
                <a class="btn btn-app" data-id="div_Réseaux"><i class="fa fa-rss"></i> {{ 'Réseaux' }}</a>
                <a class="btn btn-app" data-id="div_Commandes"><i class="fa fa-hand-o-right"></i> {{ 'Commandes' }}</a>
                <a class="btn btn-app" data-id="div_Cache"><i class="fa fa-hdd-o"></i> {{ 'Cache' }}</a>
                <a class="btn btn-app" data-id="div_Interactions"><i class="fa fa-hdd-o"></i> {{ 'Interactions' }}</a>
                <a class="btn btn-app" data-id="div_Rapports"><i class="fa fa-newspaper-o"></i> {{ 'Rapports' }}</a>
                <a class="btn btn-app" data-id="div_Liens"><i class="fa fa-sitemap"></i> {{ 'Liens' }}</a>
                <a class="btn btn-app" data-id="div_Resumes"><i class="fa fa-table"></i> {{ 'Résumés' }}</a>
                <a class="btn btn-app" data-id="div_Logs"><i class="fa fa-pencil-square-o"></i> {{ 'Logs' }}</a>
                <a class="btn btn-app" data-id="div_Eqlogic"><i class="fas fa-tablet-alt"></i> {{ 'Equipements' }}</a>
                <a class="btn btn-app" data-id="div_Update"><i class="fa fa-credit-card"></i> {{ 'Mises à jour' }}</a>
                <a class="btn btn-app" data-id="div_Utilisateurs"><i class="fa fa-users"></i> {{ 'Utilisateurs' }}</a>
                <a class="btn btn-app" data-id="div_Sauvegardes"><i class="fa fa-users"></i> {{ 'Sauvegardes' }}</a>
                <a class="btn btn-app" data-id="div_Migration"><i class="fa fa-users"></i> {{ 'Migration' }}</a>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1" id="div_MenuList_2">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Outils' }}</h3>
            </div>
            <div class="box-body">
                <a class="btn btn-app" data-id="div_Taches"><i class="fa fa-tasks"></i> {{ 'Taches' }}</a>
                <a class="btn btn-app" data-id="div_Personnalisation"><i class="fas fa-pencil-square"></i> {{ 'Personnalisation' }}</a>
                <a class="btn btn-app" data-id="div_Profil"><i class="fa fa-briefcase"></i> {{ 'Profil' }}</a>
                <a class="btn btn-app" data-id="div_Historique"><i class="fa fa-bar-chart-o"></i> {{ 'Historique' }}</a>
                <a class="btn btn-app" data-id="div_Rapports"><i class="fa fa-newspaper-o"></i> {{ 'Rapports' }}</a>
                <a class="btn btn-app" data-id="div_TempsReel"><i class="fa fa-tachometer"></i> {{ 'Temps réel' }}</a>
                <a class="btn btn-app" data-id="div_Logs"><i class="fa fa-file-o"></i> {{ 'Logs' }}</a>
                <a class="btn btn-app" data-id="div_Equip"><i class="fa fa-battery-full"></i> {{ 'Equipements' }}</a>
                <a class="btn btn-app" data-id="div_Sante"><i class="fa fa-medkit"></i> {{ 'Santé' }}</a>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


<div id="config">
    <div class="col-md-10 col-md-offset-1">
        {% include '/desktop/admin/general.html.twig' %}
        {% include '/desktop/admin/api.html.twig' %}
        {% include '/desktop/admin/osdb.html.twig' %}
        {% include '/desktop/admin/security.html.twig' %}
        {% include '/desktop/admin/network.html.twig' %}
        {% include '/desktop/admin/commandes.html.twig' %}
        {% include '/desktop/admin/cache.html.twig' %}
        {% include '/desktop/admin/interactions.html.twig' %}
        {% include '/desktop/admin/rapports.html.twig' %}
        {% include '/desktop/admin/links.html.twig' %}
        {% include '/desktop/admin/logs.html.twig' %}
        {% include '/desktop/admin/eqlogic.html.twig' %}
        {% include '/desktop/admin/update-conf.html.twig' %}
        {% include '/desktop/admin/migration.html.twig' %}
        {% include '/desktop/admin/backup.html.twig' %}
        {% include '/desktop/admin/tasks.html.twig' %}
        {% include '/desktop/admin/custom.html.twig' %}
        <div class="box" style="display: none;" id="div_Utilisateurs">
            <div class="box-header">
                <legend ><i class="fa fa-hand-o-right"></i>{{ 'Gestion des utilisateurs' }}</legend>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool btn-close" ><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="box" id="div_administration">
                    <div class="box-header">
                        <legend><i class="icon personne-toilet1"></i> {{ 'Liste des utilisateurs' }}
                            <div class="box-tools pull-right">
                                <a class="btn btn-success btn-xs" id="bt_saveUser"><i class="far fa-check-circle"></i> {{ 'Sauvegarder' }}</a>
                                {% if userLdapEnabled != '1' %}
                                    {% if userSupportExists %}
                                        <a class="btn btn-danger btn-xs" id="bt_supportAccess" data-enable="0"><i class="fas fa-user"></i> {{ 'Désactiver accès support' }}</a>
                                    {% else %}
                                        <a class="btn btn-success btn-xs" id="bt_supportAccess" data-enable="1"><i class="fas fa-user"></i> {{ 'Activer accès support' }}</a>
                                    {% endif %}
                                    <a class="btn btn-warning btn-xs" id="bt_addUser"><i class="fas fa-plus-circle"></i> {{ 'Ajouter un utilisateur' }}</a>
                                {% endif %}
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </legend>
                    </div>
                    <div class="box-body">
                        <div class="tab-pane" id="user">

                            <table class="table table-condensed table-bordered" id="table_user">
                                <thead>
                                <th>{{ 'Utilisateur' }}</th>
                                <th style="width: 100px;">{{ 'Actif' }}</th>
                                <th>{{ 'Profil' }}</th>
                                <th>{{ 'Clef API' }}</th>
                                <th>{{ 'Double authentification' }}</th>
                                <th>{{ 'Dernière connexion' }}</th>
                                <th>{{ 'Actions' }}</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <legend>{{ 'Sessions actives' }}</legend>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <table class="table table-condensed table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 250px;">{{ 'ID' }}</th>
                                        <th style="width: 250px;">{{ 'Utilisateur' }}</th>
                                        <th style="width: 250px;">{{ 'IP' }}</th>
                                        <th style="width: 250px;">{{ 'Date' }}</th>
                                        <th>{{ 'Actions' }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if userSessionsList|length > 0 %}
                                        {% for sessionId, sessionData in userSessionsList %}
                                            {% if sessionData['ip'] is not defined %}
                                                {% set sessionData = sessionData|merge({'ip': ''}) %}
                                            {% endif %}
                                            {% if sessionData['datetime'] is not defined %}
                                                {% set sessionData = sessionData|merge({'datetime': ''}) %}
                                            {% endif %}
                                            <tr data-id="{{ sessionId }}">
                                                <td>{{ sessionData['login'] }}</td>
                                                <td>{{ sessionData['ip'] }}</td>
                                                <td>{{ sessionData['datetime'] }}</td>
                                                <td><a class="btn btn-xs btn-warning bt_deleteSession"><i class="fa fa-sign-out"></i> {{ 'Déconnecter' }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <legend>{{ 'Périphériques enregistrés' }}
                            <div class="box-tools pull-right">
                                <a class="btn btn-xs btn-warning" id="bt_removeAllRegisterDevice"><i class="fas fa-trash"></i> {{ 'Supprimer tout' }}</a>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </legend>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                        <th style="width: 250px;">{{ 'ID' }}</th>
                                        <th style="width: 250px;">{{ 'Utilisateur' }}</th>
                                        <th style="width: 250px;">{{ 'IP' }}</th>
                                        <th style="width: 250px;">{{ 'Date' }}</th>
                                        <th>{{ 'Action' }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in usersList %}
                                        {% if user.getOptions('registerDevice') is iterable and user.getOptions('registerDevice')|length > 0 %}
                                            {% for deviceId, deviceData in user.getOptions('registerDevice') %}
                                                <tr data-key="{{ deviceId }}" data-user_id="{{ user.getId() }}">
                                                    <td>{{ deviceId|slice(0, 10) }}</td>
                                                    <td>{{ user.getLogin() }}</td>
                                                    <td>{{ deviceData['ip'] }}</td>
                                                    <td>{{ deviceData['datetime'] }}</td>
                                                    <td><a class="btn btn-warning btn-xs bt_removeRegisterDevice"><i class="fas fa-trash"></i> {{ 'Supprimer' }}</a></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="modal fade" id="md_newUser">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">×</button>
                                <h3>{{ 'Ajouter un utilisateur' }}</h3>
                            </div>
                            <div class="modal-body">
                                <div style="display: none;" id="div_newUserAlert"></div>
                                <center>
                                    <input class="form-control" type="text" id="in_newUserLogin" placeholder="{{ 'Identifiant' }}"/><br/><br/>
                                    <input class="form-control" type="password" id="in_newUserMdp" placeholder="{{ 'Mot de passe' }}"/>
                                </center>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default" data-dismiss="modal">{{ 'Annuler' }}</a>
                                <a class="btn btn-primary" id="bt_newUserSave"><i class="far fa-check-circle"></i> {{ 'Enregistrer' }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
