<div class="row">
    <div id="div-menuPerf">
        <div class="col-md-2 col-md-offset-1">
            <div class="box box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">CPU</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">RAM</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-2">
            <div class="box box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">DISK</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-2">

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">SWAP</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-2 pull-right">
            <a class="btn btn-success pull-right btn-tab" id="bt_saveGeneraleConfig"><i class="fa fa-check-circle"></i> {{ 'Sauvegarder' }}</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1" id="div_MenuList">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Administration' }}</h3>
            </div>
            <div class="box-body">
                <a class="btn btn-app" href="index.php?v=d&p=general"><i class="fa fa-wrench"></i> {{ 'Général' }} </a>
                <a class="btn btn-app" href="index.php?v=d&p=custom"><i class="fas fa-pencil-square"></i> {{ 'Personnalisation' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=api"> <i class="fa fa-key"></i> {{ 'API' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=osdb"><i class="fa fa-terminal"></i> {{ 'OS/DB' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=security"><i class="fa fa-shield"></i> {{ 'Securité' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=network"><i class="fa fa-rss"></i> {{ 'Réseaux' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=commandes">><i class="fa fa-hand-o-right"></i> {{ 'Commandes' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=cache"><i class="fa fa-hdd-o"></i> {{ 'Cache' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=interact_admin"><i class="fa fa-hdd-o"></i> {{ 'Interactions' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=reports_admin"><i class="fa fa-newspaper-o"></i> {{ 'Rapports' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=links"><i class="fa fa-sitemap"></i> {{ 'Liens' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=summary"><i class="fa fa-table"></i> {{ 'Résumés' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=log_admin"><i class="fa fa-pencil-square-o"></i> {{ 'Logs' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=eqlogic"><i class="fas fa-tablet-alt"></i> {{ 'Equipements' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=update_admin"><i class="fa fa-credit-card"></i> {{ 'Mises à jour' }}</a>
                <a class="btn btn-app" href="index.php?v=d&p=users"><i class="fa fa-users"></i> {{ 'Utilisateurs' }}</a>

            </div>
        </div>
    </div>
</div>
