{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

#}
<section class="content">
    <div class="row" id="div-menuPerf">
        <div class="col-md-3 col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">CPU</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ administrationCpuLoad }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ administrationCpuLoad }}%">
                            <span class="sr-only">{{ administrationCpuLoad }} %</span>
                        </div>
                    </div>
                    <span id="CPU-Value">{{ administrationCpuLoad }} %</span>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">RAM</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ administrationMemLoad }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ administrationMemLoad }}%">
                            <span class="sr-only">{{ administrationMemLoad }} %</span>
                        </div>
                    </div>
                    <span id="RAM-Value">{{ administrationMemLoad }} %</span>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="box box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">DISK</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ administrationHddLoad }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ administrationHddLoad }}%">
                            <span class="sr-only">{{ administrationHddLoad }} %</span>
                        </div>
                    </div>
                    <span id="CPU-Value">{{ administrationHddLoad }} %</span>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">SWAP</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{ administrationSwapLoad }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ administrationSwapLoad }}%">
                            <span class="sr-only">{{ administrationSwapLoad }} %</span>
                        </div>
                    </div>
                    <span id="CPU-Value">{{ administrationSwapLoad }} %</span>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12" id="div_MenuList">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-cog">&nbsp;&nbsp;</i>{{ 'Administration / Paramétrage' }}</h3>
                </div>
                <div class="box-body">
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=general"><i class="fas fa-wrench"></i> {{ 'Général' }} </a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=custom"><i class="fas fa-pencil-square"></i> {{ 'Customisation' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=users"><i class="fas fa-users"></i> {{ 'Utilisateurs' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=profils"><i class="fas fa-briefcase"></i> {{ 'Profil' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=osdb"><i class="fas fa-terminal"></i> {{ 'OS/DB' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=api"><i class="fas fa-key"></i> {{ 'API' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=network"><i class="fas fa-rss"></i> {{ 'Réseaux' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=security"><i class="fa fa-shield"></i> {{ 'Sécurité' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=cache"><i class="fas fa-hdd-o"></i> {{ 'Cache' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=commandes"><i class="fas fa-hand-o-right"></i> {{ 'Commandes' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=interact_admin"><i class="fas fa-american-sign-language-interpreting"></i> {{ 'Interactions' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=links"><i class="fas fa-sitemap"></i> {{ 'Liens' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=eqlogic"><i class="fas fa-tablet-alt"></i> {{ 'Equipements' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=update_admin"><i class="fas fa-credit-card"></i> {{ 'Services' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=summary"><i class="fas fa-table"></i> {{ 'Résumés' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=reports_admin"><i class="fas fa-newspaper-o"></i> {{ 'Rapports' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=log_admin"><i class="fas fa-file-alt"></i> {{ 'Logs' }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12" id="div_MenuList2">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-paperclip">&nbsp;&nbsp;</i>{{ 'Outils / Diagnostics' }}</h3>
                </div>
                <div class="box-body">
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=migration" ><i class="fas fa-rocket"></i> {{ 'Migration' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=backup" ><i class="fas fa-save"></i> {{ 'Sauvegardes' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=update"><span class="badge bg-red">{{ MENU_NB_UPDATES }}</span><i class="fas fa-download"></i> {{ 'Mises à jour' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=history"><i class="fas fa-chart-area"></i> {{ 'Historique' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=health"><i class="fas fa-medkit"></i> {{ 'Santé' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=cron"><i class="fas fa-tasks"></i> {{ 'Tâches' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=log_display"><i class="fas fa-tachometer-alt"></i> {{ 'Temps réel' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=report"><i class="fas fa-newspaper-o"></i> {{ 'Rapports' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=log"><i class="fas fa-file-alt"></i> {{ 'Logs' }}</a>
                    <a class="btn btn-app col-lg-1 col-md-2 col-xs-2" href="index.php?v=d&p=note"><i class="fas fa-sticky-note"></i> {{ 'Notes' }}</a>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>