{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
{% include '/commons/header.html.twig' %}
<body class="hold-transition login-page">
<div class="login-box animationZoomIn">
    <!-- Section logo -->
    <div class="login-logo">
        <img class="login-logo-img" src="/public/img/NextDom/NextDom_Wide_AlphaBlackWhite.png">
    </div>

    <!-- Section connexion -->
    <div class="login-box-body">
        <div class="form-group">
            <p class="login-box-msg">{{ 'connection.home-msg'|trans }}</p>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="{{ 'connection.login-placeholder'|trans }}" id="login">
            <span class="label-badge"><i class="fas fa-user-circle"></i></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="{{ 'connection.password-placeholder'|trans }}" id="password">
            <span class="label-badge"><i class="fas fa-key"></i></span>
        </div>
        <div class="passwd form-group has-feedback" style="display:none;">
            <input type="text" id="twofactor" placeholder="{{ 'connection.two-factors-placeholder'|trans }}" class="form-control">
            <span class="label-badge"><i class="fas fa-user-secret"></i></span>
        </div>
        <div class="row form-group">
            <div class="col-sm-7 col-xs-12">
                <input type="checkbox" id="storeConnection">
                <label for="storeConnection" data-toggle="tooltip" title="" data-original-title="{{ 'connection.remember-title'|trans }}">{{ 'connection.remember-label'|trans }}</label>
            </div>
            <div class="col-sm-5 col-xs-12">
                <button class="btn btn-primary btn-block btn-flat" id="submit"><i class="fas fa-unlock spacing-right"></i>{{ 'connection.connect'|trans }}</button>
            </div>
        </div>
        <a class="label-link" href="https://www.nextdom.org/knowledge-base/reinitialiser-sont-mot-de-passe/" target="_blank">{{ 'connection.forgot'|trans }}</a><br>
    </div>
</div>
{% if IS_MOBILE and not MOBILE_INSTALLED%}
    <div id="mobile-box">
        <div id="mobile-install" class="box box-default collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'connection.mobile-install'|trans }}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: none;">
                {% if INSTALL_TYPE == 'apt' %}
                    <pre>apt install nextdom-mobile</pre>
                {% else %}
                    <pre>git clone https://github.com/NextDom/nextdom-mobile-dist {{ NEXTDOM_ROOT }}/mobile</pre>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% if JS_END_POOL is defined %}
    {% for jsFile in JS_END_POOL %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}
{% endif %}
</body>
