{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="nav-tabs-custom">
        {% for i in 0..2 %}
            <ul class="nav nav-tabs nav-tabs-dashboard">
                {% for child in objectList %}
                    {% if child.parentNumber() == i and (child.getFather_id() == dashboardObject.getFather().getFather_id() or child.getFather_id() == dashboardObject.getFather_id() or child.getFather_id() == dashboardObjectId or child.getFather_id() == '') %}
                        <li class="cursor {% if child.getId() == dashboardObjectId %}active{% endif %} {% if child.getId() == dashboardObject.getFather_id() or child.getId() == dashboardObject.getFather().getFather_id() %}father{% endif %}"><a href="index.php?v=d&p=dashboard&object_id={{ child.getId() }}">{{ child.getDisplay("icon")|raw }}<i class="spacing-right"></i>{{ child.getName() }}</a><li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</section>

<section id="dashboard-content">
    <div class="blurPanel">
        {% if dashboardObject.getConfiguration('hideOnDashboard') == 0 %}
            <div class="div_object col-xs-{{ dashboardObject.getDisplay('dashboard::size', 12) }}">
                <div class="card" style="background-color:{{ dashboardObject.getDisplay("tagColor") }}10;box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08); border: 1px solid {{ dashboardObject.getDisplay("tagColor") }}50;" data-father_id="{{ dashboardObject.getFather_id() }}">
                    <div class="card-header card-header-icon">
                        <div class="card-icon" style="background:{{ dashboardObject.getDisplay("tagColor") }}">
                            {{ dashboardObject.getDisplay("icon")|raw }}
                        </div>
                        <p class="card-category" style="color:{{ dashboardObject.getDisplay("tagColor") }}"><b>{{ dashboardObject.getName() }}</b></p>
                        <div class="editDashboardButtons" style="display:none;">
                            <i class="fas fa-th-large pull-right cursor bt_editDashboardWidgetAutoResize tooltips spacing-left" id="edit_object_{{ dashboardObject.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ 'Redimensionnement sur pas de grille supérieur' }}"></i>
                            <i class="fas fa-th pull-right cursor bt_editDashboardWidgetGridResize tooltips spacing-left" id="edit_object_{{ dashboardObject.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ 'Redimensionner automatiquement puis sur pas de grille' }}"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="div_displayEquipement" id="div_ob{{ dashboardObject.getId() }}">
                            <script>getObjectHtml({{ dashboardObject.getId() }})</script>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for child in dashboardChildrenObjects %}
            <div class="div_object col-xs-{{ child.getDisplay('dashboard::size', 12) }}">
                {% if child.getFather_id() == '' %}
                    {% if child.getConfiguration('hideOnDashboard') == 0 %}
                        <div class="card" style="background-color:{{ child.getDisplay("tagColor") }}10;box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08); border: 1px solid {{ child.getDisplay("tagColor") }}50" ; data-father_id="{{ child.getId() }}">
                            <div class="card-header card-header-icon">
                                <div class="card-icon text-center" style="background:{{ child.getDisplay("tagColor") }}">
                                    {{ child.getDisplay("icon")|raw }}
                                </div>
                                <p class="card-category" style="color:{{ child.getDisplay("tagColor") }}"><b>{{ child.getName() }}</b></p>
                                <div class="editDashboardButtons" style="display:none;">
                                    <i class="fas fa-th-large pull-right cursor bt_editDashboardWidgetAutoResize tooltips spacing-left" id="edit_object_{{ child.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ 'Redimensionnement sur pas de grille supérieur' }}"></i>
                                    <i class="fas fa-th pull-right cursor bt_editDashboardWidgetGridResize tooltips spacing-left" id="edit_object_{{ child.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ 'Redimensionner automatiquement puis sur pas de grille' }}"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="div_displayEquipement" id="div_ob{{ child.getId() }}" style="width: 100%;padding-top:3px;margin-bottom : 3px;">
                                    <script>getObjectHtml({{ child.getId() }})</script>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    {% if child.getConfiguration('hideOnDashboard') == 0 %}
                        <div class="card" style="background-color:{{ child.getDisplay("tagColor") }}10;box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08); border: 1px solid {{ child.getDisplay("tagColor") }}50" ; data-father_id="{{ child.getFather_id() }}">
                            <div class="card-header card-header-icon">
                                <div class="card-icon text-center" style="background:{{ child.getDisplay("tagColor") }}">
                                    {{ child.getDisplay("icon")|raw }}
                                </div>
                                <p class="card-category" style="color:{{ child.getDisplay("tagColor") }}"><b>{{ child.getName() }}</b></p>
                                <div class="editDashboardButtons" style="display:none;">
                                    <i class="fas fa-th-large pull-right cursor bt_editDashboardWidgetAutoResize tooltips spacing-left" id="edit_object_{{ child.getId() }}" data-mode="0" title="{{ 'Redimensionnement sur pas de grille supérieur' }}"></i>
                                    <i class="fas fa-th pull-right cursor bt_editDashboardWidgetGridResize tooltips spacing-left" id="edit_object_{{ child.getId() }}" data-mode="0" title="{{ 'Redimensionner automatiquement puis sur pas de grille' }}"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="div_displayEquipement" id="div_ob{{ child.getId() }}" style="width: 100%;padding-top:3px;margin-bottom : 3px;">
                                    <script>getObjectHtml({{ child.getId() }})</script>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="fab fab-filter">
        <span class="fab-action-button"><i class="fab-action-button__icon fas fa-filter"></i></span>
        <ul class="fab-buttons">
            {% if dashboardCategory =='all' %}
                <li class="fab-buttons__item"><a class="fab-buttons__link cursor bg-green" data-tooltip="Toutes" onclick='selectCategory("all");'><i class="fas fa-asterisk"></i></a></li>
            {% else %}
                <li class="fab-buttons__item"><a class="fab-buttons__link cursor" data-tooltip="Toutes" onclick='selectCategory("all");'><i class="icon-material fas fa-asterisk"></i></a></li>
            {% endif %}
            {% for categoryCode, category in dashboardCategories %}
                {% if dashboardCategory == categoryCode %}
                    <li class="fab-buttons__item"><a class="fab-buttons__link cursor" data-tooltip="{{ category.name|trans }}" style="background-color:{{ category.color }}" onclick='selectCategory("{{ categoryCode }}");'><i class="{{ category.icon }}"></i></a></li>
                {% else %}
                    <li class="fab-buttons__item"><a class="fab-buttons__link cursor" data-tooltip="{{ category.name|trans }}" style="background-color:{{ category.color }}" onclick='selectCategory("{{ categoryCode }}");'><i class="{{ category.icon }}"></i></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% if dashboardCategory == 'all' %}
        <div class="fab fab-bis">
            <a class="fab-action-button cursor" id="bt_editDashboardWidgetOrder" data-mode="0"><i class="fab-action-button__icon fas fa-pencil-alt"></i></a>
        </div>
    {% endif %}
</section>
