{% if dashboardCategory == 'all' %}
    <i class="fas fa-pencil-alt pull-right cursor" id="bt_editDashboardWidgetOrder" data-mode="0" ></i>
{% endif %}
<div class="row" id="dashPanel">
    {% if dashboardObjectId != '' %}
    <div class="col-xs-12">
        {% else %}
        <div class="col-xs-{{ dashboardObject.getDisplay('dashboard::size', 12) }}">
            {% endif %}
            <div class="card" style="background-color:{{ dashboardObject.getDisplay("tagColor") }}25;box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08); border: 1px solid {{ dashboardObject.getDisplay("tagColor") }}50;" data-father_id="{{ dashboardObject.getFather_id() }}">
                <div class="card-header card-header-icon">
                    <div class="card-icon" style="background:{{ dashboardObject.getDisplay("tagColor") }}">
                        {{ dashboardObject.getDisplay("icon")|raw }}</i>
                    </div>
                    <a class="card-category" style="color:{{ dashboardObject.getDisplay("tagColor") }}"><b>{{ dashboardObject.getName() }}</b></a>
                </div>
                <div class="card-body">
                    <div class="div_displayEquipement" id="div_ob{{ dashboardObject.getId() }}" style="width: 100%;padding-top:3px;margin-bottom : 3px;">
                        <script>getObjectHtml({{ dashboardObject.getId()}})</script>
                    </div>
                </div>
            </div>
            {% for child in dashboardChildrenObjects %}
                {% if child.getConfiguration('hideOnDashboard, 0') != 1 %}
                    <div class="card div_object" style="background-color:{{ child.getDisplay("tagColor") }}25;box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08); border: 1px solid {{ child.getDisplay("tagColor") }}50"; data-father_id="{{ child.getFather_id() }}">
                        <div class="card-header card-header-icon">
                            <div class="card-icon text-center" style="background:{{ child.getDisplay("tagColor") }}">
                                {{ child.getDisplay("icon")|raw }}</i>
                            </div>
                            <p class="card-category" style="color:{{ child.getDisplay("tagColor") }}"><b>{{ child.getName() }}</b></p>
                        </div>
                        <div class="card-body">
                            <div class="div_displayEquipement" id="div_ob{{ child.getId() }}" style="width: 100%;padding-top:3px;margin-bottom : 3px;">
                                <script>getObjectHtml({{ child.getId() }})</script>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
    <div class="category-filter">
        <a class="category-filter-fab category-filter-btn-large" id="category-filterBtn"><i class="fas fa-filter"></i></a>
        <ul class="category-filter-menu sel_eqLogicCategory">
            {% if dashboardCategory =='all' %}
                <li><a class="category-filter-fab category-filter-btn-sm category-filter-btn-green scale-transition scale-out" data-toggle="tooltip" title="toutes" data-original-title= "" style="cursor: pointer;" onclick='selectCategory("all");'><i class="fas fa-asterisk"></i></a></li>
            {% else %}
                <li><a class="category-filter-fab category-filter-btn-sm category-filter-btn-green scale-transition scale-out" data-toggle="tooltip" title="toutes" data-original-title= "" style="cursor: pointer;" onclick='selectCategory("all");'><i class="fas fa-asterisk"></i></a></li>
            {% endif %}
            {% for categoryCode, category in dashboardCategories %}
                {% if dashboardCategory == categoryCode %}
                    <li><a class="category-filter-fab category-filter-btn-sm  scale-transition scale-out" data-toggle="tooltip" title="{{ category.name|trans }}" data-original-title= "" style="cursor: pointer;background-color:{{ category.color }}" onclick='selectCategory("{{ categoryCode }}");'><i class="{{ category.icon }}"></i></a></li>
                {% else %}
                    <li><a class="category-filter-fab category-filter-btn-sm  scale-transition scale-out" data-toggle="tooltip" title="{{ category.name|trans }}" style="cursor: pointer;background-color:{{ category.color }}" onclick='selectCategory("{{ categoryCode }}");'><i class="{{ category.icon }}"></i></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
