{#

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="designer" class="row">
    <div id="designer-menu" class="col-xs-3">
        <ul class="designer-nav nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#nextdom-cmds">Commandes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nextdom-cmpnts">Composants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nextdom-impExp">Imp/Exp</a>
            </li>
        </ul>
        <div id="designer-tab-content" class="tab-content">
            <div id="nextdom-cmds" class="tab-pane fade active show box-group">
                {% for jeeObject in jeeObjects %}
                    <div class="jeeObject panel box box-primary" data-id="{{ jeeObject['data'].getId() }}">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#nextdom-cmds" aria-expanded="true" href="#jeeObject{{ jeeObject['data'].getId() }}">
                                    {{ jeeObject['data'].getName() }}
                                </a>
                            </h4>
                        </div>
                        <div id="jeeObject{{ jeeObject['data'].getId() }}" class="panel-collapse collapse" aria-expanded="false">
                            <div class="box-body">
                                {% for eqLogic in jeeObject['eqLogics'] %}
                                    <div class="eqLogic" data-id="{{ eqLogic['data'].getId() }}">
                                        <h5>{{ eqLogic['data'].getName() }}</h5>
                                        {% for cmd in eqLogic['cmds'] %}
                                            <div class="cmd" data-id="{{ cmd.getId() }}">
                                                <h6>{{ cmd.getName() }}</h6>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="nextdom-cmpnts" class="tab-pane fade active box-group">
            </div>
            <div id="nextdom-impExp" class="tab-pane fade active box-group">
            </div>
        </div>
    </div>
    <div id="designer-content" class="col-xs-9 group">
        <div id="lines">
            <span class="vert"></span>
            <span class="hori"></span>
        </div>
        <span id="tool">
          <input id="attract" type="checkbox" /><label for="attract">Attract other group magnets</label>
        </span>
        <div id="container">
            <div class="row">
                <div class="group"></div>
                <div class="group"></div>
            </div>
            <div class="row">
                <div class="group"></div>
                <div class="group"></div>
            </div>
        </div>
    </div>
</div>
