<style>
    .eqLogicSortable {
        list-style-type: none;
        min-height: 20px;
        padding-left: 0px;
    }

    .eqLogicSortable li {
        margin: 0 2px 2px 2px;
        padding: 5px;
    }

    .cmdSortable {
        list-style-type: none;
        min-height: 20px;
        padding-left: 0px;
    }

    .cmdSortable li {
        margin: 0 2px 2px 2px;
        padding: 5px;
    }
</style>
<br/>
<span class="pull-left">
    <a class="btn btn-default btn-sm" id="bt_removeHistory"><i class="fas fa-trash" aria-hidden="true"></i> {{ 'Historique des suppressions' }}</a>
</span>
<span class="pull-right">
    <input class="form-control pull-right" id="in_search" placeholder="{{ 'Rechercher' }}" style="width : 200px;"/>
    <label class="checkbox-inline"><input type="checkbox" id="cb_actifDisplay" checked/>{{ 'Inactif' }}</label>
</span>
<center>
    <span class="label label-default" style="font-size : 1em;cursor : default;">{{ 'Nombre d\'objets :' }} {{ displayObjects|length }}</span>
    <span class="label label-info" style="font-size : 1em;cursor : default;">{{ 'Nombre d\'équipements :' }} {{ displayNbEqLogics }}</span>
    <span class="label label-primary" style="font-size : 1em;cursor : default;">{{ 'Nombre de commandes :' }} {{ displayNbCmds }}</span>
</center>
<br/>
<a class="btn btn-danger btn-sm" id="bt_removeEqlogic" style="display:none;"><i class="far fa-trash-alt"></i> {{ 'Supprimer' }}</a>
<a class="btn btn-success btn-sm bt_setIsVisible" data-value="1" style="display:none;"><i class="fas fa-eye"></i> {{ 'Visible' }}</a>
<a class="btn btn-warning btn-sm bt_setIsVisible" data-value="0" style="display:none;"><i class="fas fa-eye-slash"></i> {{ 'Invisible' }}</a>
<a class="btn btn-success btn-sm bt_setIsEnable" data-value="1" style="display:none;"><i class="fas fa-check"></i> {{ 'Actif' }}</a>
<a class="btn btn-warning btn-sm bt_setIsEnable" data-value="0" style="display:none;"><i class="fas fa-times"></i> {{ 'Inactif' }}</a>
<br/>
<br/>
<div class="row row-same-height">
    <div class="col-xs-4 object col-xs-height" data-id="-1">
        <legend style="cursor : default"><i class="far fa-circle"></i> {{ 'Aucun' }} <i class="fas fa-chevron-down pull-right showEqLogic cursor" title="{{ 'Voir les équipements' }}"></i></legend>
        <ul class="eqLogicSortable">
            {% for eqLogic in displayEqLogics[-1] %}
                <li class="alert alert-info eqLogic cursor" data-id="{{ eqLogic.getId() }}" data-enable="{{ eqLogic.getIsEnable() }}" data-name="{{ eqLogic.getName() }}" data-type="{{ eqLogic.getEqType_name() }}">
                    <input type="checkbox" class="cb_selEqLogic"/>
                    {{ eqLogic.getName() }}
                    <i style="font-size:0.9em;">({{ eqLogic.getEqType_name() }})</i>
                    {% if eqLogic.getIsEnable() != 1 %}
                        <i class="fas fa-times" title="{{ 'Non actif' }}"></i>
                    {% endif %}
                    {% if eqLogic.getIsVisible() != 1 %}
                        <i class="fas fa-eye-slash" title="{{ 'Non visible' }}"></i>
                    {% endif %}
                    <i class="fas fa-chevron-right pull-right showCmd" title="{{ 'Voir les commandes' }}"></i>
                    <i class="fas fa-cog pull-right configureEqLogic" title="{{ 'Configuration avancée' }}"></i>
                    <a href="{{ eqLogic.getLinkToConfiguration() }}" target="_blank" class="pull-right" title="{{ 'Aller sur la configuration de l\'équipement' }}"><i class="fas fa-external-link-alt"></i></a>
                    <ul class="cmdSortable" style="display:none;">
                        {% for cmd in displayCmds[eqLogic.getId()] %}
                            <li class="alert alert-warning cmd cursor" data-id="{{ cmd.getId() }}" data-name="{{ cmd.getName() }}">
                                {{ cmd.getName() }} <i class="fas fa-cog pull-right configureCmd"></i>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% set index = 1 %}
    {% for object in displayObjects %}
    {% set defaultTextColor = 'white' %}
    {% if object.getDisplay('tagColor') == '' %}
        {% set defaultTextColor = 'black' %}
    {% endif %}
    {% if index == 0 %}
        <div class="row row-same-height">
    {% endif %}
    <div class="col-xs-4 object col-xs-height" data-id="{{ object.getId() }}" style="background-color: {{ object.getDisplay('tagColor') }}; color: {{ object.getDisplay('tagTextColor', defaultTextColor) }}">
        <legend style="color : {{ object.getDisplay('tagTextColor', defaultTextColor) }};cursor: default">{{ object.getDisplay('icon')|raw }} {{ object.getName() }}
            <i class="fas fa-chevron-down pull-right showEqLogic cursor" title="{{ 'Voir les équipements' }}"></i>
            <i style="position:relative;top : 3px;" class="fas fa-cog pull-right cursor configureObject" title="{{ 'Configuration avancée' }}"></i>
            <a style="position:relative;top : 3px;color:{{ object.getDisplay('tagTextColor', defaultTextColor) }}" href="index.php?v=d&p=object&id={{ object.getId() }}" target="_blank" class="pull-right" title="{{ 'Aller sur la configuration de l\'objet' }}"><i class="fas fa-external-link-alt"></i></a>
        </legend>
        <ul class="eqLogicSortable">
            {% for eqLogic in displayEqLogics[object.getId()] %}
                <li class="alert alert-info eqLogic cursor" data-id="{{ eqLogic.getId() }}" data-enable="{{ eqLogic.getIsEnable() }}" data-name="{{ eqLogic.getName() }}" data-type="{{ eqLogic.getEqType_name() }}">
                    <input type="checkbox" class="cb_selEqLogic"/>
                    {{ eqLogic.getName() }}
                    <i style="font-size:0.9em;">({{ eqLogic.getEqType_name() }})</i>
                    {% if eqLogic.getIsEnable() != 1 %}
                        <i class="fas fa-times" title="{{ 'Non actif' }}"></i>
                    {% endif %}
                    {% if eqLogic.getIsVisible() != 1 %}
                        <i class="fas fa-eye-slash" title="{{ 'Non visible' }}"></i>
                    {% endif %}
                    <i class="fas fa-chevron-right pull-right showCmd" title="{{ 'Voir les commandes' }}"></i>
                    <i class="fas fa-cog pull-right configureEqLogic" title="{{ 'Configuration avancée' }}"></i>
                    <a href="{{ eqLogic.getLinkToConfiguration() }}" target="_blank" class="pull-right" title="{{ 'Aller sur la configuration de l\'équipement' }}"><i class="fas fa-external-link-alt"></i></a>

                    <ul class="cmdSortable" style="display:none;">
                        {% for cmd in displayCmds[eqLogic.getId()] %}
                            <li class="alert alert-warning cmd cursor" data-id="{{ cmd.getId() }}" data-name="{{ cmd.getName() }}">{{ cmd.getName() }}
                                <i class="fas fa-cog pull-right configureCmd" title="{{ 'Configuration avancée' }}"></i>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% set index = index + 1 %}
    {% if index > 2 %}
        {% set index = 0 %}
    {% endif %}
    {% if index == 0 %}
        </div>
    {% endif %}
{% endfor %}
{% if index != 0 %}
    {% for i in index..3 %}
        <div class="col-xs-4 col-xs-height">
        </div>
    {% endfor %}
    {% set index = 3 %}
    </div>
{% endif %}
