{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div class="row row-overflow">
    <div class="col-lg-2">
        <legend><i class="fas fa-folder"></i> {{ 'Dossiers' }}</legend>
        <div id="div_treeFolder">
            <ul id="ul_Folder">
                {% for folder in editorFolders %}
                    <li data-jstree="{\"opened\":true}"><a data-path="{{ editorRootPath }}/{{ folder }}">{{ folder }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-2">
        <legend><i class="far fa-file"></i> {{ 'Fichiers' }}</legend>
        <div id="div_fileList" style="list-style-type: none;"></div>
    </div>
    <div class="col-lg-8">
        <legend><i class="fas fa-edit"></i> {{ 'Edition' }}
            <a class="btn btn-success btn-xs pull-right" id="bt_saveFile" style="position: relative;top:4px;"><i class="fas fa-check"></i> {{ 'Sauvegarder' }}</a>
            <a class="btn btn-danger btn-xs pull-right" id="bt_deleteFile" style="position: relative;top:4px;"><i class="fas fa-times"></i> {{ 'Supprimer' }}</a>
            <a class="btn btn-default btn-xs pull-right" id="bt_createFile" style="position: relative;top:4px;"><i class="far fa-file"></i> {{ 'Nouveau' }}</a>
        </legend>
        <textarea class="form-control" id="ta_fileContent"></textarea>
    </div>
</div>
