{% include '/commons/header.html.twig' %}

<div class="row text-center">
    <div id="logo" class="col-md-12 col-sm-12 col-xs-12">
        <img src="public/img/NextDom/NextDom_Wide_AlphaBlackBlue.png">
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary stepwizard-btn-circle"></a>
                    <p>{{ 'Étape 1' }}</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                    <p>{{ 'Étape 2' }}</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                    <p>{{ 'Étape 3' }}</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-4" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                    <p>{{ 'Étape 4' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="box stepwizard-box">
            <div class="box-body">
                <div class="row setup-content" id="step-1">
                    <div class="stepwizard">
                        <h2 class="login-box-msg">{{ 'Bienvenue sur NextDom !' }}</h2>
                        <h5>{{ 'Bravo ! Vous venez d\'installer votre solution domotique, l\'assistant de première utilisation est activé !' }}</h5>
                        <h5>{{ 'Celui-ci va vous guider dans le processus de configuration de votre solution domotique ...' }}</h5>
                    </div>
                    <button id="toStep2" class="btn btn-primary nextBtn pull-right" type="button" style="margin-top:20px;">{{ 'Suivant' }}<i class="fa fa-caret-right"></i></button>
                </div>
                <div class="row setup-content" id="step-2">
                    <div class="stepwizard">
                        <h2 class="login-box-msg">{{ 'Sécurisez votre NextDom !' }}</h2>
                        <h5>{{ 'Pour commencer, merci de définir un nouveau mot de passe administrateur pour améliorer la sécurité ...' }}</h5>
                        <div id="register" tabindex="500">
                            <div class="passwd stepwizard-passwd">
                                <input type="password" id="in_change_password" placeholder="Nouveau mot de passe ...">
                            </div>
                            <div class="passwd stepwizard-passwd">
                                <input type="password" id="in_change_passwordToo" placeholder="Confirmer le mot de passe ...">
                            </div>
                        </div>
                    </div>
                    <button id="toStep3" class="btn btn-primary nextBtn pull-right" type="button" style="margin-top:20px;">{{ 'Suivant' }}<i class="fa fa-caret-right"></i></button>
                    <button id="toStep1" class="btn btn-primary returnBtn pull-left" type="button" style="margin-top:20px;"><i class="fa fa-caret-left"></i>{{ 'Précédent' }}</button>
                </div>
                <div class="row setup-content" id="step-3">
                    <div class="stepwizard">
                        <h2 class="login-box-msg">{{ 'Connectez votre NextDom !' }}</h2>
                        <h5>{{ 'En ajoutant ou connectant un Compte Market pour l\'installation de plugins ...' }}</h5>
                        <div class="row">
                            <div id="market" class="col-sm-12 col-md-6">
                                <h5>{{ 'Je n\'ai pas de compte Market' }}</h5>
                                <button class="dark btn" id="bt_compte_market"><i class="fa fa-sign-in"></i> {{ 'Je veux en créer un' }}</button>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <h5>{{ 'J\'ai un compte market' }}</h5>
                                <div class="mail stepwizard-passwd stepwizard-passwd2">
                                    <input type="text" id="in_login_username_market" class="stepwizard-input" placeholder="{{ 'Nom dutilisateur ...' }}">
                                </div>
                                <div class="passwd stepwizard-passwd stepwizard-passwd2">
                                    <input type="password" id="in_login_password_market" class="stepwizard-input" placeholder="{{ 'Mot de passe ...' }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="skipStep4" class="btn btn-primary nextBtn" type="button">{{ 'Ignorer' }}</button>
                    <button id="toStep4" class="btn btn-primary nextBtn pull-right" type="button" style="margin-top:20px;">{{ 'Suivant' }}<i class="fa fa-caret-right"></i></button>
                    <button id="toStep2" class="btn btn-primary returnBtn pull-left" type="button" style="margin-top:20px;"><i class="fa fa-caret-left"></i>{{ 'Précédent' }}<i class="fas fa-caret-left"></i></button>
                    <div class="row setup-content" id="step-4">
                        <div class="stepwizard">
                            <h2 class="login-box-msg">{{ 'Bravo ! La configuration de votre NextDom est terminée !' }}</h2>
                            <h5>{{ 'Cliquer sur le bouton Terminer pour profiter de votre solution Domotique ...' }}</h5>
                        </div>
                        <button id="finishConf" class="btn btn-primary nextBtn pull-right ui-icon-closethick" type="button" style="margin-top:20px;">{{ 'Terminer' }}<i class="fa fa-check-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% if JS_END_POOL is defined %}
            {% for jsFile in JS_END_POOL %}
                <script src="{{ jsFile }}"></script>
            {% endfor %}
        {% endif %}
    </div>
</div>