{% include '/commons/header.html.twig' %}

<div class="row">
    <center class="col-md-12">
        <img src="core/img/NextDom/NextDom_Wide_AlphaBlackBlue.png" style="height:100px;">
    </center>
</div>
<div class="row" style="padding-top:30px;padding-bottom:20px">
    <center class="col-md-12">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary stepwizard-btn-circle"></a>
                <p>{{ 'Étape 1' }}</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                <p>{{ 'Étape 2' }}</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                <p>{{ 'Étape 3' }}</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-4" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                <p>{{ 'Étape 4' }}</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-5" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                <p>{{ 'Étape 5' }}</p>
            </div>
        </div>
    </div>
    </center>
</div>



<div class="row">
    <center class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form role="form" action="" method="post"  style="padding-top:10px">
                    <div class="row setup-content" id="step-1">
                        <div class="stepwizard">
                            <h2>{{ 'Bienvenue sur NextDom'}}</h2><br/>
                            <p class="stepwizard-h4">{{ 'Bravo Vous venez d'installer votre solution domotique, lassistant de première utilisation est activé' }}</p>
                            <p class="stepwizard-h4">{{ 'Celui-ci va vous guider dans le processus de configuration de Nextdom ...' }}</p>
                            <button id="toStep2" class="btn btn-primary nextBtn pull-right" type="button" style="margin-top:20px;margin-bottom:20px">{{ 'Suivant' }}<i class="fa fa-caret-right" style="padding-left:10px"></i></button>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-2">
                        <div class="stepwizard">
                            <center><p class="stepwizard-h4">{{ 'Pour commencer, merci de définir un nouveau mot de passe administrateur pour améliorer la sécurité ...' }}</p></center></br>
                            <div class="form-group">
                                <div id="register" tabindex="500" class="form-group">
                                    <div class="passwd stepwizard-passwd">
                                        <input type="password" id="in_change_password" class="stepwizard-input" placeholder="Nouveau mot de passe ...">
                                    </div>
                                    <div class="passwd stepwizard-passwd">
                                        <input type="password" id="in_change_passwordToo" class="stepwizard-input" placeholder="Confirmer le mot de passe ...">
                                    </div>
                                </div>
                                <button id="toStep3" class="btn btn-primary nextBtn pull-right" type="button" style="margin-top:20px;margin-bottom:20px">{{ 'Suivant' }}<i class="fa fa-caret-right" style="padding-left:10px"></i></button>
                                <button id="toStep1" class="btn btn-primary returnBtn pull-left" type="button" style="margin-top:20px;margin-bottom:20px"><i class="fa fa-caret-Left" style="padding-left:10px"></i>{{ 'Précédent' }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-3">
                        <div class="stepwizard">
                            <center><p class="stepwizard-h4">{{ 'Ajout du Compte Market pour linstallation de plugins ...' }}</p></center></br>
                            <div class="form-group">
                                <div id="market" class="form-group">
                                    <p>{{ 'Je nai pas de compte Market' }}</p>
                                    <button class="dark btn" id="bt_compte_market"><i class="fa fa-sign-in" ></i> {{ 'Je veux en créer un' }}</button>
                                    <hr align=center size=2 width="70%">
                                    <p>{{ 'Jai un compte market' }}</p>
                                    <div class="mail">
                                        <input type="text" id="in_login_username_market" class="stepwizard-input" placeholder="Nom dutilisateur ...">
                                    </div>
                                    <div class="passwd">
                                        <input type="password" id="in_login_password_market" class="stepwizard-input" placeholder="Mot de passe ...">
                                    </div>
                                </div>
                            </div>
                            <button id="toStep4" class="btn btn-primary nextBtn pull-right" type="button" style="margin-top:20px;margin-bottom:20px">{{ 'Suivant'}}<i class="fa fa-caret-right" style="padding-left:10px"></i></button>
                            <button id="toStep2" class="btn btn-primary returnBtn pull-left" type="button" style="margin-top:20px;margin-bottom:20px"><i class="fa fa-caret-Left" style="padding-left:10px"></i>{{ 'Précédent' }}</button>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-4">
                        <div class="stepwizard">
                            <center><p class="stepwizard-h4">{{ 'Installation de plugins ...' }}</p></center></br>
                            <div class="form-group">
                                <center><label class="control-label">{{ 'Liste des plugins les plus utilisés :' }}</label></center>
                            </div>
                            <button id="toStep5" class="btn btn-primary nextBtn pull-right" type="button" style="margin-top:20px;margin-bottom:20px">{{ 'Suivant' }}<i class="fa fa-caret-right" style="padding-left:10px"></i></button>
                            <button id="toStep3" class="btn btn-primary returnBtn pull-left" type="button" style="margin-top:20px;margin-bottom:20px"><i class="fa fa-caret-Left" style="padding-left:10px"></i>{{ 'Précédent' }}</button>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-5">
                        <div class="stepwizard">
                            <center><p class="stepwizard-h4">{{ 'Bravo La configuration de votre NextDom est terminée' }}</p></center></br>
                            <div class="form-group">
                                <center><label class="control-label">{{ 'Cliquer sur le bouton terminer pour profiter de votre solution Domotique ...' }}</label></center>
                            </div>
                            <button id="finishConf" class="btn btn-primary pull-right ui-icon-closethick" type="button" >{{ 'Terminer'}}<i class="fas fa-check-circle" style="padding-left:10px"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </center>
</div>

    {% if JS_END_POOL is defined %}
        {% for jsFile in JS_END_POOL %}
            <script src="{{ jsFile }}"></script>
        {% endfor %}
    {% endif %}
</div>
