{% include '/commons/header.html.twig' %}

<div class="row text-center">
    <div id="logo" class="col-sm-12">
        <img src="public/img/NextDom/NextDom_Wide_AlphaBlackBlue.png">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary stepwizard-btn-circle">1</a>
                    <p>{{ 'Étape 1' }}</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled">2</a>
                    <p>{{ 'Étape 2' }}</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled">3</a>
                    <p>{{ 'Étape 3' }}</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-4" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled">4</a>
                    <p>{{ 'Étape 4' }}</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-5" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled">5</a>
                    <p>{{ 'Étape 5' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="box">
            <div class="box-body">
                <div class="row setup-content" id="step-1">
                    <div class="stepwizard col-md-offset-3">
                        <h1 class="login-box-msg">{{ 'Bienvenue sur NextDom' }}</h1>
                        <p class="login-box-msg">{{ 'Cette page va vous guider dans le processus de configuration de Nextdom' }}</p>
                        <button id="toStep2" class="btn btn-primary nextBtn pull-right" type="button" style="margin-top:20px;margin-bottom:20px">{{ 'Suivant' }}<i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
                <div class="row setup-content" id="step-2">
                    <div class="stepwizard col-md-offset-3">
                        <h4 class="stepwizard-h4">{{ 'Pour commencer, merci de définir un nouveau mot de passe administrateur pour améliorer la sécurité ...' }}</h4>
                        <div class="form-group">
                            <div id="register" tabindex="500" class="form-group" style="padding-left:30%">
                                <div class="passwd stepwizard-passwd">
                                    <input type="password" id="in_change_password" placeholder="Nouveau mot de passe ...">
                                </div>
                                <div class="passwd stepwizard-passwd">
                                    <input type="password" id="in_change_passwordToo" placeholder="Confirmer le mot de passe ...">
                                </div>
                            </div>
                            <button id="toStep3" class="btn btn-primary nextBtn pull-right" type="button">{{ 'Suivant' }}<i class="fa fa-caret-right"></i></button>
                            <button id="toStep1" class="btn btn-primary returnBtn pull-left" type="button"><i class="fa fa-caret-left"></i>{{ 'Précédent' }}</button>
                        </div>
                    </div>
                </div>

                <div class="row setup-content" id="step-3">
                    <div class="stepwizard col-md-offset-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>{{ 'Compte Market' }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="stepwizard-h4">{{ 'Ajout du Compte Market pour l\'installation de plugins ...' }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div id="market" class="col-sm-12 col-md-6">
                                <h3>{{ 'Je n\'ai pas de compte Market' }}</h3>
                                <button class="dark btn-lg" id="bt_compte_market"><i class="fa fa-sign-in"></i> {{ 'En créer un' }}</button>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <h3>{{ 'J\'ai un compte market' }}</h3>
                                    <div class="mail">
                                        <label>{{ 'Nom dutilisateur' }}</label>
                                        <input type="text" id="in_login_username_market" class="stepwizard-input" placeholder="{{ 'Nom dutilisateur ...' }}">
                                    </div>
                                    <div class="passwd">
                                        <label>{{ 'Mot de passe' }}</label>
                                        <input type="password" id="in_login_password_market" class="stepwizard-input" placeholder="{{ 'Mot de passe ...' }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="toStep4" class="btn btn-primary nextBtn pull-right" type="button">{{ 'Suivant' }}<i class="fa fa-caret-right"></i></button>
                    <button id="toStep2" class="btn btn-primary returnBtn pull-left" type="button"><i class="fa fa-caret-left"></i>{{ 'Précédent' }}<i class="fas fa-caret-left"></i></button>
                </div>
            </div>
            <div class="row setup-content" id="step-4">
                <div class="stepwizard col-md-offset-3">
                    <h4 class="stepwizard-h4">{{ 'Installation de plugins ...' }}</h4>
                    <div class="form-group">
                        <center><label class="control-label">{{ 'Liste des plugins les plus utilisés :' }}</label></center>
                    </div>
                    <button id="toStep5" class="btn btn-primary nextBtn pull-right" type="button">{{ 'Suivant' }}<i class="fa fa-caret-right"></i></button>
                    <button id="toStep3" class="btn btn-primary returnBtn pull-left" type="button"><i class="fa fa-caret-left"></i>{{ 'Précédent' }}</button>
                </div>
            </div>
            <div class="row setup-content" id="step-5">
                <div class="stepwizard col-md-offset-3">
                    <h4 class="stepwizard-h4">{{ 'Bravo ! La configuration de votre NextDom est terminée !' }}</h4>
                    <div class="form-group">
                        <center><label class="control-label">{{ 'Cliquer sur le bouton Terminer pour profiter de NextDom ...' }}</label></center>
                    </div>
                    <button id="finishConf" class="btn btn-primary btn-lg pull-right ui-icon-closethick" type="button">{{ 'Terminer' }}</button>
                </div>
            </div>
        </div>
    </div>
{% if JS_END_POOL is defined %}
    {% for jsFile in JS_END_POOL %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}
{% endif %}
</div>
