<main id="div_mainContainer">
    <div id="div_alert"></div>
    <div id="div_pageContainer">
        {% if ALERT_MSG is defined %}
            <div class="text-center alert alert-danger">{{ ALERT_MSG|raw }}</div>
        {%  endif %}
        {{ content|raw }}
    </div>
    <div id="md_modal"></div>
    <div id="md_modal2"></div>
    <div id="md_pageHelp" title="Aide">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#div_helpWebsite" data-toggle="tab">{{ 'Générale' }}</a></li>
            <li><a href="#div_helpSpe" data-toggle="tab">{{ 'Détaillée' }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="div_helpWebsite"></div>
            <div class="tab-pane" id="div_helpSpe"></div>
        </div>
    </div>
    <div id="md_reportBug" title="{{ 'Ouverture d\'un ticket' }}"></div>
</main>