{#

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<header id="nextdom-header" class="navbar navbar-fixed-top navbar-default reportModeHidden">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ 'Toggle navigation' }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="navbar-collapse collapse text-center">
            <div class="collapse navbar-collapse navbar-left col-lg-4 col-md-4">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#"><i class="fa fa-home fa-3x"></i>
                            <span class="hidden-xs hidden-sm hidden-md">{{ 'Accueil' }}&nbsp;</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a data-toggle="dropdown" id="bt_gotoDashboard" href="index.php?v=d&p=dashboard"><i class="fa fa-dashboard"></i> {{ 'Dashboard' }}</a>
                                <ul id="dashboard-submenu" class="dropdown-menu scrollable-menu" role="menu">
                                    {% for jeeObject in MENU_JEEOBJECT_TREE %}
                                        <li><a href="index.php?v=d&p=dashboard&object_id={{ jeeObject.getId() }}">{{ jeeObject.getHumanName(true)|raw }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a data-toggle="dropdown" id="bt_gotoView"><i class="fa fa-picture-o"></i> {{ 'Vue' }}</a>
                                <ul class="dropdown-menu">
                                    {% for view in MENU_VIEWS_LIST %}
                                        <li><a href="index.php?v=d&p=view&view_id={{ view.getId() }}">{{ view.getDisplay('icon')|trim }} {{ viewMenu.getName() }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a data-toggle="dropdown" id="bt_gotoPlan"><i class="fa fa-paint-brush"></i> {{ 'Design' }}</a>
                                <ul class="dropdown-menu">
                                    {% for plan in MENU_PLANS_LIST %}
                                        <li><a href="index.php?v=d&p=plan&plan_id={{ plan.getId() }}">{{ plan.getConfiguration('icon')|trim }} {{ plan.getName() }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a data-toggle="dropdown" id="bt_gotoPlan3d"><i class="fa fa-paint-brush"></i> {{ 'Design 3D' }}</a>
                                <ul class="dropdown-menu">
                                    {% for plan3d in MENU_PLANS3D_LIST %}
                                        <li><a href="index.php?v=d&p=plan3d&plan3d_id={{ plan3d.getId() }}">{{ plan3d.getConfiguration('icon')|trim }} {{ plan3d.getName() }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {{ panelMenu }}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#"><i class="fa fa-stethoscope fa-3x"></i>
                            <span class="hidden-xs hidden-sm hidden-md">{{ 'Analyse' }}&nbsp;</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="index.php?v=d&p=history"><i class="fa fa-bar-chart-o"></i> {{ 'Historique' }}</a></li>
                            {% if IS_ADMIN %}
                                <li><a href="index.php?v=d&p=report"><i class="fa fa-newspaper-o"></i> {{ 'Rapport' }}</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="#" id="bt_showEventInRealTime"><i class="fa fa-tachometer"></i> {{ 'Temps réel' }}</a></li>
                            {% if IS_ADMIN %}
                                <li><a href="index.php?v=d&p=log"><i class="fa fa-file-o"></i> {{ 'Logs' }}</a></li>
                                <li><a href="index.php?v=d&p=eqAnalyse"><i class="fa fa-battery-full"></i> {{ 'Equipements' }}</a></li>
                                <li class="divider"></li>
                                <li><a href="index.php?v=d&p=health"><i class="fa fa-medkit"></i> {{ 'Santé' }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if IS_ADMIN %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#"><i class="fa fa-wrench fa-3x"></i>
                                <span class="hidden-xs hidden-sm hidden-md">{{ 'Outils' }}&nbsp;</span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="index.php?v=d&p=object"><i class="fa fa-picture-o"></i> {{ 'Objets' }}</a></li>
                                <li><a href="index.php?v=d&p=interact"><i class="fa fa-comments-o"></i> {{ 'Interactions' }}</a></li>
                                <li><a href="index.php?v=d&p=display"><i class="fa fa-th"></i> {{ 'Résumé domotique' }}</a></li>
                                <li><a href="index.php?v=d&p=scenario"><i class="fa fa-cogs"></i> {{ 'Scénarios' }}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#"><i class="fa fa-puzzle-piece fa-3x"></i>
                                <span class="hidden-xs hidden-sm hidden-md">{{ 'Plugins' }}&nbsp;</span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="index.php?v=d&p=plugin"><i class="fa fa-tags"></i> {{ 'Gestion des plugins' }}</a></li>
                                <li role="separator" class="divider"></li>
                                {% if MENU_PLUGIN_CATEGORY is defined %}
                                    {% for category, categoryData in MENU_PLUGIN_CATEGORY %}
                                        <li class="dropdown-submenu">
                                            <a data-toggle="dropdown"><i class="fa {{ categoryData.icon }}"></i> {{ categoryData.name }}</a>
                                            <ul class="dropdown-menu">
                                                {% for plugin in MENU_PLUGIN[category] %}
                                                    <li class="plugin-item">
                                                        <a href="index.php?v=d&m={{ plugin.id }}&p={{ plugin.index }}"><img class="img-responsive" src="{{ plugin.pathImgIcon }}" /> {{ plugin.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#"><i class="fa fa-cogs fa-3x"></i>
                                <span class="hidden-xs hidden-sm hidden-md">{{ 'Réglages' }}&nbsp;</span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="index.php?v=d&p=administration" tabindex="0"><i class="fa fa-wrench"></i> {{ 'Configuration' }}</a></li>
                                <li><a href="index.php?v=d&p=backup"><i class="fa fa-floppy-o"></i> {{ 'Sauvegardes' }}</a></li>
                                <li><a href="index.php?v=d&p=migration"><i class="fa fa-floppy-o"></i> {{ 'Migration depuis jeedom' }}</a></li>
                                <li><a href="index.php?v=d&p=update"><i class="fa fa-refresh"></i> {{ 'Centre de mise à jour' }}</a></li>
                                <li><a href="index.php?v=d&p=cron"><i class="fa fa-tasks"></i> {{ 'Moteur de tâches' }}</a></li>
                                <li><a href="index.php?v=d&p=custom"><i class="fa fa-pencil-square-o"></i> {{ 'Personnalisation avancée' }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="index.php?v=d&p=user"><i class="fa fa-users"></i> {{ 'Utilisateurs' }}</a></li>
                                <li><a href="index.php?v=d&p=profils"><i class="fa fa-briefcase"></i> {{ 'Profil' }} {{ USER_LOGIN }}</a></li>
                                <li><a href="index.php?v=m" class="noOnePageLoad"><i class="fa fa-mobile"></i> {{ 'Version mobile' }}</a></li>
                                <li><a href="#" id="bt_nextdomAbout"><i class="fa fa-info-circle"></i> {{ 'Version' }} {{ NEXTDOM_VERSION }}</a></li>
                                <li><a href="index.php?v=d&logout=1" class="noOnePageLoad"><i class="fa fa-sign-out"></i> {{ 'Se déconnecter' }}</a></li>
                                <li><a id="bt_getHelpPage" class="cursor" data-plugin="{{ MENU_PLUGIN_HELP }}" data-page="{{ MENU_PLUGIN_PAGE }}" title="{{ 'Aide sur la page en cours' }}"><i class="fa fa-question-circle"></i> {{ 'Aide' }}</a></li>
                                <li>
                                    {% if MENU_CURRENT_PLUGIN_ISSUE %}
                                        <a target="_blank" href="{{ MENU_CURRENT_PLUGIN_ISSUE }}" title="{{ 'Envoyer un rapport de bug' }}"><i class="fa fa-exclamation-circle"></i> {{ 'Rapport de bug' }}</a>
                                    {% else %}
                                        <a class="bt_reportBug cursor" title="{{ 'Envoyer un rapport de bug' }}"><i class="fa fa-exclamation-circle"></i> {{ 'Rapport de bug' }}</a>
                                    {% endif %}
                                </li>
                                {% if CAN_SUDO %}
                                    <li class="divider"></li>
                                    <li class="cursor"><a id="bt_rebootSystem" state="0"><i class="fa fa-repeat"></i> {{ 'Redémarrer' }}</a></li>
                                    <li class="cursor"><a id="bt_haltSystem" state="0"><i class="fa fa-power-off"></i> {{ 'Eteindre' }}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>

            </div>
            <div class="collapse navbar-collapse col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2 text-center">
                <ul class="nav navbar-nav">
                    <a class="navbar-brand" href="{{ homeLink }}">
                        <img src="{{ PRODUCT_IMAGE }}" /></a><br/>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-right col-lg-4 col-md-4">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="default-cursor">
                            <span id="horloge"></span>
                        </a>

                        <a href="#" class="default-cursor">
                            {{ MENU_HTML_GLOBAL_SUMMARY|raw }}
                        </a>

                    </li>
                    <li>
                        <a href="#" id="bt_messageModal"><span class="badge" id="span_nbMessage" title="{{ 'Nombre de messages' }}" {% if MENU_NB_MESSAGES == 0 %}style="display: none"{% endif %}>{{ MENU_NB_MESSAGES }}</span></a>
                        <a href="index.php?v=d&p=update"><span class="badge" id="span_nbUpdate" title="{{ 'Nombre de mises à jour' }}" {% if MENU_NB_UPDATES == 0 %}style="display: none"{% endif %}>{{ MENU_NB_UPDATES }}</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
