<a class="btn btn-danger pull-right" id="bt_clearMessage"><i class="far fa-trash-alt icon-white"></i> {{ 'Vider' }}</a>
<a class="btn btn-default pull-right" id="bt_refreshMessage"><i class="fas fa-sync icon-white"></i> {{ 'Rafraichir' }}</a>
<select id="sel_plugin" class="form-control" style="width: 200px;">
    <option value="" selected="selected">{{ 'Tout' }}</option>
    {% for plugin in messagePluginsList %}
        {% if messageSelectedPlugin == plugin['plugin'] %}
            <option value="{{ plugin['plugin'] }}" selected="selected">{{ plugin['plugin'] }}</option>
        {% else %}
            <option value="{{ plugin['plugin'] }}">{{ plugin['plugin'] }}</option>
        {% endif %}
    {% endfor %}
</select>
<table class="table table-condensed table-bordered tablesorter" id="table_message" style="margin-top: 5px;">
    <thead>
    <tr>
        <th data-sorter="false" data-filter="false"></th>
        <th>{{ 'Date et heure' }}</th>
        <th>{{ 'Plugin' }}</th>
        <th>{{ 'Description' }}</th>
        <th data-sorter="false" data-filter="false">{{ 'Action' }}</th>
    </tr>
    </thead>
    <tbody>
    {% for message in messagesList %}
        <tr data-message_id="{{ message.getId() }}">
            <td>
                <center><i class="far fa-trash-alt cursor removeMessage"></i></center>
            </td>
            <td class="datetime">{{ message.getDate() }}</td>
            <td class="datetime">{{ message.getPlugin() }}</td>
            <td class="datetime">{{ message.getMessage()|raw }}</td>
            <td class="datetime">{{ message.getAction() }}</td>
        </tr>
    {% endfor %}
    <?php
    </tbody>
</table>
