{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<!-- Object list -->
<div id="div_resumeObjectList">
    <div class="blurPanel">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-clone">&nbsp;&nbsp;</i>{{ 'Liste des objets de votre ' }} {{ objectProductName }} - {{objectCustomProductName}}</legend>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fas fa-search"></i></div>
                            <input class="form-control" id="in_searchObject" placeholder="{{'Rechercher...'}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="objectListContainer row">
            {% for object in objectList %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="box objectDisplayCard" style='border-top:3px solid {{ object.getDisplay("tagColor") }}' data-object_id="{{ object.getId() }}" data-object_name="{{ object.getName() }}">
                        <a class="box-header with-border cursor" href=index.php?v=d&p=dashboard&object_id={{ object.getId() }}>
                            <h4 class="box-title name object-name" style='color:{{ object.getDisplay("tagColor") }}'>{{ object.getDisplay('icon', '<i class="fas fa-lemon-o"></i>')|replace({'></i>': '></i>'})|raw }}&nbsp;&nbsp;<b>{{ object.getName() }}</b></h4>
                        </a>
                        <div class="box-body">
                            <span class="object-summary">&nbsp;{{ object.getHtmlSummary()|raw }}</span>
                        </div>
                        <div class="box-footer clearfix text-center">
                            <a class="btn btn-danger btn-sm pull-right remove bt_removeObject"><i class="far fa-trash-alt">&nbsp;&nbsp;</i>{{ 'Supprimer' }}</a>
                            <a class="btn btn-info btn-sm pull-left bt_detailsObject"><i class="far fa-edit">&nbsp;&nbsp;</i>{{ 'Modifier' }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="fab fab-bis">
        <a class="fab-action-button bg-red-active" href="{{ HOMELINK }}"><i class="fab-action-button__icon fas fa-home"></i></a>
    </div>
    <div class="fab">
        <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
        <ul class="fab-buttons">
            <li class="fab-buttons__item"><a class="fab-buttons__link bg-light-blue-active" id="bt_showObjectSummary" title="" data-tooltip="{{ 'Vue d\'ensemble' }}"><i class="fas fa-list"></i></a></li>
            <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_addObject2" title="" data-tooltip="{{ 'Ajouter' }}"><i class="fas fa-plus-circle"></i></a></li>
        </ul>
    </div>
</div>

<!-- Edition page -->
<div id="div_conf" style="display: none;">
    <div class="nav-tabs-custom object blurPanel">
        <ul class="nav nav-tabs pull-right" role="tablist">
            <li role="presentation" class="active"><a href="#objecttab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-clone"></i> {{ 'Objet' }}</a></li>
            <li role="presentation"><a href="#summarytab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-list-alt"></i> {{ 'Résumé' }}</a></li>
            <li class="pull-left header"><i class="fas fa-cogs"></i> {{ 'Configuration de l\'objet' }}</li>
        </ul>
        <div class="tab-content" style="height:calc(100% - 50px);overflow:auto;overflow-x: hidden;">
            <div role="tabpanel" class="tab-pane active" id="objecttab">
                <form class="form-horizontal">
                    <fieldset>
                        <legend class="legend-title">{{ 'Identité' }}</legend>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Nom de l\'objet' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                                <input class="form-control objectAttr" type="text" data-l1key="id" style="display : none;"/>
                                <input class="form-control objectAttr" type="text" data-l1key="name" placeholder="Nom de l'objet"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Père' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                                <select class="form-control objectAttr" data-l1key="father_id">
                                    <option value="">{{ 'Aucun' }}</option>
                                    {% for object in objectList %}
                                        <option value="{{ object.getId() }}">{{ object.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="legend-section">
                            <legend class="legend-title">{{ 'Couleurs' }}</legend>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Couleur du tag' }}</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class=" colorpicker-component colorpick input-group">
                                        <input type="text" class="objectAttr form-control" data-l1key="display" data-l2key="tagColor"/>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Couleur du texte du tag' }}</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class=" colorpicker-component colorpick input-group">
                                        <input type="text" class="objectAttr form-control" data-l1key="display" data-l2key="tagTextColor"/>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Couleur du texte du résumé' }}</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class=" colorpicker-component colorpick input-group">
                                        <input type="text" class="objectAttr form-control" data-l1key="display" data-l2key="desktop::summaryTextColor"/>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Taille sur le dashboard (1 à 12)' }}</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <input type="number" class="objectAttr form-control" data-l1key="display" data-l2key="dashboard::size"/>
                                </div>
                            </div>
                        </div>

                        <div class="legend-section">
                            <legend class="legend-title">{{ 'Design' }}</legend>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Position' }}</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <input type="number" class="objectAttr form-control" data-l1key="position"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Visible' }}</label>
                                <div class="col-sm-1">
                                    <input class="objectAttr" type="checkbox" data-l1key="isVisible" checked/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Masquer sur le dashboard' }}</label>
                                <div class="col-sm-1">
                                    <input class="objectAttr" type="checkbox" data-l1key="configuration" data-l2key="hideOnDashboard"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Icône' }}</label>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <div class="objectAttr" data-l1key="display" data-l2key="icon" style="font-size : 1.5em;"></div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                                    <a class="btn btn-default btn-sm" id="bt_chooseIcon"><i class="fas fa-flag">&nbsp;&nbsp;</i>{{ 'Choisir' }}</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Image' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                                    <span class="btn btn-default btn-file">
                                        <i class="fas fa-cloud-upload-alt">&nbsp;&nbsp;</i>{{ 'Envoyer' }}<input id="bt_uploadImage" type="file" name="file" style="display: inline-block;">
                                    </span>
                                    <a class="btn btn-danger" id="bt_removeBackgroundImage"><i class="fas fa-trash">&nbsp&nbsp;</i>{{ 'Supprimer' }}</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="summarytab">
                {% if objectSummary|length == 0 %}
                    <div class="alert alert-danger">{{ 'Vous n\'avez aucun résumé de créé. Allez dans l\'administration de' }} {{ objectProductName }} {{ '-> Configuration -> onglet Résumés.' }}</div>
                {% else %}
                    <form class="form-horizontal">
                        <fieldset>
                            <table class="table table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th></th>
                                    {% for summaryKey, summaryValue in objectSummary %}
                                        <th style="cursor:default;">{{ summaryValue['name'] }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tr>
                                    <td style="cursor:default;">
                                        {{ 'Remonter dans le résumé global' }}
                                    </td>
                                    {% for summaryKey, summaryValue in objectSummary %}
                                        <td>
                                            <input type="checkbox" class="objectAttr" data-l1key="configuration" data-l2key="summary::global::{{ summaryKey }}"/>

                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                <tr>
                                    <td style="cursor:default;">
                                        {{ 'Masquer en desktop' }}
                                    </td>
                                    {% for summaryKey, summaryValue in objectSummary %}
                                        <td>
                                            <input type="checkbox" class="objectAttr" data-l1key="configuration" data-l2key="summary::hide::desktop::{{ summaryKey }}"/>
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                <tr>
                                    <td>
                                        {{ 'Masquer en mobile' }}
                                    </td>
                                    {% for summaryKey, summaryValue in objectSummary %}
                                        <td>
                                            <input type="checkbox" class="objectAttr" data-l1key="configuration" data-l2key="summary::hide::mobile::{{ summaryKey }}"/>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="legend-section">
                                <legend class="legend-title"><i class="fas fa-tachometer-alt">&nbsp;&nbsp;</i>{{ 'Commandes' }}</legend>
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs" role="tablist">
                                        {% set active = 'active' %}
                                        {% for summaryKey, summaryValue in objectSummary %}
                                            <li class="{{ active }}"><a href="#summarytab{{ summaryKey }}" role="tab" data-toggle="tab">{{ summaryValue['icon']|raw }} {{ summaryValue['name'] }}</i>  <span class="tabnumber summarytabnumber{{ summaryKey }}"></span></a></li>
                                            {% set active = '' %}
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content">
                                        {% set active = ' active' %}
                                        {% for summaryKey, summaryValue in objectSummary %}
                                            <div role="tabpanel" class="tab-pane type{{ summaryKey }}{{ active }}" data-type="{{ summaryKey }}" id="summarytab{{ summaryKey }}">
                                                <div class="div_summary" data-type="{{ summaryKey }}"></div>
                                                <div class="btn btn-sm btn-success addSummary" data-type="{{ summaryKey }}"><i class="fas fa-plus-circle">&nbsp;&nbsp;</i>{{ 'Ajouter une commande' }}</div>
                                            </div>
                                            {% set active = '' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="fab fab-bis">
        <a class="fab-action-button bg-orange" id="bt_returnToThumbnailDisplay"><i class="fab-action-button__icon fas fa-chevron-left"></i></a>
    </div>
    <div class="fab">
        <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
        <ul class="fab-buttons">
            <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_saveObject" title="" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
        </ul>
    </div>
</div>
<div class="fab fab-left">
    <a class="fab-action-button cursor" style="display: none;" id="bt_goOnTop"><i class="fab-action-button__icon fas fa-angle-double-up"></i></a>
</div>
