{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="div_resumePluginList">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-default" id="bt_addPluginFromOtherSource"><i class="fas fa-plus">&nbsp;&nbsp;</i>{{ 'Autre Sources' }}</a>
            </div>
            <div class="action-group">
                {% for repoCode, repoData in pluginReposList %}
                    {% if repoData['name'] == 'Market' %}
                        <a class="btn btn-success displayStore jeedomGreen" data-repo="{{ repoCode }}"><i class="fa fa-shopping-cart">&nbsp;&nbsp;</i>{{ repoData['name'] }} Jeedom</a>
                    {% else %}
                        <a class="btn btn-primary displayStore" data-repo="{{ repoCode }}"><i class="fa fa-shopping-cart">&nbsp;&nbsp;</i>{{ repoData['name'] }}</a>
                    {% endif %}
                {% endfor %}
                <a class="btn btn-default" href="index.php?v=d&p=update_admin"><i class="fas fa-cog">&nbsp;&nbsp;</i>{{ 'Configurer Markets' }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-puzzle-piece">&nbsp;&nbsp;</i>{{ 'Mes plugins' }}</h3>
            </div>
            <div class="box-body">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fas fa-search"></i></div>
                    <input class="form-control" placeholder="{{ 'Rechercher...' }}" id="in_searchPlugin"/>
                </div>
            </div>
        </div>
        <div class="pluginListContainer row">
            {% for plugin in pluginsList %}
                <div class="objet col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="box pluginDisplayCard" data-pluginPath="{{ plugin.getFilepath() }}" data-plugin_icon="{{ plugin.getPathImgIcon() }}" data-plugin_id="{{ plugin.getId() }}">
                        <div class="box-header cursor with-border" {% if not plugin.isActive() %}style="{{ pluginInactiveOpacity }}"{% endif %}>
                            <h4 class="box-title"><img style="height:50px;padding-right:5px" src="{{ plugin.getPathImgIcon() }}"> {{ plugin.getName() }}</h4>
                        </div>
                        <div class="box-body cursor" {% if not plugin.isActive() %}style="{{ pluginInactiveOpacity }}"{% endif %}>
                            <p><b>{{ 'Catégorie :' }}</b> {{ plugin.getCategory() }}</p>
                            <p style="white-space: nowrap;white-space: pre-line;height: 75px;overflow: hidden;text-overflow: ellipsis;"><b>{{ 'Description :' }}</b> {{ plugin.getDescription()|raw }}</p>
                            <p><b>{{ 'Autheur :' }}</b> {{ plugin.getAuthor() }}</p>
                            <p><i>{{ 'Licence :' }}</i> {{ plugin.getLicense() }}</p>
                        </div>
                        <div class="box-footer clearfix text-center">
                            <a class="btn btn-info btn-sm pull-left plugin_configure" title="{{'Configurer'}}"><i class="fas fa-cog">&nbsp;&nbsp;</i>{{'Configurer'}}</a>
                            <a class="btn btn-danger btn-sm remove pull-right plugin_delete" data-market_logicalid="{{ plugin.getId() }}" title="{{'Supprimer'}}"><i class="far fa-trash-alt">&nbsp;&nbsp;</i>{{'Supprimer'}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

<div id="div_confPlugin" style="display: none;">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger" id="bt_returnToThumbnailDisplay"><i class="fas fa-chevron-left">&nbsp;&nbsp;</i>{{ 'Retour'}}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box box-header">
            <div class="box-title">
                <img style="height:50px;padding-right:5px" src="" id="span_plugin_icon">
                <span id="span_plugin_name"></span> (<span id="span_plugin_id"></span>) - <span id="span_plugin_install_version"></span>
            </div>
            <span id="span_plugin_market" class="pull-right"></span>
            <span id="span_plugin_doc" class="pull-right"></span>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="box">
                    <div class="box-header with-border"><h3 class="box-title"><i class="fas fa-circle-o-notch">&nbsp;&nbsp;</i>{{ 'Etat' }}</h3></div>
                    <div class="box-body">
                        <div id="div_plugin_toggleState"></div>
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ 'Version' }}</label>
                                    <div class="col-sm-4">
                                        <span id="span_plugin_install_date" style="position:relative;top:9px;"></span>
                                    </div>
                                    <label class="col-sm-2 control-label">{{ 'Version NextDom' }}</label>
                                    <div class="col-sm-4">
                                        <span id="span_plugin_require" style="position:relative;top:9px;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ 'Auteur' }}</label>
                                    <div class="col-sm-4">
                                        <span id="span_plugin_author" style="position:relative;top:9px;"></span>
                                    </div>
                                    <label class="col-sm-2 control-label">{{ 'License' }}</label>
                                    <div class="col-sm-4">
                                        <span id="span_plugin_license" style="position:relative;top:9px;"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="box box-primary" id="div_configLog">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fas fa-file">&nbsp;&nbsp;</i>{{ 'Log' }}</h3>
                        <a class="btn btn-success pull-right box-tools" id="bt_savePluginLogConfig"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Sauvegarder' }}</a>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div id="div_plugin_log"></div>
                            </fieldset>
                        </form>
                        <div class="form-actions">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="box box-danger">
                    <div class="box-header with-border"><h3 class="box-title"><i class="fas fa-certificate">&nbsp;&nbsp;</i>{{ 'Dépendances' }}</h3></div>
                    <div class="box-body">
                        <div id="div_plugin_dependancy"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="box box-warning">
                    <div class="box-header with-border"><h3 class="box-title"><i class="fas fa-university">&nbsp;&nbsp;</i>{{ 'Démon' }}</h3></div>
                    <div class="box-body">
                        <div id="div_plugin_deamon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border"><h3 class="box-title"><i class="fa fa-map">&nbsp;&nbsp;</i>{{ 'Installation' }}</h3></div>
            <div class="box-body">
                <span id="span_plugin_installation"></span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-cogs"></i> {{ 'Configuration' }}</h3>
                <a class="btn btn-success pull-right box-tools" id="bt_savePluginConfig"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Sauvegarder' }}</a>
            </div>
            <div class="box-body">
                <div id="div_plugin_configuration"></div>
                <div class="form-actions">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="box box-primary" id="div_functionalityPanel">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fas fa-picture-o">&nbsp;&nbsp;</i>{{ 'Fonctionnalités' }}</h3>
                        <a class="btn btn-success pull-right box-tools" id="bt_savePluginFunctionalityConfig"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Sauvegarder' }}</a>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div id="div_plugin_functionality"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="box box-primary" id="div_configPanel">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fas fa-columns">&nbsp;&nbsp;</i>{{ 'Panel' }}</h3>
                        <a class="btn btn-success pull-right box-tools" id="bt_savePluginPanelConfig"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Sauvegarder' }}</a>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div id="div_plugin_panel"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $('.pluginListContainer').packery();
</script>
