{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'common.return' | trans }}</a>
            <a class="btn btn-default btn-action-bar" id="bt_saveOpenLog"><i class="fas fa-file-alt"></i>{{ 'common.log' | trans }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveBackup"><i class="fas fa-save"></i>{{ 'common.save' | trans }}</a>
            <a class="btn btn-danger btn-action-bar pull-right bt_cancelModifs"><i class="fas fa-times"></i>{{ 'common.cancel'|trans }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div id="backup">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation"><a href="#tabDist" aria-controls="tabDist" role="tab" data-toggle="tab"><i class="fas fa-cloud-download-alt"></i><span>{{ 'Distantes' }}</span></a></li>
                <li role="presentation"><a href="#tabLocales" aria-controls="tabLocales" role="tab" data-toggle="tab"><i class="fas fa-inbox"></i><span>{{ 'Locales' }}</span></a></li>
                <li role="presentation" class="active"><a href="#tabParams" aria-controls="tabParams" role="tab" data-toggle="tab"><i class="fas fa-cog"></i><span>{{ 'Paramètres' }}</span></a></li>
                <li class="header pull-left"><i class="fas fa-save"></i>{{ 'backup.backups__restorations' | trans }}</li>
            </ul>
            <div class="global-tab-content tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabParams">
                    <fieldset>
                        <!-- Informations Section -->
                        <legend>{{ 'backup.backup_information' | trans }}</legend>
                        <div class="row">
                            <div class="col-xs-12 col-padding">
                                <p class="alert alert-info">{{ 'backup.purpose1' | trans }}</br>{{ 'backup.purpose2' | trans }}</p>
                                <p class="alert alert-success">{{ 'backup.purpose3' | trans }}</p>
                            </div>
                        </div>

                        <!-- Sauvegardes Section -->
                        <legend>{{ 'backup.backup_settings' | trans }}</legend>
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'backup.location' | trans }}</label>
                                <div class="input-group">
                                    <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="backup::path" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                    <input type="text" class="configKey form-control" data-l1key="backup::path"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'backup.saving_on' | trans }}</label>
                                <div class="input-group">
                                    <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="backup::keepDays" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                    <span class="input-group-addon input-range-min"></span>
                                    <input class="configKey slider" type="range" min="0" max="100" step="1" data-l1key="backup::keepDays"/>
                                    <span class="input-group-addon input-range-max"></span>
                                    <span class="input-group-addon input-range-value"></span>
                                    <span class="input-group-addon">{{ 'jours' | trans }}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'backup.total_size' | trans }}</label>
                                <div class="input-group">
                                    <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="backup::maxSize" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                    <span class="input-group-addon input-range-min"></span>
                                    <input class="configKey slider" type="range" min="0" max="2000" step="10" data-l1key="backup::maxSize"/>
                                    <span class="input-group-addon input-range-max"></span>
                                    <span class="input-group-addon input-range-value"></span>
                                    <span class="input-group-addon">{{ 'Mo maximum'  | trans }}</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div role="tabpanel" class="tab-pane" id="tabLocales">
                    <fieldset>
                        <!-- Local Section -->
                        <legend>{{ 'backup.local_backups' | trans }}</legend>
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'backup.available_backups' | trans }}</label>
                                <div>
                                    <select class="form-control" id="sel_restoreBackup"> </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label" data-toggle="tooltip" title="" data-original-title="{{'vous pouvez restaurer une sauvegarde NextDom ou migrer une sauvegarde Jeedom'}}">{{ 'backup.selection' | trans }}</label>
                                <div class="mix-group">
                                    <a class="btn btn-warning" id="bt_restoreNextDom"><i class="fas fa-refresh fa-spin" style="display : none;"></i><i class="fas fa-window-restore"></i>{{ 'backup.restore_selection' | trans }}</a>
                                    <a class="btn btn-danger" id="bt_removeBackup"><i class="fas fa-trash"></i>{{ 'backup.remove_selected' | trans }}</a>
                                    <a class="btn btn-success" id="bt_downloadBackup"><i class="fas fa-refresh fa-spin" style="display : none;"></i><i class="fas fa-cloud-download-alt"></i>{{ 'backup.download_selection' | trans }}</a>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'backup.transfer' | trans }}</label>
                                <div class="mix-group">
                                    <a class="btn btn-default btn-file"><i class="fas fa-refresh fa-spin" style="display : none;"></i><i class="fas fa-cloud-upload-alt"></i>{{ 'backup.send_backup' | trans }}
                                    <input id="bt_uploadBackup" type="file" name="file" data-url="core/ajax/nextdom.ajax.php?action=backupupload&nextdom_token={{ backupAjaxToken }}"></a>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'backup.manual_backup' | trans }}</label>
                                <div>
                                    <a class="btn btn-info" id="bt_backupNextDom"><i class="fas fa-refresh fa-spin" style="display : none;"></i><i class="fas fa-floppy-o"></i>{{ 'backup.run' | trans }}</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div role="tabpanel" class="tab-pane" id="tabDist">
                    <fieldset>
                        <!-- Cloud Section -->
                        {% for repo, repoData in backupReposList %}
                            {% if repoData.scope.backup != false %}
                                {% set cssClass = 'repo_' ~ repo %}
                                <legend>{{ 'backup.backups' | trans }} {{ repoData.name }}</legend>
                                <div class="row">
                                    {% if repoData['enable'] != 0 %}
                                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                                            <label class="control-label">{{ 'backup.available_backups' | trans }}</label>
                                            <div>
                                                <select class="form-control" id="sel_restoreRepoNextDom" data-repo="{{ repo }}">
                                                    <option>{{ 'backup.loading' | trans }}</option>
                                                </select>
                                                <script>
                                                    REPO_LIST.push('{{ repo }}');
                                                </script>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                                            <label class="control-label">{{ 'backup.selection' | trans }}</label>
                                            <div class="mix-group">
                                                <a class="btn btn-warning" id="bt_restoreRepoNextDom" data-repo="{{ repo }}"><i class="fas fa-refresh fa-spin" style="display: none;"></i><i class="fas fa-window-restore"></i>{{ 'backup.restore_selection' | trans }}</a>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                                            <label class="control-label">{{ 'backup.automatic_sending' | trans }}</label>
                                            <div>
                                                <input type="checkbox" class="configKey" data-l1key="{{ repo }}::cloudUpload" id="{{ repo }}"/>
                                                <label for="{{ repo }}" class="control-label label-check">{{ 'common.activate' | trans }}</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-group col-xs-12 col-padding">
                                            <p class="alert alert-warning">{{ 'backup.the_service_is_disabled_you_can__activate' | trans }}<a href="/index.php?v=d&p=services">{{'common.here'|trans }}</a></p>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>
