<div class="box blurPanel" id="div_Cron">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-tasks">&nbsp;&nbsp;</i>{{ 'Taches' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>
                <div>
                    <table id="table_cron" class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th class="id" style="width: 40px;">#</th>
                            <th class="" style="width: 80px;" data-sorter="false" data-filter="false"></th>
                            <th class="enable" style="width: 80px;">{{ 'Actif' }}</th>
                            <th class="pid" style="width: 100px;">{{ 'PID' }}</th>
                            <th class="deamons" style="width: 120px;">{{ 'Démon' }}</th>
                            <th class="once" style="width: 80px;">{{ 'Unique' }}</th>
                            <th class="class" style="width: 120px;">{{ 'Classe' }}</th>
                            <th class="function" style="width: 120px;">{{ 'Fonction' }}</th>
                            <th class="schedule" style="width: 170px;">{{ 'Programmation' }}&nbsp;&nbsp;<i class="fas fa-question-circle cursor bt_pageHelp" data-name='cronSyntaxe' style="position: relative; width: 10px;"></i></th>
                            <th class="timeout" style="width: 150px;">{{ 'Timeout (min)' }}</th>
                            <th class="lastRun" style="width: 200px;">{{ 'Dernier lancement' }}</th>
                            <th class="runtime" style="width: 200px;">{{ 'Dernière durée' }}</th>
                            <th class="state" style="width: 80px;">{{ 'Statut' }}</th>
                            <th class="action" style="width: 50px;" data-sorter="false" data-filter="false"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="fab" style="z-index:999">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-light-blue-active" id="bt_addCron" data-tooltip="{{ 'Ajouter' }}"><i class="fas fa-plus-circle"></i></a></li>
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-light-blue-active" id="bt_refreshCron" data-tooltip="{{ 'Rafraîchir' }}"><i class="fas fa-refresh"></i></a></li>
        {% if cronEnabled == 0 %}
            <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_changeCronState" data-state="1" data-tooltip="{{ 'Activer le système cron' }}"><i class="fas fa-check"></i></a></li>
        {% else %}
            <li class="fab-buttons__item"><a class="fab-buttons__link bg-red-active" id="bt_changeCronState" data-state="0" data-tooltip="{{ 'Désactiver le système cron' }}"><i class="fas fa-times"></i></a></li>
        {% endif %}
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_save"><i class="fas fa-save"></i></a></li>
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-red-active" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i></a></li>
    </ul>
</div>