{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=summary"><i class="fas fa-cog"></i>{{ 'Paramètres' }}</a>
            <a class="btn btn-default btn-action-bar" id="bt_removeHistory"><i class="fas fa-history" aria-hidden="true"></i>{{ 'Historique' }}</a>
            <a class="btn btn-success btn-action-bar bt_setIsVisible" data-value="1" style="display:none;"><i class="fas fa-eye"></i>{{ 'Visible' }}</a>
            <a class="btn btn-warning btn-action-bar bt_setIsVisible" data-value="0" style="display:none;"><i class="fas fa-eye-slash"></i>{{ 'Invisible' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-action btn-action-bar pull-right" id="bt_displayCollapse"><i class="fas fa-plus-square"></i>{{ 'Déplier' }}</a>
            <a class="btn btn-action btn-action-bar pull-right" style="display:none;" id="bt_displayUncollapse"><i class="fas fa-minus-square"></i>{{ 'Replier' }}</a>
            <a class="btn btn-danger btn-action-bar pull-right" id="bt_removeEqlogic" style="display:none;"><i class="fas fa-trash"></i>{{ 'Supprimer' }}</a>
            <a class="btn btn-success btn-action-bar pull-right bt_setIsEnable" data-value="1" style="display:none;"><i class="fas fa-check"></i>{{ 'Actif' }}</a>
            <a class="btn btn-warning btn-action-bar pull-right bt_setIsEnable" data-value="0" style="display:none;"><i class="fas fa-times"></i>{{ 'Inactif' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-th"></i>{{ 'Résumé domotique' }}</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div class="pull-left">
                    <input type="checkbox" class="configKey" id="cb_actifDisplay" data-l1key="cb_actifDisplay" checked>
                    <label for="cb_actifDisplay" class="control-label label-check" data-toggle="tooltip" title="" data-original-title="{{'Afficher les équipements inactifs'}}">{{'Inactif'}}</label>
                </div>
                <div class="pull-left spacing-left">
                    <input type="checkbox" class="configKey" id="cb_visibleDisplay" data-l1key="cb_visibleDisplay" checked>
                    <label for="cb_visibleDisplay" class="control-label label-check" data-toggle="tooltip" title="" data-original-title="{{'Afficher les équipements invisible'}}">{{'Invisible'}}</label>
                </div>
                <div class="pull-right">
                    <span class="label label-default label-sticker-big">{{ 'Nombre d\'objets :' }} {{ displayObjects|length }}</span>
                    <span class="label label-info label-sticker-big">{{ 'Nombre d\'équipements :' }} {{ displayNbEqLogics }}</span>
                    <span class="label label-primary label-sticker-big">{{ 'Nombre de commandes :' }} {{ displayNbCmds }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="accordionDisplay">
        <div class="col-xs-4 object" data-id="-1">
            <div class="box box-primary" id="div_Health">
                <div class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="#accordionDisplay" href="#display_none">
                    <h3 class="box-title"><i class="icon divers-caduceus3"></i>{{ 'Aucun' }}</h3>
                </div>
                <div id="display_none" class="panel-collapse collapse">
                    <div class="box-body">
                        <ul class="eqLogicSortable">
                            {% for eqLogic in displayEqLogics[-1] %}
                                <li class="alert eqLogic cursor" data-id="{{ eqLogic.getId() }}" data-visible="{{ eqLogic.getIsVisible() }}" data-enable="{{ eqLogic.getIsEnable() }}" data-name="{{ eqLogic.getName() }}" data-type="{{ eqLogic.getEqType_name() }}">
                                    <input type="checkbox" class="cb_selEqLogic"/>
                                    {{ eqLogic.getName() }}
                                    <i style="font-size:0.9em;">({{ eqLogic.getEqType_name() }})</i>
                                    {% if eqLogic.getIsEnable() != 1 %}
                                        <i class="fas fa-times" title="{{ 'Non actif' }}"></i>
                                    {% endif %}
                                    {% if eqLogic.getIsVisible() != 1 %}
                                        <i class="fas fa-eye-slash" title="{{ 'Non visible' }}"></i>
                                    {% endif %}
                                    <i class="fas fa-chevron-right pull-right showCmd summary-box-tools" title="{{ 'Voir les commandes' }}"></i>
                                    <i class="fas fa-cog pull-right configureEqLogic summary-box-tools spacing-right" title="{{ 'Configuration avancée' }}"></i>
                                    <a class="fas fa-external-link-square-alt pull-right summary-box-tools spacing-right" href="{{ eqLogic.getLinkToConfiguration() }}" target="_blank" class="pull-right" title="{{ 'Aller sur la configuration de l\'équipement' }}"></a>
                                    <ul class="cmdSortable" style="display:none;">
                                        {% for cmd in displayCmds[eqLogic.getId()] %}
                                            <li class="alert alert-warning cmd cursor" data-id="{{ cmd.getId() }}" data-name="{{ cmd.getName() }}">{{ cmd.getName() }}
                                                <i class="fas fa-cog pull-right configureCmd" title="{{ 'Configuration avancée' }}" style="line-height:20px"></i>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% for object in displayObjects %}
            {% if displayEqLogics[object.getId()]|length>0 %}
                <div class="col-xs-4 object">
                    <div class="box box-summary object" data-id="{{ object.getId() }}" style="border-top-color: {{ object.getDisplay('tagColor') }};">
                        <div class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="#accordionDisplay" href="#display_{{ object.getId() }}">
                            <h3 class="box-title">{{ object.getDisplay('icon', '<i class="fas fa-tag"></i>')|replace({'></i>': '></i>'})|raw }}{{ object.getName() }}</h3>
                            <div class="box-tools pull-right" style="line-height:36px">
                                <a class="fas fa-external-link-square-alt openObject summary-box-tools spacing-right" data-id="index.php?v=d&p=object&id={{ object.getId() }}" title="{{ 'Aller sur la configuration de l\'objet' }}"></a>
                                <i class="fas fa-cog cursor configureObject summary-box-tools" title="{{ 'Configuration avancée' }}"></i>
                            </div>
                        </div>
                        <div id="display_{{ object.getId() }}" class="panel-collapse collapse">
                            <div class="box-body">
                                <ul class="eqLogicSortable">
                                    {% for eqLogic in displayEqLogics[object.getId()] %}
                                        <li class="alert eqLogic cursor" data-id="{{ eqLogic.getId() }}" data-visible="{{ eqLogic.getIsVisible() }}" data-enable="{{ eqLogic.getIsEnable() }}" data-name="{{ eqLogic.getName() }}" data-type="{{ eqLogic.getEqType_name() }}">
                                            <input type="checkbox" class="cb_selEqLogic"/>
                                            {{ eqLogic.getName() }}
                                            <i style="font-size:0.9em;">({{ eqLogic.getEqType_name() }})</i>
                                            {% if eqLogic.getIsEnable() != 1 %}
                                                <i class="fas fa-times" title="{{ 'Non actif' }}"></i>
                                            {% endif %}
                                            {% if eqLogic.getIsVisible() != 1 %}
                                                <i class="fas fa-eye-slash" title="{{ 'Non visible' }}"></i>
                                            {% endif %}
                                            <i class="fas fa-chevron-right pull-right showCmd summary-box-tools" title="{{ 'Voir les commandes' }}"></i>
                                            <i class="fas fa-cog pull-right configureEqLogic summary-box-tools spacing-right" title="{{ 'Configuration avancée' }}"></i>
                                            <a class="fas fa-external-link-square-alt pull-right summary-box-tools spacing-right" href="{{ eqLogic.getLinkToConfiguration() }}" target="_blank" class="pull-right" title="{{ 'Aller sur la configuration de l\'équipement' }}"></a>
                                            <ul class="cmdSortable" style="display:none;">
                                                {% for cmd in displayCmds[eqLogic.getId()] %}
                                                    <li class="alert alert-warning cmd cursor" data-id="{{ cmd.getId() }}" data-name="{{ cmd.getName() }}">{{ cmd.getName() }}
                                                        <i class="fas fa-cog pull-right configureCmd" title="{{ 'Configuration avancée' }}" style="line-height:20px"></i>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
