{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left spacing-right"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=summary"><i class="fas fa-cog spacing-right"></i>{{ 'Paramètres' }}</a>
            <a class="btn btn-default btn-action-bar" id="bt_removeHistory"><i class="fas fa-history spacing-right" aria-hidden="true"></i>{{ 'Historique' }}</a>
            <a class="btn btn-success btn-action-bar bt_setIsVisible" data-value="1" style="display:none;"><i class="fas fa-eye spacing-right"></i>{{ 'Visible' }}</a>
            <a class="btn btn-warning btn-action-bar bt_setIsVisible" data-value="0" style="display:none;"><i class="fas fa-eye-slash spacing-right"></i>{{ 'Invisible' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar pull-right" id="bt_removeEqlogic" style="display:none;"><i class="far fa-trash-alt spacing-right"></i>{{ 'Supprimer' }}</a>
            <a class="btn btn-success btn-action-bar pull-right bt_setIsEnable" data-value="1" style="display:none;"><i class="fas fa-check spacing-right"></i>{{ 'Actif' }}</a>
            <a class="btn btn-warning btn-action-bar pull-right bt_setIsEnable" data-value="0" style="display:none;"><i class="fas fa-times spacing-right"></i>{{ 'Inactif' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-th spacing-right"></i>{{ 'Résumé domotique' }}</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div class="pull-left">
                    <input type="checkbox" class="configKey" id="cb_actifDisplay" data-l1key="cb_actifDisplay" checked>
                    <label for="cb_actifDisplay" class="control-label label-check" data-toggle="tooltip" title="" data-original-title="{{'Afficher les équipements inactifs'}}">{{'Inactif'}}</label>
                </div>
                <div class="pull-right spacing-top">
                    <span class="label label-default label-sticker">{{ 'Nombre d\'objets :' }} {{ displayObjects|length }}</span>
                    <span class="label label-info label-sticker">{{ 'Nombre d\'équipements :' }} {{ displayNbEqLogics }}</span>
                    <span class="label label-primary label-sticker">{{ 'Nombre de commandes :' }} {{ displayNbCmds }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="displayListContainer row">
        <div class="col-xs-4 object col-xs-height" data-id="-1">
            <div class="box box-primary" id="div_Health">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="icon divers-caduceus3 spacing-right"></i>{{ 'Aucun' }}</h3>
                </div>
                <div class="box-body">
                    <ul class="eqLogicSortable">
                        {% for eqLogic in displayEqLogics[-1] %}
                            <li class="alert eqLogic cursor" data-id="{{ eqLogic.getId() }}" data-enable="{{ eqLogic.getIsEnable() }}" data-name="{{ eqLogic.getName() }}" data-type="{{ eqLogic.getEqType_name() }}">
                                <input type="checkbox" class="cb_selEqLogic"/>
                                {{ eqLogic.getName() }}
                                <i style="font-size:0.9em;">({{ eqLogic.getEqType_name() }})</i>
                                {% if eqLogic.getIsEnable() != 1 %}
                                    <i class="fas fa-times" title="{{ 'Non actif' }}"></i>
                                {% endif %}
                                {% if eqLogic.getIsVisible() != 1 %}
                                    <i class="fas fa-eye-slash" title="{{ 'Non visible' }}"></i>
                                {% endif %}
                                <i class="fas fa-chevron-right pull-right showCmd summaryConfig" title="{{ 'Voir les commandes' }}"></i>
                                <i class="fas fa-cog pull-right configureEqLogic summaryConfig" title="{{ 'Configuration avancée' }}"></i>
                                <a class="fas fa-external-link-square-alt pull-right summaryConfig" href="{{ eqLogic.getLinkToConfiguration() }}" target="_blank" class="pull-right" title="{{ 'Aller sur la configuration de l\'équipement' }}"></a>
                                <ul class="cmdSortable" style="display:none;margin-top:5px;">
                                    {% for cmd in displayCmds[eqLogic.getId()] %}
                                        <li class="alert alert-warning cmd cursor" data-id="{{ cmd.getId() }}" data-name="{{ cmd.getName() }}">
                                            {{ cmd.getName() }} <i class="fas fa-cog pull-right configureCmd"></i>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% for object in displayObjects %}
            <div class="col-xs-4 object col-xs-height">
                <div class="box box-summary object col-xs-height" data-id="{{ object.getId() }}" style="border-top-color: {{ object.getDisplay('tagColor') }};">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ object.getDisplay('icon', '<i class="fas fa-tag"></i>')|replace({'></i>': '></i>'})|raw }}<i class="spacing-right"></i>{{ object.getName() }}</h3>
                        <div class="box-tools pull-right">
                            <i class="fas fa-cog cursor configureObject summaryConfig" title="{{ 'Configuration avancée' }}"></i>
                            <a class="fas fa-external-link-square-alt summaryConfig" href="index.php?v=d&p=object&id={{ object.getId() }}" target="_blank"  title="{{ 'Aller sur la configuration de l\'objet' }}"></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="eqLogicSortable">
                            {% for eqLogic in displayEqLogics[object.getId()] %}
                                <li class="alert eqLogic cursor" data-id="{{ eqLogic.getId() }}" data-enable="{{ eqLogic.getIsEnable() }}" data-name="{{ eqLogic.getName() }}" data-type="{{ eqLogic.getEqType_name() }}">
                                    <input type="checkbox" class="cb_selEqLogic"/>
                                    {{ eqLogic.getName() }}
                                    <i style="font-size:0.9em;">({{ eqLogic.getEqType_name() }})</i>
                                    {% if eqLogic.getIsEnable() != 1 %}
                                        <i class="fas fa-times" title="{{ 'Non actif' }}"></i>
                                    {% endif %}
                                    {% if eqLogic.getIsVisible() != 1 %}
                                        <i class="fas fa-eye-slash" title="{{ 'Non visible' }}"></i>
                                    {% endif %}
                                    <i class="fas fa-chevron-right pull-right showCmd summaryConfig" title="{{ 'Voir les commandes' }}"></i>
                                    <i class="fas fa-cog pull-right configureEqLogic summaryConfig" title="{{ 'Configuration avancée' }}"></i>
                                    <a class="fas fa-external-link-square-alt pull-right summaryConfig" href="{{ eqLogic.getLinkToConfiguration() }}" target="_blank" class="pull-right" title="{{ 'Aller sur la configuration de l\'équipement' }}"></a>

                                    <ul class="cmdSortable" style="display:none;margin-top:5px;">
                                        {% for cmd in displayCmds[eqLogic.getId()] %}
                                            <li class="alert alert-warning cmd cursor" data-id="{{ cmd.getId() }}" data-name="{{ cmd.getName() }}">{{ cmd.getName() }}
                                                <i class="fas fa-cog pull-right configureCmd" title="{{ 'Configuration avancée' }}"></i>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
