{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div class="action-bar">
    <div class="action-group">
        <a class="btn btn-danger" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left">&nbsp;&nbsp;</i>{{ 'Retour'}}</a>
    </div>
    <div class="action-group">
        <a class="btn btn-primary pull-right" id="bt_benchmarkNextDom"><i class="fas fa-tachometer-alt">&nbsp;&nbsp;</i>{{ 'Lancer un Benchmark' }}</a>
    </div>
</div>

<div class="box" id="div_Health">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-medkit">&nbsp;&nbsp;</i>{{ 'Santé de NextDom' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">

        <!-- Nextdom health section -->
        <div>
            <div class="col-xs-12 container-fluid">
                <legend class="legend-title">{{ 'Détails de la santé de votre solution, survolez les icônes pour plus d\'informations.' }}</legend>
            </div>
        </div>
        {% for informations in healthInformations %}
            {% if informations['name'] == "os-version" %}

                <div class="container-light col-xs-12">
                    {% set box_color = 'red' %}
                    {% if informations['state'] == 1 or informations['state'] == true %}
                        {% set box_color = 'green' %}
                    {% elseif informations['state'] == 2 %}
                        {% set box_color = 'yellow' %}
                    {% endif %}
                    <div class="info-box bg-{{ box_color }}">
                          <span class="info-box-icon" data-toggle="tooltip" title="" data-original-title="{{ informations['comment'] }}">
                              {% if informations['icon'] is defined %}
                                  <i class="fas {{ informations['icon'] }}"></i>
                              {% endif %}
                          </span>
                        <div class="info-box-content">
                            <span class="info-box-text"><b>{{ informations['name'] }}</b></span>
                            <span class="info-box-text info-box-text-2">
                                  {{ informations['result'] }}
                              </span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-light col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    {% set box_color = 'red' %}
                    {% if informations['state'] == 1 or informations['state'] == true %}
                        {% set box_color = 'green' %}
                    {% elseif informations['state'] == 2 %}
                        {% set box_color = 'yellow' %}
                    {% endif %}
                    <div class="info-box bg-{{ box_color }}">
                          <span class="info-box-icon" data-toggle="tooltip" title="" data-original-title="{{ informations['comment'] }}">
                              {% if informations['icon'] is defined %}
                                  <i class="fas {{ informations['icon'] }}"></i>
                              {% endif %}
                          </span>
                        <div class="info-box-content">
                            <span class="info-box-text"><b>{{ informations['name'] }}</b></span>
                            <span class="info-box-text info-box-text-2">
                                  {{ informations['result'] }}
                              </span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-medkit">&nbsp;&nbsp;</i>{{ 'Santé des Plugins' }}</h3>
    </div>

    <div class="box-body">
        <!-- Plugins health section -->
        <legend class="legend-title">{{ 'Détails de la santé de vos plugins, cliquez sur le titre pour avoir le détail puis survolez les icônes pour plus d\'informations.' }}</legend>
        {% if healthPluginDataToShow %}
        <div class="box-group" id="accordionHealth">
            {% for pluginData in healthPluginsInformations %}
            {% if pluginData['nOk'] > 0 %}
            <div class="panel box box-danger">
                {% endif %}
                {% if pluginData['pending'] > 0 %}
                <div class="panel box box-warning">
                    {% endif %}
                    {% if pluginData['nOk'] == 0 and pluginData['pending'] == 0 %}
                    <div class="panel box box-success">
                        {% endif %}
                        <div class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="#accordionHealth" href="#config_{{ pluginData['plugin'].getId() }}">
                            <h3 class="box-title">
                                <img style="height : 20px;padding-right:10px;" src="{{ pluginData['plugin'].getPathImgIcon() }}"/>{{ 'Santé' }} {{ pluginData['plugin'].getName() }}
                            </h3>
                            {% if pluginData['port'] %}
                                <div class="fas fa-sort pull-right" data-toggle="tooltip" title="" data-original-title="{{ 'Port configuré' }}"></i>
                                    <a data-toggle="tooltip" title="" data-original-title="{{ 'Port configuré' }}" class="pull-right">{{ pluginData['port']|capitalize }}</a>
                                </div>
                            {% endif %}
                            <i class="fas fa-cogs bt_configurationPlugin cursor pull-right" data-pluginid="{{ pluginData['plugin'].getId() }}"></i>
                            {% if pluginData['hasSpecificHealth'] %}
                                <i data-pluginname="{{ pluginData['plugin'].getName() }}" data-pluginid="{{ pluginData['plugin'].getId() }}" class="fas fa-medkit bt_healthSpecific pull-right cursor" data-toggle="tooltip" title="" data-original-title="Santé spécifique"></i>
                            {% endif %}
                            {% if pluginData['hasOwnDaemon'] %}
                                {% if pluginData['daemonAuto'] == 1 %}
                                    <i class="fas fa-university pull-right" data-toggle="tooltip" title="" data-original-title="{{ 'Démon en mode automatique' }}"></i>
                                {% else %}
                                    <i class="fas fa-university pull-right text-red" data-toggle="tooltip" title="" data-original-title="{{ 'Démon en mode manuel' }}"></i>
                                {% endif %}
                            {% endif %}

                        </div>
                        <div id="config_{{ pluginData['plugin'].getId() }}" class="panel-collapse collapse">
                            <div class="box-body">
                                {% if pluginData['showOnlyTable'] %}
                                    <div class="container-light col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        {% if pluginData['hasDependency'] %}
                                            {% if pluginData['dependencyState'] == 'ok' %}
                                                {% set box_color = 'green' %}
                                                {% set text = 'OK' %}
                                            {% elseif pluginData['dependencyState'] == 'nok' %}
                                                {% set box_color = 'red' %}
                                                {% set text = 'NOK' %}
                                            {% elseif pluginData['dependencyState'] == 'in_progress' %}
                                                {% set box_color = 'warnning' %}
                                                {% set text = 'En cours' %}
                                            {% else %}
                                                {% set box_color = 'red' %}
                                                {% set text = 'NOK' %}
                                            {% endif %}
                                            <div class="info-box bg-{{ box_color }}">
                                                <span class="info-box-icon"><i class="fas fa-link"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text"><b>{{ 'Dépendance' }}</b></span>
                                                    <span class="info-box-text info-box-text-2">{{ text }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="container-light col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    {% if pluginData['hasOwnDaemon'] %}
                                        {% if pluginData['daemonLaunchable'] == 'ok' %}
                                            {% set box_color = 'green' %}
                                            {% set text = 'OK' %}
                                        {% elseif pluginData['daemonLaunchable'] == 'nok' %}
                                            {% if pluginData['daemonAuto'] != 1 %}
                                                {% set box_color = 'aqua' %}
                                                {% set text = '' %}
                                            {% else %}
                                                {% set box_color = 'red' %}
                                                {% set text = 'NOK' %}
                                            {% endif %}
                                        {% endif %}
                                        <div class="info-box bg-{{ box_color }}">
                                            <span class="info-box-icon"><i class="fas fa-bolt"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text"><b>{{ 'Configuration démon' }}</b></span>
                                                <span class="info-box-text info-box-text-2">{{ text }}</span>
                                                <span class="info-box-text info-box-text-2">{{ pluginData['daemonLaunchableMessage'] }}</span>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="container-light col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        {% if pluginData['daemonState'] == 'ok' %}
                                            {% set box_color = 'green' %}
                                            {% set text = 'OK' %}
                                        {% elseif pluginData['daemonState'] == 'nok' %}
                                            {% if pluginData['daemonAuto'] != 1 %}
                                                {% set box_color = 'aqua' %}
                                                {% set text = 'Désactivé' %}
                                            {% else %}
                                                {% set box_color = 'red' %}
                                                {% set text = 'NOK' %}
                                            {% endif %}
                                        {% endif %}
                                        <div class="info-box bg-{{ box_color }}">
                                            <span class="info-box-icon"><i class="fas fa-bolt"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text"><b>{{ 'Statut démon' }}</b></span>
                                                <span class="info-box-text info-box-text-2">{{ text }}</span>
                                                <span class="info-box-text info-box-text-2">{{ pluginData['daemonLaunchableMessage'] }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>

                                    {% if pluginData['health'] is defined %}
                                        {% for health in pluginData['health'] %}
                                            <div class="container-light col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                {% if health['state'] %}
                                                    {% set box_color = 'green' %}
                                                    {% set text = 'OK' %}
                                                {% else %}
                                                    {% set box_color = 'red' %}
                                                    {% set text = 'NOK' %}
                                                {% endif %}
                                                <div class="info-box bg-{{ box_color }}">
                                                    <span class="info-box-icon" data-toggle="tooltip" title="" data-original-title="{{ health['advice'] }}"><i class="fas fa-puzzle-piece"></i></span>
                                                    <div class="info-box-content">
                                                        <span class="info-box-text info-box-text-2"><b> {{ health['test'] }}</b></span>
                                                        <span class="info-box-text info-box-text-2">{{ health['result'] }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    <span class="label label-primary">{{ 'Aucune santé spécifique' }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
