{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<div id="interactThumbnailDisplay">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
                <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=interact_admin"><i class="fas fa-cog"></i>{{ 'Paramètres' }}</a>
                <a class="btn btn-success btn-action-bar" id="bt_addInteract2"><i class="fas fa-plus-circle"></i>{{ 'Ajouter' }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-action btn-action-bar pull-right" style="display:none;" id="bt_interactCollapse"><i class="fas fa-plus-square"></i>{{ 'Déplier' }}</a>
                <a class="btn btn-action btn-action-bar pull-right" id="bt_interactUncollapse"><i class="fas fa-minus-square"></i>{{ 'Replier' }}</a>
                <a class="btn btn-warning btn-action-bar pull-right" id="bt_regenerateInteract2"><i class="fas fa-refresh"></i>{{ 'Régénérer' }}</a>
                <a class="btn btn-default btn-action-bar pull-right" id="bt_testInteract2"><i class="fas fa-rss"></i>{{ 'Tester' }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-comments"></i>{{ 'Interactions' }}</h3>
            </div>
            <div class="box-body">
                {% if interactTotal|length == 0 %}
                    <div><span>{{ 'Vous n\'avez encore aucune interaction. Cliquez sur ajouter pour commencer.' }}</span></div>
                {% else %}
                    <div><span>{{ 'Vous avez '}} {{ interactTotal|length }} {{ 'intéractions...' }}</span></div>
                {% endif %}
            </div>
        </div>

        <div class="box-group" id="accordionInteract">
            {% if interactTotal|length > 0 %}
                {% if interactsList[-1]|length > 0 %}
                    <div class="panel box">
                        <a class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="" href="#config_aucun">
                            <h3 class="box-title">
                                <span>{{ 'Aucun - ' }} {{ interactsList[-1]|length }} {{ 'interaction(s)' }}</span>
                            </h3>
                        </a>
                        <div id="config_aucun" class="panel-collapse collapse in">
                            <div class="box-body">
                                <div class="interactListContainer DisplayCard text-center">
                                    {% for interact in interactsList[-1] %}
                                        <div class="interactDisplayCard cursor icon_card" data-interact_id="{{ interact.getId() }}" style="{% if not interact.getEnable() %}{{ interactDisabledOpacity }}{% endif %}">
                                            <img class="backgroundColor" src="/public/img/NextDom_Interaction.png"/>
                                            <p>{{ interact.getHumanName(true, true, true, true) }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% set index = 0 %}
                {% for group in interactsListGroup %}
                    {% if group['group'] != '' %}
                        <div class="panel box box-primary">
                            <a class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="" href="#config_{{ index }}">
                                <h3 class="box-title">
                                    <span style="text-decoration:none;">{{ group['group'] }} - {{ interactsList[group['group']]|length }} {{ 'interaction(s)' }}</span>
                                </h3>
                            </a>
                            <div id="config_{{ index }}" class="panel-collapse collapse in">
                                <div class="box-body">
                                    <div class="interactListContainer DisplayCard text-center">
                                        {% for interact in interactsList[group['group']] %}
                                            <div class="interactDisplayCard cursor icon_card" data-interact_id="{{ interact.getId() }}" style="{% if not interact.getEnable() %}{{ interactDisabledOpacity }}{% endif %}">
                                                <img class="backgroundColor" src="/public/img/NextDom_Interaction.png"/>
                                                <p>{{ interact.getHumanName(true, true, true, true) }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% set index = index + 1 %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
</div>

<div class="interact" style="display: none;" id="div_conf">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-action-bar btn-danger" id="bt_interactThumbnailDisplay"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
                <div class="btn-group">
                    <a class="btn btn-action-bar btn-default displayInteracQuery"><i class="fas fa-eye"></i><span>{{ 'Phrase(s)' }}</span></a>
                    <a class="btn btn-action-bar btn-success displayInteracQuery"><span class="interactAttr" data-l1key="nbInteractQuery"></span></a>
                </div>
            </div>
            <div class="action-group">
                <a class="btn btn-action-bar btn-success pull-right" id="bt_saveInteract"><i class="fas fa-save"></i>{{ 'Enregistrer' }}</a>
                <a class="btn btn-action-bar btn-default pull-right" id="bt_duplicate"><i class="fas fa-files-o"></i>{{ 'Dupliquer' }}</a>
                <a class="btn btn-action-bar btn-danger pull-right" id="bt_removeInteract"><i class="fas fa-trash"></i>{{ 'Supprimer' }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation">
                    <a href="#actiontab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-cogs"></i>{{ 'Actions' }}</a>
                </li>
                <li role="presentation">
                    <a href="#filtertab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-filter"></i>{{ 'Filtres' }}</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#generaltab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tachometer-alt"></i>{{ 'Général' }}</a>
                </li>
                <h4 class="label label-primary pull-right badge spacing-right">{{ 'ID : ' }}<span id="interactId"></span></h4>
                <li class="header pull-left"><i class="fas fa-comments"></i>{{ 'Edition Intéraction' }}</li>
            </ul>

            <div class="tab-content" style="height:calc(100% - 50px);overflow:auto;overflow-x: hidden;">
                <div role="tabpanel" class="tab-pane active" id="generaltab">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Nom' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control interactAttr" type="text" data-l1key="name" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Groupe' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control interactAttr" type="text" data-l1key="group" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Actif' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="interactAttr" type="checkbox" data-l1key="enable" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Demande' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control interactAttr" type="text" data-l1key="id" style="display : none;"/>
                                    <input class="form-control interactAttr" type="text" data-l1key="query" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Regexp de correspondance obligatoire' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control interactAttr" type="text" data-l1key="options" data-l2key="mustcontain"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Synonyme' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control interactAttr" type="text" data-l1key="options" data-l2key="synonymes" placeholder="" title="{{ 'Remplace les mots par leurs synonymes lors de la génération des commandes' }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Réponse' }}</label>
                                <div class="col-sm-8 col-xs-12">
                                    <textarea class="form-control interactAttr ta_autosize" type="text" data-l1key="reply" placeholder=""></textarea>
                                </div>
                                <div class="col-sm-1">
                                    <a class="btn btn-sm btn-default cursor listEquipementInfoReply"><i class="fas fa-list-alt no-spacing"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Attendre avant de répondre' }}</label>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="input-group">
                                        <input type="number" class="form-control interactAttr" type="text" data-l1key="options" data-l2key="waitBeforeReply" placeholder="" title="{{ 'Permet d\'attendre le temps que l\'état d\'une lampe soit mise à jour par exemple' }}"/>
                                        <span class="input-group-addon">{{'secondes'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Conversion binaire' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control interactAttr" type="text" data-l1key="options" data-l2key="convertBinary" placeholder="" title="{{ 'Convertir les commandes binaires' }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Utilisateurs autorisés' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control interactAttr" type="text" data-l1key="person" placeholder="" title="{{ 'Liste des utilisateurs (identifiants) séparés par un |' }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Regexp d\'exclusion' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input class="form-control interactAttr" type="text" data-l1key="options" data-l2key="exclude_regexp" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Autorisation' }}</label>
                                <div class="col-sm-9 col-xs-12">
                                    <input type="checkbox" class="interactAttr" data-l1key="options" data-l2key="allowSyntaxCheck">
                                    <label for="ldap" class="control-label label-check">{{ 'Autoriser NextDom à supprimer les demandes syntaxiquement incorrectes' }}</label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="filtertab">
                    <form class="form-horizontal" id="div_filtre">
                        <fieldset>
                            <legend>{{ 'Choisissez les filtres permettant de limiter le nombre de phrases générées...' }}</legend>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Limiter aux commandes de type' }}</label>
                                <div class="col-sm-9">
                                    {% for id, type in interactCmdType %}
                                        <label class="label-option">
                                            <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="type" data-l3key="{{ id }}" checked="true"/>{{ type['name']|trim }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Limiter aux commandes ayant pour sous-type' }}</label>
                                <div class="col-sm-9">
                                    {% for type in interactCmdType %}
                                        {% for id, subtype in type['subtype'] %}
                                            <label class="label-option">
                                                <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="subtype" data-l3key="{{ id }}" checked="true"/>{{ subtype['name']|trim }}
                                            </label>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Limiter aux commandes ayant pour unité' }}</label>
                                <div class="col-sm-9">
                                    <label class="label-option">
                                        <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="unite" data-l3key="none" checked="true"/>{{ 'Sans unité' }}
                                    </label>
                                    {% for unite in interactAllUnite %}
                                        {% if unite['unite']|trim != '' %}
                                            <label class="label-option">
                                                <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="unite" data-l3key="{{ unite['unite'] }}" checked="true"/>{{ unite['unite']|trim }}
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Limiter aux commandes appartenant aux objets' }}</label>
                                <div class="col-sm-9">
                                    {% for jeeObject in interactJeeObjects %}
                                        <label class="label-option">
                                            <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="object" data-l3key="{{ jeeObject.getId() }}" checked="true"/>{{ jeeObject.getName()|trim }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Limiter aux plugins' }}</label>
                                <div class="col-sm-9">
                                    {% for eqLogicType in interactEqLogicTypes %}
                                        <label class="label-option">
                                            <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="plugin" data-l3key="{{ eqLogicType['type'] }}" checked="true"/>{{ eqLogicType['type']|trim }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Limiter aux catégories' }}</label>
                                <div class="col-sm-9">
                                    <label class="label-option"><input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="category" data-l3key="noCategory" checked="true"/>{{ 'Sans catégorie' }}</label>
                                    {% for id, category in interactEqLogicCategories %}
                                        <label class="label-option">
                                            <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="category" data-l3key="{{ id }}" checked="true"/>{{ category['name']|trim }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Limiter aux visibles' }}</label>
                                <div class="col-sm-9">
                                    <label class="label-option"><input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="visible" data-l3key="object"/>{{ 'Objets' }}</label>
                                    <label class="label-option"><input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="visible" data-l3key="eqlogic"/>{{ 'Equipements' }}</label>
                                    <label class="label-option"><input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="visible" data-l3key="cmd"/>{{ 'Commandes' }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ 'Limiter à l\'équipement' }}</label>
                                <div class="col-sm-6">
                                    <select class='interactAttr form-control' data-l1key='filtres' data-l2key='eqLogic_id'>
                                        <option value="all">{{ 'Tous' }}</option>
                                        {% for eqLogic in interactEqLogics %}
                                            <option value="{{ eqLogic.getId() }}">{{ eqLogic.getHumanName() }}</option>';
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="actiontab">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend class="col-xs-11">{{ 'Choisissez les actions associées à cette interaction...' }}</legend>
                            <div class="col-xs-1">
                                <a class="btn btn-success btn-sm" id="bt_addAction"><i class="fas fa-plus-circle"></i>{{ 'Ajouter' }}</a>
                            </div>
                            <div id="div_action"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
