{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<div id="interactThumbnailDisplay">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'common.return' | trans }}</a>
                <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=interact_admin"><i class="fas fa-cog"></i>{{ 'common.settings' | trans }}</a>
                <a class="btn btn-success btn-action-bar" id="bt_addInteract"><i class="fas fa-plus-circle"></i>{{ 'common.add' | trans }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-action btn-action-bar pull-right" style="display:none;" id="bt_interactCollapse"><i class="fas fa-plus-square"></i>{{ 'interact.unfold' | trans }}</a>
                <a class="btn btn-action btn-action-bar pull-right" id="bt_interactUncollapse"><i class="fas fa-minus-square"></i>{{ 'interact.fold' | trans }}</a>
                <a class="btn btn-warning btn-action-bar pull-right" id="bt_regenerateInteract"><i class="fas fa-refresh"></i>{{ 'interact.regenerate' | trans }}</a>
                <a class="btn btn-default btn-action-bar pull-right" id="bt_testInteract"><i class="fas fa-rss"></i>{{ 'interact.test'|trans }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-comments"></i>{{ 'interact.interactions' | trans }}</h3>
            </div>
            <div class="box-body">
                {% if interactTotal|length == 0 %}
                    <div><span>{{ 'interact.no_interactions_click_add_to_start'|trans }}</span></div>
                {% else %}
                    <div><span>{{ 'interact.you_have_n_iterations'|trans|format(interactTotal|length) }}</span></div>
                {% endif %}
            </div>
        </div>

        <div class="box-group" id="accordionInteract">
            {% if interactTotal|length > 0 %}
                {% if interactsList[-1]|length > 0 %}
                    <div class="panel box">
                        <a class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="" href="#config_aucun">
                            <h3 class="box-title">
                                <span>{{ 'interact.none' | trans }} {{ interactsList[-1]|length }} {{ 'interact.interactions' | trans }}</span>
                            </h3>
                        </a>
                        <div id="config_aucun" class="panel-collapse collapse in">
                            <div class="box-body">
                                <div class="interactListContainer DisplayCard text-center">
                                    {% for interact in interactsList[-1] %}
                                        <div class="interactDisplayCard cursor icon_card" data-interact_id="{{ interact.getId() }}" style="{% if not interact.getEnable() %}{{ interactDisabledOpacity }}{% endif %}">
                                            <img class="backgroundColor" src="/public/img/NextDom_Interaction.png"/>
                                            <p>{{ interact.getHumanName(true, true, true, true) }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% set index = 0 %}
                {% for group in interactsListGroup %}
                    {% if group['group'] != '' %}
                        <div class="panel box box-primary">
                            <a class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="" href="#config_{{ index }}">
                                <h3 class="box-title">
                                    <span style="text-decoration:none;">{{ group['group'] }} - {{ interactsList[group['group']]|length }} {{ 'interact.interactions' | trans }}</span>
                                </h3>
                            </a>
                            <div id="config_{{ index }}" class="panel-collapse collapse in">
                                <div class="box-body">
                                    <div class="interactListContainer DisplayCard text-center">
                                        {% for interact in interactsList[group['group']] %}
                                            <div class="interactDisplayCard cursor icon_card" data-interact_id="{{ interact.getId() }}" style="{% if not interact.getEnable() %}{{ interactDisabledOpacity }}{% endif %}">
                                                <img class="backgroundColor" src="/public/img/NextDom_Interaction.png"/>
                                                <p>{{ interact.getHumanName(true, true, true, true) }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% set index = index + 1 %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
</div>

<div class="interact" style="display: none;" id="div_conf">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-action-bar btn-danger" id="bt_interactThumbnailDisplay"><i class="fas fa-chevron-left"></i>{{ 'common.return' | trans }}</a>
                <div class="btn-group">
                    <a class="btn btn-action-bar btn-default displayInteracQuery"><i class="fas fa-eye"></i><span>{{ 'interact.sentences' | trans }}</span></a>
                    <a class="btn btn-action-bar btn-success displayInteracQuery"><span class="interactAttr" data-l1key="nbInteractQuery"></span></a>
                </div>
            </div>
            <div class="action-group">
                <a class="btn btn-action-bar btn-success pull-right" id="bt_saveInteract"><i class="fas fa-save"></i>{{ 'common.save' | trans }}</a>
                <a class="btn btn-danger btn-action-bar pull-right bt_cancelModifs"><i class="fas fa-times"></i>{{ 'common.cancel'|trans }}</a>
                <a class="btn btn-action-bar btn-default pull-right" id="bt_duplicate"><i class="fas fa-files-o"></i>{{ 'interact.duplicate' | trans }}</a>
                <a class="btn btn-action-bar btn-danger pull-right" id="bt_removeInteract"><i class="fas fa-trash"></i>{{ 'common.remove' | trans }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation">
                    <a href="#actiontab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-cogs spacing-right"></i>{{ 'common.actions' | trans }}</a>
                </li>
                <li role="presentation">
                    <a href="#filtertab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-filter"></i>{{ 'interact.filters' | trans }}</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#generaltab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tachometer-alt"></i>{{ 'common.main' | trans }}</a>
                </li>
                <h4 class="label label-primary pull-right badge spacing-right">{{ 'interact.id' | trans }}<span id="interactId"></span></h4>
                <li class="header pull-left"><i class="fas fa-comments"></i>{{ 'interact.edition_intéraction' | trans }}</li>
            </ul>

            <div class="tab-content" style="height:calc(100% - 50px);overflow:auto;overflow-x: hidden;">
                <div role="tabpanel" class="tab-pane active" id="generaltab">
                    <fieldset>
                        <legend>{{ 'Identité' }}</legend>
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'common.name' | trans }}</label>
                                <input class="form-control interactAttr" type="text" data-l1key="name" placeholder=""/>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.group' | trans }}</label>
                                <input class="form-control interactAttr" type="text" data-l1key="group" placeholder=""/>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'Activation' }}</label>
                                <div>
                                    <input type="checkbox" class="interactAttr" data-l1key="enable" id="interact_enable">
                                    <label for="interact_enable" class="control-label label-check">{{ 'common.active' | trans }}</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Intéraction' }}</legend>
                        <div class="row">
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.request' | trans }}</label>
                                <input class="form-control interactAttr" type="text" data-l1key="id" style="display : none;"/>
                                <input class="form-control interactAttr" type="text" data-l1key="query" placeholder=""/>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.regexp_mandatory_correspondence' | trans }}</label>
                                <input class="form-control interactAttr" type="text" data-l1key="options" data-l2key="mustcontain"/>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.synonym' | trans }}</label>
                                <input class="form-control interactAttr" type="text" data-l1key="options" data-l2key="synonymes" placeholder="" title="{{ 'interact.replaces_words_with_their_synonyms_when_generating_orders' | trans }}"/>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.answer' | trans }}</label>
                                <div class="mix-group">
                                    <textarea class="form-control interactAttr ta_autosize" type="text" data-l1key="reply" placeholder=""></textarea>
                                    <a class="btn btn-sm btn-default cursor listEquipementInfoReply"><i class="fas fa-list-alt no-spacing"></i></a>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Options' }}</legend>
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.wait_before_responding' | trans }}</label>
                                <div class="input-group">
                                    <a class="input-group-addon cursor" id="bt_resetWaitTime" data-l1key="options" data-l2key="waitBeforeReply" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                    <span class="input-group-addon input-range-min"></span>
                                    <input class="interactAttr slider" type="range" min="0" max="600" step="1" data-l1key="options" data-l2key="waitBeforeReply" data-toggle="tooltip" title="" data-original-title="Permet d\'attendre le temps que l\'état d\'une lampe soit mise à jour par exemple"/>
                                    <span class="input-group-addon input-range-max"></span>
                                    <span class="input-group-addon input-range-value"></span>
                                    <span class="input-group-addon">{{ 'secondes' }}</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.authorization' | trans }}</label>
                                <div>
                                    <input type="checkbox" class="interactAttr" data-l1key="options" data-l2key="allowSyntaxCheck" id="interact_allowSyntaxCheck">
                                    <label for="interact_allowSyntaxCheck" class="control-label label-check">{{ 'interact.allow_nextdom_to_eliminate_malformed_requests' | trans }}</label>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.binary_conversion' | trans }}</label>
                                <input class="form-control interactAttr" type="text" data-l1key="options" data-l2key="convertBinary" placeholder="" title="{{ 'interact.convert_binary_commands' | trans }}"/>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.authorized_users' | trans }}</label>
                                <input class="form-control interactAttr" type="text" data-l1key="person" placeholder="" title="{{ 'interact.list_of_users_identifiers_separated_by_a_pipe' | trans }}"/>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'Regexp d\'exclusion' }}</label>
                                <input class="form-control interactAttr" type="text" data-l1key="options" data-l2key="exclude_regexp" placeholder=""/>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane" id="filtertab">
                    <fieldset>
                        <legend>{{ 'interact.choose_filters_to_limit_the_number_of_generated_sentences' | trans }}</legend>
                        <div class="row">
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.limit_to_commands_of_type' | trans }}</label>
                                <div>
                                    {% for id, type in interactCmdType %}
                                        <label class="label-option">
                                            <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="type" data-l3key="{{ id }}" checked="true"/>{{ type['name']|trim }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.limit_to_commands_of_sub_type' | trans }}</label>
                                <div>
                                    {% for type in interactCmdType %}
                                        {% for id, subtype in type['subtype'] %}
                                            <label class="label-option">
                                                <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="subtype" data-l3key="{{ id }}" checked="true"/>{{ subtype['name']|trim }}
                                            </label>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.limit_to_commands_with_unit' | trans }}</label>
                                <div>
                                    <label class="label-option">
                                        <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="unite" data-l3key="none" checked="true"/>{{ 'interact.without_unit' | trans }}
                                    </label>
                                    {% for unite in interactAllUnite %}
                                        {% if unite['unite']|trim != '' %}
                                            <label class="label-option">
                                                <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="unite" data-l3key="{{ unite['unite'] }}" checked="true"/>{{ unite['unite']|trim }}
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.limit_to_commands_belonging_to_objects' | trans }}</label>
                                <div>
                                    {% for jeeObject in interactJeeObjects %}
                                        <label class="label-option">
                                            <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="object" data-l3key="{{ jeeObject.getId() }}" checked="true"/>{{ jeeObject.getName()|trim }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.limit_to_plugins' | trans }}</label>
                                <div>
                                    {% for eqLogicType in interactEqLogicTypes %}
                                        <label class="label-option">
                                            <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="plugin" data-l3key="{{ eqLogicType['type'] }}" checked="true"/>{{ eqLogicType['type']|trim }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.limit_to_categories' | trans }}</label>
                                <div>
                                    <label class="label-option"><input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="category" data-l3key="noCategory" checked="true"/>{{ 'interact.uncategorized' | trans }}</label>
                                    {% for id, category in interactEqLogicCategories %}
                                        <label class="label-option">
                                            <input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="category" data-l3key="{{ id }}" checked="true"/>{{ category['name']|trim }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'interact.limit_to_visible' | trans }}</label>
                                <div>
                                    <label class="label-option"><input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="visible" data-l3key="object"/>{{ 'common.objects' | trans }}</label>
                                    <label class="label-option"><input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="visible" data-l3key="eqlogic"/>{{ 'common.devices' | trans }}</label>
                                    <label class="label-option"><input class="interactAttr" type="checkbox" data-l1key="filtres" data-l2key="visible" data-l3key="cmd"/>{{ 'interact.commands' | trans }}</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'Limiter à l\'équipement' }}</label>
                                <select class='interactAttr form-control' data-l1key='filtres' data-l2key='eqLogic_id'>
                                    <option value="all">{{ 'common.all' | trans }}</option>
                                    {% for eqLogic in interactEqLogics %}
                                        <option value="{{ eqLogic.getId() }}">{{ eqLogic.getHumanName() }}</option>';
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane" id="actiontab">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend class="col-xs-11">{{ 'interact.choose_the_actions_associated_with_this_interaction' | trans }}</legend>
                            <div class="col-xs-1">
                                <a class="btn btn-success btn-sm" id="bt_addAction"><i class="fas fa-plus-circle"></i>{{ 'common.add' | trans }}</a>
                            </div>
                            <div id="div_action"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
