<div class="box" id="log_display">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-hand-o-right">&nbsp;&nbsp;</i>{{ 'Logs' }}</h3>
        <div class="box-tools pull-right">
            <a class="pull-right btn-box-tool" href="index.php?v=d&p=administration"><i class="fas fa-times"></i></a>
        </div>
    </div>
    <div class="box-body">
        <a class="btn btn-danger pull-right" id="bt_logdisplayremoveLog"><i class="far fa-trash-alt"></i> {{Supprimer}}</a>
        <a class="btn btn-warning pull-right" id="bt_logdisplayclearLog"><i class="fas fa-times"></i> {{Vider}}</a>
        <a class="btn btn-success pull-right" id="bt_logdisplaydownloadLog"><i class="fas fa-cloud-download-alt"></i> {{Télécharger}}</a>
        <a class="btn btn-warning pull-right" data-state="1" id="bt_eventLogStopStart"><i class="fas fa-pause"></i> {{Pause}}</a>
        <input class="form-control pull-right" id="in_eventLogSearch" style="width : 300px;" placeholder="{{Rechercher}}" />
        <br/><br/><br/>
        <pre id='pre_eventlog' style='overflow: auto; height: calc(100% - 65px);with:90%;'></pre>
        <script>
            nextdom.log.autoupdate({
                log : log_display_name,
                default_search : log_default_search,
                display : $('#pre_eventlog'),
                search : $('#in_eventLogSearch'),
                control : $('#bt_eventLogStopStart'),
            });

            $("#bt_logdisplayclearLog").on('click', function(event) {
                nextdom.log.clear({
                    log : log_display_name,
                });
            });

            $("#bt_logdisplayremoveLog").on('click', function(event) {
                nextdom.log.remove({
                    log : log_display_name,
                });
            });
            $('#bt_logdisplaydownloadLog').click(function() {
                window.open('core/php/downloadFile.php?pathfile=log/' + log_display_name, "_blank", null);
            });
        </script>
    </div>
    <div class="box-footer clearfix">
        <a class="btn btn-danger pull-right" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left">&nbsp;&nbsp;</i>{{ 'Retour' }}</a>
    </div>
</div>
