{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div class="box blurPanel" id="log_display">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-tachometer-alt">&nbsp;&nbsp;</i>{{ 'Temps réel' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="box-tools padding-bottom">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input class="form-control" id="in_eventLogSearch" placeholder="{{'Rechercher...'}}" />
                    </div>
                </div>

                <pre id='pre_eventlog' style='overflow: scroll;'></pre>
                <script>
                    nextdom.log.autoupdate({
                        log : log_display_name,
                        default_search : log_default_search,
                        display : $('#pre_eventlog'),
                        search : $('#in_eventLogSearch'),
                        control : $('#bt_eventLogStopStart'),
                    });

                    $("#bt_logdisplayclearLog").on('click', function(event) {
                        nextdom.log.clear({
                            log : log_display_name,
                        });
                    });

                    $("#bt_logdisplayremoveLog").on('click', function(event) {
                        nextdom.log.remove({
                            log : log_display_name,
                        });
                    });
                    $('#bt_logdisplaydownloadLog').click(function() {
                        window.open('core/php/downloadFile.php?pathfile=log/' + log_display_name, "_blank", null);
                    });
                </script>
            </fieldset>
        </form>
    </div>
</div>
<div class="fab fab-left">
    <a class="fab-action-button cursor" id="bt_goOnTop"><i class="fab-action-button__icon fas fa-angle-double-up"></i></a>
</div>
<div class="fab">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link btn-warning" data-state="1" id="bt_eventLogStopStart" title="" data-tooltip="{{ 'Pause' }}"><i class="fas fa-pause"></i></a></li>
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_logdisplaydownloadLog" title="" data-tooltip="{{ 'Télécharger' }}"><i class="fas fa-cloud-download-alt"></i></a></li>
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-orange" id="bt_logdisplayclearLog" title="" data-tooltip="{{ 'Vider' }}"><i class="fas fa-times"></i></a></li>
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-red-active" id="bt_logdisplayremoveLog" title="" data-tooltip="{{ 'Supprimer' }}"><i class="fas fa-trash-alt"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis">
    <a class="fab-action-button bg-red-active" href="index.php?v=d&p=administration"><i class="fab-action-button__icon fas fa-chevron-left"></i></a>
</div>
