<div class="box blurPanel" id="div_Logs-view">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-file-alt">&nbsp;&nbsp;</i>{{ 'Logs' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">

            <div class="row">
                <div class="col-md-3 col-sm-4 padding-bottom" id="div_displayLogList">
                    <fieldset>
                        <legend class="legend-title">{{ 'Liste des logs' }}</legend>
                        <div class="bs-sidebar">
                            <ul id="ul_object" class="nav nav-list bs-sidenav">
                                <li class="filter"><input class="filter form-control" placeholder="{{ 'Rechercher un log...' }}"/></li>
                                {% for logFile in logFilesList %}
                                    <li class="cursor label-log li_log{% if logFile['active'] %} active{% endif %}" data-log="{{ logFile['name'] }}">
                                        <i class="fa fa-{{ logFile['icon'] }}" style="float:left;margin-top:13px;color:{{ logFile['color'] }};">&nbsp;&nbsp;</i>
                                        <a>{{ logFile['name'] }} ({{ logFile['size'] }} Ko)</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-9 col-sm-8" style="border-left: solid 1px #EEE;">
                    <fieldset>
                        <div class="box-tools pull-right padding-bottom">
                            <a class="btn btn-action" data-state="1" id="bt_globalLogStopStart"><i class="fas fa-pause">&nbsp;&nbsp;</i>{{ 'Pause' }}</a>
                            <a class="btn btn-success" id="bt_downloadLog" disabled="disabled"><i class="fas fa-cloud-download-alt">&nbsp;&nbsp;</i>{{ 'Télécharger' }}</a>
                            <a class="btn btn-warning" id="bt_clearLog"><i class="fas fa-times">&nbsp;&nbsp;</i>{{ 'Vider' }}</a>
                            <a class="btn btn-danger" id="bt_removeLog"><i class="far fa-trash-alt">&nbsp;&nbsp;</i>{{ 'Supprimer' }}</a>
                            <a class="btn btn-danger" id="bt_removeAllLog"><i class="far fa-trash-alt">&nbsp;&nbsp;</i>{{ 'Supprimer tous' }}</a>
                        </div>
                        <div class="box-tools padding-bottom">
                            <input class="form-control text-right" id="in_globalLogSearch" placeholder="{{ 'Rechercher dans le log...' }}"/>
                        </div>
                        <pre id='pre_globallog' style='overflow: scroll;'></pre>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="fab" style="z-index:999">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-red-active" href="index.php?v=d&p=administration" title="" data-tooltip="{{ 'Retour' }}"><i class="fas fa-chevron-left"></i></a></li>
    </ul>
</div>
