<div id="migration" class="blurPanel">
    <div class="box blurPanel">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-rocket">&nbsp;&nbsp;</i>{{ 'Bienvenue sur la page de migration de NextDom' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">
                <p class="alert alert-info">{{ 'La fonction migration permet d\'utiliser une sauvegarde Jeedom pour migrer vers Nextdom' }}</br>
                    {{ 'Il suffit de saisir le chemin d\'accès vers les sauvegardes (si les sauvegardes sont deportées sur un NAS) ou alors utiliser l\'outil d\'upload ci-dessous.' }}</p>
                <!-- Sauvegardes Section -->
                <legend class="legend-title legend-section">{{ 'Sauvegardes locales' }}</legend>
                <div class="form-group">
                    <label class="col-sm-4 col-xs-12 control-label">{{ 'Emplacement des sauvegardes' }}</label>
                    <div class="col-sm-4 col-xs-12">
                        <input type="text" class="configKey form-control" data-l1key="backup::path"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-xs-12 control-label">{{ 'Sauvegardes disponibles' }}</label>
                    <div class="col-sm-6 col-xs-12">
                        <select class="form-control" id="sel_restoreBackupforMigration"> </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-xs-12 control-label">{{ 'Envoyer une sauvegarde' }}</label>
                    <div class="col-sm-8 col-xs-12">
                        <span class="btn btn-default btn-file">
                            <i class="fas fa-cloud-upload-alt">&nbsp;&nbsp;</i>{{ 'Selectionner' }}
                            <input id="bt_uploadBackupforMigration" type="file" name="file" data-url="core/ajax/nextdom.ajax.php?action=backupupload&nextdom_token={{ migrationAjaxToken }}">
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-xs-12 control-label">{{ 'Migration' }}</label>
                    <div class="col-sm-8 col-xs-12">
                        <a class="btn btn-success" id="bt_migrateNextDom"><i class="fas fa-play">&nbsp;&nbsp;</i>{{ 'Lancer' }}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="md_migrationInfo">
        <pre id="pre_migrationInfo" style="overflow: scroll;"></pre>
    </div>
</div>
<div class="fab" style="z-index:999">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_saveMigration" title="" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis" style="z-index:999">
    <a class="fab-action-button bg-red"><i class="fab-action-button__icon fas fa-chevron-left" href="index.php?v=d&p=administration"></i></a>
</div>
