{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-success btn-action-bar" id="bt_noteManagerAdd"><i class="fas fa-plus"></i>{{ 'Créer une note' }}</a>
        </div>
        <div class="action-group" id="div_noteBtn" style="display:none;">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_noteManagerSave"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
            <a class="btn btn-danger btn-action-bar pull-right" id="bt_noteManagerRemove"><i class="fas fa-trash"></i>{{ 'Supprimer' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="note">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-sticky-note"></i>{{ 'Notes' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <div style="display: none;" id="div_noteManagementAlert"></div>
            <div class="row">
                <fieldset class="col-lg-2 col-md-3 col-sm-4" style="overflow-y:auto;overflow-x:hidden;">
                    <legend>{{ 'Liste des notes' }}</legend>
                    <div class="bs-sidebar form-group">
                        <ul class="nav nav-list bs-sidenav list-group" id="ul_noteList">

                        </ul>
                    </div>
                </fieldset>

                <fieldset class="col-lg-10 col-md-9 col-sm-8 left-border" style="display:none;overflow-y:hidden;overflow-x:hidden;" id="div_noteDisplay">
                    <legend>{{ 'Note selectionnée' }}</legend>
                    <div id="div_noteManagerDisplay">
                        <input class="noteAttr form-control" data-l1key="id" style="display:none;" disabled/>
                        <input class="noteAttr form-control label-list" data-l1key="name" disabled/>
                        <textarea class="noteAttr form-control ta_autosize" data-l1key="text" style="resize:vertical" disabled></textarea>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</section>
