<div class="box" id="note">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-sticky-note">&nbsp;&nbsp;</i>{{ 'Notes' }}</h3>
        <div class="box-tools pull-right">
            <a class="pull-right btn-box-tool" href="index.php?v=d&p=administration"><i class="fa fa-times"></i></a>
        </div>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">

            <div style="display: none;" id="div_noteManagementAlert"></div>
            <div class="row row-overflow">
                <div class="col-lg-2 col-md-3 col-sm-4" style="overflow-y:auto;overflow-x:hidden;">
                    <fieldset>
                        <legend class="legend-title">{{ 'Liste des notes' }}</legend>
                        <div class="bs-sidebar">
                            <ul class="nav nav-list bs-sidenav list-group" id="ul_noteList">

                            </ul>
                        </div>
                    </fieldset>
                </div>

                <div class="col-lg-10 col-md-9 col-sm-8" style="border-left: solid 1px #EEE; overflow-y:hidden;overflow-x:hidden;">
                    <fieldset>
                        <legend class="legend-title legend-first-btn">{{ 'Note selectionnée' }}
                            <div class="box-tools pull-right">
                                <a class="btn btn-action btn-legend" id="bt_noteManagerAdd"><i class="fas fa-plus">&nbsp;&nbsp;</i>{{ 'Ajouter' }}</a>
                                <a class="btn btn-success btn-legend" id="bt_noteManagerSave"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Sauvegarder' }}</a>
                                <a class="btn btn-danger btn-legend" id="bt_noteManagerRemove"><i class="fas fa-trash">&nbsp;&nbsp;</i>{{ 'Supprimer' }}</a>
                            </div>
                        </legend>
                        <div id="div_noteManagerDisplay">
                            <input class="noteAttr form-control" data-l1key="id" style="display:none;" disabled/>
                            <input class="noteAttr form-control label-list" data-l1key="name" disabled/>
                            <textarea class="noteAttr form-control ta_autosize" data-l1key="text" disabled></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer bar -->
    <div class="box-footer clearfix">
        <a class="btn btn-danger pull-right" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left">&nbsp;&nbsp;</i>{{ 'Retour' }}</a>
    </div>
</div>
