<div class="box blurPanel" id="note">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-sticky-note">&nbsp;&nbsp;</i>{{ 'Notes' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">

            <div style="display: none;" id="div_noteManagementAlert"></div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4" style="overflow-y:auto;overflow-x:hidden;">
                    <fieldset>
                        <legend class="legend-title">{{ 'Liste des notes' }}</legend>
                        <div class="bs-sidebar">
                            <ul class="nav nav-list bs-sidenav list-group" id="ul_noteList">

                            </ul>
                        </div>
                    </fieldset>
                </div>

                <div class="col-lg-10 col-md-9 col-sm-8" style="border-left: solid 1px #EEE; overflow-y:hidden;overflow-x:hidden;">
                        <div id="div_noteManagerDisplay">
                            <input class="noteAttr form-control" data-l1key="id" style="display:none;" disabled/>
                            <input class="noteAttr form-control label-list" data-l1key="name" disabled/>
                            <textarea class="noteAttr form-control ta_autosize" data-l1key="text" disabled></textarea>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="fab">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-light-blue-active" id="bt_noteManagerAdd" data-tooltip="{{ 'Ajouter' }}"><i class="fas fa-plus"></i></a></li>
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_noteManagerSave" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-red-active" id="bt_noteManagerRemove" data-tooltip="{{ 'Supprimer' }}"><i class="fas fa-trash"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis">
    <a class="fab-action-button bg-red-active" href="index.php?v=d&p=administration"><i class="fab-action-button__icon fas fa-chevron-left"></i></a>
</div>
