{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="div_resumeObjectList">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{'object.back'|trans}}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-success btn-action-bar pull-right" id="bt_addObject2"><i class="fas fa-plus-circle"></i>{{ 'object.add'|trans }}</a>
                <a class="btn btn-primary btn-action-bar pull-right" id="bt_showObjectSummary"><i class="fas fa-list"></i>{{ 'object.global-view'|trans }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-clone"></i>{{ 'Objets' }}</h3>
            </div>
            <div class="box-body">
                {% if objectList|length == 0 %}
                    <div><span>{{ 'object.no-object-yet'|trans }}</span></div>
                {% else %}
                    <div><span>{{ 'object.you-have-n-objects'|trans|format(objectList|length) }}</span></div>
                {% endif %}
            </div>
        </div>
        <div class="objectListContainer row">
            {% for object in objectList %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="box objectDisplayCard w-icons" style='border-top:3px solid {{ object.getDisplay("tagColor") }}' data-object_id="{{ object.getId() }}" data-object_name="{{ object.getName() }}">
                        <a class="box-header with-border cursor" href=index.php?v=d&p=dashboard&object_id={{ object.getId() }}>
                            <h4 class="box-title name object-name" style='color:{{ object.getDisplay("tagTextColor") }}'>{{ object.getDisplay('icon', '<i class="fas fa-tag"></i>')|replace({'></i>': '></i>'})|raw }}<i class="spacing-right"></i><b>{{ object.getName() }}</b></h4>
                        </a>
                        <div class="box-body">
                            <span class="object-summary spacing-left">{% if 'objectSummaryParent' in object.getHtmlSummary() %}{{ object.getHtmlSummary()|raw }}{% else %}{{'Aucun résumé...'}}{% endif%}</span>
                        </div>
                        <div class="box-footer clearfix text-center">
                            <a class="btn btn-danger btn-sm pull-right remove bt_removeObject"><i class="fas fa-trash"></i>{{ 'object.delete'|trans }}</a>
                            <a class="btn btn-info btn-sm pull-left bt_detailsObject"><i class="fas fa-edit"></i>{{ 'object.modify'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

<!-- Edition page -->
<div class="object" style="display: none;" id="div_conf">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-action-bar btn-danger" id="bt_returnToThumbnailDisplay"><i class="fas fa-chevron-left"></i>{{ 'object.back'|trans}}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-action-bar btn-success pull-right" id="bt_saveObject"><i class="fas fa-save"></i>{{ 'object.save'|trans }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation" class="active"><a href="#objecttab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-clone"></i>{{ 'Objet' }}</a></li>
                <li role="presentation"><a href="#summarytab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-list-alt"></i>{{ 'Résumé' }}</a></li>
                <h4 class="label label-primary pull-right badge spacing-right">{{ 'ID : ' }}<span id="objectId"></span></h4>
                <li class="pull-left header"><i class="fas fa-cog"></i>{{ 'Configuration de l\'objet' }}</li>
            </ul>
            <div class="tab-content" style="height:calc(100% - 50px);overflow:auto;overflow-x: hidden;">
                <div role="tabpanel" class="tab-pane active" id="objecttab">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <fieldset>
                                    <legend>{{ 'Identité' }}</legend>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Nom de l\'objet' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <input class="form-control objectAttr" type="text" data-l1key="id" style="display : none;"/>
                                            <input class="form-control objectAttr" type="text" data-l1key="name" placeholder="Nom de l'objet"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Père' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <select class="form-control objectAttr" data-l1key="father_id">
                                                <option value="">{{ 'Aucun' }}</option>
                                                {% for object in objectList %}
                                                    <option value="{{ object.getId() }}">{{ object.getName() }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="legend-section">
                                    <legend>{{ 'Couleurs' }}</legend>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Tag' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <div class=" colorpicker-component input-group" id='colorpickTag'>
                                                <input type="text" class="objectAttr form-control" data-l1key="display" data-l2key="tagColor"/>
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Texte du tag' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <div class=" colorpicker-component input-group" id='colorpickTagText'>
                                                <input type="text" class="objectAttr form-control" data-l1key="display" data-l2key="tagTextColor"/>
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Texte du résumé' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <div class=" colorpicker-component input-group" id='colorpickSummaryText'>
                                                <input type="text" class="objectAttr form-control" data-l1key="display" data-l2key="desktop::summaryTextColor"/>
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <fieldset>
                                    <legend>{{ 'Design' }}</legend>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Taille sur le dashboard' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" class="objectAttr form-control" data-l1key="display" data-l2key="dashboard::size"/>
                                                <span class="input-group-addon">{{ '1 à 12' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Position' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <input type="number" class="objectAttr form-control" data-l1key="position"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Visible' }}</label>
                                        <div class="col-sm-1">
                                            <input class="objectAttr" type="checkbox" data-l1key="isVisible" checked/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Masquer sur le dashboard' }}</label>
                                        <div class="col-sm-1">
                                            <input class="objectAttr" type="checkbox" data-l1key="configuration" data-l2key="hideOnDashboard"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Icône' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <div class="input-group">
                                                <a class="btn btn-action" id="bt_chooseIcon"><i class="fas fa-flag"></i><span>{{ 'Choisir' }}</span></a>
                                                <div class="objectAttr label label-icon" data-l1key="display" data-l2key="icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Image' }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <span class="btn btn-default btn-file">
                                                <i class="fas fa-cloud-upload-alt"></i>{{ 'Envoyer' }}<input id="bt_uploadImage" type="file" name="file" style="display: inline-block;">
                                            </span>
                                            <a class="btn btn-danger" id="bt_removeBackgroundImage"><i class="fas fa-trash"></i>{{ 'Supprimer' }}</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="summarytab">
                    {% if objectSummary|length == 0 %}
                        <div class="alert alert-danger">{{ 'Vous n\'avez aucun résumé de créé. Allez dans l\'administration de' }} {{ objectProductName }} {{ '-> Configuration -> onglet Résumés.' }}</div>
                    {% else %}
                        <form class="form-horizontal">
                            <fieldset>
                                <legend><i class="fas fa-flash"></i>{{ 'Activations' }}</legend>
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        {% for summaryKey, summaryValue in objectSummary %}
                                            <th style="cursor:default;">{{ summaryValue['name'] }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td style="cursor:default;">
                                            {{ 'Remonter dans le résumé global' }}
                                        </td>
                                        {% for summaryKey, summaryValue in objectSummary %}
                                            <td>
                                                <input type="checkbox" class="objectAttr" data-l1key="configuration" data-l2key="summary::global::{{ summaryKey }}"/>

                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td style="cursor:default;">
                                            {{ 'Masquer en desktop' }}
                                        </td>
                                        {% for summaryKey, summaryValue in objectSummary %}
                                            <td>
                                                <input type="checkbox" class="objectAttr" data-l1key="configuration" data-l2key="summary::hide::desktop::{{ summaryKey }}"/>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>
                                            {{ 'Masquer en mobile' }}
                                        </td>
                                        {% for summaryKey, summaryValue in objectSummary %}
                                            <td>
                                                <input type="checkbox" class="objectAttr" data-l1key="configuration" data-l2key="summary::hide::mobile::{{ summaryKey }}"/>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                        <form class="form-horizontal">
                            <fieldset class="legend-section">
                                <legend><i class="fas fa-tachometer-alt"></i>{{ 'Commandes' }}</legend>
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs" role="tablist">
                                        {% set active = 'active' %}
                                        {% for summaryKey, summaryValue in objectSummary %}
                                            <li class="{{ active }}"><a href="#summarytab{{ summaryKey }}" role="tab" data-toggle="tab">{{ summaryValue['icon']|raw }} {{ summaryValue['name'] }}</i>  <span class="tabnumber summarytabnumber{{ summaryKey }}"></span></a></li>
                                            {% set active = '' %}
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content">
                                        {% set active = ' active' %}
                                        {% for summaryKey, summaryValue in objectSummary %}
                                            <div role="tabpanel" class="tab-pane type{{ summaryKey }}{{ active }}" data-type="{{ summaryKey }}" id="summarytab{{ summaryKey }}">
                                                <div class="div_summary" data-type="{{ summaryKey }}"></div>
                                                <div class="btn btn-sm btn-success addSummary" data-type="{{ summaryKey }}"><i class="fas fa-plus-circle"></i>{{ 'Ajouter une commande' }}</div>
                                            </div>
                                            {% set active = '' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
