{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'common.return' | trans }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="osdb">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-terminal"></i>{{ 'osdb.os__db'|trans }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <!-- Alert section -->
            <div class="alert alert-danger">{{ 'osdb.warning'|trans }} {{ 'NextDom' }}...</div>
            <!-- Console Section -->
            <fieldset>
                <legend>{{ 'osdb.tools' | trans }}</legend>
                <div class="row">
                    <div class="form-group col-sm-6 col-xs-12 col-padding">
                        <label class="control-label">{{ 'osdb.system_console' | trans }}</label>
                        <div class="mix-group">
                            <a class="btn btn-danger" href="index.php?v=d&p=system"><i class="fas fa-exclamation-triangle"></i>{{ 'osdb.run' | trans }}</a>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- DB Section -->
            <fieldset class="legend-section">
                <legend>{{ 'osdb.database'|trans }}</legend>
                <div class="row">
                    <div class="form-group col-sm-6 col-xs-12 col-padding">
                        <label class="control-label">{{ 'osdb.administration' | trans }}</label>
                        <div class="mix-group">
                            <a class="btn btn-danger" href="index.php?v=d&p=database"><i class="fas fa-exclamation-triangle"></i>{{ 'osdb.run' | trans }}</a>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- DB Section -->
            <fieldset class="legend-section">
                <legend>{{ 'osdb.database'|trans }}</legend>
                <div class="row">
                    <div class="form-group col-sm-6 col-xs-12 col-padding">
                        <label class="control-label">{{ 'osdb.user' | trans }}</label>
                        <div class="mix-group">
                            <span class="label label-config">{{ adminDbConfig['username'] }}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12 col-padding">
                        <label class="control-label">{{ 'osdb.password' | trans }}</label>
                        <div class="mix-group">
                            <span class="label label-config">{{ adminDbConfig['password'] }}</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>
