{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="div_resumePluginList">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
                <a class="btn btn-default btn-action-bar" id="bt_addPluginFromOtherSource"><i class="fas fa-plus"></i>{{ 'Autre Sources' }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-action btn-action-bar pull-right" id="bt_pluginCollapse"><i class="fas fa-plus-square"></i>{{ 'Déplier' }}</a>
                <a class="btn btn-action btn-action-bar pull-right" style="display:none;" id="bt_pluginUncollapse"><i class="fas fa-minus-square"></i>{{ 'Replier' }}</a>
                <a class="btn btn-default btn-action-bar pull-right" href="index.php?v=d&p=update_admin"><i class="fas fa-cog"></i>{{ 'Configurer Markets' }}</a>
                {% for repoCode, repoData in pluginReposList %}
                    {% if repoData['name'] == 'Market' %}
                        <a class="btn btn-default btn-action-bar pull-right displayStore btn-jeedom" data-repo="{{ repoCode }}"><i class="fas fa-shopping-cart"></i>{{ 'Jeedom '}} {{ repoData['name'] }}</a>
                    {% else %}
                        <a class="btn btn-primary btn-action-bar pull-right displayStore" data-repo="{{ repoCode }}"><i class="fas fa-shopping-cart"></i>{{ repoData['name'] }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="content">
        <div class="nav-tabs-custom config">
            <!-- Tabs title -->
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation"><a href="#inactifs" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-toggle-off"></i>{{ 'Inactifs' }}{% if ((pluginsList|length - pluginsListActive|length)>0) %}<span class="badge bg-yellow spacing-left">{{ pluginsList|length - pluginsListActive|length }}</span>{% endif %}</a></li>
                <li role="presentation" class="active"><a href="#actifs" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-toggle-on"></i>{{ 'Actifs' }}{% if (pluginsListActive|length>0) %}<span class="badge bg-yellow spacing-left">{{ pluginsListActive|length }}</span>{% endif %}</a></li>
                <li class="header pull-left"><i class="fas fa-puzzle-piece"></i>{{ 'Plugins installés' }}<span class="badge bg-red spacing-left">{{ pluginsList|length }}</span></li>
            </ul>

            <!-- Tabs content -->
            <div class="global-tab-content tab-content" id="accordionPlugin">
                <div role="tabpanel" class="tab-pane active" id="actifs">
                    <div class="row">
                        <div class="pluginListContainer" id="listActifs">
                            {% for plugin in pluginsList %}
                                {% if plugin.isActive() %}
                                    <div class="objet col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="box box-primary pluginDisplayCard" data-pluginPath="{{ plugin.getFilepath() }}" data-plugin_icon="{{ plugin.getPathImgIcon() }}" data-plugin_id="{{ plugin.getId() }}">
                                            <div class="box-header with-border accordion-toggle cursor" {% if not plugin.isActive() %}style="{{ pluginInactiveOpacity }}"{% endif %} data-toggle="collapse" data-parent="#accordionPlugin" href="#config_{{ plugin.getId() }}">
                                                <h4 class="box-title"><img class="box-header-icon spacing-right" src="{{ plugin.getPathImgIcon() }}">{{ plugin.getName() }}</h4>
                                            </div>
                                            <div id="config_{{ plugin.getId() }}" class="panel-collapse collapse">
                                                <div class="box-body" {% if not plugin.isActive() %}style="{{ pluginInactiveOpacity }}"{% endif %}>
                                                    <p><b>{{ 'Catégorie :' }}<i class="spacing-right"></i></b>{{ plugin.getCategory() }}</p>
                                                    <p style="white-space: nowrap;white-space: pre-line;height: 75px;overflow: hidden;text-overflow: ellipsis;"><b>{{ 'Description :' }}<i class="spacing-right"></i></b>{{ plugin.getDescription()|raw }}</p>
                                                    <p><b>{{ 'Auteur :' }}<i class="spacing-right"></i></b>{{ plugin.getAuthor() }}</p>
                                                    <p><i>{{ 'Licence :' }}<i class="spacing-right"></i></i>{{ plugin.getLicense() }}</p>
                                                </div>
                                                <div class="box-footer clearfix text-center">
                                                    <a class="btn btn-info btn-sm pull-left plugin_configure" title="{{'Configurer'}}"><i class="fas fa-cog"></i>{{'Configurer'}}</a>
                                                    <a class="btn btn-danger btn-sm remove pull-right plugin_delete" data-market_logicalid="{{ plugin.getId() }}" title="{{'Supprimer'}}"><i class="fas fa-trash"></i>{{'Supprimer'}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane active" id="inactifs">
                    <div class="row">
                        <div class="pluginListContainer" id="listInactifs">
                            {% for plugin in pluginsList %}
                                {% if not plugin.isActive() %}
                                    <div class="objet col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="box box-default pluginDisplayCard" data-pluginPath="{{ plugin.getFilepath() }}" data-plugin_icon="{{ plugin.getPathImgIcon() }}" data-plugin_id="{{ plugin.getId() }}">
                                            <div class="box-header with-border accordion-toggle cursor" {% if not plugin.isActive() %}style="{{ pluginInactiveOpacity }}"{% endif %} data-toggle="collapse" data-parent="#accordionPlugin" href="#config_{{ plugin.getId() }}">
                                                <h4 class="box-title"><img class="box-header-icon spacing-right" src="{{ plugin.getPathImgIcon() }}">{{ plugin.getName() }}</h4>
                                            </div>
                                            <div id="config_{{ plugin.getId() }}" class="panel-collapse collapse">
                                              <div class="box-body" {% if not plugin.isActive() %}style="{{ pluginInactiveOpacity }}"{% endif %}>
                                                  <p><b>{{ 'Catégorie :' }}<i class="spacing-right"></i></b>{{ plugin.getCategory() }}</p>
                                                  <p style="white-space: nowrap;white-space: pre-line;height: 75px;overflow: hidden;text-overflow: ellipsis;"><b>{{ 'Description :' }}<i class="spacing-right"></i></b>{{ plugin.getDescription()|raw }}</p>
                                                  <p><b>{{ 'Auteur :' }}<i class="spacing-right"></i></b>{{ plugin.getAuthor() }}</p>
                                                  <p><i>{{ 'Licence :' }}<i class="spacing-right"></i></i>{{ plugin.getLicense() }}</p>
                                              </div>
                                              <div class="box-footer clearfix text-center">
                                                  <a class="btn btn-info btn-sm pull-left plugin_configure" title="{{'Configurer'}}"><i class="fas fa-cog"></i>{{'Configurer'}}</a>
                                                  <a class="btn btn-danger btn-sm remove pull-right plugin_delete" data-market_logicalid="{{ plugin.getId() }}" title="{{'Supprimer'}}"><i class="fas fa-trash"></i>{{'Supprimer'}}</a>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="div_confPlugin" style="display: none;">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-action-bar btn-danger" id="bt_returnToThumbnailDisplay"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box box-header">
            <h3 class="box-title">
                <img style="height:30px;padding-right:5px" src="" id="span_plugin_icon">
                <span id="span_plugin_name"></span> (<span id="span_plugin_id"></span>) - <span id="span_plugin_install_version"></span>
            </h3>
            <span id="span_plugin_market" class="pull-right"></span>
            <span id="span_plugin_doc" class="pull-right"></span>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fas fa-info-circle"></i>{{ 'Description' }}</h3>
                    </div>
                    <div class="box-body">
                        <span id="span_plugin_description"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fas fa-circle-o-notch"></i>{{ 'Etat' }}</h3>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{{ 'Version' }}</label>
                                    <div class="col-xs-9"><span class="label label-config label-primary" id="span_plugin_install_date"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{{ 'Version NextDom' }}</label>
                                    <div class="col-xs-9"><span class="label label-config label-primary" id="span_plugin_require"></span><span class="spacing-left">{{ 'minimum' }}</span></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{{ 'Auteur' }}</label>
                                    <div class="col-xs-9"><span class="label label-config label-primary" id="span_plugin_author"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">{{ 'License' }}</label>
                                    <div class="col-xs-9"><span class="label label-config label-primary" id="span_plugin_license"></span></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="box-footer">
                        <div id="div_plugin_toggleState"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="box box-primary" id="div_configLog">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fas fa-file"></i>{{ 'Log' }}</h3>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div id="div_plugin_log"></div>
                            </fieldset>
                        </form>
                        <div class="form-actions">

                        </div>
                    </div>
                    <div class="box-footer clearfix text-center">
                        <a class="btn btn-success pull-right" id="bt_savePluginLogConfig"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="box box-danger">
                    <div class="box-header with-border"><h3 class="box-title"><i class="fas fa-certificate"></i>{{ 'Dépendances' }}</h3></div>
                    <div class="box-body">
                        <div id="div_plugin_dependancy"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="box box-warning">
                    <div class="box-header with-border"><h3 class="box-title"><i class="fas fa-university"></i>{{ 'Démon' }}</h3></div>
                    <div class="box-body">
                        <div id="div_plugin_deamon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border"><h3 class="box-title"><i class="fas fa-map"></i>{{ 'Installation' }}</h3></div>
            <div class="box-body">
                <span id="span_plugin_installation"></span>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-cogs"></i>{{ 'Configuration' }}</h3>
            </div>
            <div class="box-body">
                <div id="div_plugin_configuration"></div>
                <div class="form-actions">
                </div>
            </div>
            <div class="box-footer clearfix text-center">
                <a class="btn btn-success pull-right" id="bt_savePluginConfig"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="box box-primary" id="div_functionalityPanel">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fas fa-magic"></i>{{ 'Fonctionnalités' }}</h3>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div id="div_plugin_functionality"></div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="box-footer clearfix text-center">
                        <a class="btn btn-success pull-right" id="bt_savePluginFunctionalityConfig"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="box box-primary" id="div_configPanel">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fas fa-columns"></i>{{ 'Panel' }}</h3>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div id="div_plugin_panel"></div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="box-footer clearfix text-center">
                        <a class="btn btn-success pull-right" id="bt_savePluginPanelConfig"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
