{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="scenarioThumbnailDisplay">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'scenario.back'|trans }}</a>
                {% if scenariosEnabled == 0 %}
                    <a class="btn btn-success btn-action-bar" id="bt_changeAllScenarioState" data-state="1"><i class="fas fa-check"></i>{{ 'scenario.enable-scenarios'|trans }}</a>
                {% else %}
                    <a class="btn btn-danger btn-action-bar" id="bt_changeAllScenarioState" data-state="0"><i class="fas fa-times"></i>{{ 'scenario.disable-scenarios'|trans }}</a>
                {% endif %}
                <a class="btn btn-success btn-action-bar" id="bt_addScenario"><i class="fas fa-plus-circle"></i>{{ 'scenario.add'|trans }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-action btn-action-bar pull-right" style="display:none;" id="bt_scenarioCollapse"><i class="fas fa-plus-square"></i>{{ 'Déplier' }}</a>
                <a class="btn btn-action btn-action-bar pull-right" id="bt_scenarioUncollapse"><i class="fas fa-minus-square"></i>{{ 'Replier' }}</a>
                <a class="btn btn-warning btn-action-bar pull-right bt_showExpressionTest"><i class="fas fa-rss"></i>{{ 'scenario.test-expression'|trans }}</a>
                <a class="btn btn-primary btn-action-bar pull-right bt_displayScenarioVariable"><i class="fas fa-eye"></i>{{ 'scenario.variables'|trans }}</a>
                <a class="btn btn-default btn-action-bar pull-right bt_showScenarioSummary"><i class="fas fa-list"></i>{{ 'scenario.summary'|trans }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-film"></i>{{ 'scenario.my-scenarios'|trans }}</h3>
            </div>
            <div class="box-body">
                {% if scenariosEnabled == 0 %}
                    <div class="alert alert-warning">{{ 'scenario.scenario-disabled'|trans }}</div>
                {% endif %}
                {% if scenarioCount == 0 %}
                    <div><span>{{ 'scenario.no-scenario'|trans }}</span></div>
                {% else %}
                    <div><span>{{ 'scenario.you-have-scenarios'|trans|format(scenarioCount) }}</span></div>
                {% endif %}
            </div>
        </div>

        <div class="box-group" id="accordionScenario">
            {% if scenariosWithoutGroup|length > 0 %}
                <div class="panel box">
                    <a class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="" href="#config_none">
                        <h3 class="box-title">
                            <span>{{ 'scenario.no-group'|trans }}</span>
                        </h3>
                    </a>
                    <div id="config_none" class="panel-collapse collapse in">
                        <div class="box-body">
                            <div class="scenarioListContainer DisplayCard text-center">
                                {% for scenario in scenariosWithoutGroup %}
                                    <div class="scenarioDisplayCard cursor icon_card" data-scenario_id="{{ scenario.getId() }}" style="{% if not scenario.getIsActive() or not scenariosEnabled %}{{ scenarioInactiveStyle }}{% endif %}">
                                        {% if scenario.getDisplay('icon') != '' %}
                                            <span class="scenario-icon">{{ scenario.getDisplay('icon')|raw }}</span>
                                        {% else %}
                                            <img class="backgroundColor" src="/public/img/NextDom_Scenario.png"/>
                                        {% endif %}
                                        <p>{{ scenario.getHumanName(true, true, true, true)|raw }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% set index = 0 %}

            {% for scenarioGroup in scenarioListGroup %}
                {% if scenarioGroup.group != '' %}
                    <div class="panel box">
                        <a class="box-header with-border accordion-toggle cursor" data-toggle="collapse" data-parent="" href="#config_{{ index }}">
                            <h3 class="box-title">
                                <span>{{ scenarioGroup.group }} - {{ scenarios[scenarioGroup.group]|length }} {{ 'scenario.scenarios'|trans }}</span>
                            </h3>
                        </a>
                        <div id="config_{{ index }}" class="panel-collapse collapse in">
                            <div class="box-body">
                                <div class="scenarioListContainer DisplayCard text-center ">
                                    {% for scenario in scenarios[scenarioGroup.group] %}
                                        <div class="scenarioDisplayCard icon_card cursor" data-scenario_id="{{ scenario.getId() }}" style="{% if not scenario.getIsActive() or not scenariosEnabled %}{{ scenarioInactiveStyle }}{% endif %}">
                                            {% if scenario.getDisplay('icon') != '' %}
                                                <span class="scenario-icon">{{ scenario.getDisplay('icon')|raw }}</span>
                                            {% else %}
                                                <img class="backgroundColor" alt="scenario" src="/public/img/NextDom_Scenario.png"/>
                                            {% endif %}
                                            <p>{{ scenario.getHumanName(true, true, true, true)|raw }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set index = index + 1 %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>

<div id="div_editScenario" style="display: none;">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar" id="bt_scenarioThumbnailDisplay"><i class="fas fa-chevron-left"></i>{{ 'scenario.back'|trans }}</a>
                <a class="btn btn-default btn-action-bar" id="bt_graphScenario"><i class="fas fa-object-group"></i>{{ 'scenario.links'|trans }}</a>
                <a class="btn btn-default btn-action-bar" id="bt_logScenario"><i class="fas fa-file-alt"></i>{{ 'scenario.log'|trans }}</a>
                <a class="btn btn-default btn-action-bar" id="bt_templateScenario"><i class="fas fa-cubes"></i>{{ 'scenario.template'|trans }}</a>
                <a class="btn btn-primary btn-action-bar" id="bt_exportScenario"><i class="fas fa fa-share"></i>{{ 'scenario.export'|trans }}</a>
                <a class="btn btn-default btn-action-bar" id="bt_copyScenario"><i class="fas fa-copy"></i>{{ 'scenario.duplicate'|trans }}</a>
                <a class="btn btn-success btn-action-bar bt_addScenarioElement"><i class="fas fa-plus-circle"></i>{{ 'scenario.add-block'|trans }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-success btn-action-bar pull-right" id="bt_saveScenario"><i class="fas fa-save"></i>{{ 'scenario.save'|trans }}</a>
                <a class="btn btn-danger btn-action-bar pull-right" id="bt_stopScenario" style="display:none;"><i class="fas fa-stop"></i>{{ 'scenario.stop'|trans }}</a>
                <a class="btn btn-warning btn-action-bar pull-right" id="bt_testScenario" title='{{ 'scenario.execute-title'|trans }}'><i class="fas fa-gamepad"></i>{{ 'scenario.execute'|trans }}</a>
                <a class="btn btn-warning btn-action-bar pull-right bt_showExpressionTest"><i class="fas fa-rss"></i>{{ 'scenario.expression-test'|trans }}</a>
                <a class="btn btn-primary btn-action-bar pull-right bt_displayScenarioVariable"><i class="fas fa-eye"></i>{{ 'scenario.variables'|trans }}</a>
                <a class="btn btn-danger btn-action-bar pull-right" id="bt_delScenario"><i class="fas fa-trash"></i>{{ 'scenario.delete'|trans }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation">
                    <a id="bt_scenarioTab" href="#scenariotab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-microchip"></i>{{ 'scenario.programmation'|trans }}</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#generaltab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-cog"></i>{{ 'scenario.parameters'|trans }}</a>
                </li>
                <h4 id="span_ongoing" class="label pull-right badge spacing-right"></h4>
                <h4 class="label label-primary pull-right badge spacing-right">{{ 'scenario.id'|trans }} : <span class="scenarioAttr" data-l1key="id"></span></h4>
                <li class="header pull-left"><i class="fas fa-film"></i>{{ 'scenario.scenario-edit'|trans }}</li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="generaltab">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <fieldset>
                                    <legend>{{ 'scenario.identity'|trans }}</legend>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'scenario.name'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <input class="form-control scenarioAttr" data-l1key="name" type="text"
                                                   placeholder="{{ 'scenario.name'|trans }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'scenario.name-to-show'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <input class="form-control scenarioAttr"
                                                   title="{{ 'scenario.name-to-show-placeholder'|trans }}"
                                                   data-l1key="display" data-l2key="name" type="text"
                                                   placeholder="{{ 'scenario.name-to-show'|trans }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'scenario.description'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <textarea class="form-control scenarioAttr ta_autosize" data-l1key="description" placeholder="{{ 'scenario.description'|trans }}"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="legend-section">
                                    <legend>{{ 'scenario.options'|trans }}</legend>
                                    <div class="form-group">
                                        <label for="scenarioActiveAttr" class="col-lg-3 col-md-3 col-sm-4 col-xs-3 control-label">{{ 'scenario.enabled'|trans }}</label>
                                        <div class="col-sm-1 col-xs-3">
                                            <input id="scenarioActiveAttr" type="checkbox" class="scenarioAttr" data-l1key="isActive">
                                        </div>
                                        <label for="scenarioVisibleAttr" class="col-lg-3 col-md-3 col-sm-4 col-xs-3 control-label">{{ 'scenario.visible'|trans }}</label>
                                        <div class="col-sm-1 col-xs-3">
                                            <input id="scenarioVisibleAttr" type="checkbox" class="scenarioAttr" data-l1key="isVisible">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-3 control-label">{{ 'scenario.multi-launch'|trans }}</label>
                                        <div class="col-sm-1 col-xs-3">
                                            <input type="checkbox" class="scenarioAttr" data-l1key="configuration" data-l2key="allowMultiInstance"
                                                   title="{{ 'scenario.multi-launch-title'|trans }}">
                                        </div>
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-3 control-label">{{ 'scenario.sync-mode'|trans }}</label>
                                        <div class="col-sm-1 col-xs-3">
                                            <input type="checkbox" class="scenarioAttr" data-l1key="configuration" data-l2key="syncmode"
                                                   title="{{ 'scenario.sync-mode-title'|trans }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="scenarioAttrTimeout" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'scenario.timeout'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <div class="input-group">
                                                <input id="scenarioAttrTimeout" type="text" class="form-control scenarioAttr" data-l1key="timeout"/>
                                                <span class="input-group-addon">{{ 'scenario.timeout-unity'|trans }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="legend-section">
                                    <legend>{{ 'scenario.paternity'|trans }}</legend>
                                    <div class="form-group">
                                        <label for="scenarioGroupAttr" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'scenario.group'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <input id="scenarioGroupAttr" class="form-control scenarioAttr" data-l1key="group" type="text" placeholder="{{ 'scenario.scenario-group'|trans }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="scenarioObjectIdAttr" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'scenario.parent-object'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <select id="scenarioObjectIdAttr" class="scenarioAttr form-control" data-l1key="object_id">
                                                <option value="">{{ 'scenario.no-choice'|trans }}</option>
                                                {% for object in scenarioAllObjects %}
                                                    <option value="{{ object.getId() }}">{{ object.getName() }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="legend-section">
                                    <legend>{{ 'scenario.supervising'|trans }}</legend>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-3 control-label">{{ 'scenario.log'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-9">
                                            <select class="scenarioAttr form-control" data-l1key="configuration" data-l2key="logmode">
                                                <option value="default">{{ 'scenario.default'|trans }}</option>
                                                <option value="none">{{ 'scenario.no-choice'|trans }}</option>
                                                <option value="realtime">{{ 'scenario.realtime'|trans }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-3 control-label">{{ 'scenario.follow-timeline'|trans }}</label>
                                        <div class="col-sm-1 col-xs-3">
                                            <input type="checkbox" class="scenarioAttr" data-l1key="configuration" data-l2key="timeline::enable" title="{{ 'scenario.follow-timeline-title'|trans }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group"></div>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <fieldset>
                                    <legend>{{ 'scenario.icon'|trans }}</legend>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-3 control-label">{{ 'scenario.icon'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-3 col-xs-12">
                                            <div class="input-group">
                                                <a class="btn btn-action" id="bt_chooseIcon"><i class="fas fa-flag"></i><span>{{ 'scenario.choose'|trans }}</span></a>
                                                <div class="scenarioAttr label label-icon" data-l1key="display" data-l2key="icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="legend-section">
                                    <legend>{{ 'scenario.launching'|trans }}</legend>
                                    <div class="form-group">
                                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'scenario.scenario-mode'|trans }}</label>
                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                            <div class="input-group">
                                                <select class="form-control scenarioAttr" data-l1key="mode">
                                                    <option value="provoke">{{ 'scenario.provoked'|trans }}</option>
                                                    <option value="schedule">{{ 'scenario.scheduled'|trans }}</option>
                                                    <option value="all">{{ 'scenario.twice'|trans }}</option>
                                                </select>
                                                <span class="input-group-btn">
                                                    <a class="btn btn-default" id="bt_addTrigger"><i class="fas fa-plus-square"></i><span>{{ 'scenario.trigger'|trans }}<span></a>
                                                    <a class="btn btn-default" id="bt_addSchedule"><i class="fas fa-plus-square"></i><span>{{ 'scenario.scheduler'|trans }}</span></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scheduleDisplay" style="display: none;">
                                        <div class="form-group">
                                            <i class="col-lg-2 col-md-3 col-sm-4 col-xs-6  control-label">{{ 'scenario.previous'|trans }}</i>
                                            <div class="col-lg-4 col-md-3 col-sm-5 col-xs-6"><span class="scenarioAttr label label-primary label-sticker-sm" data-l1key="forecast" data-l2key="prevDate" data-l3key="date"></span></div>
                                            <i class="col-lg-2 col-md-3 col-sm-4 col-xs-6  control-label">{{ 'scenario.next'|trans }}</i>
                                            <div class="col-lg-4 col-md-3 col-sm-5 col-xs-6"><span class="scenarioAttr label label-success label-sticker-sm" data-l1key="forecast" data-l2key="nextDate" data-l3key="date"></span></div>
                                        </div>
                                        <div class="scheduleMode"></div>
                                    </div>
                                    <div class="provokeMode provokeDisplay" style="display: none;">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="scenariotab">
                    <div id="div_scenarioElement" class="element"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="md_copyScenario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h4>{{ 'scenario.duplicate-title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="in_copyScenarioName" size="16"
                       placeholder="{{ 'scenario.name'|trans }}"/><br/><br/>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-minus-circle"></i>{{ 'scenario.cancel'|trans }}</a>
                <a class="btn btn-success" id="bt_copyScenarioSave"><i class="fas fa-save"></i>{{ 'scenario.save'|trans }}</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="md_addElement">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h4>{{ 'scenario.add-item'|trans }}</h4>
            </div>
            <div class="modal-body">
                <select id="in_addElementType" class="form-control">
                    <option value="if">{{ 'scenario.item-if'|trans }}</option>
                    <option value="action">{{ 'scenario.item-action'|trans }}</option>
                    <option value="for">{{ 'scenario.item-for'|trans }}</option>
                    <option value="in">{{ 'scenario.item-in'|trans }}</option>
                    <option value="at">{{ 'scenario.item-at'|trans }}</option>
                    <option value="code">{{ 'scenario.item-code'|trans }}</option>
                    <option value="comment">{{ 'scenario.item-comment'|trans }}</option>
                </select>
                <div class="alert alert-info addElementTypeDescription if">
                    {{ 'scenario.description-if'|trans }}
                </div>
                <div class="alert alert-info addElementTypeDescription action">
                    {{ 'scenario.description-action'|trans }}
                </div>
                <div class="alert alert-info addElementTypeDescription for">
                    {{ 'scenario.description-for'|trans }}
                </div>
                <div class="alert alert-info addElementTypeDescription in">
                    {{ 'scenario.description-in'|trans }}
                </div>
                <div class="alert alert-info addElementTypeDescription at">
                    {{ 'scenario.description-at'|trans }}
                </div>
                <div class="alert alert-info addElementTypeDescription code">
                    {{ 'scenario.description-code'|trans }}
                </div>
                <div class="alert alert-info addElementTypeDescription comment">
                    {{ 'scenario.description-comment'|trans }}
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-minus-circle"></i>{{ 'scenario.cancel'|trans }}</a>
                <a class="btn btn-success" id="bt_addElementSave"><i class="fas fa-save"></i>{{ 'scenario.save'|trans }}</a>
            </div>
        </div>
    </div>
</div>
