{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="scenarioThumbnailDisplay" class="blurPanel">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left">&nbsp;&nbsp;</i>{{ 'Retour'}}</a>
                {% if scenarioEnabled == 0 %}
                    <a class="btn btn-success btn-action-bar" id="bt_changeAllScenarioState2" data-state="1"><i class="fas fa-check">&nbsp;&nbsp;</i>{{ 'Activer scénarios' }}</a>
                {% else %}
                    <a class="btn btn-danger btn-action-bar" id="bt_changeAllScenarioState2" data-state="0"><i class="fas fa-times">&nbsp;&nbsp;</i>{{ 'Désactiver scénarios' }}</a>
                {% endif %}
                <a class="btn btn-success btn-action-bar" id="bt_addScenario2"><i class="fas fa-plus-circle">&nbsp;&nbsp;</i>{{ 'Ajouter' }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-warning btn-action-bar pull-right bt_showExpressionTest"><i class="fas fa-check">&nbsp;&nbsp;</i>{{ 'Testeur d\'expression' }}</a>
                <a class="btn btn-primary btn-action-bar pull-right" id="bt_displayScenarioVariable2"><i class="fas fa-eye">&nbsp;&nbsp;</i>{{ 'Variables' }}</a>
                <a class="btn btn-default btn-action-bar pull-right bt_showScenarioSummary"><i class="fas fa-list">&nbsp;&nbsp;</i>{{ 'Vue d\'ensemble' }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fas fa-film">&nbsp;&nbsp;</i>{{ 'Mes scénarios' }}</h3>
            </div>
            <div class="box-body">
                {% if scenarioCount == 0 %}
                    <div class="text-center">
                        <span>{{ 'Vous n\'avez encore aucun scénario ! Cliquez sur ajouter dans le menu pour commencer...' }}</span>
                    </div>
                {% else %}
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input class="form-control" placeholder="{{ 'Rechercher...' }}" id="in_searchScenario"/>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="box-group" id="accordionScenar">
            {% if scenarios[-1]|length > 0 %}
                <div class="panel box">
                    <a class="box-header with-border accordion-toggle" data-toggle="collapse" data-parent="" href="#config_none">
                        <h3 class="box-title">
                            <span>Aucun - {{ scenarios[-1]|length }} scénario(s)</span>
                        </h3>
                    </a>
                    <div id="config_none" class="panel-collapse collapse in">
                        <div class="box-body">
                            <div class="scenarioListContainer DisplayCard text-center">
                                {% for scenario in scenarios[-1] %}
                                    <div class="scenarioDisplayCard cursor icon_gestion" data-scenario_id="{{ scenario.getId() }}" style="{% if not scenario.getIsActive() %}{{ scenarioInactiveStyle }}{% endif %}">
                                        <img class="backgroundColor" src="/public/img/NextDom_Scenario.png" height="70"/>
                                        <p class="name">{{ scenario.getHumanName(true, true, true, true)|raw }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% set index = 0 %}

            {% for scenarioGroup in scenarioListGroup %}
                {% if scenarioGroup.group != '' %}
                    <div class="panel box">
                        <a class="box-header with-border accordion-toggle" data-toggle="collapse" data-parent="" href="#config_{{ index }}">
                            <h3 class="box-title"><span>{{ scenarioGroup.group }} - {{ scenarios[scenarioGroup.group]|length }} scénario(s)</span></h3>
                        </a>
                        <div id="config_{{ index }}" class="panel-collapse collapse in">
                            <div class="box-body">
                                <div class="scenarioListContainer DisplayCard text-center ">
                                    {% for scenario in scenarios[scenarioGroup.group] %}
                                        <div class="scenarioDisplayCard  icon_gestion cursor" data-scenario_id="{{ scenario.getId() }}" style="{% if not scenario.getIsActive() %}{{ scenarioInactiveStyle }}{% endif %}">
                                            <img class="backgroundColor" src="/public/img/NextDom_Scenario.png" height="70"/>
                                            <p>{{ scenario.getHumanName(true, true, true, true)|raw }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set index = index + 1 %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>

<div id="div_editScenario" style="display: none;">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar" id="bt_scenarioThumbnailDisplay"><i class="fas fa-chevron-left">&nbsp;&nbsp;</i>{{ 'Retour'}}</a>
                <a class="btn btn-success btn-action-bar" id="bt_saveScenario"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Sauvegarder' }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-default btn-action-bar" id="bt_graphScenario"><i class="fas fa-object-group">&nbsp;&nbsp;</i>{{ 'Liens' }}</a>
                <a class="btn btn-default btn-action-bar" id="bt_copyScenario"><i class="fas fa-copy">&nbsp;&nbsp;</i>{{ 'Dupliquer' }}</a>
                <a class="btn btn-primary btn-action-bar" id="bt_exportScenario"><i class="fas fa fa-share">&nbsp;&nbsp;</i>{{ 'Exporter' }}</a>
                <a class="btn btn-default btn-action-bar" id="bt_templateScenario"><i class="fas fa-cubes">&nbsp;&nbsp;</i>{{ 'Template' }}</a>
                <a class="btn btn-default btn-action-bar" id="bt_logScenario"><i class="far fa-file-alt">&nbsp;&nbsp;</i>{{ 'Log' }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-danger btn-action-bar pull-right" id="bt_stopScenario"><i class="fas fa-stop">&nbsp;&nbsp;</i>{{ 'Arrêter' }}</a>
                <a class="btn btn-warning btn-action-bar pull-right" id="bt_testScenario2" title='{{ 'Veuillez sauvegarder avant de tester. Ceci peut ne pas aboutir.' }}'><i class="fas fa-gamepad">&nbsp;&nbsp;</i>{{ 'Exécuter' }}</a>
                <a class="btn btn-danger btn-action-bar pull-right" id="bt_delScenario2"><i class="fas fa-minus-circle">&nbsp;&nbsp;</i>{{ 'Supprimer' }}</a>
            </div>
            <div class="action-group">
                <a class="btn btn-warning btn-action-bar pull-right bt_showExpressionTest"><i class="fas fa-check">&nbsp;&nbsp;</i>{{ 'Testeur d\'Expression' }}</a>
                <a class="btn btn-primary btn-action-bar pull-right" id="bt_displayScenarioVariable"><i class="fas fa-eye">&nbsp;&nbsp;</i> {{ 'Variables' }}</a>
                <a class="btn btn-success btn-action-bar pull-right bt_addScenarioElement"><i class="fas fa-plus-circle">&nbsp;&nbsp;</i>{{ 'Ajouter bloc' }}</a>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <h4 id="span_ongoing" class="label pull-right label-sticker"></h4>
                <li role="presentation" class="active">
                    <a href="#generaltab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-cog">&nbsp;&nbsp;</i>{{ 'Paramètres' }}</a>
                </li>
                <li role="presentation">
                    <a id="bt_scenarioTab" href="#scenariotab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-microchip">&nbsp;&nbsp;</i>{{ 'Programmation' }}</a>
                </li>
                <li class="header pull-left"><i class="fas fa-film">&nbsp;&nbsp;</i>{{ 'Scénarios' }} (ID : <span class="scenarioAttr" data-l1key="id"></span>)</li>
            </ul>
            <div class="tab-content" style="height:calc(100% - 50px);overflow:auto;overflow-x: hidden;">
                <div role="tabpanel" class="tab-pane active" id="generaltab">
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Nom du scénario' }}</label>
                                        <div class="col-xs-6">
                                            <input class="form-control scenarioAttr" data-l1key="name" type="text"
                                                   placeholder="{{ 'Nom du scénario' }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Nom à afficher' }}</label>
                                        <div class="col-xs-6">
                                            <input class="form-control scenarioAttr"
                                                   title="{{ 'Ne rien mettre pour laisser le nom par défaut' }}"
                                                   data-l1key="display" data-l2key="name" type="text"
                                                   placeholder="{{ 'Nom à afficher' }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Groupe' }}</label>
                                        <div class="col-xs-6">
                                            <input class="form-control scenarioAttr" data-l1key="group" type="text"
                                                   placeholder="{{ 'Groupe du scénario' }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Actif' }}</label>
                                        <div class="col-xs-1">
                                            <input type="checkbox" class="scenarioAttr"
                                                                 data-l1key="isActive">
                                        </div>
                                        <label class="col-xs-4 control-label">{{ 'Visible' }}</label>
                                        <div class="col-xs-1">
                                            <input type="checkbox" class="scenarioAttr"
                                                                   data-l1key="isVisible">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Objet parent' }}</label>
                                        <div class="col-xs-6">
                                            <select class="scenarioAttr form-control" data-l1key="object_id">
                                                <option value="">{{ 'Aucun' }}</option>
                                                {% for object in scenarioAllObjects %}
                                                    <option value="{{ object.getId() }}">{{ object.getName() }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Timeout en secondes (0 = illimité)' }}</label>
                                        <div class="col-xs-6">
                                            <input class="form-control scenarioAttr" data-l1key="timeout">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Multi lancement' }}</label>
                                        <div class="col-xs-1">
                                            <input type="checkbox" class="scenarioAttr" data-l1key="configuration"
                                                   data-l2key="allowMultiInstance"
                                                   title="{{ 'Le scénario pourra tourner plusieurs fois en même temps' }}">
                                        </div>
                                        <label class="col-xs-4 control-label">{{ 'Mode synchrone' }}</label>
                                        <div class="col-xs-1">
                                            <input type="checkbox" class="scenarioAttr" data-l1key="configuration"
                                                   data-l2key="syncmode"
                                                   title="{{ 'Le scénario est en mode synchrone. Attention, cela peut rendre le système instable' }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Log' }}</label>
                                        <div class="col-xs-6">
                                            <select class="scenarioAttr form-control" data-l1key="configuration"
                                                    data-l2key="logmode">
                                                <option value="default">{{ 'Défaut' }}</option>
                                                <option value="none">{{ 'Aucun' }}</option>
                                                <option value="realtime">{{ 'Temps réel' }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">{{ 'Suivre dans la timeline' }}</label>
                                        <div class="col-xs-1">
                                            <input type="checkbox" class="scenarioAttr" data-l1key="configuration"
                                                   data-l2key="timeline::enable"
                                                   title="{{ 'Les exécutions du scénario pourront être vues dans la timeline.' }}">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control scenarioAttr ta_autosize"
                                                  data-l1key="description" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 col-xs-6 control-label">{{ 'Mode du scénario' }}</label>
                                    <div class="col-sm-9 col-xs-6">
                                        <div class="input-group">
                                            <select class="form-control scenarioAttr" data-l1key="mode">
                                                <option value="provoke">{{ 'Provoqué' }}</option>
                                                <option value="schedule">{{ 'Programmé' }}</option>
                                                <option value="all">{{ 'Les deux' }}</option>
                                            </select>
                                            <span class="input-group-btn">
                                                    <a class="btn btn-default" id="bt_addTrigger"><i class="fas fa-plus-square">&nbsp;&nbsp;</i>{{ 'Déclencheur' }}</a>
                                                    <a class="btn btn-default" id="bt_addSchedule"><i class="fas fa-plus-square">&nbsp;&nbsp;</i>{{ 'Programmation' }}</a>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="scheduleDisplay" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">{{ 'Précédent' }}</label>
                                        <div class="col-xs-3"><span class="scenarioAttr label label-primary"
                                                                    data-l1key="forecast" data-l2key="prevDate"
                                                                    data-l3key="date"></span></div>
                                        <label class="col-xs-3 control-label">{{ 'Prochain' }}</label>
                                        <div class="col-xs-3"><span class="scenarioAttr label label-success"
                                                                    data-l1key="forecast" data-l2key="nextDate"
                                                                    data-l3key="date"></span></div>
                                    </div>
                                    <div class="scheduleMode"></div>
                                </div>
                                <div class="provokeMode provokeDisplay" style="display: none;">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="scenariotab">
                    <div id="div_scenarioElement" class="element" style="padding-bottom: 70px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="md_copyScenario">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'Dupliquer le scénario' }}</h3>
                </div>
                <div class="modal-body">
                    <div style="display: none;" id="div_copyScenarioAlert"></div>
                    <center>
                        <input class="form-control" type="text" id="in_copyScenarioName" size="16"
                               placeholder="{{ 'Nom du scénario' }}"/><br/><br/>
                    </center>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-minus-circle">&nbsp;&nbsp;</i>{{ 'Annuler' }}</a>
                    <a class="btn btn-success" id="bt_copyScenarioSave"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Enregistrer' }}</a>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="md_addElement">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3>{{ 'Ajouter élément' }}</h3>
                </div>
                <div class="modal-body">
                    <center>
                        <select id="in_addElementType" class="form-control">
                            <option value="if">{{ 'Si/Alors/Sinon' }}</option>
                            <option value="action">{{ 'Action' }}</option>
                            <option value="for">{{ 'Boucle' }}</option>
                            <option value="in">{{ 'Dans' }}</option>
                            <option value="at">{{ 'A' }}</option>
                            <option value="code">{{ 'Code' }}</option>
                            <option value="comment">{{ 'Commentaire' }}</option>
                        </select>
                    </center>
                    <br/>
                    <div class="alert alert-info addElementTypeDescription if">
                        Permet de faire des conditions dans votre scénario. Par exemple : Si mon détecteur
                        d’ouverture de porte se déclenche Alors allumer la lumière.
                    </div>

                    <div class="alert alert-info addElementTypeDescription action" style="display:none;">
                        Permet de lancer une action, sur un de vos modules, scénarios ou autre. Par exemple : Passer
                        votre sirène sur ON.
                    </div>

                    <div class="alert alert-info addElementTypeDescription for" style="display:none;">
                        Une boucle permet de réaliser une action de façon répétée un certain nombre de fois. Par
                        exemple : Permet de répéter une action de 1 à X, c’est-à-dire X fois.
                    </div>

                    <div class="alert alert-info addElementTypeDescription in" style="display:none;">
                        Permet de faire une action dans X min. Par exemple : Dans 5 min, éteindre la lumière.
                    </div>

                    <div class="alert alert-info addElementTypeDescription at" style="display:none;">
                        A un temps précis, cet élément permet de lancer une action. Par exemple : A 9h30, ouvrir les
                        volets.
                    </div>

                    <div class="alert alert-info addElementTypeDescription code" style="display:none;">
                        Cet élément permet de rajouter dans votre scénario de la programmation à l’aide d’un code,
                        PHP/Shell, etc.
                    </div>

                    <div class="alert alert-info addElementTypeDescription comment" style="display:none;">
                        Permet de commenter votre scénario.
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-minus-circle">&nbsp;&nbsp;</i>{{ 'Annuler' }}</a>
                    <a class="btn btn-success" id="bt_addElementSave"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Enregistrer' }}</a>
                </div>
            </div>
        </div>
    </section>
</div>
