{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'common.return' | trans }}</a>
            <a class="btn btn-default btn-action-bar" id="logDialogButton"><i class="fas fa-file-alt"></i>{{ 'common.log' | trans }}</a>
            <a class="label label-info label-sticker-big" style="display:none;" id="lbl_updateRunning"><i class="fas fa-refresh fa-spin spacing-right"></i>{{ 'Mise(s) à jour en cours ...' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-action btn-action-bar pull-right" id="updateCollapseButton"><i class="fas fa-plus-square"></i>{{ 'update-view.unfold' | trans }}</a>
            <a class="btn btn-action btn-action-bar pull-right" style="display:none;" id="updateUncollapseButton"><i class="fas fa-minus-square"></i>{{ 'update-view.fold' | trans }}</a>
            <a class="btn btn-success btn-action-bar pull-right" id="saveUpdateChanges"><i class="fas fa-save"></i>{{ 'common.save' | trans }}</a>
            <a class="btn btn-primary btn-action-bar pull-right" id="checkAllUpdatesButton"><i class="fas fa-refresh"></i>{{ 'update-view.check_updates' | trans }}</a>
            <a class="btn btn-warning btn-action-bar pull-right" id="selectiveUpdateButton"><i class="fas fa-check"></i>{{ 'update-view.selective_update' | trans }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="nav-tabs-custom config">
        <!-- Tabs title -->
        <ul class="nav nav-tabs pull-right" role="tablist">
            <li role="presentation"><a href="#others" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-align-justify"></i><span>{{ 'update-view.any' | trans }}</span>{% if numberOfUpdatesOthers>0 %}<label id="spanNbUpdatesOthers" class="badge bg-yellow spacing-left">{{ numberOfUpdatesOthers }}</span>{% endif %}</label></a></li>
            <li role="presentation"><a href="#scripts" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-subscript"></i><span>{{ 'update-view.scripts' | trans }}</span>{% if numberOfUpdatesScripts>0 %}<label id="spanNbUpdatesScripts" class="badge bg-yellow spacing-left">{{ numberOfUpdatesScripts }}</span>{% endif %}</label></a></li>
            <li role="presentation"><a href="#widgets" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-boxes"></i><span>{{ 'common.widgets' | trans }}</span>{% if numberOfUpdatesWidgets>0 %}<label id="spanNbUpdatesWidgets" class="badge bg-yellow spacing-left">{{ numberOfUpdatesWidgets }}</span>{% endif %}</label></a></li>
            <li role="presentation"><a href="#plugins" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-puzzle-piece"></i><span>{{ 'update-view.plugins' | trans }}</span>{% if numberOfUpdatesPlugins>0 %}<label id="spanNbUpdatesPlugins" class="badge bg-yellow spacing-left">{{ numberOfUpdatesPlugins }}</span>{% endif %}</label></a></li>
            <li role="presentation" class="active"><a href="#core" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-microchip"></i><span>{{ 'update-view.core' | trans }}</span>{% if numberOfUpdatesCore>0 %}<label id="spanNbUpdatesCore" class="badge bg-yellow spacing-left">{{ numberOfUpdatesCore }}</span>{% endif %}</label></a></li>
            <li class="header pull-left"><i class="fas fa-download"></i>{{ 'update-view.update_s_in_days' | trans }}{% if numberOfUpdates>0 %}<span id="spanNbUpdates" class="badge bg-red spacing-left">{{ numberOfUpdates }}</span>{% endif %}</li>
        </ul>

        <!-- Tabs content -->
        <div class="global-tab-content tab-content" id="accordionUpdate">
            <legend><i class="fas fa-clock-o"></i><span>{{ 'update-view.last_check' | trans }}</span><span class="label label-info badge spacing-left" id="lastUpdateDate"></span></legend>
            <div role="tabpanel" class="tab-pane active" id="core">
                <div class="row">
                    <div id="listCore"></div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="plugins">
                <div class="row">
                    <div id="listPlugin"></div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="widgets">
                <div class="row">
                    <div id="listWidget"></div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="scripts">
                <div class="row">
                    <div id="listScript"></div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="others">
                <div class="row">
                    <div id="listOther"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="selectiveUpdateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="bootbox-close-button close" data-dismiss="modal">×</button>
                    <h4>{{ 'update-view.selective_update' | trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">{{ 'update-view.please_consult_release_note' | trans }} <a target="_blank" href="https://nextdom.github.io/core/fr_FR/noteVersion">{{'common.here' | trans }}</a></div>
                    <fieldset>
                        <legend>{{ 'update-view.options' | trans }}</legend>
                        <div class="form-group">
                            <label class="col-xs-8 control-label label-sticker-big">{{ 'Pré-update (mettre à jour le script d\'update avant)' }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="preUpdate"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-8 control-label label-sticker-big">{{ 'update-view.save_before' | trans }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="backup::before" checked/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'update-view.select_updates' | trans }}</legend>
                        <div class="form-group">
                            <label class="col-xs-8 control-label label-sticker-big">{{ 'update-view.update_plugins' | trans }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="plugins" checked/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-8 control-label label-sticker-big">{{ 'update-view.update_the_core' | trans }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="core" checked/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'update-view.expert' | trans }}</legend>
                        <div class="form-group has-error">
                            <label class="col-xs-8 control-label label-sticker-big">{{ 'update-view.forced_mode' | trans }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="force"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="alert alert-danger">{{ 'update-view.warning_special_option'|trans }}</div>
                        <legend>{{ 'update-view.restoration' | trans }}</legend>
                        <div class="form-group has-warning">
                            <label class="col-xs-6 control-label label-sticker-big">{{ 'update-view.update_to_reapply' | trans }}</label>
                            <div class="col-xs-5">
                                <select id="sel_updateVersion" class="form-control updateOption" data-l1key="update::reapply">
                                    <option value="">{{ 'update-view.none' | trans }}</option>
                                    {% for update in updatesList %}
                                        <option value="{{ update }}">{{ update }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-minus-circle"></i>{{ 'common.cancel' | trans }}</a>
                    <a class="btn btn-success" id="startUpdateButton"><i class="fas fa-download"></i>{{ 'update-view.update' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
