{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<style>
    #div_Update-view .box-body label {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: normal;
    }

    #pre_updateInfo {
        overflow: scroll;
    }

    #div_Update-view h4.box-title {
        text-transform: capitalize;
    }

    #div_Update-view h4.box-title img{
        height:50px;
        padding-right:5px;
    }

    #div_Update-view .box-header .badge {
        text-transform: uppercase;
    }
</style>
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left spacing-right"></i>{{ 'Retour'}}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveUpdate"><i class="fas fa-save spacing-right"></i>{{ 'Sauvegarder' }}</a>
            <a class="btn btn-primary btn-action-bar pull-right" id="bt_checkAllUpdate"><i class="fas fa-refresh spacing-right"></i>{{ 'Vérifier les mises à jour' }}</a>
            <a class="btn btn-warning btn-action-bar pull-right" id="bt_updateNextDom"><i class="fas fa-check spacing-right"></i>{{ 'Mise à jour selective' }}</a>
            <a class="btn btn-default btn-action-bar pull-right" id="bt_updateOpenLog"><i class="fas fa-file-alt spacing-right"></i>{{ 'Log' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div id="div_Update-view">
        <div class="box">
            <div class="box-body">
                <div class="form-group"><i class="fas fa-clock-o spacing-right"></i><span>{{ 'Dernière vérification : ' }}</span><span class="label label-info label-sticker" id="span_lastUpdateCheck"></span></div>
                <input class="form-control" placeholder="{{ 'Rechercher...' }}" id="in_searchPlugin"/>
            </div>
        </div>

        <legend class="legend-title-alone"><i class="fas fa-microchip spacing-right"></i>{{ 'Core' }}</legend>
        <div class="row">
            <div id="listCore"></div>
        </div>

        <legend class="legend-title-alone"><i class="fas fa-puzzle-piece spacing-right"></i>{{ 'Plugins' }}</legend>
        <div class="row">
            <div id="listPlugin"></div>
        </div>

        <legend class="legend-title-alone"><i class="fas fa-boxes spacing-right"></i>{{ 'Widgets' }}</legend>
        <div class="row">
            <div id="listWidget"></div>
        </div>

        <legend class="legend-title-alone"><i class="fas fa-subscript spacing-right"></i>{{ 'Scripts' }}</legend>
        <div class="row">
            <div id="listScript"></div>
        </div>

        <legend class="legend-title-alone"><i class="fas fa-align-justify spacing-right"></i>{{ 'Autres' }}</legend>
        <div class="row">
            <div id="listOther"></div>
        </div>
    </div>

    <div id="md_updateInfo">
        <pre id="pre_updateInfo"></pre>
    </div>

    <div class="modal fade" id="md_specifyUpdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="bootbox-close-button close" data-dismiss="modal">×</button>
                    <h4>{{ 'Mise à jour selective' }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">{{ 'Avant toute mise à jour, merci de consulter la note de version du core de NextDom' }} <a target="_blank" href="https://nextdom.github.io/core/fr_FR/noteVersion">{{ 'ici' }}</a></div>
                    <fieldset>
                        <legend>{{ 'Options' }}</legend>
                        <div class="form-group">
                            <label class="col-xs-6 control-label label-sticker-big">{{ 'Pré-update (mettre à jour le script d\'update avant)' }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="preUpdate"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-6 control-label label-sticker-big">{{ 'Sauvegarder avant' }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="backup::before" checked/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'Selection des mises à jour' }}</legend>
                        <div class="form-group">
                            <label class="col-xs-6 control-label label-sticker-big">{{ 'Mettre à jour les plugins' }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="plugins" checked/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-6 control-label label-sticker-big">{{ 'Mettre à jour le core' }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="core" checked/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'Expert' }}</legend>
                        <div class="form-group has-error">
                            <label class="col-xs-6 control-label label-sticker-big">{{ 'Mode forcé' }}</label>
                            <div class="col-xs-4">
                                <input type="checkbox" class="updateOption" data-l1key="force"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="alert alert-danger">{{ 'L\'option suivante n\'est à modifier que sur demande du support sinon il faut ABSOLUMENT qu\'elle soit sur "Aucune"' }}</div>
                        <legend>{{ 'Restauration' }}</legend>
                        <div class="form-group has-warning">
                            <label class="col-xs-6 control-label label-sticker-big">{{ 'Mise à jour à réappliquer' }}</label>
                            <div class="col-xs-5">
                                <select id="sel_updateVersion" class="form-control updateOption" data-l1key="update::reapply">
                                    <option value="">{{ 'Aucune' }}</option>
                                    {% for update in updatesList %}
                                        <option value="{{ update }}">{{ update }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-minus-circle spacing-right"></i>{{ 'Annuler' }}</a>
                    <a class="btn btn-success" id="bt_doUpdate"><i class="fas fa-check spacing-right"></i>{{ 'Mettre à jour' }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
