{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<div class="md_history">
    <section class="content-header">
        <div class="action-bar">
            <div class="action-group btn-action-bar">
                <input type="text" id="in_startDate" class="form-control in_datepicker" style="width: 150px;" value="{{ dates.start }}"/>
                <input type="text" id="in_endDate" class="form-control in_datepicker" style="width: 150px;" value="{{ dates.end }}"/>
                <a class="btn btn-action-bar btn-success tooltips" style="margin-top:0px" id="bt_validChangeDate" title="{{ 'Attention : une trop grande plage de dates peut mettre très longtemps à être calculée ou même ne pas s\'afficher' }}">{{ 'Ok' }}</a>
            </div>
            <div class="action-group">
                <span class="pull-right">
                    <input type="checkbox" class="spacing-left" {% if derive == 1 %}checked{% endif %} id="cb_derive"/>
                    <label for="cb_derive" class="control-label label-check">{{ 'Variation' }}</label>
                </span>
                <span class="pull-right">
                    <input type="checkbox" class="spacing-left" {% if step == 1 %}checked{% endif %} id="cb_step"/>
                    <label for="cb_step" class="control-label label-check">{{ 'Escalier' }}</label>
                </span>
            </div>
            <div class="action-group">
                <select class="form-control pull-right" id="sel_groupingType" style="width: 200px;">
                    <option value="">{{ 'Aucun groupement' }}</option>
                    <option value="sum::hour">{{ 'Somme par heure' }}</option>
                    <option value="average::hour">{{ 'Moyenne par heure' }}</option>
                    <option value="low::hour">{{ 'Minimum par heure' }}</option>
                    <option value="high::hour">{{ 'Maximum par heure' }}</option>
                    <option value="sum::day">{{ 'Somme par jour' }}</option>
                    <option value="average::day">{{ 'Moyenne par jour' }}</option>
                    <option value="low::day">{{ 'Minimum par jour' }}</option>
                    <option value="high::day">{{ 'Maximum par jour' }}</option>
                    <option value="sum::week">{{ 'Somme par semaine' }}</option>
                    <option value="average::week">{{ 'Moyenne par semaine' }}</option>
                    <option value="low::week">{{ 'Minimum par semaine' }}</option>
                    <option value="high::week">{{ 'Maximum par semaine' }}</option>
                    <option value="sum::month">{{ 'Somme par mois' }}</option>
                    <option value="average::month">{{ 'Moyenne par mois' }}</option>
                    <option value="low::month">{{ 'Minimum par mois' }}</option>
                    <option value="high::month">{{ 'Maximum par mois' }}</option>
                    <option value="sum::year">{{ 'Somme par année' }}</option>
                    <option value="average::year">{{ 'Moyenne par année' }}</option>
                    <option value="low::year">{{ 'Minimum par année' }}</option>
                    <option value="high::year">{{ 'Maximum par année' }}</option>
                </select>
                <select class="pull-right form-control" data-cmd_id="#id#" id="sel_chartType" style="width: 100px;">
                    <option value="line">{{ 'Ligne' }}</option>
                    <option value="area">{{ 'Aire' }}</option>
                    <option value="column">{{ 'Colonne' }}</option>
                </select>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="divHightcharts" id="div_historyChart"></div>
    </section>
</div>

<script src="/public/js/modals/cmd.history.js"></script>
