{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<div class="md_history">
    <section class="content-header">
        <div class="action-bar">

            <div class="action-group">
                <label class="checkbox-inline">
                    <input type="checkbox" id='bt_areaToggle' class="graphDataOption spacing-left btn-on" data-l1key="configuration" data-l2key="graphArea">{{ 'Area' }}
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id='bt_smoothToggle' class="graphDataOption spacing-left btn-on" data-l1key="configuration" data-l2key="graphSmooth">{{ 'smooth' }}
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id='bt_steppedToggle' class="graphDataOption spacing-left btn-on" data-l1key="configuration" data-l2key="graphStep">{{ 'Escalier' }}
                </label>
                <a class="btn btn-default" id='bt_resetZoom'><i class="fas fa-search"></i>{{ 'reset zoom' }}</a>
            </div>
            <div class="action-group">
                <select class="pull-right form-control" data-cmd_id="#id#" id="sel_chartType" style="width: 100px;">
                    <option value="line">{{ 'Ligne' }}</option>
                    <option value="bar">{{ 'Barre' }}</option>
                    <option value="bubble">{{ 'Bulles' }}</option>
                </select>
            </div>
        </div>
    </section>

    <section class="content">
        <canvas class="divHightcharts" id="div_historyChart"></canvas>
    </section>
</div>

<script src="/public/js/modals/cmd.history.js"></script>