<div style="display: none;" id="md_cmdConfigureSelectMultipleAlert"></div>
<div>
    <a class="btn btn-default" id="bt_cmdConfigureSelectMultipleAlertToogle" data-state="0"><i class="far fa-check-circle"></i> {{ ' Basculer ' }}</a>
    <a class="btn btn-success pull-right" id="bt_cmdConfigureSelectMultipleAlertApply" style="color : white;"><i class="fas fa-check"></i> {{ ' Valider ' }}</a>
</div>
<br/>
<table class="table table-bordered table-condensed tablesorter" id="table_cmdConfigureSelectMultiple">
    <thead>
    <tr>
        <th></th>
        <th>{{ ' Nom ' }}</th>
    </tr>
    </thead>
    <tbody>
    {% for cmd in cmds %}
        <tr data-cmd_id="{{ cmd.getId() }}">
            <td>
                {% if currentCmd.getId() == cmd.getId() %}
                    <input type="checkbox" class="selectMultipleApplyCmd" checked/>
                {% else %}
                    <input type="checkbox" class="selectMultipleApplyCmd"/>
                {% endif %}
            </td>
            <td>
                {{ cmd.getHumanName(true)|raw }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
