{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section class="content">
    <table id="table_addViewDataHidden" style="display: none;">
        <tbody></tbody>
    </table>
    <table class="table table-condensed table-bordered tablesorter" id="table_addViewData">
        <thead>
        <tr>
            <th style="width: 50px;">#</th>
            <th style="width: 150px;">{{ 'Objet' }}</th>
            <th>{{ 'Nom' }}</th>
            <th data-sorter="false" data-filter="false">{{ 'Affichage' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for cmdData in cmdList %}
            <tr data-link_id="{{ cmdData['cmd'].getId() }}" data-type="graph" data-viewDataType="cmd">
                <td>
                    <input type="checkbox" class="enable"/>
                    <input class="graphDataOption" data-l1key="link_id" value="{{ cmdData['cmd'].getId() }}" hidden/>
                </td>
                <td class="object_name">
                    <input class="graphDataOption" data-l1key="type" value="cmd" hidden/>
                    {% if cmdData['showObject'] %}
                        {{ cmdData['eqLogicObject'].getName() }}
                    {% endif %}
                </td>
                <td class="name">
                    [{{ cmdData['eqLogic'].getName() }}] [{{ cmdData['cmd'].getName() }}]
                </td>
                <td class="display">
                    <div class="option">
                        <form class="form-inline">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <span>{{ 'Couleur' }} :</span>
                                    <input type="color" class="graphDataOption form-control input-sm spacing-left" data-l1key="configuration" data-l2key="graphColor" style="width : 110px;"/>
                                </div>
                                <div class="form-group">
                                    <select class="graphDataOption form-control input-sm" data-l1key="configuration" data-l2key="graphType">
                                        <option value="line">{{ 'Ligne' }}</option>
                                        <option value="bar">{{ 'Colonne' }}</option>
                                        <option value="bubble">{{ 'Bulles' }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 spacing-top">
                                <div class="form-group">
                                    <div class="form-group spacing-bottom">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="graphDataOption spacing-left" data-l1key="configuration" data-l2key="graphArea">{{ 'Area' }}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="graphDataOption spacing-left" data-l1key="configuration" data-l2key="graphSmooth">{{ 'Smooth' }}
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="graphDataOption spacing-left" data-l1key="configuration" data-l2key="graphStep">{{ 'Escalier' }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
<script src="/public/js/modals/cmd.graph.select.js"></script>