{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section class="content">
    <table class="table table-condensed table-bordered" id="table_mod_insertCmdValue_valueEqLogicToMessage">
        <thead>
        <tr>
            <th>{{ 'Objet' }}</th>
            <th>{{ 'Equipement' }}</th>
            <th>{{ 'Commande' }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="mod_insertCmdValue_object">
                <select class='form-control'>
                    <option value="-1">{{ 'Aucun' }}</option>
                    {% for jeeObject in jeeObjects %}
                        <option value="{{ jeeObject.getId() }}">{{ jeeObject.getName() }}</option>';
                    {% endfor %}
                </select>
            </td>
            <td class="mod_insertCmdValue_eqLogic"></td>
            <td class="mod_insertCmdValue_cmd"></td>
        </tr>
        </tbody>
    </table>
</section>

<script src="/public/js/modals/cmd.human.insert.js"></script>
