{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div style="display: none;" id="md_displayEqLogicConfigure"></div>

<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" id="bt_eqLogicConfigureClose"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" id="bt_eqLogicConfigureRawObject"><i class="fas fa-info"></i>{{ 'Informations' }}</a>
            <a class="btn btn-default btn-action-bar" id="bt_eqLogicConfigureLogRealTime"><i class="fas fa-file"></i>{{ 'Log' }}</a>
            <a class="btn btn-primary btn-action-bar" id="bt_eqLogicConfigureGraph"><i class="fas fa-object-group"></i>{{ 'Liens' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_eqLogicConfigureSave"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
            <a class="btn btn-danger btn-action-bar pull-right" id="bt_eqLogicConfigureRemove"><i class="fas fa-trash"></i>{{ 'Supprimer' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#eqLogic_information" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i>{{ 'Informations' }}</a></li>
            {% if widgetPossibilityCustom %}
                <li role="presentation"><a href="#eqLogic_display" aria-controls="messages" role="tab" data-toggle="tab"><i class="fas fa-desktop"></i>{{ 'Affichage' }}</a></li>
                {% if widgetPossibilityCustomLayout %}
                    <li role="presentation"><a href="#eqLogic_layout" aria-controls="messages" role="tab" data-toggle="tab"><i class="fas fa-th"></i>{{ 'Disposition' }}</a></li>
                {% endif %}
            {% endif %}
            <li role="presentation"><a href="#eqLogic_alert" aria-controls="messages" role="tab" data-toggle="tab"><i class="fas fa-exclamation-triangle"></i>{{ 'Alertes' }}</a></li>
            <li role="presentation"><a href="#eqLogic_comment" aria-controls="messages" role="tab" data-toggle="tab" id="bt_EqLogicConfigurationTabComment"><i class="fas fa-comment-alt"></i>{{ 'Commentaire' }}</a></li>
        </ul>

        <div class="global-tab-content tab-content" id="div_displayEqLogicConfigure">
            <div role="tabpanel" class="tab-pane active" id="eqLogic_information">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{{ 'Informations' }}</legend>
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'ID' }}</label>
                                <div class="eqLogicAttr label label-config label-primary" data-l1key="id"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Nom' }}</label>
                                <div class="eqLogicAttr label label-config label-primary" data-l1key="name"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'ID logique' }}</label>
                                <div class="eqLogicAttr label label-config label-primary" data-l1key="logicalId"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'ID de l\'objet' }}</label>
                                <div class="eqLogicAttr label label-config label-primary" data-l1key="object_id"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Type' }}</label>
                                <div class="eqLogicAttr label label-config label-primary" data-l1key="eqType_name"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Tentative échouée' }}</label>
                                <div class="label label-config label-primary">{{ statusNumberTryWithoutSuccess }}</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Date de création' }}</label>
                                <div class="eqLogicAttr label label-config label-primary" data-l1key="configuration" data-l2key="createtime"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Date de dernière communication' }}</label>
                                <div class="label label-config label-primary">{{ statusLastCommunication }}</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Date de changement de pile(s)' }}</label>
                                <div class="eqLogicAttr label label-config label-primary" data-l1key="configuration" data-l2key="batterytime"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Dernière mise à jour' }}</label>
                                <div class="eqLogicAttr label label-config label-primary" data-l1key="configuration" data-l2key="updatetime"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Tag' }}</label>
                                <div class="row col-sm-6">
                                    <input class="eqLogicAttr form-control" data-l1key="tags"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'Options' }}</legend>
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Activer' }}</label>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="eqLogicAttr" data-l1key="isEnable" checked/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">{{ 'Visible' }}</label>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="eqLogicAttr" data-l1key="isVisible" checked/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'Commandes' }}</legend>
                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>{{ 'Nom' }}</th>
                                <th>{{ 'Action' }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cmd in cmdsList %}
                                <tr class="advanceCmdConfigurationCmdConfigure" data-id="{{ cmd.getId() }}">
                                    <td>{{ cmd.getHumanName() }}</td>
                                    <td>
                                        <a class="btn btn-default btn-sm pull-right cursor bt_advanceCmdConfigurationOnEqLogicConfiguration" data-id="{{ cmd.getId() }}"><i class="fas fa-cogs"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
            {% if widgetPossibilityCustom %}
                <div role="tabpanel" class="tab-pane" id="eqLogic_display">
                    <legend>{{ 'Widget' }}</legend>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th></th>
                            {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                <th style="width:20%">{{ eqLogicDisplayType['name'] }}
                                    {% if eqLogicDisplayType['key'] == 'plan' or eqLogicDisplayType['key'] == 'view' %}
                                        <i class="fas fa-eye pull-right cursor bt_displayWidget" data-version="d{{ eqLogicDisplayType['key'] }}" aria-hidden="true"></i>
                                    {% elseif eqLogicDisplayType['key'] == 'dashboard' %}
                                        <i class="fas fa-eye pull-right cursor bt_displayWidget" data-version="{{ eqLogicDisplayType['key'] }}" aria-hidden="true"></i>
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if widgetPossibilityCustomVisibility %}
                            <tr>
                                <td>{{ 'Visible' }}</td>
                                {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                    <td>
                                        {% if eqLogicDisplayType['customVisibility'] == 1 %}
                                            <input type="checkbox" class="eqLogicAttr" data-l1key="display" data-l2key="showOn{{ eqLogicDisplayType['key'] }}" checked/>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if widgetPossibilityCustomDisplayName %}
                            <tr>
                                <td>{{ 'Afficher le nom' }}</td>
                                {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                    <td>
                                        {% if eqLogicDisplayType['customDisplayName'] %}
                                            <input type="checkbox" class="eqLogicAttr" data-l1key="display" data-l2key="showNameOn{{ eqLogicDisplayType['key'] }}" checked/>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if widgetPossibilityCustomDisplayObjectName %}
                            <tr>
                                <td>{{ 'Afficher le nom de l\'objet' }}</td>
                                {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                    <td>
                                        {% if eqLogicDisplayType['customDisplayObjectName'] %}
                                            <input type="checkbox" class="eqLogicAttr" data-l1key="display" data-l2key="showObjectNameOn{{ eqLogicDisplayType['key'] }}"/>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if widgetPossibilityCustomBackgroundColor %}
                            <tr>
                                <td>{{ 'Couleur de fond' }}</td>
                                {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                    <td>
                                        {% if eqLogicDisplayType['customBackgroundColor'] %}
                                            <label>{{ 'Defaut' }} <input type="checkbox" class="eqLogicAttr background-color-default" data-l1key="display" data-l2key="background-color-default{{ eqLogicDisplayType['key'] }}" checked/></label>
                                            <span class="span_configureBackgroundColor" style="display:none;">
                                                <label>{{ 'Transparent' }} <input type="checkbox" class="eqLogicAttr background-color-transparent" data-l1key="display" data-l2key="background-color-transparent{{ eqLogicDisplayType['key'] }}"/></label>
                                                <input type="color" class="eqLogicAttr background-color" data-l1key="display" data-l2key="background-color{{ eqLogicDisplayType['key'] }}" value="{{ eqLogicDisplayType['backgroundColor'] }}"/>
                                            </span>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if widgetPossibilityCustomBackgroundOpacity %}
                            <tr>
                                <td>{{ 'Opacité' }}
                                </td>
                                {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                    <td>
                                        {% if eqLogicDisplayType['customBackgroundOpacity'] %}
                                            <input type="numeric" class="eqLogicAttr form-control input-sm" data-l1key="display" data-l2key="background-opacity{{ eqLogicDisplayType['key'] }}" placeholder="{{ 'Entre 0 et 1' }}"/>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if widgetPossibilityCustomTextColor %}
                            <tr>
                                <td>{{ 'Couleur du texte' }}</td>
                                {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                    <td>
                                        {% if eqLogicDisplayType['customTextColor'] %}
                                            <label>{{ 'Defaut' }} <input type="checkbox" class="eqLogicAttr color-default" data-l1key="display" data-l2key="color-default{{ eqLogicDisplayType['key'] }}" checked/></label>
                                            <input type="color" class="eqLogicAttr color" data-l1key="display" data-l2key="color{{ eqLogicDisplayType['key'] }}" value="#ffffff" style="display:none;"/>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if widgetPossibilityCustomBorder %}
                            <tr>
                                <td>{{ 'Bordures' }}</td>
                                {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                    <td>
                                        {% if eqLogicDisplayType['customBorder'] %}
                                            <label>{{ 'Defaut' }} <input type="checkbox" class="eqLogicAttr border-default" data-l1key="display" data-l2key="border-default{{ eqLogicDisplayType['key'] }}" checked/></label>
                                            <input class="eqLogicAttr border form-control inline-block pull-right input-sm" data-l1key="display" data-l2key="border{{ eqLogicDisplayType['key'] }}" style="display:none;width:50%"/>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if widgetPossibilityCustomBorderRadius %}
                            <tr>
                                <td>{{ 'Arrondi des bordures (en px)' }}</td>
                                {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                    <td>
                                        {% if eqLogicDisplayType['customBorderRadius'] %}
                                            <label>{{ 'Defaut' }} <input type="checkbox" class="eqLogicAttr border-radius-default" data-l1key="display" data-l2key="border-radius-default{{ eqLogicDisplayType['key'] }}" checked/></label>
                                            <input type="number" class="eqLogicAttr border-radius form-control inline-block pull-right input-sm" data-l1key="display" data-l2key="border-radius{{ eqLogicDisplayType['key'] }}" style="display:none;width:50%"/>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% if parameters is defined %}
                            {% for parameter in parameters %}
                                <tr>
                                    <td>{{ parameter['name'] }}</td>
                                    {% for eqLogicDisplayType in eqLogicConfigurationDisplayType %}
                                        <td>
                                            {% if advancedParam %}
                                                {% if parameter['default'] != '' %}
                                                    <label>{{ 'Defaut' }} <input type="checkbox" class="eqLogicAttr advanceWidgetParameterDefault" data-l1key="display" data-l2key="advanceWidgetParameter{{ param['key']~eqLogicDisplayType['key'] }}-default" checked/></label>';
                                                {% endif %}
                                                {% if parameter['type'] == 'color' %}
                                                    {% if parameter['allow_transparent'] %}
                                                        <span class="advanceWidgetParameter" style="{{ parameter['display'] }}">
                                                    <label>{{ 'Transparent' }} <input type="checkbox" class="eqLogicAttr advanceWidgetParameterColorTransparent" data-l1key="display" data-l2key="advanceWidgetParameter{{ param['key']~eqLogicDisplayType['key'] }}-transparent"/></label>
                                                    <input type="color" class="eqLogicAttr pull-right inline-block advanceWidgetParameterColor" data-l1key="display" data-l2key="advanceWidgetParameter{{ param['key']~eqLogicDisplayType['key'] }}" value="{{ parameter['default'] }}"/>
                                                    </span>
                                                    {% else %}
                                                        <input type="color" class="eqLogicAttr pull-right advanceWidgetParameter form-control inline-block input-sm" data-l1key="display" data-l2key="advanceWidgetParameter{{ param['key']~eqLogicDisplayType['key'] }}" style="width:50%;{{ parameter['display'] }}" value="{{ parameter['default'] }}"/>
                                                    {% endif %}
                                                {% elseif parameter['type'] == 'input' %}
                                                    <input class="eqLogicAttr pull-right advanceWidgetParameter form-control inline-block input-sm" data-l1key="display" data-l2key="advanceWidgetParameter{{ param['key']~eqLogicDisplayType['key'] }}" style="width:50%;{{ parameter['display'] }}" value="{{ parameter['default'] }}"/>
                                                {% elseif parameter['type'] == 'number' %}
                                                    <input type="number" class="eqLogicAttr pull-right advanceWidgetParameter form-control inline-block input-sm" data-l1key="display" data-l2key="advanceWidgetParameter{{ param['key']~eqLogicDisplayType['key'] }}" style="width:50%;{{ parameter['display'] }}" value="{{ parameter['default'] }}"/>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    {% if widgetPossibilityCustomOptionalParameters %}
                        <legend>{{ 'Paramètres optionnels sur la tuile' }} <a class="btn btn-success btn-xs pull-right" id="bt_addWidgetParameters"><i class="fas fa-plus-circle"></i>{{ 'Ajouter' }}</a></legend>
                        <table class="table table-bordered table-condensed" id="table_widgetParameters">
                            <thead>
                            <tr>
                                <th>{{ 'Nom' }}</th>
                                <th>{{ 'Valeur' }}</th>
                                <th>{{ 'Action' }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if eqLogicDisplayParameters != '' %}
                                {% for displayKey, displayValue in eqLogicDisplayParameters %}
                                    <tr>
                                        <td>
                                            <input class="form-control key" value="{{ displayKey }}"/>
                                        </td>
                                        <td>
                                            <input class="form-control value" value="{{ displayValue }}"/>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger btn-xs removeWidgetParameter"><i class="fas fa-trash"></i>{{ 'Supprimer' }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            {% endif %}
            <div role="tabpanel" class="tab-pane" id="eqLogic_alert">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{{ 'Informations Batteries' }}</legend>
                        <label class="col-sm-2 control-label">{{ 'Type de batterie' }}</label>
                        <div class="col-sm-4">
                            <input class="eqLogicAttr form-control" data-l1key="configuration" data-l2key="battery_type"/>
                        </div>
                        <a class="btn btn-success" id="bt_resetbattery"><i class="fas fa-refresh"></i>{{ 'Pile(s) changée(s)' }}</a>
                    </fieldset>
                    <fieldset class="legend-section">
                        <legend>{{ 'Seuils spécifiques Batteries' }}</legend>
                        <label class="col-md-2 col-sm-2 col-xs-2 eqLogicAttr label label-danger label-sticker-big">{{ 'Danger' }}</label>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <input class="eqLogicAttr form-control" data-l1key="configuration" data-l2key="battery_danger_threshold"/>
                        </div>
                        <label class="col-md-2 col-sm-2 col-xs-2 label label-warning label-sticker-big">{{ 'Warning' }}</label>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <input class="eqLogicAttr form-control" data-l1key="configuration" data-l2key="battery_warning_threshold"/>
                        </div>
                        <label class="col-md-2 col-sm-2 col-xs-2 label label-success label-sticker-big">{{ 'Ok' }}</label>
                    </fieldset>
                    <fieldset class="legend-section">
                        <legend>{{ 'Alertes Communications' }}</legend>
                        <label class="col-md-2 col-sm-2 col-xs-2 eqLogicAttr label label-danger label-sticker-big">{{ 'Danger' }}</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="eqLogicAttr form-control" data-l1key="timeout"/>
                                <span class="input-group-addon">{{'minutes'}}</span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="eqLogic_comment">
                <textarea data-l1key="comment" class="form-control eqLogicAttr autogrow"></textarea>
            </div>
            <div role="tabpanel" class="tab-pane" id="eqLogic_layout">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{{ 'Configuration général' }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Disposition' }}</label>
                            <div class="col-sm-2">
                                <select class="eqLogicAttr form-control sel_layout" data-l1key="display" data-l2key="layout::dashboard">
                                    <option value="default">{{ 'Défaut' }}</option>
                                    <option value="table">{{ 'Tableau' }}</option>
                                </select>
                            </div>
                        </div>
                        <div id="widget_layout_table" style="display: none;">
                            <legend class="legend-section">{{ 'Options' }}</legend>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ 'Nombre de lignes' }}</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" step="1" class="eqLogicAttr form-control input-sm" data-l1key="display" data-l2key="layout::dashboard::table::nbLine"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ 'Nombre de colonnes' }}</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" step="1" class="eqLogicAttr form-control input-sm" data-l1key="display" data-l2key="layout::dashboard::table::nbColumn"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ 'Centrer dans les cases' }}</label>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="eqLogicAttr" data-l1key="display" data-l2key="layout::dashboard::table::parameters" data-l3key="center"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ 'Style général des cases' }}</label>
                                <div class="col-sm-10">
                                    <input class="eqLogicAttr form-control input-sm" data-l1key="display" data-l2key="layout::dashboard::table::parameters" placeholder="{{ '(CSS)' }}" data-l3key="styletd"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ 'Style du tableau' }}</label>
                                <div class="col-sm-10">
                                    <input class="eqLogicAttr form-control" data-l1key="display" data-l2key="layout::dashboard::table::parameters" placeholder="{{ '(CSS)' }}" data-l3key="styletable"/>
                                </div>
                            </div>
                            <legend class="legend-section">{{ 'Configuration détaillée' }}</legend>
                            <table class="table table-bordered table-condensed" id="tableCmdLayoutConfiguration">
                                <tbody>
                                {% for row in range(1, displayDashboardNbLines) %}
                                    <tr>
                                        {% for col in range(1, displayDashboardNbColumns) %}
                                            <td data-line="{{ row }}" data-column="{{ col }}">
                                                <div class="cmdLayoutContainer text-center" style="min-height:30px">
                                                    {% if dashboardCmd[row][col] is defined and dashboardCmd[row][col]|length > 0 %}
                                                        {% for cmd in dashboardCmd[row][col] %}
                                                            <span class="label label-sticker label-default cmdLayout cursor" data-cmd_id="{{ cmd.getId() }}">{{ cmd.getName() }}</span>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <input class="eqLogicAttr form-control input-sm text-center spacing-bottom" data-l1key="display"
                                                       data-l2key="layout::dashboard::table::parameters"
                                                       data-l3key="text::td::{{ row }}::{{ col }}" placeholder="{{ 'Titre de la case' }}"/>
                                                <input class="eqLogicAttr form-control input-sm" data-l1key="display"
                                                       data-l2key="layout::dashboard::table::parameters"
                                                       data-l3key="style::td::{{ row }}::{{ col }}" placeholder="{{ 'Style CSS de la case' }}"/>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/public/js/modals/eqLogic.configure.js"></script>
