{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <div class="input-group">
                <input type="text" class="form-control" id="in_iconSelectorSearch" placeholder="Rechercher une icône...">
                <span class="input-group-addon cursor" id="bt_iconReset"><i class="fas fa-times"></i></span>
            </div>
        </div>
        <div class="action-group">
            <a class="btn btn-action btn-action-bar pull-right" style="display:none;" id="bt_iconCollapse"><i class="fas fa-plus-square"></i>{{ 'Déplier' }}</a>
            <a class="btn btn-action btn-action-bar pull-right" id="bt_iconUncollapse"><i class="fas fa-minus-square"></i>{{ 'Replier' }}</a>
        </div>
    </div>
</section>

<section class="content">
    {% for icons in iconsList %}
        {% set iconCounter = 0 %}
        <div class="panel box box-primary">
            <a class="box-header with-border accordion-toggle" data-toggle="collapse" data-parent="" href="#config_{{ icons['name'] }}">
                <h3 class="box-title">
                    <span>{{ icons['name']|upper }}</span>
                </h3>
            </a>
            <div id="config_{{ icons['name'] }}" class="panel-collapse collapse in">
                <div class="box-body">
                    {% for icon in icons['list'] %}
                        <a class="btn btn-selector">
                            <div class="iconSel"><i class="icon {{ icon }}"></i></div>
                            <span>{{ icon|split('-',2)|last }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>

<script src="/public/js/modals/icon.selector.js"></script>
