{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <div class="btn-group">
                <select id="sel_plugin" class="form-control">
                    <option value="" selected="selected">{{ 'Tout' }}</option>
                    {% for plugin in messagePluginsList %}
                        {% if messageSelectedPlugin == plugin['plugin'] %}
                            <option value="{{ plugin['plugin'] }}" selected="selected">{{ plugin['plugin'] }}</option>
                        {% else %}
                            <option value="{{ plugin['plugin'] }}">{{ plugin['plugin'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="action-group">
            <a class="btn btn-action-bar btn-danger pull-right" id="bt_clearMessage"><i class="fas fa-trash"></i>{{ 'Vider' }}</a>
            <a class="btn btn-action-bar btn-warning pull-right" id="bt_refreshMessage"><i class="fas fa-sync"></i>{{ 'Rafraichir' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <table class="table table-condensed table-bordered tablesorter" id="table_message">
                <thead>
                <tr>
                    <th data-sorter="false" data-filter="false"></th>
                    <th>{{ 'Date et heure' }}</th>
                    <th>{{ 'Plugin' }}</th>
                    <th>{{ 'Description' }}</th>
                    <th data-sorter="false" data-filter="false">{{ 'Action' }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for message in messagesList %}
                        <tr data-message_id="{{ message.getId() }}">
                            <td class="td-btn">
                                <div class="btn btn-sm btn-danger removeMessage"><i class="fas fa-trash"></i></div>
                            </td>
                            <td class="td-datetime">{{ message.getDate() }}</td>
                            <td>{{ message.getPlugin() }}</td>
                            <td class="td-description">{{ message.getMessage()|raw }}</td>
                            <td>{{ message.getAction() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script src="/public/js/modals/message.js"></script>
