<div id="div_alertObjectSummary"></div>
<table class="table table-bordered table-condensed tablesorter" id="table_ObjectSummary">
    <thead>
    <tr>
        <th style="cursor:default">{{ 'ID' }}</th>
        <th style="cursor:default">{{ 'Objet' }}</th>
        <th style="cursor:default">{{ 'Père' }}</th>
        <th style="cursor:default" data-sorter="false" data-filter="false">{{ 'Visible' }}</th>
        <th style="cursor:default" data-sorter="false" data-filter="false">{{ 'Masqué' }}</th>
        <th style="cursor:default" data-sorter="false" data-filter="false">{{ 'Résumé Défini' }} <sup style="cursor:default" title="Si grisé, alors il n'est pas remonté en résumé global">?</th>
        <th style="cursor:default" data-sorter="false" data-filter="false">{{ 'Résumé Dashboard Masqué' }}</th>
        <th style="cursor:default" data-sorter="false" data-filter="false">{{ 'Résumé Mobile Masqué' }}</th>
    </tr>
    </thead>
    <tbody>

    {% for object in objectsTree %}
        <tr class="tr_object" data-object_id="{{ object.getId() }}">
            <td><span class="label label-info txtSizeNormal">{{ object.getId() }}</span></td>
            <td>
                {% set parentNumber = object.getConfiguration('parentNumber') %}
                {% for i in 0..parentNumber %}
                    &nbsp;&nbsp;&nbsp;
                {% endfor %}
                <span style="font-size : 1.3em;">{{ object.getHumanName(true, true)|raw }}</span>
            </td>
            {% set father = object.getFather() %}
            {% if father %}
                <td><span class="txtSizeNormal">{{ father.getHumanName(true, true)|raw }}</span></td>
            {% else %}
                <td><span class="label label-info txtSizeNormal"></span></td>
            {% endif %}
            {% if object.getIsVisible() %}
                <td><span class="label label-success txtSizeNormal" title="{{ 'Oui' }}"><i class="fas fa-check"></i></span></td>
            {% else %}
                <td><span class="label label-danger txtSizeNormal" title="{{ 'Non' }}"><i class="fas fa-times"></i></span></td>
            {% endif %}
            {% if object.getConfiguration('hideOnDashboard', 0) == 1 %}
                <td><span class="label label-success txtSizeNormal" title="{{ 'Oui' }}"><i class="fas fa-check"></i></span></td>
            {% else %}
                <td><span class="label label-danger txtSizeNormal" title="{{ 'Non' }}"><i class="fas fa-times"></i></span></td>
            {% endif %}
            <td>
                {% if configObjectSummary[object.getId()] is defined %}
                    {% for summary in configObjectSummary[object.getId()] %}
                        <a style="cursor:default;text-decoration:none;{% if summary['global'] %}color:grey{% endif %}" title="{{ summary['title'] }}">{{ summary['icon']|raw }}<sup> {{ summary['count'] }}</sup></a>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% for summary in summaryDesktopHidden %}
                    <a style="cursor:default;text-decoration:none;" title="{{ summary['name'] }}">{{ summary['icon'] }}</a>
                {% endfor %}
            </td>
            <td>
                {% for summary in summaryMobileHidden %}
                    <a style="cursor:default;text-decoration:none;" title="{{ summary['name'] }}">{{ summary['icon'] }}</a>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    initTableSorter();

    $("#table_ObjectSummary").sortable({
        axis: "y",
        cursor: "move",
        items: ".tr_object",
        placeholder: "ui-state-highlight",
        tolerance: "intersect",
        forcePlaceholderSize: true,
        stop: function (event, ui) {
            var objects = [];
            $('#table_ObjectSummary .tr_object').each(function () {
                objects.push($(this).attr('data-object_id'));
            });
            nextdom.object.setOrder({
                objects: objects,
                error: function (error) {
                    $('#div_alertObjectSummary').showAlert({message: error.message, level: 'danger'});
                }
            });
        }
    });
</script>
