<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>{{ 'Nom' }}</th>
        <th>{{ 'Statut' }}</th>
        <th>{{ 'Configuration' }}</th>
        <th>{{ '(Re)Démarrer' }}</th>
        <th>{{ 'Arrêter' }}</th>
        <th>{{ 'Gestion automatique' }}</th>
        <th style="min-width:100px;">{{ 'Dernier lancement' }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ 'Local' }}</td>
        <td class="deamonState">
            {% if daemonInfoState == 'ok' %}
                <span class="label label-success label-sticker-sm">{{ 'OK' }}</span>
            {% elseif daemonInfoState == 'nok' %}
                <span class="label label-danger label-sticker-sm">{{ 'NOK' }}</span>
            {% else %}
                <span class="label label-warning label-sticker-sm">{{ daemonInfoState }}</span>
            {% endif %}
        </td>
        <td class="deamonLaunchable">
            {% if daemonInfoLaunchable == 'ok' %}
                <span class="label label-success label-sticker-sm">{{ 'OK' }}</span>
            {% elseif daemonInfoLaunchable == 'nok' %}
                <span class="label label-danger label-sticker-sm">{{ 'NOK' }}</span><i class="spacing-right"></i><span class="label label-primary label-sticker-sm">{{ daemonInfoLaunchableMessage }}</span>
            {% else %}
                <span class="label label-warning label-sticker-sm">{{ daemonInfoLaunchable }}</span>
            {% endif %}
        </td>
        <td>
            <a class="btn btn-success btn-sm bt_startDeamon"><i class="fas fa-play"></i></a>
        </td>
        <td>
            <a class="btn btn-danger btn-sm bt_stopDeamon"><i class="fas fa-stop"></i></a>
        </td>
        <td>
            {% if daemonInfoAuto == 1 %}
                <a class="btn btn-danger btn-sm bt_changeAutoMode" data-mode="0"><i class="fas fa-times"></i>{{ 'Désactiver' }}</a>
            {% else %}
                <a class="btn btn-success btn-sm bt_changeAutoMode" data-mode="1"><i class="fas fa-magic"></i>{{ 'Activer' }}</a>
            {% endif %}
        </td>
        <td class="td_lastLaunchDeamon">
            {% if daemonInfoLastLaunch is defined %}
                {{ daemonInfoLastLaunch }}
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
<script>
    var timeout_refreshDeamonInfo = null;

    function refreshDeamonInfo() {
        var in_progress = true;
        var nok = false;
        nextdom.plugin.getDeamonInfo({
            id: plugin_id,
            success: function (data) {
                switch (data.state) {
                    case 'ok':
                        if (data.auto == 1) {
                            $('.bt_stopDeamon').show();
                        }
                        $('.deamonState').empty().append('<span class="label label-success label-sticker-sm">{{ 'OK' }}</span>');
                        break;
                    case 'nok':
                        if (data.auto == 1) {
                            nok = true;
                        }
                        $('.bt_stopDeamon').hide();
                        $('.deamonState').empty().append('<span class="label label-danger label-sticker-sm">{{ 'NOK' }}</span>');
                        break;
                    default:
                        $('.deamonState').empty().append('<span class="label label-warning label-sticker-sm">' + data.state + '</span>');
                }
                switch (data.launchable) {
                    case 'ok':
                        $('.bt_startDeamon').show();
                        if (data.auto == 1 && data.state == 'ok') {
                            $('.bt_stopDeamon').show();
                        }
                        $('.deamonLaunchable').empty().append('<span class="label label-success label-sticker-sm">{{ 'OK' }}</span>');
                        break;
                    case 'nok':
                        if (data.auto == 1) {
                            nok = true;
                        }
                        $('.bt_startDeamon').hide();
                        $('.bt_stopDeamon').hide();
                        $('.deamonLaunchable').empty().append('<span class="label label-danger label-sticker-sm">{{ 'NOK' }}</span><i class="spacing-right"></i><span class="label label-primary label-sticker-sm" style="white-space: unset;">' + data.launchable_message +'</span>');
                        break;
                    default:
                        $('.deamonLaunchable').empty().append('<span class="label label-warning label-sticker-sm">' + data.state + '</span>');
                }
                $('.td_lastLaunchDeamon').empty().append(data.last_launch);
                if (data.auto == 1) {
                    $('.bt_stopDeamon').hide();
                    $('.bt_changeAutoMode').removeClass('btn-success').addClass('btn-danger');
                    $('.bt_changeAutoMode').attr('data-mode', 0);
                    $('.bt_changeAutoMode').html('<i class="fas fa-times"></i>{{ 'Désactiver' }}');
                } else {
                    if (data.launchable == 'ok' && data.state == 'ok') {
                        $('.bt_stopDeamon').show();
                    }
                    $('.bt_changeAutoMode').removeClass('btn-danger').addClass('btn-success');
                    $('.bt_changeAutoMode').attr('data-mode', 1);
                    $('.bt_changeAutoMode').html('<i class="fas fa-magic"></i>{{ 'Activer' }}');
                }
                if (!nok) {
                    $("#div_plugin_deamon").closest('.box').removeClass('box-danger').addClass('box-success');
                } else {
                    $("#div_plugin_deamon").closest('.box').removeClass('box-success').addClass('box-danger');
                }

                if ($("#div_plugin_deamon").is(':visible')) {
                    timeout_refreshDeamonInfo = setTimeout(refreshDeamonInfo, 5000);
                }
            }
        });
    }

    refreshDeamonInfo();

    $('.bt_startDeamon').on('click', function () {
        clearTimeout(timeout_refreshDeamonInfo);
        savePluginConfig({
            relaunchDeamon: false,
            success: function () {
                nextdom.plugin.deamonStart({
                    id: plugin_id,
                    forceRestart: 1,
                    error: function (error) {
                        notify("Erreur", error.message, 'error');
                        refreshDeamonInfo();
                        timeout_refreshDeamonInfo = setTimeout(refreshDeamonInfo, 5000);
                    },
                    success: function () {
                        refreshDeamonInfo();
                        timeout_refreshDeamonInfo = setTimeout(refreshDeamonInfo, 5000);
                    }
                });
            }
        });
    });

    $('.bt_stopDeamon').on('click', function () {
        clearTimeout(timeout_refreshDeamonInfo);
        nextdom.plugin.deamonStop({
            id: plugin_id,
            error: function (error) {
                notify("Erreur", error.message, 'error');
                refreshDeamonInfo();
                timeout_refreshDeamonInfo = setTimeout(refreshDeamonInfo, 5000);
            },
            success: function () {
                refreshDeamonInfo();
                timeout_refreshDeamonInfo = setTimeout(refreshDeamonInfo, 5000);
            }
        });
    });

    $('.bt_changeAutoMode').on('click', function () {
        clearTimeout(timeout_refreshDeamonInfo);
        var mode = $(this).attr('data-mode');
        nextdom.plugin.deamonChangeAutoMode({
            id: plugin_id,
            mode: mode,
            error: function (error) {
                notify("Erreur", error.message, 'error');
                refreshDeamonInfo();
                timeout_refreshDeamonInfo = setTimeout(refreshDeamonInfo, 5000);
            },
            success: function () {
                refreshDeamonInfo();
                timeout_refreshDeamonInfo = setTimeout(refreshDeamonInfo, 5000);
            }
        });
    });
</script>
