{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section>
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>{{ 'Nom' }}</th>
            <th>{{ 'Statut' }}</th>
            <th>{{ 'Configuration' }}</th>
            <th>{{ '(Re)Démarrer' }}</th>
            <th>{{ 'Arrêter' }}</th>
            <th>{{ 'Gestion automatique' }}</th>
            <th>{{ 'Dernier lancement' }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'Local' }}</td>
            <td class="deamonState">
                {% if daemonInfoState == 'ok' %}
                    <span class="label label-success label-sticker-sm">{{ 'OK' }}</span>
                {% elseif daemonInfoState == 'nok' %}
                    <span class="label label-danger label-sticker-sm">{{ 'NOK' }}</span>
                {% else %}
                    <span class="label label-warning label-sticker-sm">{{ daemonInfoState }}</span>
                {% endif %}
            </td>
            <td class="deamonLaunchable">
                {% if daemonInfoLaunchable == 'ok' %}
                    <span class="label label-success label-sticker-sm">{{ 'OK' }}</span>
                {% elseif daemonInfoLaunchable == 'nok' %}
                    <span class="label label-danger label-sticker-sm">{{ 'NOK' }}</span><i class="spacing-right"></i><span class="label label-primary label-sticker-sm">{{ daemonInfoLaunchableMessage }}</span>
                {% else %}
                    <span class="label label-warning label-sticker-sm">{{ daemonInfoLaunchable }}</span>
                {% endif %}
            </td>
            <td>
                <a class="btn btn-success btn-sm bt_startDeamon"><i class="fas fa-play no-spacing"></i></a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm bt_stopDeamon"><i class="fas fa-stop no-spacing"></i></a>
            </td>
            <td>
                {% if daemonInfoAuto == 1 %}
                    <a class="btn btn-danger btn-sm bt_changeAutoMode" data-mode="0"><i class="fas fa-times"></i>{{ 'Désactiver' }}</a>
                {% else %}
                    <a class="btn btn-success btn-sm bt_changeAutoMode" data-mode="1"><i class="fas fa-magic"></i>{{ 'Activer' }}</a>
                {% endif %}
            </td>
            <td class="td_lastLaunchDeamon">
                {% if daemonInfoLastLaunch is defined %}
                    {{ daemonInfoLastLaunch }}
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</section>

<script src="/public/js/modals/plugin.daemon.js"></script>
