{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>{{ 'Nom' }}</th>
                <th>{{ 'Statut' }}</th>
                <th>{{ 'Installation' }}</th>
                <th>{{ 'Dernière installation' }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'Local' }}</td>
                <td class="dependancyState">
                    {% if dependencyInfo['state'] == 'ok' %}
                        <span class="label label-success label-sticker">{{ 'OK' }}</span>
                    {% elseif dependencyInfo['state'] == 'nok' %}
                        <span class="label label-danger label-sticker">{{ 'NOK' }}</span>
                    {% elseif dependencyInfo['state'] == 'in_progress' %}
                        <span class="label label-primary label-sticker"><i class="fas fa-spinner fa-spin"></i>{{ 'Installation en cours' }}
                            {% if dependencyInfo['progression'] is defined and dependencyInfo['progression'] != '' %}
                                 - {{ dependencyInfo['progression'] }} %
                            {% endif %}
                            {% if dependencyInfo['duration'] is defined and dependencyInfo['duration'] != -1 %}
                                - {{ dependencyInfo['duration'] }} min
                            {% endif %}
                        </span>
                    {% else %}
                        <span class="label label-warning label-sticker">' . $dependancy_info['state'] . '</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-warning btn-sm launchInstallPluginDependancy"><i class="fas fa-bicycle"></i>{{ 'Relancer' }}</a>
                </td>
                <td class="td_lastLaunchDependancy">
                    {{ dependencyInfo['last_launch'] }}
                </td>
            </tr>
        </tbody>
    </table>
</section>

<script src="/public/js/modals/plugin.dependency.js"></script>
