{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="div_alertRemoveHistory"></div>

<section class="form-group">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" id="bt_emptyRemoveHistory"><i class="fas fa-trash"></i>{{ 'Vider' }}</a>
        </div>
    </div>
</section>

<section>
    <table class="table table-condensed tablesorter">
        <thead>
        <tr>
            <th>{{ 'Date' }}</th>
            <th>{{ 'Type' }}</th>
            <th>{{ 'ID' }}</th>
            <th>{{ 'Nom' }}</th>
        </tr>
        </thead>
        <tbody>
        {% if removeHistory|length > 0 %}
            {% for history in removeHistory %}
                <tr>
                    <td>{{ history['date'] }}</td>
                    <td>{{ history['type'] }}</td>
                    <td>{{ history['id'] }}</td>
                    <td>{{ history['name'] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</section>

<script>
    $('#bt_emptyRemoveHistory').on('click', function () {
        nextdom.emptyRemoveHistory({
            error: function (error) {
                notify('Core', error.message, 'error');
            },
            success: function (data) {
                notify("Core", '{{ 'Historique vidée avec succès' }}', "success");
            }
        });
    });

    initTableSorter();
</script>
