<a class="btn btn-success btn-sm pull-right" id="bt_saveSummaryScenario"><i class="fas fa-save"></i>{{ 'Enregistrer' }}</a>
<br/><br/>
<textarea id="ta_scenarioJsonEdit_scenario">
{{ scenarioJson }}
</textarea>

<script type="text/javascript">
    fileEditor = CodeMirror.fromTextArea(document.getElementById("ta_scenarioJsonEdit_scenario"), {
        lineNumbers: true,
        mode: 'application/json',
        matchBrackets: true
    });
    fileEditor.getWrapperElement().style.height = ($('#ta_scenarioJsonEdit_scenario').closest('.ui-dialog-content').height() - 90) + 'px';
    fileEditor.refresh();

    $('#bt_saveSummaryScenario').on('click', function () {
        $.hideAlert();
        if (fileEditor == undefined) {
            notify("Erreur", {{ 'Erreur editeur non défini' }}, 'error');
            return;
        }
        try {
            JSON.parse(fileEditor.getValue());
        } catch (e) {
            notify("Erreur", {{ 'Champs json invalide' }}, 'error');
            return;
        }
        var scenario = {
            id: scenarioJsonEdit_scenario_id,
            elements: json_decode(fileEditor.getValue())
        };
        nextdom.scenario.save({
            scenario: scenario,
            error: function (error) {
                notify("Erreur", error.message, 'error');
            },
            success: function (data) {
                notify("Core", {{ 'Sauvegarde réussie' }}, 'success');
                if (typeof printScenario === "function") {
                    printScenario(scenarioJsonEdit_scenario_id);
                }
            }
        });
    })
</script>
