{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div style="display: none;" id="md_scenarioTemplate"></div>

<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-primary btn-action-bar btn-file"><i class="fas fa-file-import"></i>{{ 'Importer un template' }}
                <input id="bt_uploadScenarioTemplate" type="file" name="file" data-url="core/ajax/scenario.ajax.php?action=templateupload" style="display : inline-block;">
            </a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_scenarioTemplateConvert"><i class="fas fa-plus-circle"></i>{{ 'Créer un template du scénario actuel' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_template" aria-controls="tab_template" role="tab" data-toggle="tab"><i class="fas fa-cubes"></i>{{ 'Templates locaux' }}</a></li>
            {% for repoCode, repoValues in repoList %}
                {% if repoValues['enable'] and (repoValues['score']['hasScenarioStore'] or repoValues['scope']['hasScenarioStore']) %}
                    <li role="presentation"><a href="#tab_{{ repoCode }}" class="marketTab" aria-controls="tab_{{ repoCode }}" role="tab" data-toggle="tab"><i class="fas fa-shopping-cart"></i>{{ 'Templates' }} {{ repoValues['name'] }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content" id="div_scenarioTemplates">
            <div role="tabpanel" class="tab-pane active row" id="tab_template">
                <fieldset class="col-xs-5" style="overflow-y:auto;overflow-x:hidden;">
                    <legend>{{ 'Templates' }}</legend>
                    <div class="bs-sidebar form-group">
                        <p class="alert alert-warning" id="noTemplate">{{ 'Aucun template...' }}</p>
                        <ul class="nav nav-list bs-sidenav list-group" id="ul_scenarioTemplateList"></ul>
                    </div>
                </fieldset>

                <fieldset class="col-xs-7 left-border" id="div_scenarioTemplateParametreConfiguration" style="display:none;overflow-y:hidden;overflow-x:hidden;">
                    <legend>{{ 'Gestion du template' }}</legend>
                    <div class="row">
                        <div class="form-group col-xs-12 col-padding">
                            <label class="control-label">{{ 'Actions' }}</label>
                            <div class="mix-group">
                                <a class="btn btn-danger" id="bt_scenarioTemplateRemove"><i class="fas fa-times"></i>{{ 'Supprimer' }}</a>
                                <a class="btn btn-primary" id="bt_scenarioTemplateDownload"><i class="fas fa-file-export"></i>{{ 'Exporter' }}</a>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-padding">
                            <label class="control-label">{{ 'Appliquer au scénario actuel' }}</label>
                            <div class="mix-group">
                                <a class="btn btn-success" id="bt_scenarioTemplateApply"><i class="fas fa-check-circle"></i>{{ 'Nouvelle commandes' }}</a>
                                <a class="btn btn-warning" id="bt_scenarioTemplateApplyOldVar"><i class="fas fa-history"></i>{{ 'Anciennes commandes' }}</a>
                            </div>
                        </div>
                    </div>

                    <legend>{{ 'Paramètres / Variables / Commandes du template pour l\'application au scénario actuel' }}</legend>
                    <div class="row">
                        <div id="div_scenarioTemplateParametreList"></div>
                    </div>
                </fieldset>
            </div>

            {% for repoCode, repoValues in repoList %}
                {% if repoValues['enable'] and (repoValues['score']['hasScenarioStore'] or repoValues['scope']['hasScenarioStore']) %}
                    <div role="tabpanel" class="tab-pane templateMarketTab" data-code="{{ repoCode }}" id="tab_{{ repoCode }}"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<script src="/public/js/modals/scenario.template.js"></script>
