{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="div_alertTwoFactorAuthentification"></div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fas fa-cogs"></i>{{ 'Etape 1 : Installation sur le téléphone' }}
        </h3>
    </div>
    <div class="box-body">
        <p class="alert alert-info">
            {{ 'La vérification en '}}<strong>{{ '2 étapes'}}</strong>{{ ' fournit une couche supplémentaire de protection pour votre compte' }} {{ productName }}.<br>
            {{ 'Une fois la vérification en 2 étapes configurée, votre mot de passe sera nécessaire en plus d’un code de vérification unique pour vous connecter.' }}<br>
            {{ 'Veuillez noter qu’un appareil mobile sera nécessaire pour générer des '}}<strong>{{ 'codes'}}</strong>{{ ' de vérification.' }}
        </p>
        <p class="alert alert-success">
            {{ 'Veuillez installer une application d’authentification sur votre appareil mobile.' }}<br>
            {{ 'Si vous n’en avez pas encore installé une,' }} {{ productName }} {{ 'prend en charge les applications d’authentification suivantes : ' }}<br>
            <strong>{{ '- Populaires  :'}}</strong>
            {{ ' Google Authenticator (' }}
            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=fr" target="_blank">{{ 'Android' }}</a>{{', ' }}
            <a href="https://itunes.apple.com/fr/app/google-authenticator/id388497605?mt=8" target="_blank">{{ 'iOS' }}</a>{{', '}}
            <a href="https://appworld.blackberry.com/webstore/content/19908006/?countrycode=FR&lang=en" target="_blank">{{ 'BlackBerry' }}</a>{{' ) ou '}}
            {{ 'Microsoft Authenticator (' }}
            <a href="https://play.google.com/store/apps/details?id=com.azure.authenticator" target="_blank">{{ 'Android' }}</a>{{', ' }}
            <a href="https://itunes.apple.com/app/microsoft-authenticator/id983156458" target="_blank">{{ 'iOS' }}</a>{{', ' }}
            <a href="https://www.microsoft.com/fr-fr/p/microsoft-authenticator/9nblgggzmcj6?cid=msft_web_chart" target="_blank">{{'Windows Phone' }}</a></a>{{' ). '}}<br>
            <strong>{{ '- Open Source  :'}}</strong>
            {{ ' andOTP (' }}
            <a href="https://play.google.com/store/apps/details?id=org.shadowice.flocke.andotp&hl=fr" target="_blank">{{ 'Android' }}</a>{{' ).' }}<br>
        </p>
        <p class="alert alert-warning">{{ 'A noter que la double authentification n\'est necessaire que pour les connexions externe, elle ne sera donc pas active sur une connexion local.' }}</p>
    </div>
</div>

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fas fa-cogs"></i>{{ 'Etape 2 : Configuration' }}
        </h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-9">
                <p class="alert alert-info">{{ 'Ouvrez et configurez l’application d’authentification en scannant le code QR ci-contre :' }}</p>
                <p class="alert alert-warning">{{ 'Vous pouvez aussi entrer manuellement le code suivant : ' }}<strong>{{ userTwoFactorSecret }}</strong></p>
            </div>
            <div class="col-xs-3">
                <div class="form-group text-center">
                    <img style="height:120px;" src="{{ google2FaUrl }}"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fas fa-cogs"></i>{{ 'Etape 3 : Vérification' }}
        </h3>
    </div>
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>
                <p class="alert alert-info">{{ 'Veuillez entrer le code fourni pour vérification et activation de la double authentification :' }}</p>
                <div class="form-group">
                    <label class="col-xs-4 control-label">{{ 'Code de test' }}</label>
                    <div class="col-xs-3">
                        <input class="form-control" id="in_testCode"/>
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-success" id="bt_validateTestCode">{{ 'OK' }}</a>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-danger" id="bt_closeTestCode" style="display:none"><i class="fas fa-times"></i>{{ 'Fermer' }}</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script src="/public/js/modals/twoFactor.authentification.js"></script>
