{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div id="div_alertViewConfigure"></div>

    <div class="action-bar">
        <div class="action-group">
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveConfigureView"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="div_viewConfigure">
        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">
                <fieldset>
                    <legend><i class="fas fa-cog"></i>{{ 'Général' }}</legend>
                    <input type="text"  class="viewAttr form-control" data-l1key="id" style="display: none;"/>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">{{ 'Nom' }}</label>
                        <div class="col-lg-2">
                            <input class="viewAttr form-control" data-l1key="name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">{{ 'Icône' }}</label>
                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                            <div class="input-group">
                                <a class="btn btn-action" id="bt_chooseIcon"><i class="fas fa-flag"></i><span>{{ 'Choisir' }}</span></a>
                                <div class="viewAttr label label-icon" data-l1key="display" data-l2key="icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">{{ 'Image (marche uniquement avec le thème NextDom)' }}</label>
                        <div class="col-lg-8">
                            <span class="btn btn-default btn-file">
                                <i class="fas fa-cloud-upload-alt"></i> {{ 'Envoyer' }}<input  id="bt_uploadImage" type="file" name="file" style="display: inline-block;">
                            </span>
                            <a class="btn btn-danger" id="bt_removeBackgroundImage"><i class="fas fa-trash"></i>{{ 'Supprimer l\'image' }}</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>

<script src="/public/js/modals/view.configure.js"></script>
