{#
/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section class="content-header">
    <div class="alert alert-success">
        <div class="row">
            <div class="col-sm-6">
                <h4><i class="fas fa-thumbs-up"></i>{{ 'welcome.congrats'|trans }}</h4>
                <span>{{ 'welcome.congrats-content'|trans|replace({'%productName%':productName}) }}</span>
            </div>
            <div class="col-sm-6">
                <button id="btn_doNotDisplayWelcomeModalAnymore" class="btn btn-default pull-right">
                    <i class="fas fa-eye-slash"></i>{{ 'welcome.never-show'|trans }}
                </button>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-puzzle-piece"></i>{{ 'welcome.hot-plugins'|trans }}</h3>
                </div>
                <div class="box-body">
                    <div id="welcome-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#welcome-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#welcome-carousel" data-slide-to="1"></li>
                            <li data-target="#welcome-carousel" data-slide-to="2"></li>
                            <li data-target="#welcome-carousel" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://github.com/NextDom/plugin-AndroidRemoteControl/raw/master/docs/images/AndroidRemoteControl_icon.png" alt="Android Remote Control">
                                <div class="carousel-caption"></div>
                            </div>
                            <div class="item">
                                <img src="https://github.com/NextDom/plugin-PulseAudio/raw/master/docs/images/PulseAudio_icon.png" alt="Pulse Audio">
                                <div class="carousel-caption"></div>
                            </div>
                            <div class="item">
                                <img src="https://github.com/NextDom/plugin-Ftpd/raw/master/plugin_info/ftpd_icon.png" alt="FTPd">
                                <div class="carousel-caption"></div>
                            </div>
                            <div class="item">
                                <img src="https://github.com/NextDom/plugin-Multiloc/raw/develop/plugin_info/Multiloc_icon.png" alt="Multiloc">
                                <div class="carousel-caption"></div>
                            </div>
                        </div>
                        <a class="left carousel-control text_color" href="#welcome-carousel" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control text_color" href="#welcome-carousel" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="migration-box" class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-rocket"></i>{{ 'welcome.migrate-from'|trans }}<i class="fas fa-caret-right spacing-left"></i>{{ productName }}</h3>
                </div>
                <div class="box-body">
                    <div class="text-center">
                        <a href="index.php?v=d&p=backup"><i class="fas fa-rocket text-nextdom_blue"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-book"></i>{{ 'welcome.doc-title'|trans }}</h3>
                </div>
                <div class="box-body">
                    <p class="lead">{{ 'welcome.doc-subtitle'|trans }}</p>
                    <p class="text-muted">{{ 'welcome.doc-content'|trans|replace({'%productName%':productName})|nl2br }}</p>
                    <p><a href="http://www.nextdom.org/docs" class="text_color">{{ 'welcome.doc-launch'|trans }}</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-comments"></i>{{ 'welcome.forum-title'|trans }}</h3>
                </div>
                <div class="box-body">
                    <p class="lead">{{ 'welcome.forum-subtitle'|trans }}</p>
                    <p class="text-muted">{{ 'welcome.forum-content'|trans|replace({'%productName%':productName})|nl2br }}</p>
                    <p><a href="http://www.nextdom.org/forum" class="text_color">{{ 'welcome.forum-launch'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-rss-square"></i>{{ 'welcome.blog-title'|trans }}</h3>
                </div>
                <div class="box-body">
                    <p class="lead">{{ 'welcome.blog-subtitle'|trans }}</p>
                    <p class="text-muted">{{ 'welcome.blog-content'|trans|replace({'%productName%':productName})|nl2br }}</p>
                    <p><a href="http://www.nextdom.org/blog" class="text_color">{{ 'welcome.blog-launch'|trans }}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<style type="text/css"> <!-- @import url("/public/css/modals/welcome.css"); --> </style>
<script src="/public/js/modals/welcome.js"></script>
