{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

#}
<section class="content">
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-microchip"></i>{{ 'administration.cpu'|trans }}</h3>
                    <span class="pull-right">({{ cpuCoresCount }} {{ 'administration.cpu-cores'|trans }})</span>
                </div>
                <div class="box-body">
                    <div class="progress progress-sm spacing-bottom-big active">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ cpuLoad }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cpuLoad }}%">
                            <span class="sr-only">{{ cpuLoad }}%</span>
                        </div>
                    </div>
                    <span>{{ cpuLoad }}% {{ 'administration.of-cpu-load'|trans }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-memory"></i>{{ 'administration.memory'|trans }}</h3>
                    <span class="pull-right">({{ totalMemory }})</span>
                </div>
                <div class="box-body">
                    <div class="progress progress-sm spacing-bottom-big active">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ memoryLoad }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ memoryLoad }}%">
                            <span class="sr-only">{{ memoryLoad }}%</span>
                        </div>
                    </div>
                    <span>{{ memoryLoad }}% {{ 'administration.of-memory-used'|trans }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="box box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-hdd"></i>{{ 'administration.hdd'|trans }}</h3>
                    <span class="pull-right">({{hddSize}})</span>
                </div>
                <div class="box-body">
                    <div class="progress progress-sm spacing-bottom-big active">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ hddLoad }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ hddLoad }}%">
                            <span class="sr-only">{{ hddLoad }}%</span>
                        </div>
                    </div>
                    <span>{{ hddLoad }}% {{ 'administration.of-space-used'|trans }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-database"></i>{{ 'administration.swap'|trans }}</h3>
                    <span class="pull-right">({{ administrationSwapTotal }})</span>
                </div>
                <div class="box-body">
                    <div class="progress progress-sm spacing-bottom-big active">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{ swapLoad }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ swapLoad }}%">
                            <span class="sr-only">{{ swapLoad }}{{ '%' }}</span>
                        </div>
                    </div>
                    <span>{{ swapLoad }}% {{ 'administration.of-memory-used'|trans }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-cog"></i>{{ 'page-title.administration'|trans }}</h3>
                </div>
                <div class="box-body text-center">
                    <a class="btn btn-app" href="index.php?v=d&p=users"><i class="fas fa-users"></i>{{ 'page-title.users'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=api"><i class="fas fa-key"></i>{{ 'page-title.api'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=network"><i class="fas fa-rss"></i>{{ 'page-title.networks'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=security"><i class="fas fa-shield-alt"></i>{{ 'page-title.security'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=cache"><i class="fas fa-hdd-o"></i>{{ 'page-title.cache'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=update_admin"><i class="fas fa-credit-card"></i>{{ 'page-title.services'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-sliders-h"></i>{{ 'page-title.settings'|trans }}</h3>
                </div>
                <div class="box-body text-center">
                    <a class="btn btn-app" href="index.php?v=d&p=general"><i class="fas fa-wrench"></i>{{ 'page-title.general'|trans }} </a>
                    <a class="btn btn-app" href="index.php?v=d&p=custom"><i class="fas fa-pencil-square"></i>{{ 'page-title.customization'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=profils"><i class="fas fa-briefcase"></i>{{ 'page-title.profil'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=commandes"><i class="fas fa-hand-o-right"></i>{{ 'page-title.commands'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=links"><i class="fas fa-sitemap"></i>{{ 'page-title.links'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=interact_admin"><i class="fas fa-comments"></i>{{ 'page-title.interacts'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=eqlogic"><i class="fas fa-plug"></i>{{ 'page-title.equipments'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=summary"><i class="fas fa-table"></i>{{ 'page-title.summaries'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=reports_admin"><i class="fas fa-newspaper-o"></i>{{ 'page-title.reports'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=log_admin"><i class="fas fa-file-alt"></i>{{ 'page-title.logs'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-stethoscope"></i>{{ 'page-title.diagnostics'|trans }}</h3>
                </div>
                <div class="box-body text-center">
                    <a class="btn btn-app" href="index.php?v=d&p=health"><i class="fas fa-medkit"></i>{{ 'page-title.health'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=cron"><i class="fas fa-tasks"></i>{{ 'page-title.tasks'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=eqAnalyse"><i class="fas fa-plug"></i>{{ 'page-title.equipments'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=realtime"><i class="fas fa-tachometer-alt"></i>{{ 'page-title.realtime'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=history"><i class="fas fa-chart-area"></i>{{ 'page-title.historics'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=timeline"><i class="fas fa-history"></i>{{ 'page-title.timeline'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=report"><i class="fas fa-newspaper-o"></i>{{ 'page-title.reports'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=log"><i class="fas fa-file-alt"></i>{{ 'page-title.logs'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fas fa-paperclip"></i>{{ 'Outils'|trans }}</h3>
                </div>
                <div class="box-body text-center">
                    <a class="btn btn-app" href="index.php?v=d&p=display"><i class="fas fa-table"></i>{{ 'page-title.summaries'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=backup" ><i class="fas fa-save"></i>{{ 'page-title.backups'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=update">{% if numberOfUpdates != 0 %}<span class="badge bg-red">{{ numberOfUpdates }}</span>{% endif %}<i class="fas fa-download"></i>{{ 'page-title.updates'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=note"><i class="fas fa-sticky-note"></i>{{ 'page-title.notes'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=osdb"><i class="fas fa-terminal"></i>{{ 'page-title.database'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=interact"><i class="fas fa-comments"></i>{{ 'page-title.interacts'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=scenario"><i class="fas fa-film"></i>{{ 'page-title.scenarios'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=object"><i class="fas fa-clone"></i>{{ 'page-title.objects'|trans }}</a>
                    <a class="btn btn-app" href="index.php?v=d&p=plugin"><i class="fas fa-puzzle-piece"></i>{{ 'page-title.plugins'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <div id="informations-div" class="row form-group">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box info-box-small">
              <span class="info-box-icon info-box-small-icon">
                  <i class="fas fa-globe"></i>
              </span>
              <div class="info-box-content info-box-small-content">
                  <span class="info-box-text">{{ 'administration.connections-count'|trans }}</span>
                  <span class="info-box-text">{{ httpConnectionsCount }}</span>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box info-box-small">
              <span class="info-box-icon info-box-small-icon">
                  <i class="fas fa-chalkboard-teacher"></i>
              </span>
              <div class="info-box-content info-box-small-content">
                  <span class="info-box-text">{{ 'administration.process-count'|trans }}</span>
                  <span class="info-box-text">{{ processCount }}</span>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box info-box-small">
              <span class="info-box-icon info-box-small-icon">
                  <i class="fas fa-clock"></i>
              </span>
              <div class="info-box-content info-box-small-content">
                  <span class="info-box-text">{{ 'Système démarré depuis' }}</span>
                  <span class="info-box-text">
                      {% if uptimeDays > 0 %}{{ uptimeDays }} {{ 'common.days'|trans }} {% endif %}
                      {% if uptimeHours > 0 %}{{ uptimeHours }} {{ 'common.hours'|trans }} {% endif %}
                      {{ uptimeMinutes }} {{ 'common.minutes'|trans }}
                  </span>
              </div>
            </div>
        </div>
    </div>
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-default btn-action-bar" id="btn_welcomeModal"><i class="fas fa-calendar-plus"></i>{{ 'administration.welcome-page'|trans }}</a>
            <a class="btn btn-default btn-action-bar" href="/docs/html/index.xhtml" target="_blank"><i class="fas fa-graduation-cap"></i>{{ 'administration.developer-documentation'|trans }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar pull-right" href="#" id="bt_haltSystemAdmin" state="0"><i class="fas fa-power-off"></i>{{ 'administration.power-off'|trans }}</a>
            <a class="btn btn-warning btn-action-bar pull-right" href="#" id="bt_rebootSystemAdmin" state="0"><i class="fas fa-repeat"></i>{{ 'administration.restart'|trans }}</a>
            <a class="btn btn-warning btn-action-bar pull-right" href="index.php?v=d&logout=1" class="noOnePageLoad"><i class="fas fa-lock"></i>{{ 'administration.disconnect'|trans }}</a>
        </div>
    </div>
</section>
