{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section id="dashboard-content">
    <div class="blur-div">
        <div class="col-xs-12 hidden-xs" id="accordionRoom">
            <div class="box">
                <div class="box-header accordion-toggle cursor" data-toggle="collapse" data-parent="#accordionRoom" href="#room_filters" id="accordionRoomHeader">
                    <h3 class="box-title"><i class="fas fa-chevron-down"></i>{{ 'Navigation'  | trans }}</h3>
                </div>
                <div id="room_filters" class="panel-collapse collapse">
                    <div class="box-body">
                        <div class="nav-tabs-custom" >
                            {% for menuLayer in dashboardObjectListMenu %}
                                <ul class="nav nav-tabs nav-tabs-dashboard">
                                    {% for menuItem in menuLayer %}
                                    <li class="cursor {% if menuItem.active %}active{% endif %}">
                                        <a href="" data-object-id="{{ menuItem.jeeObject.getId() }}">{{ menuItem.jeeObject.getDisplay('icon', '<i class="fas fa-tag"></i>')|replace({'></i>': '></i>'})|raw }}{{ menuItem.jeeObject.getName() }}</a>
                                    <li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if (dashboardObject.getConfiguration('hideOnDashboard') == 0 and (dashboardObject.getEqLogicBySummary(dashboardSummary)|length != 0 or dashboardSummary == 'all')) %}
            <div class="div_object col-xs-{{ dashboardObject.getDisplay('dashboard::size', 12) }}">
                <div class="card" style="background-color:{{ dashboardObject.getDisplay("tagColor") }}10;box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.08); border: 1px solid {{ dashboardObject.getDisplay("tagColor") }}50;" data-father_id="{{ dashboardObject.getFather_id() }}">
                    <div class="card-header card-header-icon">
                        <div class="card-icon text-center cursor openObject" style="background-color:{{ dashboardObject.getDisplay("tagColor") }}" data-id="index.php?v=d&p=object&id={{ dashboardObject.getId() }}">
                            {{ dashboardObject.getDisplay('icon', '<i class="fas fa-tag"></i>')|replace({'></i>': '></i>'})|raw }}
                        </div>
                        <p class="card-category" style="color:{{ dashboardObject.getDisplay("tagColor") }}"><b>{{ dashboardObject.getName() }}</b>
                            <div class="card-summary"><b>{% if 'objectSummaryParent' in dashboardObject.getHtmlSummary() %}{{ dashboardObject.getHtmlSummary()|raw }}{% endif %}</b></div>
                        </p>
                        <div class="editDashboardButtons" style="display:none;">
                            <a href="/index.php?v=d&p=profils#colortab"><i class="fas fa-cog pull-right cursor tooltips spacing-left" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'dashboard.grid-config'|trans }}"></i></a>
                            <i class="fas fa-crosshairs pull-right cursor bt_editDashboardWidgetPackery tooltips spacing-left" id="edit_object_{{ dashboardObject.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'dashboard.packery-step'|trans }}"></i>
                            <i class="fas fa-th-large pull-right cursor bt_editDashboardWidgetGridResize tooltips spacing-left" id="edit_object_{{ dashboardObject.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'dashboard.resize-grid-step'|trans }}"></i>
                            {% if dashboardObject.getChilds()|length != 0 %}
                                <i class="fas fa-th pull-right cursor bt_editDashboardWidgetGridAllResize tooltips spacing-left" id="edit_father_object_{{ dashboardObject.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'dashboard.resize-childs-grid-step'|trans }}"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        {% if dashboardObject.getChilds()|length == 0 %}
                            <p class="alert alert-no-child" style="background-color:{{ dashboardObject.getDisplay("tagColor") }}30">{{ 'dashboard.no-object'|trans }}</p>
                        {% endif %}
                        <div class="row div_objectScenario" id="div_sc{{ dashboardObject.getId() }}"></div>
                        <div class="div_displayEquipement" id="div_ob{{ dashboardObject.getId() }}" data-father_id="{{ dashboardObject.getFather_id() }}">
                            <script>getObjectHtml({{ dashboardObject.getId() }})</script>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for child in dashboardChildrenObjects %}
            {% if dashboardObject.getConfiguration('hideOnDashboard') != 0 %}
                {% set firstParentNumber = 1 %}
            {% else %}
                {% set firstParentNumber = 0 %}
            {% endif %}
            {% if (child.getEqLogicBySummary(dashboardSummary)|length != 0 or dashboardSummary == 'all') %}
                <div class="div_object col-xs-{{ child.getDisplay('dashboard::size', 12) }}" style="padding-left:{% if dashboardSummary == 'all' %}{{ 15+(child.parentNumber() - dashboardObjectParentNumber - firstParentNumber)*15 }}{% else %}15{% endif %}px">
                    {% if child.getConfiguration('hideOnDashboard') == 0 %}
                        <div class="card" style="background-color:{{ child.getDisplay("tagColor") }}10;box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08); border: 1px solid {{ child.getDisplay("tagColor") }}50;" data-father_id="{% if child.getFather_id() == '' %}{{ child.getId() }}{% else %}{{ child.getFather_id() }}{% endif %}">
                            <div class="card-header card-header-icon">
                                <div class="card-icon text-center cursor openObject" style="background-color:{{ child.getDisplay("tagColor") }}" data-id="index.php?v=d&p=object&id={{ child.getId() }}">
                                    {{ child.getDisplay('icon', '<i class="fas fa-tag"></i>')|replace({'></i>': '></i>'})|raw }}
                                </div>
                                <p class="card-category" style="color:{{ child.getDisplay("tagColor") }}"><b>{{ child.getName() }}</b>
                                    <div class="card-summary"><b>{% if 'objectSummaryParent' in child.getHtmlSummary() %}{{ child.getHtmlSummary()|raw }}{% endif %}</b></div>
                                </p>
                                <div class="editDashboardButtons" style="display:none;">
                                    <a href="/index.php?v=d&p=profils#colortab"><i class="fas fa-cog pull-right cursor tooltips spacing-left" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'dashboard.grid-config'|trans }}"></i></a>
                                    <i class="fas fa-crosshairs pull-right cursor bt_editDashboardWidgetPackery tooltips spacing-left" id="edit_object_{{ child.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'dashboard.packery-step'|trans }}"></i>
                                    <i class="fas fa-th-large pull-right cursor bt_editDashboardWidgetGridResize tooltips spacing-left" id="edit_object_{{ child.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'dashboard.resize-grid-step'|trans }}"></i>
                                    {% if child.getChilds()|length != 0 %}
                                        <i class="fas fa-th pull-right cursor bt_editDashboardWidgetGridAllResize tooltips spacing-left" id="edit_father_object_{{ child.getId() }}" data-mode="0" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'dashboard.resize-childs-grid-step'|trans }}"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                {% if child.getChilds()|length == 0 %}
                                    <p class="alert alert-no-child" style="background-color:{{ child.getDisplay("tagColor") }}30">{{ 'dashboard.no-object'|trans }}</p>
                                {% endif %}
                                <div class="row div_objectScenario" id="div_sc{{ child.getId() }}"></div>
                                <div class="div_displayEquipement" id="div_ob{{ child.getId() }}" data-father_id="{% if child.getFather_id() == '' %}{{ child.getId() }}{% else %}{{ child.getFather_id() }}{% endif %}" style="width: 100%;">
                                    <script>getObjectHtml({{ child.getId() }})</script>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if dashboardSummary == 'all' %}
        <div class="fabs fab-filter">
            <span class="fab-action-button"><i id="fabCategory" class="fab-action-button__icon fas fa-filter"></i></span>
            <ul class="fab-buttons">
                <li class="fab-buttons__item"><a class="fab-buttons__link cursor bg-green" data-tooltip="{{ 'dashboard.all-categories'|trans }}" onclick="selectCategory('all');"><i class="fas fa-asterisk"></i></a></li>
                {% for categoryCode, category in dashboardCategories %}
                    {% if dashboardCategory == categoryCode %}
                        <li class="fab-buttons__item"><a class="fab-buttons__link cursor" data-tooltip="{{ category.name|trans }}" style="background-color:{{ category.color }}" onclick="selectCategory('{{ categoryCode }}','{{ category.icon }}');"><i class="{{ category.icon }}"></i></a></li>
                    {% else %}
                        <li class="fab-buttons__item"><a class="fab-buttons__link cursor" data-tooltip="{{ category.name|trans }}" style="background-color:{{ category.color }}" onclick="selectCategory('{{ categoryCode }}','{{ category.icon }}');"><i class="{{ category.icon }}"></i></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="fabs fab-bis" id="fabEditor">
            <a class="fab-action-button cursor" id="bt_editDashboardWidgetOrder" data-mode="0"><i class="fab-action-button__icon fas fa-pencil-alt"></i></a>
        </div>
    {% else %}
        <div class="fabs" id="{{ dashboardSummary }}">
            <a href="index.php?v=d&p=dashboard&object_id={{ dashboardDefaultObjectId }}" class="fab-action-button cursor"><i class="fab-action-button__icon fas fa-asterisk"></i></a>
        </div>
    {% endif %}
</section>
