{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
{% include '/commons/header.html.twig' %}

<!-- Header -->
<body class="hold-transition">
    <div class="firstUse-Page">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="box">
                <div class="box-body">
                    <div id="logo" class="stepwizard">
                        <img src="public/img/NextDom/NextDom_Wide_AlphaBlackBlue.png">
                    </div>
                </div>
                <div class="stepwizard stepwizard-progress">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a href="#step-1" type="button" class="btn btn-primary primary-bg stepwizard-btn-circle"></a>
                            <p>{{ 'firstuse.step'|trans ~ ' 1' }}</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-2" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                            <p>{{ 'firstuse.step'|trans ~ ' 2' }}</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-3" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                            <p>{{ 'firstuse.step'|trans ~ ' 3' }}</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-4" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                            <p>{{ 'firstuse.step'|trans ~ ' 4' }}</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-5" type="button" class="btn btn-default stepwizard-btn-circle" disabled="disabled"></a>
                            <p>{{ 'firstuse.step'|trans ~ ' 5' }}</p>
                        </div>
                    </div>
                </div>
                <div class="stepwizard-box">
                    <div class="box-body">

                        <!-- Step 1 section -->
                        <div class="row setup-content" id="step-1">
                            <div class="stepwizard">
                                <h2 class="login-box-msg">{{ 'firstuse.welcome-title'|trans({'%productName%' : PRODUCT_NAME}) }}</h2>
                                <h5>{{ 'firstuse.welcome-content'|trans|nl2br }}</h5>
                            </div>
                            <button id="toStep2" class="btn btn-primary nextBtn primary-bg pull-right" type="button">{{ 'common.next'|trans }}<i class="fas fa-caret-right spacing-left no-spacing"></i></button>
                        </div>

                        <!-- Step 2 section -->
                        <div class="row setup-content" id="step-2">
                            <div class="stepwizard">
                                <h2 class="login-box-msg">{{ 'firstuse.password-title'|trans({'%productName%' : PRODUCT_NAME}) }}</h2>
                                <h5>{{ 'firstuse.password-content'|trans }}</h5>
                                <div id="register" tabindex="500">
                                    <div class="passwd stepwizard-passwd">
                                        <input type="password" id="in_change_password" placeholder="{{ 'firstuse.password-placeholder'|trans }}">
                                    </div>
                                    <div class="passwd stepwizard-passwd">
                                        <input type="password" id="in_change_passwordToo" placeholder="{{ 'firstuse.password-confirm-placeholder'|trans }}">
                                    </div>
                                </div>
                            </div>
                            <button id="toStep3" class="btn btn-primary nextBtn pull-right primary-bg" type="button">{{ 'common.next'|trans }}<i class="fas fa-caret-right spacing-left no-spacing"></i></button>
                            <button id="backStep1" class="btn btn-primary returnBtn pull-left primary-bg" type="button"><i class="fas fa-caret-left"></i>{{ 'common.previous'|trans }}</button>
                        </div>

                        <!-- Step 3 section -->
                        <div class="row setup-content" id="step-3">
                            <div class="stepwizard">
                                <h2 class="login-box-msg">{{ 'firstuse.market-title'|trans({'%productName%' : PRODUCT_NAME}) }}</h2>
                                <h5>{{ 'firstuse.market-content'|trans }}</h5>
                                <div class="row">
                                    <div id="market" class="col-sm-12 col-md-6">
                                        <h5>{{ 'firstuse.market-noaccount'|trans }}</h5>
                                        <button class="dark btn" id="bt_compte_market"><i class="fa fa-sign-in spacing-right"></i>{{ 'firstuse.market-wantaccount'|trans }}</button>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <h5>{{ 'firstuse.market-alreadyaccount'|trans }}</h5>
                                        <div class="mail stepwizard-passwd stepwizard-passwd2">
                                            <input type="text" id="in_login_username_market" class="stepwizard-input" placeholder="{{ 'firstuse.market-username-placeholder'|trans }}">
                                        </div>
                                        <div class="passwd stepwizard-passwd stepwizard-passwd2">
                                            <input type="password" id="in_login_password_market" class="stepwizard-input" placeholder="{{ 'firstuse.market-password-placeholder'|trans }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="skipStep4" class="btn btn-primary nextBtn primary-bg" type="button"><i class="fa fa-ban spacing-right"></i>{{ 'common.ignore'|trans }}</button>
                            <button id="toStep4" class="btn btn-primary nextBtn primary-bg pull-right" type="button">{{ 'common.next'|trans }}<i class="fas fa-caret-right spacing-left no-spacing"></i></button>
                            <button id="backStep2" class="btn btn-primary returnBtn primary-bg pull-left" type="button"><i class="fas fa-caret-left"></i>{{ 'common.previous'|trans }}</button>
                        </div>

                        <!-- Step 4 section -->
                        <div class="row setup-content" id="step-4">
                            <div class="stepwizard">
                                <h2 class="login-box-msg">{{ 'firstuse.customize-title'|trans({'%productName%' : PRODUCT_NAME}) }}</h2>
                                <h5>{{ 'firstuse.customize-content'|trans }}</h5>
                                <div class="row  text-center">
                                    <div id="themes" class="col-sm-12 col-md-6">
                                        <div style="padding: 10px;">
                                            <a style="display: block;border: 1px solid #aaa;" class="clearfix form-group">
                                                <div>
                                                    <span style="display:block; width: 20%; float: left; height: 15px; background: #33b8cc"></span>
                                                    <span style="display:block; width: 80%; float: left; height: 15px; background: #33b8cc"></span>
                                                </div>
                                                <div>
                                                    <span style="display:block; width: 20%; float: left; height: 120px; background: #f9fafc"></span>
                                                    <span style="display:block; width: 80%; float: left; height: 120px; background: #ecf0f5"></span>
                                                </div>
                                            </a>
                                            <p class="text-center no-margin">White</p><input class="theme" type="radio" name="theme" value="white" checked="checked"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div style="padding: 10px;">
                                            <a style="display: block;border: 1px solid #aaa;" class="clearfix form-group">
                                                <div>
                                                    <span style="display:block; width: 20%; float: left; height: 15px; background: #33b8cc"></span>
                                                    <span style="display:block; width: 80%; float: left; height: 15px; background: #33b8cc"></span>
                                                </div>
                                                <div>
                                                    <span style="display:block; width: 20%; float: left; height: 120px; background: #222d32"></span>
                                                    <span style="display:block;width: 80%;float: left;height: 120px;background: #444;"></span>
                                                </div>
                                            </a>
                                            <p class="text-center no-margin">Dark</p><input class="theme" type="radio" name="theme" value="dark"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="toStep5" class="btn btn-primary nextBtn primary-bg pull-right" type="button">{{ 'common.next'|trans }}<i class="fas fa-caret-right spacing-left no-spacing"></i></button>
                            <button id="backStep3" class="btn btn-primary returnBtn primary-bg pull-left" type="button"><i class="fas fa-caret-left"></i>{{ 'common.previous'|trans }}</button>
                        </div>

                        <!-- Step 5 section -->
                        <div class="row setup-content" id="step-5">
                            <div class="stepwizard">
                                <h2 class="login-box-msg">{{ 'firstuse.congrats-title'|trans({'%productName%' : PRODUCT_NAME}) }}</h2>
                                <h5>{{ 'firstuse.congrats-content'|trans }}</h5>
                            </div>
                            <button id="finishConf" class="btn btn-primary nextBtn primary-bg pull-right ui-icon-closethick" type="button">{{ 'common.finish'|trans }}<i class="fa fa-check-circle spacing-left no-spacing"></i></button>
                            <button id="backStep4" class="btn btn-primary returnBtn primary-bg pull-left" type="button"><i class="fas fa-caret-left"></i>{{ 'common.previous'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if JS_END_POOL is defined %}
        {% for jsFile in JS_END_POOL %}
            <script src="{{ jsFile }}"></script>
        {% endfor %}
    {% endif %}
</body>
