{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div class="box blurPanel" id="API">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-key">&nbsp;&nbsp;</i>{{ 'API' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>

                <!-- Access Section -->
                <div>
                    <legend class="legend-title">{{ 'Accès API' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Accès API HTTP' }}</label>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <select class="form-control configKey" data-l1key="api::core::http::mode">
                                <option value="enable">{{ 'Activé' }}</option>
                                <option value="whiteip">{{ 'IP blanche' }}</option>
                                <option value="localhost">{{ 'Localhost' }}</option>
                                <option value="disable">{{ 'Désactivé' }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Accès API JSONRPC' }}</label>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <select class="form-control configKey" data-l1key="api::core::jsonrpc::mode">
                                <option value="enable">{{ 'Activé' }}</option>
                                <option value="whiteip">{{ 'IP blanche' }}</option>
                                <option value="localhost">{{ 'Localhost' }}</option>
                                <option value="disable">{{ 'Désactivé' }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Accès API TTS' }}</label>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <select class="form-control configKey" data-l1key="api::core::tts::mode">
                                <option value="enable">{{ 'Activé' }}</option>
                                <option value="whiteip">{{ 'IP blanche' }}</option>
                                <option value="localhost">{{ 'Localhost' }}</option>
                                <option value="disable">{{ 'Désactivé' }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Accès API Pro' }}</label>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <select class="form-control configKey" data-l1key="api::core::pro::mode">
                                <option value="enable">{{ 'Activé' }}</option>
                                <option value="disable">{{ 'Désactivé' }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Accès API Market' }}</label>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <select class="form-control configKey" data-l1key="api::core::market::mode">
                                <option value="enable">{{ 'Activé' }}</option>
                                <option value="disable">{{ 'Désactivé' }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Key Section -->
                <div class="legend-section">
                    <legend class="legend-title">{{ 'Clefs API' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label" data-toggle="tooltip" title="" data-original-title="{{ 'Clef API globale de' }} adminconfigs['product_name']">{{ 'Clef API Globale' }}</label>
                        <div class="btn-group col-lg-10 col-md-9 col-sm-9 col-xs-12">
                            <a class="btn btn-default btn-action bt_regenerate_api" data-plugin="core"><i class="fa fa-refresh">&nbsp;&nbsp;</i>{{'Rafraîchir'}}</a>
                            <span class="span_apikey label label-info label-value">{{ adminConfigs['api'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label" data-toggle="tooltip" title="" data-original-title="{{ 'Clef API Pro de' }} {{ adminConfigs['product_name'] }}">{{ 'Clef API Pro' }}</label>
                        <div class="btn-group col-lg-10 col-md-9 col-sm-9 col-xs-12">
                            <a class="btn btn-default btn-action bt_regenerate_api" data-plugin="pro"><i class="fa fa-refresh">&nbsp;&nbsp;</i>{{'Rafraîchir'}}</a>
                            <span class="span_apikey label label-info label-value">{{ adminConfigs['apipro'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label" data-toggle="tooltip" title="" data-original-title="{{ 'Clef Market de' }} {{ adminConfigs['product_name'] }}">{{ 'Clef Market' }}</label>
                        <div class="btn-group col-lg-10 col-md-9 col-sm-9 col-xs-12">
                            <a class="btn btn-default btn-action bt_regenerate_api" data-plugin="apimarket"><i class="fa fa-refresh">&nbsp;&nbsp;</i>{{'Rafraîchir'}}</a>
                            <span class="span_apikey label label-info label-value">{{ adminConfigs['apimarket'] }}</span>
                        </div>
                    </div>
                </div>

                <!-- Plugins Section -->
                <div class="legend-section">
                    <legend class="legend-title">{{ 'API Plugins' }}</legend>
                    {% if not adminIsRescueMode and adminPluginsList|length > 0 %}
                        {% for pluginData in adminPluginsList %}
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label" data-original-title="{{ 'API pour le plugin' }} {{ pluginData.plugin.getName() }}">{{ pluginData.plugin.getName() }}</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <select class="form-control configKey" data-l1key="api::{{ pluginData.plugin.getId() }}::mode">
                                        <option value="enable">{{ 'Activé' }}</option>
                                        <option value="whiteip">{{ 'IP blanche' }}</option>
                                        <option value="localhost">{{ 'Localhost' }}</option>
                                        <option value="disable">{{ 'Désactivé' }}</option>
                                    </select>
                                </div>
                                <div class="btn-group col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <a class="btn btn-default btn-action bt_regenerate_api" data-plugin="{{ pluginData.plugin.getId() }}"><i class="fa fa-refresh">&nbsp;&nbsp;</i>{{'Rafraîchir'}}</a>
                                    <span class="span_apikey label label-info label-value">{{ pluginData.api }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="fab fab-left">
    <a class="fab-action-button cursor" id="bt_goOnTop"><i class="fab-action-button__icon fas fa-angle-double-up"></i></a>
</div>
<div class="fab">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_saveapi" title="" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis">
    <a class="fab-action-button bg-red-active" href="index.php?v=d&p=administration"><i class="fab-action-button__icon fas fa-chevron-left"></i></a>
</div>
