{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-warning btn-action-bar" id="bt_cleanCache"><i class="fas fa-magic"></i>{{ 'Nettoyer le cache' }}</a>
            <a class="btn btn-danger btn-action-bar" id="bt_flushCache"><i class="fas fa-trash"></i>{{ 'Vider le cache' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_savecache"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="cache">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-hdd-o"></i>{{ 'Cache' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">
                <!-- Statistiques Section -->
                <fieldset>
                    <legend>{{ 'Statistiques' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Statistiques' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <span class="label label-config label-primary"><span id="span_cacheObject">{{ adminStats['count'] }}</span> {{ 'objets' }}</span>
                        </div>
                    </div>
                </fieldset>

                <!-- Moteur Section -->
                <fieldset>
                    <legend>{{ 'Moteur' }}</legend>
                    <div class="alert alert-info">
                        {{ 'Attention : toute modification du moteur de cache nécessite un redémarrage de votre ' }} {{ adminProductName }} {{ adminCustomProductName }}
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Moteur de cache' }}</label>
                        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                            <select type="text" class="configKey form-control" data-l1key="cache::engine">
                                <option value="FilesystemCache">{{ 'Système de fichiers' }} ({{ adminCacheFolder }})</option>
                                {% if adminMemCachedExists %}
                                    <option value="MemcachedCache">{{ 'Memcached' }}</option>
                                {% endif %}
                                {% if adminRedisExists %}
                                    <option value="RedisCache">{{ 'Redis' }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </fieldset>

                <!-- Parameters Section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Paramètres' }}</legend>
                    <div class="cacheEngine MemcachedCache">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Adresse Memcache' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                <input type="text" class="configKey form-control" data-l1key="cache::memcacheaddr"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Port Memcache' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                <input type="text" class="configKey form-control" data-l1key="cache::memcacheport"/>
                            </div>
                        </div>
                    </div>
                    <div class="cacheEngine RedisCache">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Adresse Redis' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                <input type="text" class="configKey form-control" data-l1key="cache::redisaddr"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Port redis' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                <input type="text" class="configKey form-control" data-l1key="cache::redisport"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Temps de pause pour le long polling' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <input class="configKey form-control" data-l1key="event::waitPollingTime"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
