<div class="box blurPanel" id="commandes">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-hand-o-right">&nbsp;&nbsp;</i>{{ 'Commandes' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>

                <!-- Statistiques Section -->
                <div>
                    <legend class="legend-title">{{ 'Statistiques' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Statistiques sur les widgets' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
                            <input type="checkbox" class="configKey" data-l1key="displayStatsWidget" id="displayStatsWidget"/>
                            <label for="displayStatsWidget" class="label-check control-label">{{'Afficher'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Période de calcul pour min, max, moy' }}</label>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="configKey form-control" data-l1key="historyCalculPeriod"/>
                        </div>
                        <div class="col-lg-7 col-md-4 col-sm-4 col-xs-4">
                            <span class="label-unity">{{ 'heures' }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Période de calcul pour la tendance' }}</label>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="configKey form-control" data-l1key="historyCalculTendance"/>
                        </div>
                        <div class="col-lg-7 col-md-4 col-sm-4 col-xs-4">
                            <span class="label-unity">{{ 'heures' }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Délai avant archivage' }}</label>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="configKey form-control" data-l1key="historyArchiveTime"/>
                        </div>
                        <div class="col-lg-7 col-md-4 col-sm-4 col-xs-4">
                            <span class="label-unity">{{ 'heures' }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Archiver par paquet de' }}</label>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="configKey form-control" data-l1key="historyArchivePackage"/>
                        </div>
                        <div class="col-lg-7 col-md-4 col-sm-4 col-xs-4">
                            <span class="label-unity">{{ 'heures' }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Seuil de calcul de tendance bas' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="configKey form-control" data-l1key="historyCalculTendanceThresholddMin"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Seuil de calcul de tendance haut' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="configKey form-control" data-l1key="historyCalculTendanceThresholddMax"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Période d\'affichage des graphiques par défaut' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <select class="configKey form-control" data-l1key="history::defautShowPeriod">
                                <option value="-6 month">{{ '6 mois' }}</option>
                                <option value="-3 month">{{ '3 mois' }}</option>
                                <option value="-1 month">{{ '1 mois' }}</option>
                                <option value="-1 week">{{ '1 semaine' }}</option>
                                <option value="-1 day">{{ '1 jour' }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Statistiques Section -->
                <div class="legend-section">
                    <legend class="legend-title">{{ 'Push' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'URL de push globale' }}</label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="configKey form-control" data-l1key="cmdPushUrl" data-toggle="tooltip" title="" data-original-title="{{ 'Mettez ici l\'URL à appeler lors d\'une mise à jour de la valeur des commandes. Vous pouvez utiliser les tags suivants : #value# (valeur de la commande), #cmd_id# (id de la commande) et #cmd_name# (nom de la commande)' }}"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="fab" style="z-index:999">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_savecommandes" title="" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis" style="z-index:999">
    <a class="fab-action-button bg-red"><i class="fab-action-button__icon fas fa-chevron-left" href="index.php?v=d&p=administration"></i></a>
</div>
