<div class="blurPanel" id="custom">
    <div class="nav-tabs-custom config">

        <!-- Tabs title -->
        <ul class="nav nav-tabs pull-right" role="tablist">
            <h4 class="box-title pull-left">&nbsp;&nbsp;<i class="fas fa-pencil-square">&nbsp;&nbsp;</i>{{ 'Customisation' }}</h4>
            <li role="presentation"><a href="#advanced" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-flask">&nbsp;&nbsp;</i>{{ 'Modifications Avancées' }}</a></li>
            <li role="presentation"><a href="#colortab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-th-large">&nbsp;&nbsp;</i>{{ 'Options Tuiles' }}</a></li>
            <li role="presentation" class="active"><a href="#themestab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tint">&nbsp;&nbsp;</i>{{ 'Thème' }}</a></li>
        </ul>

        <!-- Tabs content -->
        <div class="global-tab-content tab-content">
            <!-- Theme tab -->
            <div role="tabpanel" class="tab-pane active" id="themestab">
                <fieldset>
                    <legend class="legend-title">{{ 'Couleurs dominantes du thème' }}</legend>
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                            <label class="control-label">{{ 'Couleur d\'accentuation principale' }}</label>
                            <div class="btn-group">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color1" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color1" value="{{ Theme['color1'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                            <label class="control-label">{{ 'Couleur textes et icônes' }}</label>
                            <div class="btn-group">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color2" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color2" value="{{ Theme['color2'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="legend-section">
                        <legend class="legend-title">{{ 'Personnalisation du thème' }}</legend>
                            <div class="row">
                                <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                                    <label class="control-label">{{ 'Couleur menu lateral' }}</label>
                                    <div class="btn-group">
                                        <a class="btn btn-action bt_resetColor" data-l1key="theme:color6" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                        <div class=" colorpicker-component colorpick input-group">
                                            <input type="text" class="configKey form-control noSet" data-l1key="theme:color6" value="{{ Theme['color6'] }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                                    <label class="control-label">{{ 'Couleur sous-menu latéral' }}</label>
                                    <div class="btn-group">
                                        <a class="btn btn-action bt_resetColor" data-l1key="theme:color8" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                        <div class=" colorpicker-component colorpick input-group">
                                            <input type="text" class="configKey form-control noSet" data-l1key="theme:color8" value="{{ Theme['color8'] }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                                    <label class="control-label">{{ 'Couleur hover principal' }}</label>
                                    <div class="btn-group">
                                        <a class="btn btn-action bt_resetColor" data-l1key="theme:color3" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                        <div class=" colorpicker-component colorpick input-group">
                                            <input type="text" class="configKey form-control noSet" data-l1key="theme:color3" value="{{ Theme['color3'] }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                                    <label class="control-label">{{ 'Couleur hover menu latéral' }}</label>
                                    <div class="btn-group">
                                        <a class="btn btn-action bt_resetColor" data-l1key="theme:color7" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                        <div class=" colorpicker-component colorpick input-group">
                                            <input type="text" class="configKey form-control noSet" data-l1key="theme:color7" value="{{ Theme['color7'] }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                                    <label class="control-label">{{ 'Couleur checkbox & radio' }}</label>
                                    <div class="btn-group">
                                        <a class="btn btn-action bt_resetColor" data-l1key="theme:color4" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                        <div class=" colorpicker-component colorpick input-group">
                                            <input type="text" class="configKey form-control noSet" data-l1key="theme:color4" value="{{ Theme['color4'] }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                                    <label class="control-label">{{ 'Couleur croix fenêtres modales' }}</label>
                                    <div class="btn-group">
                                        <a class="btn btn-action bt_resetColor" data-l1key="theme:color5" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                        <div class=" colorpicker-component colorpick input-group">
                                            <input type="text" class="configKey form-control noSet" data-l1key="theme:color5" value="{{ Theme['color5'] }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Tuiles tab -->
            <div role="tabpanel" class="tab-pane" id="colortab">
                <fieldset>
                    <legend class="legend-title">{{ 'Paramètrage de l\'aspect des tuiles du dashboard en version desktop ou mobile' }}</legend>
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                            <label class="control-label">{{ 'Opacité par défaut des widgets' }}</label>
                            <input type="numeric" class="configKey form-control" data-l1key="widget::background-opacity"/>
                        </div>
                        <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                            <label class="control-label">{{ 'Pas horizontal' }}</label>
                            <input type="numeric" class="configKey form-control" data-l1key="widget::step::width"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                            <label class="control-label">{{ 'Pas vertical' }}</label>
                            <input type="numeric" class="configKey form-control" data-l1key="widget::step::height"/>
                        </div>
                        <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                            <label class="control-label">{{ 'Marge' }}</label>
                            <input type="numeric" class="configKey form-control" data-l1key="widget::margin"/>
                        </div>
                    </div>

                    <div id="colortab-list">
                        {% for category, categoryData in adminCategories %}
                            <div class="legend-section">
                                <legend class="legend-title">{{ 'Catégorie' }} {{ categoryData['name'] }}</legend>
                                <div class="row">
                                    <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                                        <label class="control-label">{{ 'Dashboard couleur de fond' }}</label>
                                        <div class="btn-group">
                                            <a class="btn btn-action bt_resetColor" data-l1key="eqLogic:category:{{ category }}:color" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                            <div class=" colorpicker-component colorpick input-group">
                                                <input type="text" class="configKey form-control noSet" data-l1key="eqLogic:category:{{ category }}:color" value="{{ categoryData['color'] }}"/>
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                                        <label class="control-label">{{ 'Mobile couleur de fond' }}</label>
                                        <div class="btn-group ">
                                            <a class="btn btn-action bt_resetColor" data-l1key="eqLogic:category:{{ category }}:mcolor" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                            <div class=" colorpicker-component colorpick input-group">
                                                <input type="text" class="configKey form-control cursor noSet" data-l1key="eqLogic:category:{{ category }}:mcolor" value="{{ categoryData['mcolor'] }}"/>
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                                        <label class="control-label">{{ 'Dashboard couleur commande' }}</label>
                                        <div class="btn-group">
                                            <a class="btn btn-action bt_resetColor" data-l1key="eqLogic:category:{{ category }}:cmdColor" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                            <div class=" colorpicker-component colorpick input-group">
                                                <input type="text" class="configKey form-control cursor noSet" data-l1key="eqLogic:category:{{ category }}:cmdColor" value="{{ categoryData['cmdColor'] }}"/>
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                                        <label class="control-label">{{ 'Mobile couleur commande' }}</label>
                                        <div class="btn-group">
                                            <a class="btn btn-action bt_resetColor" data-l1key="eqLogic:category:{{ category }}:mcmdColor" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                            <div class=" colorpicker-component colorpick input-group">
                                                <input type="text" class="configKey form-control cursor noSet" data-l1key="eqLogic:category:{{ category }}:mcmdColor" value="{{ categoryData['mcmdColor'] }}"/>
                                                <span class="input-group-addon"><i></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>

            <!-- Advanced tab -->
            <div role="tabpanel" class="tab-pane nav-tabs-custom" id="advanced">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#desktop" aria-controls="home" role="tab" data-toggle="tab">{{ 'Desktop' }}</a></li>
                    <li><a href="#mobile" aria-controls="profile" role="tab" data-toggle="tab">{{ 'Mobile' }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="btn-group alert alert-warning" id="div_spanAlertMessage">
                        {{ 'Attention : tout ce que vous écrivez ici est global et inclus sur toutes les pages. La moindre erreur peut rendre votre' }} {{ customProductName }} {{ 'non fonctionel.' }}
                        <div>
                            <input type="checkbox" id="enableCustomCss" class="configKey" data-l1key="enableCustomCss"{% if customEnableCustomCss %} checked="checked"{% endif %}>
                            <label for="enableCustomCss" class="control-label label-check" data-toggle="tooltip" title=""
                                   data-original-title="{{ 'Force la prise en compte de ces personnalisation CSS et JS en dernier lieu' }}">{{ 'Activer la personnalisation avancée' }}
                            </label>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="desktop">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <legend class="legend-title">{{ 'Javascript' }}</legend>
                                <textarea id="ta_jsDesktopContent" style="height:auto;">{{ customJS }}</textarea>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <legend class="legend-title">{{ 'CSS' }}</legend>
                                <textarea id="ta_cssDesktopContent" style="height:auto;">{{ customCSS }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="mobile">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <legend class="legend-title">{{ 'Javascript' }}</legend>
                                <textarea id="ta_jsMobileContent" style="height:auto;">{{ customMobileJS }}</textarea>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <legend class="legend-title">{{ 'CSS' }}</legend>
                                <textarea id="ta_cssMobileContent" style="height:auto;">{{ customMobileCSS }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab" style="z-index:999">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_savecustom" title="" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis" style="z-index:999">
    <a class="fab-action-button bg-red-active" href="index.php?v=d&p=administration"><i class="fab-action-button__icon fas fa-chevron-left"></i></a>
</div>
