{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div class="box blurPanel" id="eqlogic">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-tablet-alt">&nbsp;&nbsp;</i>{{ 'Equipements' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>

                <!-- Params Section -->
                <div>
                    <legend class="legend-title">{{ 'Paramètres' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Nombre d\'échecs' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                            <input type="text" class="configKey form-control" data-l1key="numberOfTryBeforeEqLogicDisable"/>
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-4">
                            <span class="label-unity">{{ 'avant désactivation de l\'équipement' }}</span>
                        </div>
                    </div>
                </div>

                <!-- Seuil Section -->
                <div class="legend-section">
                    <legend class="legend-title">{{ 'Seuils' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Seuil des piles' }}</label>
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1 eqLogicAttr label label-danger label-sticker-big">{{ 'Danger' }}</label>
                        <div class="col-xs-1">
                            <input class="configKey form-control" data-l1key="battery::danger"/>
                        </div>
                        <label class="col-xs-1 label label-warning label-sticker-big">{{ 'Warning' }}</label>
                        <div class="col-xs-1">
                            <input class="configKey form-control" data-l1key="battery::warning"/>
                        </div>
                        <label class="col-xs-1 label label-success label-sticker-big">{{ 'Ok' }}</label>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="fab">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_saveeqlogic" title="" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis">
    <a class="fab-action-button bg-red-active" href="index.php?v=d&p=administration"><i class="fab-action-button__icon fas fa-chevron-left"></i></a>
</div>
