<div class="box" id="osdb">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-terminal">&nbsp;&nbsp;</i>{{ 'OS/DB' }}</h3>
        <div class="box-tools pull-right">
            <a class="pull-right btn-box-tool" href="index.php?v=d&p=administration"><i class="fas fa-times"></i></a>
        </div>
    </div>

    <!-- Page content -->
    <div class="box-body">
            <!-- Alert section -->
            <div class="alert alert-danger alert-config">
                {{ 'ATTENTION : ces opérations sont risquées, vous pouvez perdre l\'accès à votre système et à' }} {{ adminConfigs['product_name'] }}{{ '. L\'équipe' }} {{ adminConfigs['product_name'] }} {{ 'se réserve le droit de refuser toute demande de support en cas de mauvaise manipulation.' }}
            </div>
                 <!-- Console Section -->
                <div>
                    <legend class="legend-title">{{ 'Console Système' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Administration' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                            <a class="btn btn-danger" href="index.php?v=d&p=system"><i class="fa fa-exclamation-triangle">&nbsp;&nbsp;</i>{{ 'Lancer' }}</a>
                        </div>
                    </div>
                </div>

                <!-- File editor Section -->
                <div class="legend-section">
                    <legend class="legend-title">{{ 'Editeur de fichiers' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Editeur' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                            <a class="btn btn-danger" href="index.php?v=d&p=editor"><i class="fa fa-exclamation-triangle">&nbsp;&nbsp;</i>{{ 'Lancer' }}</a>
                        </div>
                    </div>
                </div>

                <!-- DB Section -->
                <div class="legend-section">
                    <legend class="legend-title">{{ 'Base de données' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Administration' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                            <a class="btn btn-danger" href="index.php?v=d&p=database"><i class="fa fa-exclamation-triangle">&nbsp;&nbsp;</i>{{ 'Lancer' }}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Utilisateur' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                            <span class="label label-value">{{ adminDbConfig['username'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Mot de passe' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                            <span class="label label-value">{{ adminDbConfig['password'] }}</span>
                        </div>
                    </div>
                </div>
    </div>

    <div class="fab" style="z-index:999">
        <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
        <ul class="fab-buttons">
            <li class="fab-buttons__item"><a class="fab-buttons__link" href="index.php?v=d&p=administration" style="background-color:#c9302c"><i class="fas fa-chevron-left"></i></a></li>
        </ul>
    </div>
</div>
