<div class="box blurPanel" id="reports_admin">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-newspaper-o">&nbsp;&nbsp;</i>{{ 'Rapport' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">

                <!-- Params Section -->
                <div>
                    <legend class="legend-title">{{ 'Paramètres' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-5 col-sm-5 col-xs-12 control-label">{{ 'Délai d\'attente après génération de la page' }}</label>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                            <input class="configKey form-control" data-l1key="report::delay"/>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
                            <span class="label-unity">millisecondes</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-5 col-sm-5 col-xs-12 control-label">{{ 'Nettoyer les rapports plus anciens de' }}</label>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                            <input class="configKey form-control" data-l1key="report::maxdays"/>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
                            <span class="label-unity">jours</span>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
<div class="fab" style="z-index:999">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_savereports_admin" title="" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis" style="z-index:999">
    <span class="fab-action-button bg-red"><a class="fab-action-button__icon fas fa-chevron-left" href="index.php?v=d&p=administration"></a></span>
</div>
