<div class="box" id="reports_admin">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-newspaper-o">&nbsp;&nbsp;</i>{{ 'Rapport' }}</h3>
        <div class="box-tools pull-right">
            <a class="pull-right btn-box-tool" href="index.php?v=d&p=administration"><i class="fa fa-times"></i></a>
        </div>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>

                <!-- Params Section -->
                <div>
                    <legend class="legend-title">{{ 'Paramètres' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-5 col-sm-5 col-xs-12 control-label">{{ 'Délai d\'attente après génération de la page' }}</label>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                            <input class="configKey form-control" data-l1key="report::delay"/>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
                            <span class="label-unity">millisecondes</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-5 col-sm-5 col-xs-12 control-label">{{ 'Nettoyer les rapports plus anciens de' }}</label>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                            <input class="configKey form-control" data-l1key="report::maxdays"/>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
                            <span class="label-unity">jours</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- Footer bar -->
    <div class="box-footer clearfix">
        <a class="btn btn-success pull-right" id="bt_savereports_admin"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Sauvegarder' }}</a>
        <a class="btn btn-danger pull-right" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left">&nbsp;&nbsp;</i>{{ 'Retour' }}</a>
    </div>
</div>
