{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            {% if adminBannedIp|length != 0 %}
                <a class="btn btn-warning btn-action-bar" id="bt_removeBanIp"><i class="fas fa-trash"></i>{{ 'Supprimer les IP bannie(s)' }}</a>
            {% endif %}
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_savesecurity"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="security">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-shield-alt"></i>{{ 'Sécurité' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">

                <!-- LDAP Section -->
                <fieldset>
                    <legend>{{ 'LDAP' }}</legend>
                    {% if adminUseLdap %}
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Authentification LDAP' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <input type="checkbox" class="configKey" data-l1key="ldap:enable" id="ldap"/>
                                <label for="ldap" class="control-label label-check">{{ 'Activer' }}</label>
                            </div>
                        </div>

                        <div id="div_config_ldap"{% if not adminLdapEnabled %} style="display: none"{% endif %}>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Hôte' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="configKey form-control" data-l1key="ldap:host"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Port' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="configKey form-control" data-l1key="ldap:port"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Domaine' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="configKey form-control" data-l1key="ldap:domain"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Base DN' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="configKey form-control" data-l1key="ldap:basedn"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Nom d\'utilisateur' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="configKey form-control" data-l1key="ldap:username"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Mot de passe' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <input type="password" class="configKey form-control" data-l1key="ldap:password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Champs recherche utilisateur' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" class="configKey form-control" data-l1key="ldap::usersearch"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Filtre' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <div class="input-group">
                                        <input type="text" class="configKey form-control" data-l1key="ldap:filter"/>
                                        <span class="input-group-addon">{{ '(Optionnel)' }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'REMOTE_USER' }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <input type="checkbox" class="configKey" data-l1key="sso:allowRemoteUser" id="allowRemoteUser"/>
                                    <label for="allowRemoteUser" class="control-label label-check">{{ 'Autoriser' }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                    <a class="btn btn-action" id="bt_testLdapConnection"><i class="fas fa-rss"></i>{{ 'Tester' }}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-info">{{ 'Librairie LDAP non trouvée. Merci de l\'installer avant de pouvoir utiliser la connexion LDAP.' }}</div>
                    {% endif %}
                </fieldset>

                <!-- Connexion section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Connexion' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Nombre d\'échecs tolérés' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <input type="text" class="configKey form-control" data-l1key="security::maxFailedLogin"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Temps maxi. entre les échecs' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="security::timeLoginFailed"/>
                                <span class="input-group-addon">{{ 'secondes' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'Durée du bannissement' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="security::bantime"/>
                                <span class="input-group-addon">{{ 'secondes (-1 pour infini)' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{{ 'IP "blanche"' }}</label>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="configKey form-control" data-l1key="security::whiteips"/>
                        </div>
                    </div>
                </fieldset>

                <!-- IP section -->
                <fieldset class="legend-section">
                    <legend>{{ 'IPs bannies' }}
                        {% if adminBannedIp|length != 0 %}
                            <span>{{ ' ('}}{{ adminBannedIp|length }}{{')'}}</span>
                        {% endif %}
                    </legend>
                    <div class="alert alert-info">
                        {{ 'Attention : Le bannissement d\'IP est désactivé en connexion locale... ' }}
                    </div>
                    <table class="table table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th>{{ 'IP' }}</th>
                            <th>{{ 'Date' }}</th>
                            <th>{{ 'Date de fin' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bannedIp in adminBannedIp %}
                            <tr>
                                <td>{{ bannedIp.ip }}</td>
                                <td>{{ bannedIp.startDate }}</td>
                                <td>{{ bannedIp.endDate }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</section>
