{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'common.return' | trans}}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveservices"><i class="fas fa-save"></i>{{ 'common.save' | trans }}</a>
            <a class="btn btn-danger btn-action-bar pull-right bt_cancelModifs"><i class="fas fa-times"></i>{{ 'common.cancel'|trans }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div id="services">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                {% for repo, data in adminReposList|reverse %}
                    <li role="presentation" {% if loop.last %}class="active"{% endif %}><a href="#tab{{ repo }}" aria-controls="tab{{ repo }}" role="tab" data-toggle="tab"><i class="{{ data.icon }}"></i><span>{{ data.name }}</span></a></li>
                {% endfor %}
                <li class="header pull-left"><i class="fas fa-credit-card"></i>{{ 'Services' }}</li>
            </ul>
            <div class="global-tab-content tab-content">
                {% for repo, data in adminReposList|reverse %}
                    <div role="tabpanel" class="tab-pane {% if loop.last %}active{% endif %}" id="tab{{ repo }}">
                        <fieldset>
                            <legend>{{ 'Paramètres du service' }} {{ data.name }}</legend>
                            <div class="row">
                                <div class="form-group col-xs-12 col-padding">
                                    <p class="alert alert-info">{{ data.description | trans }}</p>
                                </div>
                                <div class="form-group col-xs-12 col-padding">
                                    <label class="control-label">{{ 'Activation' }}</label>
                                    <div>
                                        <input type="checkbox" class="configKey enableRepository" data-repo="{{ repo }}" data-l1key="{{ repo }}::enable" id="enableRepo{{ repo }}"/>
                                        <label for="enableRepo{{ repo }}" class="control-label label-check"></label>
                                    </div>
                                </div>
                                {% if data['scope']['hasConfiguration'] %}
                                    <div class="repositoryConfiguration{{ repo }}" style="display:none;">
                                        {% for config, param in data['configuration']['configuration'] %}
                                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                                <label class="control-label">{{ param.name | trans }}</label>
                                                {% set placeholder = '' %}
                                                {% set defaultValue = '' %}
                                                {% if param['placeholder'] is defined %}
                                                    {% set placeholder = param.placeholder %}
                                                {% endif %}
                                                {% if param['default'] is defined %}
                                                    {% set defaultValue = param.default %}
                                                {% endif %}
                                                {% if param['type'] == 'checkbox' %}
                                                    <div>
                                                        <input type="checkbox" class="configKey" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" id="{{ repo }}::{{ config }}"/>
                                                        <label for="{{ repo }}::{{ config }}" class="control-label label-check">{{ 'common.activate' | trans }}</label>
                                                    </div>
                                                {% elseif param.type == 'input' %}
                                                    <div class="input-group">
                                                        <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="{{ repo }}::{{ config }}" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                                        <input class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" placeholder="{{ placeholder | trans}}"/>
                                                    </div>
                                                {% elseif param['type'] == 'number' %}
                                                    <div class="input-group">
                                                        <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="{{ repo }}::{{ config }}" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                                        <input type="number" class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" placeholder="{{ placeholder | trans }}"/>
                                                    </div>
                                                {% elseif param.type == 'password' %}
                                                    <div>
                                                        <input type="password" class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" placeholder="{{ placeholder | trans }}"/>
                                                    </div>
                                                {% elseif param.type == 'select' %}
                                                    <div>
                                                        <select class="configKey form-control" data-l1key="{{ repo }}::{{ config }}">
                                                            {% for selectKeys, selectValues in param.values %}
                                                                <option value={{ selectKeys }}>{{ selectValues | trans }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                {% else %}
                                                    <div class="input-group">
                                                        <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="{{ repo }}::{{ config }}" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                                        <input class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" placeholder="{{ placeholder | trans }}"/>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        {% if data.scope.test is defined and data.scope.test %}
                                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                                <label class="control-label">{{ 'Tester' }}</label>
                                                <div>
                                                    <a class="btn btn-warning testRepoConnection" data-repo="{{ repo }}"><i class="fas fa-rss"></i>{{ 'Tester' }}</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </fieldset>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
