<div class="box" id="summary">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-table">&nbsp;&nbsp;</i>{{ 'Résumés' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <!-- Summary Section -->
        <div class="">
            <div class="col-md-10 col-xs-12 container-fluid">
                <legend class="legend-title legend-first">{{ 'Résumés domotique' }}</legend>
            </div>
            <div class="col-md-2 col-xs-12 container-fluid">
                <div class="box-tools pull-right padding-bottom">
                    <a class="btn btn-success" id="bt_addObjectSummary"><i class="fa fa-plus-circle">&nbsp;&nbsp;</i>{{ 'Ajouter' }}</a>
                </div>
            </div>
            <table class="table table-condensed table-bordered" id="table_objectSummary">
                <thead>
                <tr>
                    <th>{{ 'Clé' }}</th>
                    <th>{{ 'Nom' }}</th>
                    <th>{{ 'Calcul' }}</th>
                    <th>{{ 'Icône' }}</th>
                    <th>{{ 'Unité' }}</th>
                    <th>{{ 'Méthode de comptage' }}</th>
                    <th>{{ 'Affichage si valeur nulle' }}</th>
                    <th>{{ 'Lien à un virtuel' }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <div class="fab" style="z-index:999">
        <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
        <ul class="fab-buttons">
            <li class="fab-buttons__item"><a class="fab-buttons__link" id="bt_savesummary" style="background-color:green"><i class="fas fa-save"></i></a></li>
            <li class="fab-buttons__item"><a class="fab-buttons__link" href="index.php?v=d&p=administration" style="background-color:#c9302c"><i class="fas fa-chevron-left"></i></a></li>
        </ul>
    </div>
</div>
