<div class="box" id="summary">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-hand-o-right"></i>{{ 'Résumés' }}</h3>
        <div class="box-tools pull-right">
                            <a class="btn btn-success btn-xs" id="bt_savesummary"><i class="fa fa-check-circle"></i> {{ 'Sauvegarder' }}</a>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <a href="index.php?v=d&p=administration" <button type="button" class="btn btn-box-tool" ><i class="fa fa-times"></i></button></a>
        </div>
    </div>
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>
                <i class="fa fa-plus-circle pull-right cursor" id="bt_addObjectSummary"></i>
                <table class="table table-condensed table-bordered" id="table_objectSummary">
                    <thead>
                    <tr>
                        <th>{{ 'Clef' }}</th>
                        <th>{{ 'Nom' }}</th>
                        <th>{{ 'Calcul' }}</th>
                        <th>{{ 'Icone' }}</th>
                        <th>{{ 'Unité' }}</th>
                        <th>{{ 'Méthode de comptage' }}</th>
                        <th>{{ 'Affiché si valeur égale 0' }}</th>
                        <th>{{ 'Liée à un virtuel' }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </fieldset>
        </form>
    </div>
</div>
