{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveupdate_admin"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div id="update_admin">
        <form class="form-horizontal">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right" role="tablist">
                    {% for repo, data in adminReposList %}
                        <li role="presentation">
                            <a href="#tab{{ repo }}" aria-controls="tab{{ repo }}" role="tab" data-toggle="tab">{{ data['name'] }}</a>
                        </li>
                    {% endfor %}
                    <li role="presentation" class="active">
                        <a href="#tabUpdate" aria-controls="tabUpdate" role="tab" data-toggle="tab">{{ 'Mises à jour' }}</a>
                    </li>
                    <li class="header pull-left"><i class="fas fa-credit-card"></i>{{ 'Services' }}</li>
                </ul>
                <div class="global-tab-content tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tabUpdate">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>{{ 'Paramètres de mises à jour' }}</legend>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Vérification automatique' }}</label>
                                    <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                                        <input type="checkbox" class="configKey" data-l1key="update::autocheck" id="autocheck"/>
                                        <label for="autocheck" class="control-label label-check">{{'Activer'}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Source de mise à jour' }}</label>
                                    <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                                        <select class="configKey form-control" data-l1key="core::repo::provider">
                                            <option value="default">{{ 'Défaut' }}</option>
                                            {% for repo, data in adminReposList %}
                                                {% if data['scope']['core'] is defined and data['score']['core'] and adminConfigs[repo ~ '::enable' ] == 0 %}
                                                    <option value="{{ repo }}">{{ data['name'] }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Version du core' }}</label>
                                    <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                                        <select class="configKey form-control" data-l1key="core::branch">
                                            <option value="beta">{{ 'Beta (Plus d\'accès au support)' }}</option>
                                            <option value="master">{{ 'Stable' }}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    {% for repo, data in adminReposList %}
                        <div role="tabpanel" class="tab-pane" id="tab{{ repo }}">
                            <fieldset>
                                <legend>{{ 'Paramètres du service' }} {{ data['name'] }}</legend>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Activation' }}</label>
                                    <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                                        <input type="checkbox" class="configKey enableRepository" data-repo="{{ repo }}" data-l1key="{{ repo }}::enable" id="enableRepo{{ repo }}"/>
                                        <label for="enableRepo{{ repo }}" class="control-label label-check"></label>
                                    </div>
                                </div>
                                {% if data['scope']['hasConfiguration'] %}
                                    <div class="repositoryConfiguration{{ repo }}" style="display:none;">
                                        {% for config, param in data['configuration']['configuration'] %}
                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">
                                                    {{ param['name'] }}
                                                </label>
                                                <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                                                    {% set placeholder = '' %}
                                                    {% if param['placeholder'] is defined %}
                                                    {%   set placeholder = param['placeholder']   %}
                                                    {% endif %}
                                                    {% if param['default'] is defined %}
                                                        {% set defaultValue = param['default'] %}
                                                    {% else %}
                                                        {% set defaultValue = '' %}
                                                    {% endif %}
                                                    {% if param['type'] == 'checkbox' %}
                                                        <input type="checkbox" class="configKey" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" id="{{ repo }}::{{ config }}"/>
                                                        <label for="{{ repo }}::{{ config }}" class="control-label label-check">{{ 'Activer' }}</label>
                                                    {% elseif param['type'] == 'input' %}
                                                        <input class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" placeholder="{{placeholder}}"/>
                                                    {% elseif param['type'] == 'number' %}
                                                        <input type="number" class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" placeholder="{{placeholder}}"/>
                                                    {% elseif param['type'] == 'password' %}
                                                        <input type="password" class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" placeholder="{{placeholder}}"/>
                                                    {% else %}
                                                        <input class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}" placeholder="{{placeholder}}"/>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% if data['scope']['test'] is defined and data['scope']['test'] %}
                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Tester' }}</label>
                                                <div class="col-sm-4">
                                                    <a class="btn btn-warning testRepoConnection" data-repo="{{ repo }}"><i class="fas fa-rss"></i>{{ 'Tester' }}</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </fieldset>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
</section>
