<div class="box" style="display: none;" id="div_Update">
    <div class="box-header">
        <legend ><i class="fa fa-hand-o-right"></i>{{ 'Mise a jour' }}</legend>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool btn-close" ><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{{ 'Mise à jour de' }} {{ adminConfigs['product_name'] }}</legend>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label">{{ 'Source de mise à jour' }}</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select class="configKey form-control" data-l1key="core::repo::provider">
                                    <option value="default">{{ 'Défaut' }}</option>
                                    {% for repo, data in adminReposList %}
                                        {% if data['scope']['core'] is defined and data['score']['core'] and adminConfigs[repo ~ '::enable' ] == 0 %}
                                            <option value="{{ repo }}">{{ data['name'] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label">{{ 'Version du core' }}</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select class="configKey form-control" data-l1key="core::branch">
                                    <option value="beta">{{ 'Beta (Plus d\'accès au support)' }}</option>
                                    <option value="master">{{ 'Stable' }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label">{{ 'Vérifier automatiquement si il y a des mises à jour' }}</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="configKey" data-l1key="update::autocheck"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-6">
                <form class="form-horizontal">
                    <fieldset>
                        <ul class="nav nav-tabs" role="tablist">
                            {% for repo, data in adminReposList %}
                                <li role="presentation" {% if repo == 'market' %}class="active"{% endif %}>
                                    <a href="#tab{{ repo }}" aria-controls="tab{{ repo }}" role="tab" data-toggle="tab">{{ data['name'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for repo, data in adminReposList %}
                                <div role="tabpanel" class="tab-pane {% if repo == 'market' %}active{% endif %}" id="tab{{ repo }}">
                                    <br/>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label">{{ 'Activer' }} {{ data['name'] }}</label>
                                        <div class="col-sm-1">
                                            <input type="checkbox" class="configKey enableRepository" data-repo="{{ repo }}" data-l1key="{{ repo }}::enable"/>
                                        </div>
                                    </div>
                                    {% if data['scope']['hasConfiguration'] %}
                                        <div class="repositoryConfiguration{{ repo }}" style="display:none;">
                                            {% for config, param in data['configuration']['configuration'] %}
                                                <div class="form-group">
                                                    <label class="col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label">
                                                        {{ param['name'] }}
                                                    </label>
                                                    <div class="col-sm-6">
                                                        {% if param['default'] is defined %}
                                                            {% set defaultValue = param['default'] %}
                                                        {% else %}
                                                            {% set defaultValue = '' %}
                                                        {% endif %}
                                                        {% if param['type'] == 'checkbox' %}
                                                            <input type="checkbox" class="configKey" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}"/>
                                                        {% elseif param['type'] == 'input' %}
                                                            <input class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}"/>
                                                        {% elseif param['type'] == 'number' %}
                                                            <input type="number" class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}"/>
                                                        {% elseif param['type'] == 'password' %}
                                                            <input type="password" class="configKey form-control" data-l1key="{{ repo }}::{{ config }}" value="{{ defaultValue }}"/>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% if data['scope']['test'] is defined and data['scope']['test'] %}
                                                <div class="form-group">
                                                    <label class="col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label">{{ 'Tester' }}</label>
                                                    <div class="col-sm-4">
                                                        <a class="btn btn-default testRepoConnection" data-repo="{{ repo }}"><i class="fa fa-check"></i> {{ 'Tester' }}</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
