<div class="box blurPanel" id="users">
    <!-- Header bar -->
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-users">&nbsp;&nbsp;</i>{{ 'Gestion des utilisateurs' }}</h3>
    </div>

    <!-- Page content -->
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>

                <!-- Users section -->
                <div>
                    <div class="col-md-8 col-xs-12 container-fluid">
                        <legend class="legend-title legend-first">{{ 'Liste des utilisateurs' }}</legend>
                    </div>
                    <div class="col-md-4 col-xs-12 container-fluid">
                        <div class="box-tools pull-right padding-bottom">
                            {% if userLdapEnabled != '1' %}
                                <a class="btn btn-warning" id="bt_addUser"><i class="fas fa-plus-circle">&nbsp;&nbsp;</i>{{ 'Ajouter un utilisateur' }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="user">
                        <table class="table table-condensed table-bordered" id="table_user">
                            <thead>
                            <th>{{ 'Utilisateur' }}</th>
                            <th style="width: 100px;">{{ 'Actif' }}</th>
                            <th>{{ 'Profil' }}</th>
                            <th>{{ 'Clé API' }}</th>
                            <th>{{ 'Double authentification' }}</th>
                            <th>{{ 'Dernière connexion' }}</th>
                            <th>{{ 'Actions' }}</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <!-- Sessions section -->
                <div class="legend-section">
                    <legend class="legend-title">{{ 'Sessions actives' }}</legend>
                    <table class="table table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 250px;">{{ 'ID' }}</th>
                            <th style="width: 250px;">{{ 'Utilisateur' }}</th>
                            <th style="width: 250px;">{{ 'IP' }}</th>
                            <th style="width: 250px;">{{ 'Date' }}</th>
                            <th>{{ 'Actions' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if userSessionsList|length > 0 %}
                            {% for sessionId, sessionData in userSessionsList %}
                                {% if sessionData['ip'] is not defined %}
                                    {% set sessionData = sessionData|merge({'ip': ''}) %}
                                {% endif %}
                                {% if sessionData['datetime'] is not defined %}
                                    {% set sessionData = sessionData|merge({'datetime': ''}) %}
                                {% endif %}
                                <tr data-id="{{ sessionId }}">
                                    <td>{{ sessionId }}</td>
                                    <td>{{ sessionData['login'] }}</td>
                                    <td>{{ sessionData['ip'] }}</td>
                                    <td>{{ sessionData['datetime'] }}</td>
                                    <td><a class="btn btn-warning btn-sm bt_deleteSession pull-right"><i class="fa fa-sign-out">&nbsp;&nbsp;</i>{{ 'Déconnecter' }}</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                <!-- Periphériques section -->
                <div class="legend-section">
                    <div class="col-md-10 col-xs-12 container-fluid">
                        <legend class="legend-title">{{ 'Périphériques enregistrés' }}</legend>
                    </div>
                    <div class="col-md-2 col-xs-12 container-fluid">
                        <div class="box-tools pull-right padding-bottom">
                            <a class="btn btn-warning" id="bt_removeAllRegisterDevice"><i class="fas fa-trash">&nbsp;&nbsp;</i>{{ 'Supprimer tout' }}</a>
                        </div>
                    </div>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th style="width: 250px;">{{ 'ID' }}</th>
                            <th style="width: 250px;">{{ 'Utilisateur' }}</th>
                            <th style="width: 250px;">{{ 'IP' }}</th>
                            <th style="width: 250px;">{{ 'Date' }}</th>
                            <th>{{ 'Action' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in usersList %}
                            {% if user.getOptions('registerDevice') is iterable and user.getOptions('registerDevice')|length > 0 %}
                                {% for deviceId, deviceData in user.getOptions('registerDevice') %}
                                    <tr data-key="{{ deviceId }}" data-user_id="{{ user.getId() }}">
                                        <td>{{ deviceId|slice(0, 10) }}</td>
                                        <td>{{ user.getLogin() }}</td>
                                        <td>{{ deviceData['ip'] }}</td>
                                        <td>{{ deviceData['datetime'] }}</td>
                                        <td><a class="btn btn-warning btn-sm bt_removeRegisterDevice pull-right"><i class="fas fa-trash">&nbsp;&nbsp;</i>{{ 'Supprimer' }}</a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>

        <!-- New user modal section -->
        <div class="modal fade" id="md_newUser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">×</button>
                        <h3>{{ 'Ajouter un utilisateur' }}</h3>
                    </div>
                    <div class="modal-body">
                        <div style="display: none;" id="div_newUserAlert"></div>
                        <input class="form-control form-group" type="text" id="in_newUserLogin" placeholder="{{ 'Identifiant...' }}"/><br/><br/>
                        <input class="form-control" type="password" id="in_newUserMdp" placeholder="{{ 'Mot de passe...' }}"/>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban">&nbsp;&nbsp;</i>{{ 'Annuler' }}</a>
                        <a class="btn btn-success" id="bt_newUserSave"><i class="fas fa-save">&nbsp;&nbsp;</i>{{ 'Valider' }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab" style="z-index:999">
    <span class="fab-action-button"><i class="fab-action-button__icon fas fa-bars"></i></span>
    <ul class="fab-buttons">
        <li class="fab-buttons__item"><a class="fab-buttons__link bg-green-active" id="bt_saveUser" title="" data-tooltip="{{ 'Sauvegarder' }}"><i class="fas fa-save"></i></a></li>
    </ul>
</div>
<div class="fab fab-bis" style="z-index:999">
    <span class="fab-action-button bg-red"><a class="fab-action-button__icon fas fa-chevron-left" href="index.php?v=d&p=administration"></a></span>
</div>
