{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'common.return' | trans }}</a>
            {% if userLdapEnabled != '1' %}
                <a class="btn btn-success btn-action-bar" id="bt_addUser"><i class="fas fa-plus-circle"></i>{{ 'Ajouter un utilisateur' }}</a>
            {% endif %}
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveUser"><i class="fas fa-save"></i>{{ 'common.save' | trans }}</a>
            <a class="btn btn-danger btn-action-bar pull-right bt_cancelModifs"><i class="fas fa-times"></i>{{ 'common.cancel'|trans }}</a>
            <a class="btn btn-warning btn-action-bar pull-right" id="bt_removeAllRegisterDevice"><i class="fas fa-trash"></i>{{ 'Supprimer tous les périphériques' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="users">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation"><a href="#tabPeriph" aria-controls="tabPeriph" role="tab" data-toggle="tab"><i class="fas fa-laptop"></i><span>{{ 'Périphériques' }}</span></a></li>
                <li role="presentation"><a href="#tabSessions" aria-controls="tabSessions" role="tab" data-toggle="tab"><i class="fas fa-chalkboard-teacher"></i><span>{{ 'Sessions' }}</span></a></li>
                <li role="presentation" class="active"><a href="#tabUsers" aria-controls="tabUsers" role="tab" data-toggle="tab"><i class="fas fa-user"></i><span>{{ 'Utilisateurs' }}</span></a></li>
                <li class="header pull-left"><i class="fas fa-users"></i>{{ 'Gestion des utilisateurs' }}</li>
            </ul>
            <div class="global-tab-content tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabUsers">
                    <fieldset>
                        <legend>{{ 'Liste des utilisateurs' }}</legend>
                        <div class="row">
                            <div class="form-group col-xs-12" id="user">
                                <table class="table table-condensed table-bordered text-center" id="table_user">
                                    <thead>
                                    <th>{{ 'Utilisateur' }}</th>
                                    <th>{{ 'common.active' | trans }}</th>
                                    <th>{{ 'Profil' }}</th>
                                    <th>{{ 'Clé API' }}</th>
                                    <th>{{ 'Double authentification' }}</th>
                                    <th>{{ 'Dernière connexion' }}</th>
                                    <th>{{ 'common.actions' | trans }}</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div role="tabpanel" class="tab-pane" id="tabSessions">
                    <!-- Sessions section -->
                    <fieldset>
                        <legend>{{ 'Sessions actives' }}</legend>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <table class="table table-condensed table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th>{{ 'common.id' | trans }}</th>
                                        <th>{{ 'Utilisateur' }}</th>
                                        <th>{{ 'IP' }}</th>
                                        <th>{{ 'common.date' | trans }}</th>
                                        <th>{{ 'common.actions' | trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if userSessionsList|length > 0 %}
                                        {% for sessionId, sessionData in userSessionsList %}
                                            {% if sessionData['ip'] is not defined %}
                                                {% set sessionData = sessionData|merge({'ip': ''}) %}
                                            {% endif %}
                                            {% if sessionData['datetime'] is not defined %}
                                                {% set sessionData = sessionData|merge({'datetime': ''}) %}
                                            {% endif %}
                                            <tr data-id="{{ sessionId }}">
                                                <td>{{ sessionId }}</td>
                                                <td>{{ sessionData.login }}</td>
                                                <td>{{ sessionData.ip }}</td>
                                                <td>{{ sessionData.datetime }}</td>
                                                <td><a class="btn btn-warning btn-sm bt_deleteSession pull-right"><i class="fas fa-sign-out-alt"></i>{{ 'Déconnecter' }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div role="tabpanel" class="tab-pane" id="tabPeriph">
                    <!-- Periphériques section -->
                    <fieldset>
                        <legend>{{ 'Périphériques enregistrés' }}</legend>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <table class="table table-bordered table-condensed text-center">
                                    <thead>
                                    <tr>
                                        <th>{{ 'common.id' | trans }}</th>
                                        <th>{{ 'Utilisateur' }}</th>
                                        <th>{{ 'IP' }}</th>
                                        <th>{{ 'common.date' | trans }}</th>
                                        <th>{{ 'common.action' | trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in usersList %}
                                        {% if user.getOptions('registerDevice') is iterable and user.getOptions('registerDevice')|length > 0 %}
                                            {% for deviceId, deviceData in user.getOptions('registerDevice') %}
                                                <tr data-key="{{ deviceId }}" data-user_id="{{ user.getId() }}">
                                                    <td>{{ deviceId|slice(0, 10) }}</td>
                                                    <td>{{ user.getLogin() }}</td>
                                                    <td>{{ deviceData.ip }}</td>
                                                    <td>{{ deviceData.datetime }}</td>
                                                    <td><a class="btn btn-warning btn-sm bt_removeRegisterDevice pull-right"><i class="fas fa-trash"></i>{{ 'common.remove' | trans }}</a></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <!-- New user modal section -->
        <div class="modal fade" id="md_newUser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="bootbox-close-button close" data-dismiss="modal">×</button>
                        <h4>{{ 'Ajouter un utilisateur' }}</h4>
                    </div>
                    <div class="modal-body">
                        <div style="display: none;" id="div_newUserAlert"></div>
                        <input class="form-control form-group" type="text" id="in_newUserLogin" placeholder="{{ 'Identifiant...' }}"/>
                        <input class="form-control form-group" type="password" id="in_newUserMdp" placeholder="{{ 'Mot de passe...' }}"/>
                        <div class="form-group">
                            <div class="progress progress-slim">
                                <div id="newUserPasswordProgress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                            </div>
                            <span id="newUserPasswordLevel" class="label label-value"></span>
                            <span class="label label-value pull-right" data-toggle="tooltip" title="" data-original-title="{{'security.rules'|trans}}"><i class="fas fa-question-circle no-spacing"></i></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i>{{ 'common.cancel' | trans }}</a>
                        <a class="btn btn-success" id="bt_newUserSave"><i class="fas fa-save"></i>{{ 'common.validate' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- New password modal section -->
        <div class="modal fade" id="md_newPassword">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="bootbox-close-button close" data-dismiss="modal">×</button>
                        <h4>{{ 'Quel est le nouveau mot de passe ?' }}</h4>
                    </div>
                    <div class="modal-body">
                        <div style="display: none;" id="div_newUserAlert"></div>
                        <input class="form-control form-group" type="password" id="in_newPassword" placeholder="{{ 'Mot de passe...' }}"/>
                        <div class="form-group">
                            <div class="progress progress-slim">
                                <div id="newPasswordProgress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                            </div>
                            <span id="newPasswordLevel" class="label label-value" data-toggle="tooltip" title="" data-original-title="{{'security.rules'|trans}}"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i>{{ 'common.cancel' | trans }}</a>
                        <a class="btn btn-success" id="bt_newPasswordSave"><i class="fas fa-save"></i>{{ 'common.validate' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
