{#
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*/
#}

<footer class="main-footer footer-center">
    <strong><a class="cursor spacing-right" href="https://www.nextdom.org" target="_blank">{{ 'footer.licence'|trans ~ ' - ' ~ 'now'|date('Y') ~ ' NextDom.' }}</a></strong>
    <span><i class="fas fa-certificate spacing-right"></i>{{ 'footer.rights'|trans }}.</span>
    <span class="cursor" data-toggle="tooltip" title="" data-html="true"
        data-original-title="{% if CORE_BRANCH is defined %}{{ 'common.branch'|trans ~ ' : ' ~ CORE_BRANCH }}<br>{% endif %}
        {% if JEEDOM_VERSION is defined %}{{ 'common.jeedom-version'|trans ~ ' : ' ~ JEEDOM_VERSION }}{% endif %}">
        <i class="fas fa-code-branch spacing-left spacing-right"></i>{{ 'common.version'|trans ~ ' ' ~ NEXTDOM_VERSION }}
    </span>
    <span class="cursor" id="bt_nextdomAboutFooter"><i class="fas fa-info-circle spacing-left spacing-right"></i>{{ 'footer.about'|trans ~ ' NextDom.' }}</span>
</footer>
