<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ TITLE }}</title>
    <link rel="apple-touch-icon" href="/public/img/logo-nextdom-petit-nom-couleur-128x128" />
    <link rel="apple-touch-icon-precomposed" href="/public/img/logo-nextdom-petit-nom-couleur-128x128" />
    <link rel="shortcut icon" href="{{ PRODUCT_ICON }}">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% if CSS_POOL is defined %}
        {% for cssFile in CSS_POOL %}
            <link href="{{ cssFile }}" rel="stylesheet" />
        {% endfor %}
    {% endif %}
    {% if CUSTOM_CSS is defined %}
        {{ CUSTOM_CSS|raw }}
    {% endif %}
    {# Footer dans le futur #}
    {% include '/commons/footer.html.twig' %}
    <!-- Inclusion à l'arrache ??? -->
    <script src="/3rdparty/snap.svg/snap.svg-min.js"></script>
    {% if debugbar != false %}
       {{  debugbar.renderHead | raw}}
    {% endif %}
</head>