{#

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<header class="main-header">

    <!-- Logo -->
    <a href="{{ HOMELINK }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img class="logo-mini-img" src="/public/img/NextDom/NextDom_Square_AlphaBlackBlue.png" style="height:40px;width:auto"/></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img class="logo-lg-img" src="/public/img/NextDom/NextDom_Wide_AlphaBlueBlack.png" style="height:40px;width:auto"/></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li>
                    <a href="#" style="cursor:default;">
                        <span id="horloge_short">14:11:46</span>
                    </a>
                </li>
                <li class="dropdown notifications-menu" id="bt_messageModal">
                    <a href="#"  >
                        <i class="fas fa-bell notifbadge"></i>
                        <span class="label label-warning notifcounter">{{ MENU_NB_MESSAGES }}</span>
                    </a>
                </li>
                <!-- Tasks: style can be found in dropdown.less bt_messageModal-->
                {% if IS_ADMIN %}
                    <li class="tasks-menu">
                        <a href="index.php?v=d&p=update">
                            <i class="fas fa-download notifbadge"></i>
                            <span class="label label-danger notifcounter">{{ MENU_NB_UPDATES }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                {% if USER_AVATAR == "" %}
                    <a href="/index.php?v=d&p=profils#profil"><img src="/public/img/profils/noPicture.gif" class="img-circle" alt="User Image"></a>
                {% else %}
                    <a href="/index.php?v=d&p=profils#profil"><img src="{{ USER_AVATAR }}" class="img-circle" alt="User Image"></a>
                {% endif %}            </div>
            <div class="pull-left info">
                <p>{{ USER_LOGIN }}</p>
                {% if USER_ISCONNECTED %}
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                {% else %}
                    <a href="#"><i class="fa fa-circle text-danger"></i> Offline</a>
                {% endif %}
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU PRINCIPAL</li>
            <li class="active treeview menu-open">
                <a href="#"><i class="fa fa-home"></i> <span> Accueil </span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#"><i class="fa fa-dashboard"></i> Dashboard <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li class="treeview-menu">
                            <li><a href="index.php?v=d&p=dashboard">Afficher tout</a></li>
                            {% for jeeObject in MENU_JEEOBJECT_TREE %}
                                <li><a href="index.php?v=d&p=dashboard&object_id={{ jeeObject.getId() }}">{{ jeeObject.getHumanName(true)|raw }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-picture-o"></i> Vue(s) <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li class="treeview-menu">
                            <li><a href="index.php?v=d&p=view">Afficher tout</a></li>
                            {% for view in MENU_VIEWS_LIST %}
                                <li><a href="index.php?v=d&p=view&view_id={{ view.getId() }}">{{ view.getDisplay('icon')|trim }} {{ viewMenu.getName() }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fas fa-object-group"></i> Design(s) <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li class="treeview-menu">
                            <li><a href="index.php?v=d&p=plan">Afficher tout</a></li>
                            {% for plan in MENU_PLANS_LIST %}
                                <li><a href="index.php?v=d&p=plan&plan_id={{ plan.getId() }}">{{ plan.getConfiguration('icon')|trim }} {{ plan.getName() }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fas fa-building"></i> Plan(s) 3D <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li class="treeview-menu">
                            <li><a href="index.php?v=d&p=plan3d">Afficher tout</a></li>
                            {% for plan3d in MENU_PLANS3D_LIST %}
                                <li><a href="index.php?v=d&p=plan3d&plan3d_id={{ plan3d.getId() }}">{{ plan3d.getConfiguration('icon')|trim }} {{ plan3d.getName() }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-puzzle-piece"></i> <span>Plugins</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li class="treeview"><a href="index.php?v=d&p=plugin"><i class="fa fa-tags"></i> {{ 'Gestion' }}</a></li>
                    {# {{ pluginMenu | raw }}#}
                    {% if MENU_PLUGIN_CATEGORY is defined %}
                        {% for category, categoryData in MENU_PLUGIN_CATEGORY %}
                            <li class="treeview">
                                <a data-toggle="dropdown"><i class="fa {{ categoryData.icon }}"></i> {{ categoryData.name }}</a>
                                <ul class="treeview-menu">
                                    {% for plugin in MENU_PLUGIN[category] %}
                                        <li class="plugin-item"><a href="index.php?v=d&m={{ plugin.id }}&p={{ plugin.index }}"><img class="img-responsive" src="{{ plugin.pathImgIcon }}"/> {{ plugin.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th-list"></i>
                    <span>Outils</span>
                    <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="index.php?v=d&p=object"><i class="fa fa-picture-o"></i> {{ 'Objets' }}</a></li>
                    <li><a href="index.php?v=d&p=interact"><i class="fa fa-comments-o"></i> {{ 'Interactions' }}</a></li>
                    <li><a href="index.php?v=d&p=display"><i class="fa fa-th"></i> {{ 'Résumé domotique' }}</a></li>
                    <li><a href="index.php?v=d&p=scenario"><i class="fas fa-film"></i> {{ 'Scénarios' }}</a></li>
                    <li><a href="index.php?v=d&p=eqAnalyse"><i class="fa fa-battery-full"></i> {{ 'Equipements' }}</a></li>
                </ul>
            </li>
            <li class="header">MENU REGLAGES</li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>Expert</span>
                    <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="index.php?v=d&p=administration"><i class="fa fa-wrench"></i> {{ 'Administration' }}</a></li>
                    <li><a href="index.php?v=m"><i class="fas fa-mobile-alt"></i> {{ 'Version mobile' }}</a></li>
                    <li><a><i class="fa fa-info-circle"></i> {{ 'Version' }} {{ NEXTDOM_VERSION }}</a></li>
                    <li><a href="#"><i class="fa fa-info-circle" id="bt_messageModal"></i>{{ 'About' }}</a></li>
                    <li><a href="index.php?v=d&logout=1" class="noOnePageLoad"><i class="fas fa-lock"></i> {{ 'Se déconnecter' }}</a></li>
                    {% if IS_ADMIN and CAN_SUDO %}
                        <li><a id="bt_rebootSystem" state="0"><i class="fa fa-repeat"></i> {{ 'Redémarrer' }}</a></li>
                        <li><a id="bt_haltSystem" state="0"><i class="fa fa-power-off"></i> {{ 'Eteindre' }}</a></li>
                    {% endif %}
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
