{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=plugin"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <div class="btn-group">
                <button id="market-filter-installed" class="btn btn-primary btn-action-bar"><i class="fas fa-thumbs-up"></i><span>{{ 'Installés' }}</span></button>
                <button id="market-filter-notinstalled" class="btn btn-primary btn-action-bar"><i class="fas fa-thumbs-down"></i><span>{{ 'Non installés' }}</span></button>
            </div>
            {% if marketSourcesList|length > 1 and marketSourcesFilter %}
                <div id="market-filter-src" class="btn-group">
                    {% for source in marketSourcesList %}
                        <button type="button" class="btn btn-primary btn-action-bar" data-source="{{ source['name'] }}">{{ source['name'] }}</button>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="btn-group">
                <select class="form-control" id="market-filter-category">
                    <option value="all">{{ 'Toutes les Catégories' }}</option>
                    <option value="security">{{ 'Sécurité' }}</option>
                    <option value="automation protocol">{{ 'Protocole domotique' }}</option>
                    <option value="programming">{{ 'Programmation' }}</option>
                    <option value="organization">{{ 'Organisation' }}</option>
                    <option value="weather">{{ 'Météo' }}</option>
                    <option value="communication">{{ 'Communication' }}</option>
                    <option value="devicecommunication">{{ 'Objets communicants' }}</option>
                    <option value="multimedia">{{ 'Multimédia' }}</option>
                    <option value="wellness">{{ 'Bien-être' }}</option>
                    <option value="monitoring">{{ 'Monitoring' }}</option>
                    <option value="health">{{ 'Santé' }}</option>
                    <option value="nature">{{ 'Nature' }}</option>
                    <option value="automatisation">{{ 'Automatisme' }}</option>
                    <option value="energy">{{ 'Energie' }}</option>
                </select>
            </div>
        </div>
        <div class="action-group" id="admin-buttons">
            <a class="btn btn-warning btn-action-bar pull-right" id="mass-update"><i class="fas fa-download"></i>{{ 'Mise(s) à jour' }}</a>
            <a class="btn btn-primary btn-action-bar pull-right" id="refresh-markets"><i class="fas fa-refresh"></i>{{ 'Rafraîchir' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-shopping-cart"></i>{{ 'Market Nextdom' }}</h3>
        </div>
        <div class="box-body">
            <div class="row" id="market-div">

            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="market-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="market-modal-title"></h4>
            </div>
            <div class="modal-body" id="market-modal-content">
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><i class="fas fa-minus-circle"></i>{{ 'Annuler' }}</a>
                <a class="btn btn-warning" id="market-modal-valid"><i class="fas fa-check"></i><span id="market-modal-valid-text"></span></a>
            </div>
        </div>
    </div>
</div>
