{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=plugin"><i class="fas fa-chevron-left"></i>{{ 'Retour' }}</a>
            <div class="btn-group">
                <a class="btn btn-default" id="authorSearch"><i class="fas fa-user"></i><span>{{ 'Un Auteur ?' }}</span></a>
                <a class="btn btn-default" id="pluginNameSearch"><i class="fas fa-tag"></i><span>{{ 'Un Nom ?' }}</span></a>
                <a class="btn btn-primary" id="resetSearch"><i class="fas fa-times"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default bt_pluginFilterCost" data-filter="free"><i class="fas fa-gift"></i><span>{{ 'Gratuit' }}</span></a>
                <a class="btn btn-default bt_pluginFilterCost" data-filter="paying"><i class="fas fa-euro-sign"></i><span>{{ 'Payant' }}</span></a>
                <a class="btn btn-primary bt_pluginFilterCost" data-filter=""><i class="fa fa-times"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default bt_pluginFilterInstall" data-filter="notInstall"><i class="fas fa-thumbs-up"></i><span>{{ 'Installé' }}</span></a>
                <a class="btn btn-default bt_pluginFilterInstall" data-filter="install"><i class="fas fa-thumbs-down"></i><span>{{ 'Non installé' }}</span></a>
                <a class="btn btn-primary bt_pluginFilterInstall" data-filter=""><i class="fa fa-times"></i></a>
            </div>
            <div class="btn-group">
                <select class="form-control" id="sel_certif">
                    <option value="" selected>{{ 'Tous' }}</option>
                    <option value="Officiel">{{ 'Officiel' }}</option>
                    <option value="Conseillé">{{ 'Conseillé' }}</option>
                    <option value="Premium">{{ 'Premium' }}</option>
                    <option value="Partenaire">{{ 'Partenaire' }}</option>
                    <option value="Legacy">{{ 'Legacy' }}</option>
                </select>
            </div>
        </div>
        <div class="action-group">
            <div class="btn-group">
                <select class="form-control" id="sel_type">
                    {% for type in marketTypes %}
                        <option value="{{ type.key }}" {% if type.key in marketType %} selected{% endif %}>{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="btn-group">
                <select class="form-control" id="sel_categorie">
                    {% if marketCategorie == '' %}
                        <option value="" selected>{{ 'Top & Nouveautés' }}</option>
                    {% else %}
                        <option value="">{{ 'Top & Nouveautés' }}</option>
                    {% endif %}
                    {% for categorie in marketCategories %}
                        <option value="{{ categorie.key }}" {% if categorie.key in marketCategorie %} selected{% endif %}>{{ categorie.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="action-group">
            <a class="btn btn-action btn-action-bar pull-right" style="display:none;" id="bt_marketCollapse"><i class="fas fa-plus-square"></i>{{ 'Déplier' }}</a>
            <a class="btn btn-action btn-action-bar pull-right" id="bt_marketUncollapse"><i class="fas fa-minus-square"></i>{{ 'Replier' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-shopping-cart"></i>{{ 'Market Jeedom' }}</h3>
            {% if marketUser != '' %}
                <span class="label label-info pull-right badge pull-right">{{marketUser}}
                    {% if marketUserTest %}
                        <i class="fas fa-check spacing-left"></i>
                    {% else %}
                        <i class="fas fa-times spacing-left"></i>
                    {% endif %}
                </span>
            {% endif %}
        </div>
        <div class="box-body">
            {% if markets|length >= marketLimit %}
                <div><p class="alert alert-warning" style="margin-bottom:0px">{{ 'Attention l\'affichage est limité à ' }}{{ marketLimit }}{{ ' résultats, utilisez les filtres ou la recherche par nom ou auteur si ce que vous cherchez n\'apparaît pas...' }}</p></div>
            {% else %}
                <div><span>{{ markets|length }} {% if marketType == '' %}{{ 'objets' }}{% else %}{{ marketType }}{{ 's' }}{% endif %}{{ ' disponibles dans cette catégorie et pour la recherche globale, utilisez les filtres ou la recherche par nom ou auteur si ce que vous cherchez n\'apparaît pas...' }}</span></div>
            {% endif %}
        </div>
    </div>

    {% for objectCategory in marketObjectsByCategory %}
        <div class="box-group" id="accordionPlugin{{ objectCategory.id }}">
            <div class="panel box">
                <a class="box-header with-border accordion-toggle" data-toggle="collapse" data-parent="" href="#config_{{ objectCategory.id }}">
                    <h3 class="box-title">
                        <span class="accordion-toggle" data-toggle="collapse" data-parent="#accordionPlugin{{ objectCategory.id }}" href="#config_none" style="text-decoration:none;" data-category="{{ objectCategory.id }}"><i class="fas {{ objectCategory.icon }} spacing-right"></i>{{ objectCategory.name }}</span>
                    </h3>
                </a>
                <div id="config_{{ objectCategory.id }}" class="panel-collapse collapse in">
                    <div class="box-body">
                        <div class="pluginContainer DisplayCard text-center" data-category="{{ objectCategory.id }}">
                            {% for object in objectCategory.objects %}
                                <div class="market cursor {{ object.installed }}" data-install="{{ object.installed }}" data-category="{{ object.category }}" data-cost="{{ object.cost }}" data-certification="{{ object.certification }}" data-name="{{ object.name }}" data-market_id="{{ object.id }}" data-market_type="{{ object.type }}">
                                    {% if object.type != 'widget' %}
                                        <div class="market-certification market-{{ object.certificationClass }}">{{ object.certification|upper }}</div>
                                    {% else %}
                                        <i class="fas fa-{{object.mobile}}{% if object.mobile == 'mobile' %}-alt{% endif %} market-widget" title="{{ 'Widget pour la version ' }}{{ object.mobile }}"></i>
                                    {% endif %}
                                    {% if object.installed == 'notInstall' %}<i class="fas fa-check market-install"></i>{% endif %}
                                    <div>
                                        <img class="lazy lazyload market-icon" src="{{ object.default_image }}" data-original="{{ object.urlPath }}"/>
                                    </div>
                                    <span class="market-name">{{ object.name }}</span>
                                    <span class="market-author"><i>{{ 'par ' }}</i>{{ object.author }}</span>
                                    <span class="market-rating">
                                        {% for i in 1..5 %}
                                            {% if i <= object.note %}
                                                <i class="fas fa-star"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                    {% if object.cost > 0 %}
                                        <span class="market-cost">
                                            {% if object.purchase == 1 %}
                                                <i class="fas fa-check-circle"></i>
                                            {% else %}
                                                {% if object.cost != object.realCost %}
                                                    <span style="text-decoration:line-through;">{{ object.realCost }}{{ ' €' }}</span>
                                                {% endif %}
                                                {{ object.cost }}{{ ' €' }}
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        {% if object.cost < 0 %}
                                            <span class="market-cost">{{ 'Nous contacter'}}</span>
                                        {% else %}
                                            <span class="market-cost">{{ 'Gratuit' }}</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
          </div>
    {% endfor %}
</section>
