{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-success btn-action-bar" id="bt_addCron"><i class="fas fa-plus-circle"></i>{{ 'Ajouter' }}</a>
            {% if cronEnabled == 0 %}
                <a class="btn btn-primary btn-action-bar" id="bt_changeCronState" data-state="1"><i class="fas fa-check"></i>{{ 'Activer le système cron' }}</a>
            {% else %}
                <a class="btn btn-danger btn-action-bar" id="bt_changeCronState" data-state="0"><i class="fas fa-times"></i>{{ 'Désactiver le système cron' }}</a>
            {% endif %}
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_save"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
            <a class="btn btn-warning btn-action-bar pull-right" id="bt_refreshCron"><i class="fas fa-refresh"></i>{{ 'Rafraîchir' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="nav-tabs-custom config" id="cron">
        <!-- Tabs title -->
        <ul class="nav nav-tabs pull-right" role="tablist">
            <li role="presentation" class="active"><a href="#cron-tab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tint"></i>{{ 'Cron' }}</a></li>
            <li role="presentation"><a href="#listener" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-flask"></i>{{ 'Listener' }}</a></li>
            <li class="header pull-left"><i class="fas fa-tasks"></i>{{ 'Tâches' }}</li>
        </ul>

        <!-- Tabs content -->
        <div class="global-tab-content tab-content">
            <!-- Theme tab -->
            <div role="tabpanel" class="tab-pane active" id="cron-tab">
                <div id="div_Cron">
                    <table id="table_cron" class="table table-bordered table-condensed text-center">
                        <thead>
                            <tr>
                                <th class="id">{{ 'Id' }}</th>
                                <th data-sorter="false" data-filter="false">{{ 'Détail/Run '}}</th>
                                <th class="enable">{{ 'Actif' }}</th>
                                <th class="pid">{{ 'PID' }}</th>
                                <th class="deamons">{{ 'Démon' }}</th>
                                <th class="once">{{ 'Unique' }}</th>
                                <th class="class">{{ 'Classe' }}</th>
                                <th class="function">{{ 'Fonction' }}</th>
                                <th class="schedule">{{ 'Programmation' }}<i class="fas fa-question-circle cursor bt_pageHelp spacing-left" data-name='cronSyntaxe'></i></th>
                                <th class="timeout">{{ 'Timeout (min)' }}</th>
                                <th class="lastRun">{{ 'Dernier lancement' }}</th>
                                <th class="runtime">{{ 'Dernière durée' }}</th>
                                <th class="state">{{ 'Statut' }}</th>
                                <th class="action" data-sorter="false" data-filter="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="listener">
                <table id="table_listener" class="table table-bordered table-condensed" >
                    <thead>
                         <tr>
                             <th>{{ 'Id' }}</th>
                             <th data-sorter="false" data-filter="false">{{ 'Détail/Run '}}</th>
                             <th>{{ 'Evenement' }}</th>
                             <th>{{ 'Classe' }}</th>
                             <th>{{ 'Fonction' }}</th>
                         </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
