{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=eqlogic"><i class="fas fa-cog"></i>{{ 'Paramètres' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="nav-tabs-custom">
        <!-- Tabs title -->
        <ul class="nav nav-tabs pull-right" role="tablist" id="ul_tabBatteryAlert">
            <li role="presentation" class="active batteries"><a href="#battery" aria-controls="battery" role="tab" data-toggle="tab"><i class="fas fa-battery-full"></i>{{ 'Batteries' }}</a></li>
            <li role="presentation" class="alerts"><a href="#alertEqlogic" aria-controls="alertEqlogic" role="tab" data-toggle="tab"><i class="fas fa-exclamation-triangle"></i>{{ 'Modules en alerte' }}</a></li>
            <li role="presentation"><a href="#actionCmd" aria-controls="actionCmd" role="tab" data-toggle="tab"><i class="fas fa-gears"></i>{{ 'Actions définies' }}</a></li>
            <li role="presentation"><a href="#alertCmd" aria-controls="actionCmd" role="tab" data-toggle="tab"><i class="fas fa-bell"></i>{{ 'Alertes définies' }}</a></li>
            <li role="presentation"><a href="#deadCmd" aria-controls="actionCmd" role="tab" data-toggle="tab"><i class="fas fa-h-square"></i>{{ 'Commandes orphelines' }}</a></li>
            <li class="header pull-left"><i class="fas fa-plug"></i>{{ 'Analyse des équipements' }}</li>
        </ul>

        <div class="global-tab-content tab-content">
            <div role="tabpanel" class="tab-pane active" id="battery">
                <div class="batteryListContainer">
                    {% for eqLogic in eqAnalyzeEqLogicList %}
                        {{ eqLogic.batteryWidget()|raw }}
                    {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="alertEqlogic">
                <div class="alertListContainer">
                    {% set hasAlert = false %}
                    {% for eqLogic in eqAnalyzeEqLogicList %}
                        {% if eqLogic.getAlert() != '' %}
                            {% set hasAlert = true %}
                            {{ eqLogic.toHtml('dashboard')|raw }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="Container">
                    {% if not hasAlert %}
                        <div class="alert alert-success">{{ 'Aucun module en Alerte pour le moment...' }}</div>
                    {% endif %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="actionCmd">
                <div class="cmdListContainer">
                    <table class="table table-condensed tablesorter" id="table_Action">
                        <thead>
                        <tr>
                            <th>{{ 'Equipement' }}</th>
                            <th>{{ 'Commande' }}</th>
                            <th>{{ 'Type' }}</th>
                            <th>{{ 'Actions' }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cmdData in eqAnalyzeCmdData %}
                            {% for infoCmd in cmdData['infoCmds'] %}
                                <tr>
                                    <td>
                                        <a href="{{ cmdData['eqLogic'].getLinkToConfiguration() }}" style="text-decoration: none;">{{ cmdData['eqLogic'].getHumanName(true)|raw }}</a>
                                    </td>
                                    <td>{{ infoCmd['cmd'].getName() }} ({{ infoCmd['cmd'].getId() }})</td>
                                    <td>{{ 'Action sur état' }}</td>
                                    <td>{{ 'Si' }} {{ infoCmd['cmd'].getConfiguration('nextdomCheckCmdOperator') }} {{ infoCmd['cmd'].getConfiguration('nextdomCheckCmdTest') }} {{ 'plus de' }} {{ infoCmd['cmd'].getConfiguration('nextdomCheckCmdTime') }} {{ 'minutes alors' }} :
                                        {{ infoCmd['actions']|join('|') }}
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs cmdAction pull-right" data-action="configure" data-cmd_id="{{ infoCmd['cmd'].getId() }}"><i class="fas fa-cogs"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for actionCmd in cmdData['actionCmds'] %}
                                {% if actionCmd['preExecCmds'] is defined %}
                                    <tr>
                                        <td>
                                            <a href="{{ cmdData['eqLogic'].getLinkToConfiguration() }}" style="text-decoration: none;">{{ cmdData['eqLogic'].getHumanName(true)|raw }}</a>
                                        </td>
                                        <td>{{ actionCmd['cmd'].getName() }} ({{ actionCmd['cmd'].getId() }})</td>
                                        <td>{{ 'Pre exécution' }}</td>
                                        <td>
                                            {{ actionData['preExecCmds']|join('|') }}
                                        </td>
                                        <td>
                                            <a class="btn btn-default btn-xs cmdAction pull-right" data-action="configure" data-cmd_id="{{ actionCmd['cmd'].getId() }}"><i class="fas fa-cogs"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if actionCmd['postExecCmds'] is defined %}
                                    <tr>
                                        <td>
                                            <a href="{{ cmdData['eqLogic'].getLinkToConfiguration() }}" style="text-decoration: none;">{{ cmdData['eqLogic'].getHumanName(true)|raw }}</a>
                                        </td>
                                        <td>{{ actionCmd['cmd'].getName() }} ({{ actionCmd['cmd'].getId() }})</td>
                                        <td>{{ 'Pre exécution' }}</td>
                                        <td>
                                            {{ actionData['postExecCmds']|join('|') }}
                                        </td>
                                        <td>
                                            <a class="btn btn-default btn-xs cmdAction pull-right" data-action="configure" data-cmd_id="{{ actionCmd['cmd'].getId() }}"><i class="fas fa-cogs"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% set code = '' %}
                                {% if actionCmd['cmd'].getConfiguration('actionConfirm') %}
                                    {% if actionCmd['cmd'].getConfiguration('actionCodeAccess') %}
                                        {% set code = ' avec code' %}
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <a href="{{ eqLogic.getLinkToConfiguration() }}" style="text-decoration: none;">{{ eqLogic.getHumanName(true) }}</a></td>
                                        <td>{{ actionCmd['cmd'].getName() }} ({{ actionCmd['cmd'].getId() }})</td>
                                        <td>{{ 'Confirmation' }} {{ code }}</td>
                                        <td>
                                            {{ 'Confirmation de l\'action' }} {{ code }}
                                        </td>
                                        <td>
                                            <a class="btn btn-default btn-xs cmdAction pull-right" data-action="configure" data-cmd_id="{{ actionCmd['cmd'].getId() }}"><i class="fas fa-cogs"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if actionCmd['cmd'].getConfiguration('actionCodeAccess') and not actionCmd['cmd'].getConfiguration('actionConfirm') %}
                                    <tr>
                                        <td><a href="{{ cmdData['eqLogic'].getLinkToConfiguration() }}" style="text-decoration: none;">{{ cmdData['eqLogic'].getHumanName(true) }}</a></td>
                                        <td>{{ actionCmd['cmd'].getName() }} ({{ actionCmd['cmd'].getId() }})</td>
                                        <td>{{ 'Confirmation' }} {{ code }}</td>
                                        <td>
                                            {{ 'Code de confirmation de l\'action' }}
                                        </td>
                                        <td>
                                            <a class="btn btn-default btn-xs cmdAction pull-right" data-action="configure" data-cmd_id="{{ actionCmd['cmd'].getId() }}"><i class="fas fa-cogs"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="alertCmd">
                <div class="cmdListContainer">
                    <table class="table table-condensed tablesorter" id="table_deadCmd">
                        <thead>
                        <tr>
                            <th>{{ 'Equipement' }}</th>
                            <th>{{ 'Alertes' }}</th>
                            <th>{{ 'Timeout' }}</th>
                            <th>{{ 'Seuils batterie' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for alert in eqAnalyzeAlerts %}
                            <tr>
                                <td>
                                    <a href="{{ alert['eqLogic'].getLinkToConfiguration() }}" style="text-decoration: none;">{{ alert['eqLogic'].getHumanName(true)|raw }}</a></td>
                                <td>
                                    {{ alert['msg'] }}
                                </td>
                                <td>
                                    {% if alert['eqLogic'].getTimeout('') != '' %}
                                        {{ alert['eqLogic'].getTimeout('') }} {{ 'minute(s)' }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if alert['eqLogic'].getConfiguration('battery_danger_threshold', '') != '' %}
                                        <label class="col-xs-6 eqLogicAttr label label-danger" style="font-size : 0.8em">{{ 'Danger' }} {{ alert['eqLogic'].getConfiguration('battery_danger_threshold', '') }} % </label>
                                    {% endif %}
                                    {% if alert['eqLogic'].getConfiguration('battery_warning_threshold', '') != '' %}
                                        <label class="col-xs-6 eqLogicAttr label label-warning" style="font-size : 0.8em">{{ 'Warning' }} {{ alert['eqLogic'].getConfiguration('battery_warning_threshold', '') }} % </label>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="deadCmd">
                <div class="cmdListContainer">
                    <table class="table table-condensed tablesorter" id="table_deadCmd">
                        <thead>
                        <tr>
                            <th>{{ 'Type' }}</th>
                            <th>{{ 'Détail' }}</th>
                            <th>{{ 'Commande' }}</th>
                            <th>{{ 'Utilisation' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for nextDomDeadCmd in eqAnalyzeNextDomDeadCmd %}
                            <tr>
                                <td>{{ 'Core' }}</td>
                                <td>{{ nextDomDeadCmd['detail'] }}</td>
                                <td>{{ nextDomDeadCmd['who'] }}</td>
                                <td>{{ nextDomDeadCmd['help'] }}</td>
                            </tr>
                        {% endfor %}
                        {% for cmdDeadCmd in eqAnalyzeCmdDeadCmd %}
                            <tr>
                                <td>{{ 'Commande' }}</td>
                                <td>{{ cmdDeadCmd['detail'] }}</td>
                                <td>{{ cmdDeadCmd['who'] }}</td>
                                <td>{{ cmdDeadCmd['help'] }}</td>
                            </tr>
                        {% endfor %}
                        {% for jeeObjectDeadCmd in eqAnalyzeJeeObjectDeadCmd %}
                            <tr>
                                <td>{{ 'Core' }}</td>
                                <td>{{ jeeObjectDeadCmd['detail'] }}</td>
                                <td>{{ jeeObjectDeadCmd['who'] }}</td>
                                <td>{{ jeeObjectDeadCmd['help'] }}</td>
                            </tr>
                        {% endfor %}
                        {% for scenarioDeadCmd in eqAnalyzeScenarioDeadCmd %}
                            <tr>
                                <td>{{ 'Scénario' }}</td>
                                <td>{{ scenarioDeadCmd['detail'] }}</td>
                                <td>{{ scenarioDeadCmd['who'] }}</td>
                                <td>{{ scenarioDeadCmd['help'] }}</td>
                            </tr>
                        {% endfor %}
                        {% for interactDefDeadCmd in eqAnalyzeInteractDefDeadCmd %}
                            <tr>
                                <td>{{ 'Core' }}</td>
                                <td>{{ interactDefDeadCmd['detail'] }}</td>
                                <td>{{ interactDefDeadCmd['who'] }}</td>
                                <td>{{ interactDefDeadCmd['help'] }}</td>
                            </tr>
                        {% endfor %}
                        {% for pluginDeadCmd in eqAnalyzePluginDeadCmd %}
                            <tr>
                                <td>{{ 'Core' }}</td>
                                <td>{{ pluginDeadCmd['detail'] }}</td>
                                <td>{{ pluginDeadCmd['who'] }}</td>
                                <td>{{ pluginDeadCmd['help'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
