{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=reports_admin"><i class="fas fa-cog"></i>{{ 'Paramètres' }}</a>
        </div>
        <div class="action-group" id="div_reportBtn" style="display:none;">
            <a class="btn btn-danger btn-action-bar pull-right" id="bt_removeAll"><i class="fas fa-trash"></i>{{ 'Tout supprimer' }}</a>
            <a class="btn btn-warning btn-action-bar pull-right" id="bt_remove"><i class="fas fa-times"></i>{{ 'Supprimer' }}</a>
            <a class="btn btn-success btn-action-bar pull-right" id="bt_download"><i class="fas fa-download"></i>{{ 'Télécharger' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="div_Reports-view">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-newspaper-o"></i>{{ 'Rapports' }}</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="bs-sidebar form-group">
                        <fieldset>
                            <ul id="ul_region" class="nav nav-list bs-sidenav">
                                <legend><i class="fas fa-bars"></i>{{ 'Type' }}</legend>
                                <li class="cursor label-log li_type active" data-type="view"><a><i class="fas fa-picture-o spacing-right"></i>{{ 'Vues' }}</a></li>
                                <li class="cursor label-log li_type" data-type="plan"><a><i class="fas fa-object-group spacing-right"></i>{{ 'Designs' }}</a></li>
                                <li class="cursor label-log li_type" data-type="plugin"><a><i class="fas fa-puzzle-piece spacing-right"></i>{{ 'Plugins' }}</a></li>
                            </ul>
                        </fieldset>
                    </div>
                    <div class="bs-sidebar reportType view form-group">
                        <fieldset>
                            <ul id="ul_view" class="nav nav-list bs-sidenav">
                                <legend><i class="fas fa-picture-o"></i>{{ 'Vues' }}</legend>
                                <div class="filter input-group">
                                    <div class="input-group-addon"><i class="fas fa-search"></i></div>
                                    <input class="filter form-control" placeholder="{{'Rechercher...'}}" />
                                </div>
                                {% for view in reportViews %}
                                    <li class="cursor label-log li_reportType" data-type="view" data-id="{{ view['id'] }}"><a>{{ view['icon']|raw }} {{ view['name'] }} (<span class="number">{{ view['number'] }}</span>)</a></li>
                                {% endfor %}
                            </ul>
                        </fieldset>
                    </div>
                    <div class="bs-sidebar reportType plan form-group" style="display:none">
                        <fieldset>
                            <ul id="ul_plan" class="nav nav-list bs-sidenav">
                                <legend><i class="fas fa-object-group"></i>{{ 'Designs' }}</legend>
                                <div class="filter input-group">
                                    <div class="input-group-addon"><i class="fas fa-search"></i></div>
                                    <input class="filter form-control" placeholder="{{'Rechercher...'}}" />
                                </div>
                                {% for plan in reportPlans %}
                                    <li class="cursor label-log li_reportType" data-type="plan" data-id="{{ plan['id'] }}"><a>{{ plan['icon']|raw }} {{ plan['name'] }} (<span class="number">{{ plan['number'] }}</span>)</a></li>
                                {% endfor %}
                            </ul>
                        </fieldset>
                    </div>
                    <div class="bs-sidebar reportType plugin form-group" style="display:none">
                        <fieldset>
                            <ul id="ul_plugins" class="nav nav-list bs-sidenav">
                                <legend><i class="fas fa-puzzle-piece"></i>{{ 'Plugins' }}</legend>
                                <div class="filter input-group">
                                    <div class="input-group-addon"><i class="fas fa-search"></i></div>
                                    <input class="filter form-control" placeholder="{{'Rechercher...'}}" />
                                </div>
                                {% for plugin in reportPlugins %}
                                    <li class="cursor label-log li_reportType" data-type="plugin" data-id="{{ plugin['id'] }}"><a>{{ plugin['name'] }} (<span class="number">{{ plugin['number'] }}</span>)</a></li>
                                {% endfor %}
                            </ul>
                        </fieldset>
                    </div>
                    <div class="bs-sidebar form-group">
                        <fieldset>
                            <ul id="ul_report" class="nav nav-list bs-sidenav">
                                <legend><i class="fas fa-newspaper-o"></i>{{ 'Rapports' }}</legend>
                                <div class="filter input-group">
                                    <div class="input-group-addon"><i class="fas fa-search"></i></div>
                                    <input class="filter form-control" placeholder="{{'Rechercher un rapport...'}}" />
                                </div>
                            </ul>
                        </fieldset>
                    </div>
                </div>

                <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12" style="display:none;border-left: solid 1px #EEE;" id="div_reportForm">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend class="legend-title">{{ 'Rapport selectionné' }}</legend>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Nom' }}</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input class="form-control reportAttr" type="text" data-l1key="filename" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Chemin' }}</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input class="form-control reportAttr" type="text" data-l1key="path" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Type' }}</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input class="form-control reportAttr" type="text" data-l1key="type" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Id rapport' }}</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input class="form-control reportAttr" type="text" data-l1key="id" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Extension' }}</label>
                                <div class="col-sm-10 col-xs-12">
                                    <input class="form-control reportAttr" type="text" data-l1key="extension" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-xs-12 control-label">{{ 'Aperçu' }}</label>
                                <div class="col-sm-10 col-xs-12" id="div_imgreport">

                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
