{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_savecommandes"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="commandes">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-hand-o-right"></i>{{ 'Commandes' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">
                <!-- Statistiques Section -->
                <fieldset>
                    <legend>{{ 'Statistiques' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Statistiques sur les widgets' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
                            <input type="checkbox" class="configKey" data-l1key="displayStatsWidget" id="displayStatsWidget"/>
                            <label for="displayStatsWidget" class="label-check control-label">{{'Afficher'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Période de calcul pour min, max, moy' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="historyCalculPeriod"/>
                                <span class="input-group-addon">{{ 'heures' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Période de calcul pour la tendance' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="historyCalculTendance"/>
                                <span class="input-group-addon">{{ 'heures' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Délai avant archivage' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="historyArchiveTime"/>
                                <span class="input-group-addon">{{ 'heures' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Archiver par paquet de' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="historyArchivePackage"/>
                                <span class="input-group-addon">{{ 'heures' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Seuil de calcul de tendance bas' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="configKey form-control" data-l1key="historyCalculTendanceThresholddMin"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Seuil de calcul de tendance haut' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="configKey form-control" data-l1key="historyCalculTendanceThresholddMax"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Période d\'affichage des graphiques par défaut' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <select class="configKey form-control" data-l1key="history::defautShowPeriod">
                                <option value="-6 month">{{ '6 mois' }}</option>
                                <option value="-3 month">{{ '3 mois' }}</option>
                                <option value="-1 month">{{ '1 mois' }}</option>
                                <option value="-1 week">{{ '1 semaine' }}</option>
                                <option value="-1 day">{{ '1 jour' }}</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <!-- Statistiques Section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Push' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'URL de push globale' }}</label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="configKey form-control" data-l1key="cmdPushUrl" data-toggle="tooltip" title="" data-original-title="{{ 'Mettez ici l\'URL à appeler lors d\'une mise à jour de la valeur des commandes. Vous pouvez utiliser les tags suivants : #value# (valeur de la commande), #cmd_id# (id de la commande) et #cmd_name# (nom de la commande)' }}"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
