{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left spacing-right"></i>{{ 'Retour' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success pull-right" id="bt_savecustom"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="nav-tabs-custom config" id="custom">
        <!-- Tabs title -->
        <ul class="nav nav-tabs pull-right" role="tablist">
            <li role="presentation"><a href="#advanced" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-flask"></i>{{ 'Modifications Avancées' }}</a></li>
            <li role="presentation"><a href="#colortab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-th-large"></i>{{ 'Options Tuiles' }}</a></li>
            <li role="presentation"><a href="#customtab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-paint-brush"></i>{{ 'Personnalisation graphique' }}</a></li>
            <li role="presentation" class="active"><a href="#themestab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tint"></i>{{ 'Thème' }}</a></li>
            <li class="header pull-left"><i class="fas fa-pencil-square"></i>{{ 'Customisation' }}</li>
        </ul>

        <!-- Tabs content -->
        <div class="global-tab-content tab-content">
            <div role="tabpanel" class="tab-pane active" id="themestab">
                <legend>{{ 'Selectionner votre thème' }}</legend>
                <div class="row  text-center">
                    <div id="themes" class="col-sm-12 col-md-6">
                        <div style="padding: 10px;">
                            <a style="display: block;border: 1px solid #aaa;" class="clearfix form-group">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 15px; background: #33b8cc"></span>
                                    <span style="display:block; width: 80%; float: left; height: 15px; background: #33b8cc"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 120px; background: #f9fafc"></span>
                                    <span style="display:block; width: 80%; float: left; height: 120px; background: #ecf0f5"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">White</p><input class="theme" type="radio" name="theme" value="white" checked="checked">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div style="padding: 10px;">
                            <a style="display: block;border: 1px solid #aaa;" class="clearfix form-group">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 15px; background: #33b8cc"></span>
                                    <span style="display:block; width: 80%; float: left; height: 15px; background: #33b8cc"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 120px; background: #222d32"></span>
                                    <span style="display:block;width: 80%;float: left;height: 120px;background: #444;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">Dark</p><input class=theme" type="radio" name="theme" value="dark">
                        </div>
                    </div>
                </div>
                <div class="row  text-center">
                    <div id="themes" class="col-sm-12 col-md-6">
                        <div style="padding: 10px;">
                            <a style="display: block;border: 1px solid #aaa;" class="clearfix form-group">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 15px; background: #33b8cc"></span>
                                    <span style="display:block; width: 80%; float: left; height: 15px; background: #33b8cc"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 120px; background: #222d32"></span>
                                    <span style="display:block; width: 80%; float: left; height: 120px; background: #ecf0f5"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">Mix</p><input class="theme" type="radio" name="theme" value="mix">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom tab -->
            <div role="tabpanel" class="tab-pane" id="customtab">
                <p class="alert alert-info">{{ 'Pensez à sauvegarder puis actualiser la page pour voir les changements...' }}</p>
                <fieldset>
                    <legend>{{ 'Couleurs dominantes du thème' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur d\'accentuation principale' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 1 : identité du thème, header NextDom, bouton primaires, messages d\'info, elements actifs ou survolés, textes de liens et d\'état, scrollbar, boutons fab...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color1" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color1" value="{{ Theme['color1'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de contraste' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 2 : icônes et texte sur fond accentué ou de sidebar...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color2" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color2" value="{{ Theme['color2'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond principale' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 9 : dashboard et autres fond de pages...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color9" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color9" value="{{ Theme['color9'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond secondaire' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 10 : titres, action-bar, footer, onglets, titre modale, boîtes d\'infos...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color10" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color10" value="{{ Theme['color10'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond des contenants' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 15 : boxs, cards, pages d\'onglets, tableaux...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color15" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color15" value="{{ Theme['color15'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur des textes' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 12 : contenu, titres, footer, bouton d\'administration, unités, légendes...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color12" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color12" value="{{ Theme['color12'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de survol principale' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 3 : contenu, titres, footer, bouton d\'administration, unités, légendes...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color3" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color3" value="{{ Theme['color3'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="legend-section">
                    <legend>{{ 'Personnalisation des élements' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur d\'option activée' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 4 : checkbox et radiobox...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color4" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color4" value="{{ Theme['color4'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond des titres' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 11 : légendes, tableaux, unités...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color11" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color11" value="{{ Theme['color11'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur fond des inputs' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 13 : champs de saisie, listes déroulantes...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color13" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color13" value="{{ Theme['color13'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de bordure' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 14 : inputs, légendes, tableaux et bouton d\'administration...' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color14" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color14" value="{{ Theme['color14'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur croix fenêtres modales' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 5 : Couleur croix fenêtres modales' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color5" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color5" value="{{ Theme['color5'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond des boutons d\'action' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 16 : Fond des boutons dit d\'action, ex: Tester' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color16" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color16" value="{{ Theme['color16'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond des boutons d\'administration' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 17 : Fond des boutons raccourcis de la page administration' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color17" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color17" value="{{ Theme['color17'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de bordure des boutons' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 20 : bouton d\'administration, bouton default' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color20" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color20" value="{{ Theme['color20'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond des boîtes à onglets' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 22 : Fond des boîtes à onglets' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color22" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color22" value="{{ Theme['color22'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Paramètre alpha des couleurs d\'alertes' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 21 : Le paramètre alpha correspond à une transparence de fond' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color21" data-toggle="tooltip" title="" data-original-title="{{ 'Par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class="input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color21" value="{{ Theme['color21'] }}"/>
                                    <span class="input-group-addon">{{ '%' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Icône d\'attente' }}</label>
                            <div class="input-group" data-toggle="tooltip" title="" data-original-title="{{ 'Icône utilisée lors d\'un chargement de page par exemple' }}">
                                <select class="configKey form-control" data-l1key="nextdom::waitSpinner" id="waitSpinnerSelect">
                                    <option value="fa-sync-alt"></i>{{ 'Sync Alt' }}</option>
                                    <option value="fa-refresh"></i>{{ 'Refresh' }}</option>
                                    <option value="fa-hourglass">{{ 'Hourglass' }}</option>
                                    <option value="fa-history">{{ 'History' }}</option>
                                    <option value="fa-asterisk">{{ 'Asterisk' }}</option>
                                    <option value="fa-certificate">{{ 'Certificate' }}</option>
                                    <option value="fa-circle-notch">{{ 'Circle Notch' }}</option>
                                    <option value="fa-cog">{{ 'Cog' }}</option>
                                    <option value="fa-compass">{{ 'Compass' }}</option>
                                    <option value="fa-crosshairs">{{ 'Crosshairs' }}</option>
                                    <option value="fa-futbol">{{ 'Futbol' }}</option>
                                    <option value="fa-globe">{{ 'Globe' }}</option>
                                    <option value="fa-life-ring">{{ 'Life Ring' }}</option>
                                    <option value="fa-recycle">{{ 'Recycle' }}</option>
                                    <option value="fa-snowflake">{{ 'Snowflake' }}</option>
                                    <option value="fa-spinner">{{ 'Spinner' }}</option>
                                    <option value="fa-sun">{{ 'Sun' }}</option>
                                    <option value="fa-star">{{ 'Star' }}</option>
                                    <option value="fa-compass">{{ 'Compass' }}</option>
                                </select>
                                <span class="input-group-addon" id="waitSpinner"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="legend-section">
                    <legend>{{ 'Menu latéral' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond du menu lateral' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 6 : fond du menu latéral' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color6" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color6" value="{{ Theme['color6'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de fond du sous-menu latéral' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 8 : fond du sous-menu latéral' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color8" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color8" value="{{ Theme['color8'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur de survol du menu latéral' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 7 : fond du sous-menu latéral au survol' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color7" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color7" value="{{ Theme['color7'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur du texte du menu latéral' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 18 : Couleur du texte du menu latéral' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color18" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color18" value="{{ Theme['color18'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Couleur du texte du sous-menu latéral' }}</label>
                            <div class="btn-group" data-toggle="tooltip" title="" data-original-title="{{ 'COULEUR 19 : Couleur du texte du sous-menu latéral' }}">
                                <a class="btn btn-action bt_resetColor" data-l1key="theme:color19" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                <div class=" colorpicker-component colorpick input-group">
                                    <input type="text" class="configKey form-control noSet" data-l1key="theme:color19" value="{{ Theme['color19'] }}"/>
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="legend-section">
                    <legend>{{ 'Personnalisation des notifications' }}</legend>
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-1 col-xs-12">
                            <label class="control-label">{{ 'Position des notifications' }}</label>
                            <select class="configKey form-control" data-l1key="notify::position">
                                <option value="topRight" selected="selected">Haut droite</option>
                                <option value="topLeft">Haut gauche</option>
                                <option value="bottomRight">Bas droite</option>
                                <option value="bottomLeft">Bas gauche</option>
                                <option value="topCenter">Haut centre</option>
                                <option value="bottomCenter">Bas centre</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 col-md-offset-2 col-xs-12">
                            <label class="control-label">{{ 'Durée des notifications' }}</label>
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="notify::timeout"/>
                                <span class="input-group-addon">{{ 'secondes' }}</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Tuiles tab -->
            <div role="tabpanel" class="tab-pane" id="colortab">
                <fieldset>
                    <legend>{{ 'Paramètrage de l\'aspect des tuiles du dashboard' }}</legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="alert alert-info">{{ 'Après avoir modifié ces valeurs, nous vous conseillons d\' utiliser les fonctions de redimensionnement sur grilles de vos objets en utilisant le mode édition :' }}<i class="fas fa-pencil-alt spacing-left"></i><i class="fas fa-th spacing-left spacing-right"></i><i class="fas fa-th-large spacing-right"></i></p>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Opacité par défaut des widgets' }}</label>
                            <div class="input-group">
                                <input type="numeric" class="configKey form-control" data-l1key="widget::background-opacity"/>
                                <span class="input-group-addon">{{ 'entre 0 et 1' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Taille Coins' }}</label>
                            <div class="input-group">
                                <input type="numeric" class="configKey form-control" data-l1key="widget::radius"/>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Marge externe' }}</label>
                            <div class="input-group">
                                <input type="numeric" class="configKey form-control" data-l1key="widget::margin"/>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Marge interne' }}</label>
                            <div class="input-group">
                                <input type="numeric" class="configKey form-control" data-l1key="widget::padding"/>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Taille Grille' }}</label>
                            <div class="input-group">
                                <input type="numeric" class="configKey form-control" data-l1key="widget::size"/>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div id="colortab-list">
                    {% for category, categoryData in adminCategories %}
                        <fieldset class="legend-section">
                            <legend>{{ 'Couleurs Catégorie' }} {{ categoryData['name'] }}</legend>
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-padding">
                                    <label class="control-label">{{ 'Fond Dashboard' }}</label>
                                    <div class="btn-group">
                                        <a class="btn btn-action bt_resetColor" data-l1key="eqLogic:category:{{ category }}:color" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                        <div class=" colorpicker-component colorpick input-group">
                                            <input type="text" class="configKey form-control noSet" data-l1key="eqLogic:category:{{ category }}:color" value="{{ categoryData['color'] }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-padding">
                                    <label class="control-label">{{ 'Commande Dashboard' }}</label>
                                    <div class="btn-group">
                                        <a class="btn btn-action bt_resetColor" data-l1key="eqLogic:category:{{ category }}:cmdColor" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' }}"><i class="fas fa-times"></i></a>
                                        <div class=" colorpicker-component colorpick input-group">
                                            <input type="text" class="configKey form-control cursor noSet" data-l1key="eqLogic:category:{{ category }}:cmdColor" value="{{ categoryData['cmdColor'] }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    {% endfor %}
                </div>
            </div>

            <!-- Advanced tab -->
            <div role="tabpanel" class="tab-pane nav-tabs-custom" id="advanced">
                <div class="btn-group alert alert-warning" id="div_spanAlertMessage">
                    {{ 'Attention : tout ce que vous écrivez ici est global et inclus sur toutes les pages. La moindre erreur peut rendre votre' }} {{ customProductName }} {{ 'non fonctionel.' }}
                    <div>
                        <input type="checkbox" id="enableCustomCss" class="configKey" data-l1key="enableCustomCss"{% if customEnableCustomCss %} checked="checked"{% endif %}>
                        <label for="enableCustomCss" class="control-label label-check" data-toggle="tooltip" title=""
                               data-original-title="{{ 'Force la prise en compte de ces personnalisation CSS et JS en dernier lieu' }}">{{ 'Activer la personnalisation avancée' }}
                        </label>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="desktop">
                    <div class="row">
                        <fieldset class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <legend>{{ 'Javascript' }}</legend>
                            <textarea id="ta_jsDesktopContent">{{ customJS }}</textarea>
                        </fieldset>
                        <fieldset class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <legend>{{ 'CSS' }}</legend>
                            <textarea id="ta_cssDesktopContent">{{ customCSS }}</textarea>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
