{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left spacing-right"></i>{{ 'common.return' | trans }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_savecustom"><i class="fas fa-save"></i>{{ 'common.save' | trans }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="nav-tabs-custom config" id="custom">
        <!-- Tabs title -->
        <ul class="nav nav-tabs pull-right" role="tablist">
            <li role="presentation"><a href="#advanced" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-flask"></i>{{ 'Modifications Avancées'  | trans }}</a></li>
            <li role="presentation"><a href="#colortab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-th-large"></i>{{ 'Tuiles'  | trans }}</a></li>
            <li role="presentation" class="active"><a href="#themestab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tint"></i>{{ 'Thème'  | trans }}</a></li>
            <li class="header pull-left"><i class="fas fa-pencil-square"></i>{{ 'Customisation' }}</li>
        </ul>

        <!-- Tabs content -->
        <div class="global-tab-content tab-content">
            <div role="tabpanel" class="tab-pane active" id="themestab">
                <fieldset>
                    <legend>{{ 'Configurez votre thème' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Base du Thème' }}</label>
                            <select id="themeBase" class="form-control">
                                {% for customThemesBase in customThemesBases %}
                                    <option value="{{ customThemesBase|split('-')[0] }}"{% if customThemesBase|split('-')[0] == customThemeChoice|split('-')[0] %} selected="selected"{% endif %}>{{ customThemesBase|split('-')[0] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Identité du Thème' }}</label>
                            <select id="themeIdentity" class="form-control">
                                {% for customThemesIdentitie in customThemesIdentities %}
                                    <option value="{{ customThemesIdentitie|split('-')[1]|slice(0,-4) }}"{% if customThemesIdentitie|split('-')[1]|slice(0,-4) == customThemeChoice|split('-')[1] %} selected="selected"{% endif %}>{{ customThemesIdentitie|split('-')[1]|slice(0,-4) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-padding" style="display:none">
                            <input class="configKey form-control" data-l1key="nextdom::user-theme" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="legend-section">
                    <legend>{{ 'Prévisualisez votre thème' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-12 col-padding">
                            <iframe id="customPreview" src="/index.php?v=d&p=administration" marginwidth="0" marginheight="0" frameborder="0" width="100%" height="600"></iframe>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Custom tab -->
            <div role="tabpanel" class="tab-pane" id="customtab">
                <p class="alert alert-info">{{ 'Pensez à sauvegarder puis actualiser la page pour voir les changements...' }}</p>
                <fieldset class="legend-section">
                    <legend>{{ 'Personnalisation des notifications' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Position des notifications' }}</label>
                            <div class="input-group" data-toggle="tooltip" title="" data-original-title="{{ 'Position sur l\'écran des notifications' }}">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="notify::position" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <select class="configKey form-control" data-l1key="notify::position">
                                    <option value="topRight" selected="selected">Haut droite</option>
                                    <option value="topLeft">Haut gauche</option>
                                    <option value="bottomRight">Bas droite</option>
                                    <option value="bottomLeft">Bas gauche</option>
                                    <option value="topCenter">Haut centre</option>
                                    <option value="bottomCenter">Bas centre</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Durée des notifications' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="notify::timeout" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="20" step="1" data-l1key="notify::timeout"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'secondes' }}</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Tuiles tab -->
            <div role="tabpanel" class="tab-pane" id="colortab">
                <fieldset>
                    <legend>{{ 'Paramètrage de l\'aspect des tuiles du dashboard' }}</legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="alert alert-info">{{ 'Après avoir modifié ces valeurs, nous vous conseillons d\' utiliser les fonctions de redimensionnement sur grilles de vos objets en utilisant le mode édition :' }}<i class="fas fa-pencil-alt spacing-left"></i><i class="fas fa-th spacing-left spacing-right"></i><i class="fas fa-th-large spacing-right"></i></p>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Opacité par défaut des widgets' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::background-opacity" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="1" step="0.1" data-l1key="widget::background-opacity"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Taille Coins' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::radius" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="20" step="1" data-l1key="widget::radius"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Marge externe' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::margin" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="20" step="1" data-l1key="widget::margin"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Marge interne' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::padding" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="20" step="1" data-l1key="widget::padding"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Taille Grille' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::size" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="10" max="200" step="5" data-l1key="widget::size"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div id="colortab-list">
                    {% for category, categoryData in adminCategories %}
                        <fieldset class="legend-section">
                            <legend>{{ 'Couleurs Catégorie' | trans }} {{ categoryData.name }}</legend>
                            <div class="row">
                                <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                                    <label class="control-label">{{ 'Fond Dashboard' | trans }}</label>
                                    <div class="input-group">
                                        <a class="input-group-addon cursor bt_resetConfigColor" data-l1key="eqLogic:category:{{ category }}:color" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' | trans }}"><i class="fas fa-times"></i></a>
                                        <div class="colorpicker-component colorpick">
                                            <input type="text" class="configKey form-control noSet" data-l1key="eqLogic:category:{{ category }}:color" value="{{ categoryData.color }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                                    <label class="control-label">{{ 'Commande Dashboard' }}</label>
                                    <div class="input-group">
                                        <a class="input-group-addon cursor bt_resetConfigColor" data-l1key="eqLogic:category:{{ category }}:cmdColor" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' | trans }}"><i class="fas fa-times"></i></a>
                                        <div class="colorpicker-component colorpick">
                                            <input type="text" class="configKey form-control cursor noSet" data-l1key="eqLogic:category:{{ category }}:cmdColor" value="{{ categoryData.cmdColor }}"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    {% endfor %}
                </div>
            </div>

            <!-- Advanced tab -->
            <div role="tabpanel" class="tab-pane nav-tabs-custom" id="advanced">
                <div class="alert alert-warning" id="div_spanAlertMessage">
                    {{ 'Attention : tout ce que vous écrivez ici est global et inclus sur toutes les pages. La moindre erreur peut rendre votre' | trans }} {{ PRODUCT_NAME }} {{ 'non fonctionel.'  | trans }}
                    <div>
                        <input type="checkbox" id="enableCustomCss" class="configKey" data-l1key="enableCustomCss"{% if customEnableCustomCss %} checked="checked"{% endif %}>
                        <label for="enableCustomCss" class="control-label label-check" data-toggle="tooltip" title=""
                               data-original-title="{{ 'Force la prise en compte de ces personnalisation CSS et JS en dernier lieu' }}">{{ 'Activer la personnalisation avancée' | trans }}
                        </label>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="desktop">
                    <div class="row">
                        <fieldset class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <legend>{{ 'Javascript' }}</legend>
                            <textarea id="ta_jsDesktopContent">{{ customJS }}</textarea>
                        </fieldset>
                        <fieldset class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <legend>{{ 'CSS' }}</legend>
                            <textarea id="ta_cssDesktopContent">{{ customCSS }}</textarea>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
