{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=eqAnalyse"><i class="fas fa-eye"></i>{{ 'Visualiser' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveeqlogic"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="eqlogic">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-plug"></i>{{ 'Equipements' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">
                <!-- Params Section -->
                <fieldset>
                    <legend>{{ 'Paramètres' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Nombre d\'échecs' }}</label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="numberOfTryBeforeEqLogicDisable"/>
                                <span class="input-group-addon">{{ 'avant désactivation de l\'équipement' }}</span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <!-- Seuil Section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Seuils' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 col-sm-2 col-xs-12 control-label">{{ 'Seuil des piles' }}</label>
                        <label class="col-md-1 col-sm-1 col-xs-2 eqLogicAttr label label-danger label-sticker-big spacing-left-big">{{ 'Danger' }}</label>
                        <div class="col-md-1 col-sm-2 col-xs-2">
                            <input class="configKey form-control" data-l1key="battery::danger"/>
                        </div>
                        <label class="col-md-1 col-xs-2 label label-warning label-sticker-big">{{ 'Warning' }}</label>
                        <div class="col-md-1 col-sm-2 col-xs-2">
                            <input class="configKey form-control" data-l1key="battery::warning"/>
                        </div>
                        <label class="col-md-1 col-sm-1 col-xs-2 label label-success label-sticker-big">{{ 'Ok' }}</label>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
