{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=interact"><i class="fas fa-eye"></i>{{ 'Visualiser' }}</a>
            <a class="btn btn-success btn-action-bar" id="bt_addColorConvert"><i class="fas fa-plus-circle"></i>{{ 'Ajouter une couleur' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveinteract_admin"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="interact_admin">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-comments"></i>{{ 'Interactions' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">

                <!-- General Section -->
                <fieldset>
                    <legend>{{ 'Général' }}</legend>
                    <div class="alert alert-info">
                        {{ 'Plus la sensibilité est basse (proche de 1), plus la correspondance doit être exacte.' }}
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label control-label-big">{{ 'Sensibilité' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">{{ '1 mot' }}</span>
                                <input type="text" class="configKey form-control" data-l1key="interact::confidence1"/>
                                <span class="input-group-addon">{{ '2 mots' }}</span>
                                <input type="text" class="configKey form-control" data-l1key="interact::confidence2"/>
                                <span class="input-group-addon">{{ '3 mots' }}</span>
                                <input type="text" class="configKey form-control" data-l1key="interact::confidence3"/>
                                <span class="input-group-addon">{{ '+3 mots' }}</span>
                                <input type="text" class="configKey form-control" data-l1key="interact::confidence"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label control-label-big">{{ 'Réduire le poids de' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">{{ '1 mot' }}</span>
                                <input type="text" class="configKey form-control" data-l1key="interact::weigh1"/>
                                <span class="input-group-addon">{{ '2 mots' }}</span>
                                <input type="text" class="configKey form-control" data-l1key="interact::weigh2"/>
                                <span class="input-group-addon">{{ '3 mots' }}</span>
                                <input type="text" class="configKey form-control" data-l1key="interact::weigh3"/>
                                <span class="input-group-addon">{{ '4 mots' }}</span>
                                <input type="text" class="configKey form-control" data-l1key="interact::weigh4"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Interaction non comprise' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input type="checkbox" class="configKey" data-l1key="interact::noResponseIfEmpty" id="noResponseIfEmpty"/>
                            <label for="noResponseIfEmpty" class="control-label label-check">{{'Ne pas répondre'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Regex générale d\'exclusion pour les interactions' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <textarea type="text" class="configKey form-control" data-l1key="interact::regexpExcludGlobal"></textarea>
                        </div>
                    </div>
                </fieldset>

                <!-- Interacts section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Intéractions' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Interactions automatiques' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input type="checkbox" class="configKey" data-l1key="interact::autoreply::enable" id="autoreply"/>
                            <label for="autoreply" class="control-label label-check">{{'Activer'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Réponses contextuelles' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input type="checkbox" class="configKey" data-l1key="interact::contextual::enable" id="contextual"/>
                            <label for="contextual" class="control-label label-check">{{'Activer'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Réponse contextuelle prioritaire si la phrase commence par' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::contextual::startpriority"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Découper une interaction en 2 si elle contient' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::contextual::splitword"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Interactions "préviens moi"' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input type="checkbox" class="configKey" data-l1key="interact::warnme::enable" id="warnme"/>
                            <label for="warnme" class="control-label label-check">{{'Activer'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Réponse de type "préviens moi" si la phrase commence par' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::warnme::start"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Commande de retour par défaut' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="configKey form-control" data-l1key="interact::warnme::defaultreturncmd"/>
                                <span class="input-group-btn">
                                    <a class="btn btn-default cursor bt_selectWarnMeCmd" data-toggle="tooltip" title="" data-original-title="Rechercher une commande"><i class="fa fa-list-alt"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Synonymes pour les objets' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::autoreply::object::synonym"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Synonymes pour les équipements' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::autoreply::eqLogic::synonym"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Synonymes pour les commandes' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::autoreply::cmd::synonym"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Synonymes pour les résumés' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::autoreply::summary::synonym"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Synonyme commande slider maximum' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::autoreply::cmd::slider::max"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Synonyme commande slider minimum' }}</label>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                            <input class="configKey form-control" data-l1key="interact::autoreply::cmd::slider::min"/>
                        </div>
                    </div>
                </fieldset>

                <!-- Colors Section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Couleurs' }}</legend>
                    <table class="table table-condensed table-bordered" id="table_convertColor">
                        <thead>
                        <tr>
                            <th>{{ 'Nom' }}</th>
                            <th>{{ 'Code HTML' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</section>
