{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_savelinks"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="links">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-sitemap"></i>{{ 'Liens' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">
                <!-- Profondeur Section -->
                <fieldset>
                    <legend>{{ 'Profondeurs' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Profondeur pour les scénarios' }}</label>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <input class="configKey form-control" data-l1key="graphlink::scenario::drill"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Profondeur pour les objets' }}</label>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <input class="configKey form-control" data-l1key="graphlink::object::drill"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Profondeur pour les équipements' }}</label>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <input class="configKey form-control" data-l1key="graphlink::eqLogic::drill"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Profondeur pour les commandes' }}</label>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <input class="configKey form-control" data-l1key="graphlink::cmd::drill"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Profondeur pour les variables' }}</label>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <input class="configKey form-control" data-l1key="graphlink::dataStore::drill"/>
                        </div>
                    </div>
                </fieldset>

                <!-- Render Section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Render' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Paramètre de prerender' }}</label>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <input class="configKey form-control" data-l1key="graphlink::prerender"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Paramètre de render' }}</label>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <input class="configKey form-control" data-l1key="graphlink::render"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
