{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=log"><i class="fas fa-eye"></i>{{ 'Visualiser' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_savelog_admin"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="log_admin">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-file-alt"></i>{{ 'Logs' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <form class="form-horizontal">
                <!-- Timeline Section -->
                <fieldset>
                    <legend>{{ 'Timeline' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Nombre maximum d\'évènements' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <input type="text" class="configKey form-control" data-l1key="timeline::maxevent"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Supprimer tous les évènements' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <a type="text" class="btn btn-danger" id="bt_removeTimelineEvent"><i class="fas fa-trash"></i>{{ 'Supprimer' }}</a>
                        </div>
                    </div>
                </fieldset>

                <!-- Messages Section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Messages' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Si erreur dans les logs' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <input type="checkbox" class="configKey" data-l1key="addMessageForErrorLog" id="addMessageForErrorLog" checked/>
                            <label for="addMessageForErrorLog" class="control-label label-check">{{'Ajouter un message'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Action sur message' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <a class="btn btn-success" id="bt_addActionOnMessage"><i class="fas fa-plus-circle"></i>{{ 'Ajouter' }}</a>
                        </div>
                    </div>
                    <div id="div_actionOnMessage"></div>
                </fieldset>

                <!-- Alertes Section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Alertes' }}</legend>
                    {% for level, value in adminAlerts %}
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'A chaque' }} {{ value['name'] }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                <input type="checkbox" class="configKey" data-l1key="alert::addMessageOn{{ level|capitalize }}" id="addMessageOn"/>
                                <label for="addMessageOn" class="control-label label-check">{{'Ajouter un message'}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Commande sur' }} {{ value['name'] }}</label>
                            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="configKey form-control" data-l1key="alert::{{ level }}Cmd"/>
                                    <span class="input-group-btn">
                                    <a class="btn btn-default cursor bt_selectAlertCmd" data-toggle="tooltip" title="" data-original-title="Rechercher une commande" data-type="{{ level }}"><i class="fa fa-list-alt"></i></a>
                                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>

                <!-- Log Section -->
                <fieldset class="legend-section">
                    <legend>{{ 'Paramètres des Logs' }}</legend>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Moteur de log' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <select class="configKey form-control" data-l1key="log::engine">
                                <option value="StreamHandler">{{ 'Defaut' }}</option>
                                <option value="SyslogHandler">{{ 'Syslog' }}</option>
                                <option value="SyslogUdp">{{ 'SyslogUdp' }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="logEngine SyslogUdp">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Adresse syslog UDP' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                <input type="text" class="configKey form-control" data-l1key="log::syslogudphost"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Port syslog UDP' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                <input type="text" class="configKey form-control" data-l1key="log::syslogudpport"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Format des logs' }}</label>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <input type="text" class="configKey form-control" data-l1key="log::formatter"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Nombre de lignes maximum dans un log' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <input type="text" class="configKey form-control" data-l1key="maxLineLog"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Niveau de log par défaut' }}</label>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                            <select class="configKey form-control" data-l1key="log::level">
                                <option value="100">{{ 'Debug' }}</option>
                                <option value="200">{{ 'Info' }}</option>
                                <option value="300">{{ 'Warning' }}</option>
                                <option value="400">{{ 'Erreur' }}</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="legend-section">
                    <legend>{{ 'Niveau des logs systèmes' }}</legend>
                    {% for otherLog in adminOthersLogs %}
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ otherLog|capitalize }}</label>
                                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                    <label class="radio-inline"><input type="radio" name="rd_logupdate{{ otherLog }}" class="configKey" data-l1key="log::level::{{ otherLog }}" data-l2key="1000"/> {{ 'Aucun' }}</label>
                                    <label class="radio-inline"><input type="radio" name="rd_logupdate{{ otherLog }}" class="configKey" data-l1key="log::level::{{ otherLog }}" data-l2key="default"/> {{ 'Défaut' }}</label>
                                    <label class="radio-inline"><input type="radio" name="rd_logupdate{{ otherLog }}" class="configKey" data-l1key="log::level::{{ otherLog }}" data-l2key="100"/> {{ 'Debug' }}</label>
                                    <label class="radio-inline"><input type="radio" name="rd_logupdate{{ otherLog }}" class="configKey" data-l1key="log::level::{{ otherLog }}" data-l2key="200"/> {{ 'Info' }}</label>
                                    <label class="radio-inline"><input type="radio" name="rd_logupdate{{ otherLog }}" class="configKey" data-l1key="log::level::{{ otherLog }}" data-l2key="300"/> {{ 'Warning' }}</label>
                                    <label class="radio-inline"><input type="radio" name="rd_logupdate{{ otherLog }}" class="configKey" data-l1key="log::level::{{ otherLog }}" data-l2key="400"/> {{ 'Erreur' }}</label>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                </fieldset>

                <fieldset class="legend-section">
                    <legend>{{ 'Niveau des logs plugins' }}</legend>
                    {% if not adminIsRescueMode %}
                        {% for pluginData in adminPluginsList %}
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ pluginData['plugin'].getName() }}</label>
                                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                        <label class="radio-inline"><input type="radio" name="rd_logupdate{{ pluginData['plugin'].getId() }}" class="configKey" data-l1key="log::level::{{ pluginData['plugin'].getId() }}" data-l2key="1000"/> {{ 'Aucun' }}</label>
                                        <label class="radio-inline"><input type="radio" name="rd_logupdate{{ pluginData['plugin'].getId() }}" class="configKey" data-l1key="log::level::{{ pluginData['plugin'].getId() }}" data-l2key="default"/> {{ 'Défaut' }}</label>
                                        <label class="radio-inline"><input type="radio" name="rd_logupdate{{ pluginData['plugin'].getId() }}" class="configKey" data-l1key="log::level::{{ pluginData['plugin'].getId() }}" data-l2key="100"/> {{ 'Debug' }}</label>
                                        <label class="radio-inline"><input type="radio" name="rd_logupdate{{ pluginData['plugin'].getId() }}" class="configKey" data-l1key="log::level::{{ pluginData['plugin'].getId() }}" data-l2key="200"/> {{ 'Info' }}</label>
                                        <label class="radio-inline"><input type="radio" name="rd_logupdate{{ pluginData['plugin'].getId() }}" class="configKey" data-l1key="log::level::{{ pluginData['plugin'].getId() }}" data-l2key="300"/> {{ 'Warning' }}</label>
                                        <label class="radio-inline"><input type="radio" name="rd_logupdate{{ pluginData['plugin'].getId() }}" class="configKey" data-l1key="log::level::{{ pluginData['plugin'].getId() }}" data-l2key="400"/> {{ 'Erreur' }}</label>
                                    </div>
                                </div>
                            </form>
                        {% endfor %}
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
</section>
