 {#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'profile.back'|trans }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveProfils"><i class="fas fa-save"></i>{{ 'profile.save'|trans }}</a>
        </div>
    </div>
</section>
<section class="content">
    <div class="nav-tabs-custom config" id="div_Profils">
        <!-- Tabs title -->
        <ul class="nav nav-tabs pull-right" role="tablist">
            <li role="presentation"><a href="#themetab" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-tint"></i>{{ 'profile.theme'|trans }}</a></li>
            <li role="presentation"><a href="#interfacetab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-laptop"></i>{{ 'profile.interface'|trans }}</a></li>
            <li role="presentation"><a href="#notificationtab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-comments"></i>{{ 'profile.notifications'|trans }}</a></li>
            <li role="presentation"><a href="#securitytab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-user-secret"></i>{{ 'profile.security'|trans }}</a></li>
            <li role="presentation" class="active"><a href="#profil" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-user"></i>{{ 'profile.profile'|trans }}</a></li>
            <li class="header pull-left"><i class="fas fa-briefcase"></i>{{ 'profile.profile-of'|trans|format(profilsUser.getLogin()) }}</li>
        </ul>
        <!-- Tabs content -->
        <div class="global-tab-content tab-content">

            <!-- Profil tab -->
            <div role="tabpanel" class="tab-pane active" id="profil">
                <fieldset>
                    <legend>{{ 'Photo de profil' }}</legend>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <img id="monAvatar" src="{{ profilsUser.getOptions('avatar') }}" style="height:200px"></a>
                        </div>
                        <div class="form-group col-sm-6">
                            {% for avatarFile in profilsAvatars %}
                                <img class="Avatar cursor" src="{{ avatarFile }}" style="height:66px"></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input class="userAttr form-control" data-l1key="options" data-l2key="avatar" disabled/>
                        </div>
                        <div class="form-group col-sm-6">
                            <input class="userAttr form-control btn btn-default" id="user_avatar" type="file" name="images" data-url="core/ajax/profils.ajax.php?action=imageUpload"/>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Themes tab -->
            <div role="tabpanel" class="tab-pane" id="themetab">
                <form class="form-horizontal">
                    <fieldset class="legend-section">
                        <legend>{{ 'Graphiques' }}</legend>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Graphique Desktop' }}</label>
                            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                <select class="userAttr form-control" data-l1key="options" data-l2key="desktop_highcharts_theme">
                                    <option value="">Défaut</option>
                                    <option value="dark-blue">Dark-blue</option>
                                    <option value="dark-green">Dark-green</option>
                                    <option value="dark-unica">Dark-unica</option>
                                    <option value="gray">Gray</option>
                                    <option value="grid-light">Grid-light</option>
                                    <option value="grid">Grid</option>
                                    <option value="sand-signika">Sand-signika</option>
                                    <option value="skies">Skies</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Opacités' }}</legend>
                        {% for displayTypeCode, displayTypeData in profilsDisplayTypes %}
                            <div class="form-group">
                                <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Widgets' }} {{ displayTypeData['name'] }}</label>
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                                    <input type="number" min="0" max="1" class="userAttr form-control" data-l1key="options" data-l2key="widget::background-opacity::{{ displayTypeCode }}"/>
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>
                </form>
            </div>

            <!-- Interface tab -->
            <div role="tabpanel" class="tab-pane" id="interfacetab">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{{ 'Options d\'interfaces' }}</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'Desktop' }}</label>
                            <div class="col-sm-2">
                                <select class="userAttr form-control" data-l1key="options" data-l2key="homePage">
                                    {% for homePageCode, homePageValue in profilsHomePageDesktop %}
                                        <option value="{{ homePageCode }}">{{ homePageValue }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Objet par défaut sur le dashboard' }}</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'Desktop' }}</label>
                            <div class="col-sm-2">
                                <select class="userAttr form-control" data-l1key="options" data-l2key="defaultDashboardObject">
                                    {% for jeeObject in profilsJeeObjects %}
                                        <option value="{{ jeeObject.getId() }}">{{ jeeObject.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Vue par défaut' }}</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'Desktop' }}</label>
                            <div class="col-sm-2">
                                <select class="userAttr form-control" data-l1key="options" data-l2key="defaultDesktopView">
                                    {% for view in profilsViews %}
                                        <option value="{{ view.getId() }}">{{ view.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Design par défaut' }}</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'Desktop' }}</label>
                            <div class="col-sm-2">
                                <select class="userAttr form-control" data-l1key="options" data-l2key="defaultDashboardPlan">
                                    {% for plan in profilsPlans %}
                                        <option value="{{ plan.getId() }}">{{ plan.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'Plein écran' }}</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="userAttr" data-l1key="options" data-l2key="defaultPlanFullScreen"/>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Design 3D par défaut' }}</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'Desktop' }}</label>
                            <div class="col-sm-2">
                                <select class="userAttr form-control" data-l1key="options" data-l2key="defaultDashboardPlan3d">
                                    {% for plan in profilsPlans3d %}
                                        <option value="{{ plan3d.getId() }}">{{ plan3d.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'Plein écran' }}</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="userAttr" data-l1key="options" data-l2key="defaultPlan3dFullScreen"/>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Vue' }}</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'Déplier le panneau des vues' }}</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="userAttr" data-l1key="options" data-l2key="displayViewByDefault"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <!-- Security tab -->
            <div role="tabpanel" class="tab-pane" id="securitytab">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{{ 'Authentifications' }}</legend>
                        <div class="alert alert-info">
                            {{ 'Attention : La double authentification est désactivée en connexion locale... ' }}
                        </div>
                        {% if profilsAllowRemoteUsers != 1 %}
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Nouveau mot de passe' }}</label>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <input type="password" class="userAttr form-control" data-l1key="password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Confirmation mot de passe' }}</label>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <input type="password" class="form-control" id="in_passwordCheck"/>
                                </div>
                            </div>
                            <div class="form-group">
                                {% if profilsUser.getOptions('twoFactorAuthentification', 0) == 1 %}
                                    <label class="col-lg-2 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Double authentification' }}</label>
                                    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                                        <input type="checkbox" class="userAttr" data-l1key="options" data-l2key="twoFactorAuthentification"/>
                                        <label class="control-label label-check">{{ 'Activer' }}</label>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Double authentification' }}</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <a class="btn btn-warning" id="bt_configureTwoFactorAuthentification"><i class="fas fa-magic"></i>{{ 'Configurer' }}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 col-sm-4 col-xs-12 control-label">{{ 'Hash de l\'utilisateur' }}</label>
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <a class="btn btn-action" id="bt_genUserKeyAPI"><i class="fas fa-refresh"></i>{{ 'Régénérer' }}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2 col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4 col-xs-12">
                                <span class="userAttr label label-config label-hash" data-l1key="hash"></span>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="legend-section">
                        <legend>{{ 'Sessions actives' }}</legend>
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th>{{ 'ID' }}</th>
                                <th>{{ 'IP' }}</th>
                                <th>{{ 'Date' }}</th>
                                <th>{{ 'Actions' }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for id, session in profilsSessionsList %}
                                {% if session['user_id'] == profilsUser.getId() %}
                                    <tr data-id="{{ id }}">
                                        <td>{{ id }}</td>
                                        <td>{{ session['ip'] }}</td>
                                        <td>{{ session['datetime'] }}</td>
                                        <td><a class="btn btn-sm btn-warning bt_deleteSession pull-right"><i class="fas fa-sign-out-alt"></i>{{ 'Déconnecter' }}</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>

                    <fieldset class="legend-section">
                        <div class="col-md-9 col-xs-12 container-fluid">
                            <legend>{{ 'Périphériques enregistrés' }}</legend>
                        </div>
                        <div class="col-md-3 col-xs-12 container-fluid">
                            <div class="box-tools pull-right padding-bottom">
                                <a class="btn btn-warning" id="bt_removeAllRegisterDevice"><i class="fas fa-trash"></i>{{ 'Supprimer tout' }}</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>{{ 'Identification' }}</th>
                                <th>{{ 'IP' }}</th>
                                <th>{{ 'Date dernière utilisation' }}</th>
                                <th>{{ 'Action' }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sessionCode, sessionData in profilsUser.getOptions('registerDevice') %}
                                <tr data-key="{{ sessionCode }}">
                                    <td>{{ sessionCode|slice(0, 10) }}</td>
                                    <td>{{ sessionData['ip'] }}</td>
                                    <td>{{ sessionData['datetime'] }}</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm bt_removeRegisterDevice pull-right"><i class="fas fa-trash"></i>{{ 'Supprimer' }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>

            <!-- Notification tab -->
            <div role="tabpanel" class="tab-pane" id="notificationtab">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{{ 'Gestion des notifications utilisateurs' }}</legend>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 col-sm-4 col-xs-12 control-label">{{ 'Commande pour l\'envoi' }}</label>
                            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="userAttr form-control" data-l1key="options" data-l2key="notification::cmd"/>
                                    <span class="input-group-btn">
                                        <a class="btn btn-default cursor bt_selectWarnMeCmd" data-toggle="tooltip" title="" data-original-title="Rechercher une commande"><i class="fas fa-list-alt"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
