{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'common.back'|trans }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_saveProfils"><i class="fas fa-save"></i>{{ 'common.save'|trans }}</a>
            <a class="btn btn-danger btn-action-bar pull-right bt_cancelModifs"><i class="fas fa-times"></i>{{ 'common.cancel'|trans }}</a>
        </div>
    </div>
</section>
<section class="content">
    <div class="nav-tabs-custom config" id="div_Profils">
        <!-- Tabs title -->
        <ul class="nav nav-tabs pull-right" role="tablist">
            <li role="presentation"><a href="#securitytab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-user-secret"></i><span>{{ 'profile.security'|trans }}</span></a></li>
            <li role="presentation"><a href="#interfacetab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-laptop"></i><span>{{ 'profile.interface'|trans }}</span></a></li>
            <li role="presentation"><a href="#notificationtab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-comment-alt"></i><span>{{ 'profile.notifications'|trans }}</span></a></li>
            <li role="presentation"><a href="#colortab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-th-large"></i><span>{{ 'profile.tiles' | trans }}</span></a></li>
            <li role="presentation"><a href="#widgettab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-layer-group"></i><span>{{ 'profile.widgets'|trans }}</span></a></li>
            <li role="presentation"><a href="#themetab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fas fa-palette"></i><span>{{ 'profile.theme'|trans }}</span></a></li>
            <li role="presentation" class="active"><a href="#profil" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-user"></i><span>{{ 'profile.avatar'|trans }}</span></a></li>
            <li class="header pull-left"><i class="fas fa-briefcase"></i>{{ 'profile.profile-of'|trans|format(profilsUser.getLogin()) }}</li>
        </ul>
        <!-- Tabs content -->
        <div class="global-tab-content tab-content">

            <!-- Profil tab -->
            <div role="tabpanel" class="tab-pane active" id="profil">
                <fieldset>
                    <legend>{{ 'Choix de l\'Avatar'  | trans }}</legend>
                    <div class="row text-center">
                        <div class="form-group col-sm-4 col-padding">
                            <img id="avatar-preview" src="{{ profilsAvatar }}" style="height:200px"></a>
                        </div>
                        <div class="form-group col-sm-8 col-padding">
                            {% for avatarFile in profilsAvatars %}
                                <img class="avatar cursor" src="{{ avatarFile }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                    <input class="userAttr form-control" data-l1key="options" data-l2key="avatar" style="display:none"/>

                    <legend>{{ 'Ajout d\'un nouvel Avatar'  | trans }}</legend>
                    <div class="row">
                        <div class="form-group col-sm-12 col-padding">
                            <input class="userAttr form-control btn btn-default" id="user_avatar" type="file" name="images" data-url="core/ajax/profils.ajax.php?action=imageUpload"/>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Theme tab -->
            <div role="tabpanel" class="tab-pane" id="themetab">
                <fieldset>
                    <legend>{{ 'Configurez votre thème' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Base du Thème' }}</label>
                            <select id="themeBase" class="form-control">
                                {% for profilsThemesBase in profilsThemesBases %}
                                    <option value="{{ profilsThemesBase }}"{% if profilsThemesBase == profilsThemeChoice|split('-')[0] %} selected="selected"{% endif %}>{{ profilsThemesBase }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Identité du Thème' }}</label>
                            <select id="themeIdentity" class="form-control">
                                {% for profilsThemesIdentity in profilsThemesIdentities %}
                                    <option value="{{ profilsThemesIdentity }}"{% if profilsThemesIdentity == profilsThemeChoice|split('-')[1] %} selected="selected"{% endif %}>{{ profilsThemesIdentity }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Icône du Thème' }}</label>
                            <select id="themeIcon" class="form-control">
                                {% for profilsThemesIcon in profilsThemesIcons %}
                                    <option value="{{ profilsThemesIcon }}"{% if profilsThemesIcon == profilsIconChoice %} selected="selected"{% endif %}>{{ profilsThemesIcon }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-padding" style="display:none">
                            <input class="configKey form-control" data-l1key="nextdom::user-theme" />
                        </div>
                        <div class="form-group col-lg-6 col-padding" style="display:none">
                            <input class="configKey form-control" data-l1key="nextdom::user-icon" />
                        </div>
                    </div>

                    <legend>{{ 'Prévisualisez votre thème' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-12 col-padding">
                            <iframe id="themePreview" src="/index.php?v=d&p=administration" marginwidth="0" marginheight="0" frameborder="0" width="100%" height="600"></iframe>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Widgets theme tab -->
            <div role="tabpanel" class="tab-pane" id="widgettab">
                <fieldset>
                    <legend>{{ 'Thème des Widgets' }}</legend>
                    <div class="row text-center">
                        {% for theme in profilsWidgetThemes %}
                            <div class="form-group col-lg-4 col-sm-6 col-xs-12 col-padding">
                                <div class="clearfix">
                                    <label class="cursor" for={{ theme.code }}>
                                        <img class="themeWidgetThumbnail" src="{{ theme.icon }}">
                                    </label>
                                </div>
                                <input id={{ theme.code }} class="spacing-right" type="radio" name="themeWidget" value="{{ theme.code }}"/>
                                <label for={{ theme.code }}>{{ theme.code|capitalize }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <input class="userAttr form-control" data-l1key="options" data-l2key="widget::theme" style="display:none" />

                    <legend>{{ 'Opacités des widgets' }}</legend>
                    <div class="row">
                        {% for displayTypeCode, displayTypeData in profilsDisplayTypes %}
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ displayTypeData['name'] }}</label>
                                <div class="input-group">
                                    <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::background-opacity::{{ displayTypeCode }}" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                    <span class="input-group-addon input-range-min"></span>
                                    <input class="userAttr slider" type="range" min="0" max="1" step="0.1" data-l1key="options" data-l2key="widget::background-opacity::{{ displayTypeCode }}"/>
                                    <span class="input-group-addon input-range-max"></span>
                                    <span class="input-group-addon input-range-value"></span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <legend>{{ 'Graphiques' }}</legend>
                    <div class="row">
                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Thème' }}</label>
                            <select class="userAttr form-control" data-l1key="options" data-l2key="desktop_highcharts_theme">
                                <option value="">Défaut</option>
                                <option value="dark-blue">Dark-blue</option>
                                <option value="dark-green">Dark-green</option>
                                <option value="dark-unica">Dark-unica</option>
                                <option value="gray">Gray</option>
                                <option value="grid-light">Grid-light</option>
                                <option value="grid">Grid</option>
                                <option value="sand-signika">Sand-signika</option>
                                <option value="skies">Skies</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Interface tab -->
            <div role="tabpanel" class="tab-pane" id="interfacetab">
                <fieldset>
                    <legend>{{ 'Options d\'interfaces par défaut' }}</legend>
                    <div class="row">
                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Page Home' }}</label>
                            <select class="userAttr form-control" data-l1key="options" data-l2key="homePage">
                                {% for homePageCode, homePageValue in profilsHomePageDesktop %}
                                    <option value="{{ homePageCode }}">{{ homePageValue }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Objet par défaut du dashboard' }}</label>
                            <select class="userAttr form-control" data-l1key="options" data-l2key="defaultDashboardObject">
                                {% for jeeObject in profilsJeeObjects %}
                                    <option value="{{ jeeObject.getId() }}">{{ jeeObject.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Vue par défaut' }}</label>
                            <select class="userAttr form-control" data-l1key="options" data-l2key="defaultDesktopView">
                                {% for view in profilsViews %}
                                    <option value="{{ view.getId() }}">{{ view.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Design par défaut' }}</label>
                            <select class="userAttr form-control" data-l1key="options" data-l2key="defaultDashboardPlan">
                                {% for plan in profilsPlans %}
                                    <option value="{{ plan.getId() }}">{{ plan.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        {# Plan 3D désactivé
                        <legend>{{ 'Design 3D par défaut' }}</legend>
                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Design 3D par défaut' }}</label>
                            <select class="userAttr form-control" data-l1key="options" data-l2key="defaultDashboardPlan3d">
                                {% for plan in profilsPlans3d %}
                                    <option value="{{ plan3d.getId() }}">{{ plan3d.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        #}
                    </div>

                    <legend>{{ 'Options des Designs et Vues' }}</legend>
                    <div class="row">
                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Design en plein écran' }}</label>
                            <div>
                                <input id="defaultPlanFullScreen" type="checkbox" class="userAttr" data-l1key="options" data-l2key="defaultPlanFullScreen"/>
                                <label for="defaultPlanFullScreen" class="control-label label-check">{{ 'Activer' }}</label>
                            </div>
                        </div>
                        {# Plan 3D désactivé
                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Design 3D en plein écran' }}</label>
                            <div>
                                <input id="defaultPlan3dFullScreen" type="checkbox" class="userAttr" data-l1key="options" data-l2key="defaultPlan3dFullScreen"/>
                                <label for="defaultPlan3dFullScreen" class="control-label label-check">{{ 'Activer' }}</label>
                            </div>
                        </div>
                        #}
                        <div class="form-group col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Déplier le panneau des Vues' }}</label>
                            <div>
                                <input id="displayViewByDefault" type="checkbox" class="userAttr" data-l1key="options" data-l2key="displayViewByDefault"/>
                                <label for="displayViewByDefault" class="control-label label-check">{{ 'Activer' }}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Security tab -->
            <div role="tabpanel" class="tab-pane" id="securitytab">
                <fieldset>
                    <legend>{{ 'Authentifications' }}</legend>
                    <div class="row">
                        <div class="form-group col-xs-12 col-padding">
                            <div class="alert alert-info">{{ 'Attention : La double authentification est désactivée en connexion locale... ' }}</div>
                        </div>
                        {% if profilsAllowRemoteUsers != 1 %}
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'Mot de passe actuel ou Nouveau' }}</label>
                                <input type="password" id="in_newPassword" class="userAttr form-control" data-l1key="password"/>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'Confirmation pour nouveau mot de passe' }}</label>
                                <input type="password" class="form-control" id="in_passwordCheck"/>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <div class="progress progress-slim">
                                    <div id="newPasswordProgress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                </div>
                                <span id="newPasswordLevel" class="label label-value" data-toggle="tooltip" title="" data-original-title="{{'security.rules'|trans}}"></span>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'Double authentification' }}</label>
                                <div class="mix-group">
                                    <a class="btn btn-warning" id="bt_configureTwoFactorAuthentification"><i class="fas fa-magic"></i>{{ 'Configurer' }}</a>
                                    {% if profilsUser.getOptions('twoFactorAuthentification', 0) == 1 %}
                                        <div>
                                            <input id="twoFactorAuthentification" type="checkbox" class="userAttr" data-l1key="options" data-l2key="twoFactorAuthentification"/>
                                            <label for="twoFactorAuthentification" class="control-label label-check">{{ 'common.activate' | trans }}</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group col-xs-12 col-padding">
                            <label class="control-label">{{ 'Hash de l\'utilisateur' }}</label>
                            <div class="mix-group form-group">
                                <a class="btn btn-action" id="bt_genUserKeyAPI"><i class="fas fa-refresh"></i>{{ 'Régénérer' }}</a>
                            </div>
                            <div class="mix-group">
                                <span class="userAttr label label-value label-hash" data-l1key="hash"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Notification tab -->
            <div role="tabpanel" class="tab-pane" id="notificationtab">
                <fieldset>
                    <legend>{{ 'Notifications système' }}</legend>
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Durée des notifications' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="notify::timeout" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="20" step="1" data-l1key="notify::timeout"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'secondes' }}</span>
                            </div>
                        </div>
                    </div>

                    <legend class="legend-section">{{ 'Relai des notifications aux utilisateurs' }}</legend>
                    <div class="row">
                        <div class="form-group col-xs-12 col-padding">
                            <label class="control-label">{{ 'Commande pour l\'envoi' }}</label>
                            <div class="input-group">
                                <input type="text" class="userAttr form-control" data-l1key="options" data-l2key="notification::cmd"/>
                                <span class="input-group-btn">
                                    <a class="btn btn-default cursor" id="bt_selectWarnMeCmd" data-toggle="tooltip" title="" data-original-title="{{ 'Rechercher une commande' }}"><i class="fas fa-list-alt"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Tuiles tab -->
            <div role="tabpanel" class="tab-pane" id="colortab">
                <fieldset>
                    <legend>{{ 'Paramètrage de l\'aspect des tuiles du dashboard' }}</legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="alert alert-info">{{ 'Après avoir modifié ces valeurs, nous vous conseillons d\' utiliser les fonctions de redimensionnement sur grilles de vos objets en utilisant le mode édition :' }}<i class="fas fa-pencil-alt spacing-left"></i><i class="fas fa-th spacing-left spacing-right"></i><i class="fas fa-th-large spacing-right"></i></p>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Opacité par défaut des widgets' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::background-opacity" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="1" step="0.1" data-l1key="widget::background-opacity"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Taille Coins' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::radius" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="20" step="1" data-l1key="widget::radius"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Marge externe' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::margin" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="20" step="1" data-l1key="widget::margin"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Marge interne' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::padding" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="0" max="20" step="1" data-l1key="widget::padding"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                            <label class="control-label">{{ 'Taille Grille' }}</label>
                            <div class="input-group">
                                <a class="input-group-addon cursor bt_resetConfigParam" data-l1key="widget::size" data-toggle="tooltip" title="" data-original-title="Par défaut"><i class="fas fa-times"></i></a>
                                <span class="input-group-addon input-range-min"></span>
                                <input class="configKey slider" type="range" min="10" max="200" step="5" data-l1key="widget::size"/>
                                <span class="input-group-addon input-range-max"></span>
                                <span class="input-group-addon input-range-value"></span>
                                <span class="input-group-addon">{{ 'pixels' }}</span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div id="colortab-list">
                    {% for category, categoryData in adminCategories %}
                        <legend>{{ 'Couleurs Catégorie' | trans }} {{ categoryData.name }}</legend>
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'Fond Dashboard' | trans }}</label>
                                <div class="input-group">
                                    <a class="input-group-addon cursor bt_resetConfigColor" data-l1key="eqLogic:category:{{ category }}:color" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' | trans }}"><i class="fas fa-times"></i></a>
                                    <div class="colorpicker-component colorpick">
                                        <input type="text" class="configKey form-control noSet" data-l1key="eqLogic:category:{{ category }}:color" value="{{ categoryData.color }}"/>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-sm-6 col-xs-12 col-padding">
                                <label class="control-label">{{ 'Commande Dashboard' }}</label>
                                <div class="input-group">
                                    <a class="input-group-addon cursor bt_resetConfigColor" data-l1key="eqLogic:category:{{ category }}:cmdColor" data-toggle="tooltip" title="" data-original-title="{{ 'Remettre par défaut' | trans }}"><i class="fas fa-times"></i></a>
                                    <div class="colorpicker-component colorpick">
                                        <input type="text" class="configKey form-control cursor noSet" data-l1key="eqLogic:category:{{ category }}:cmdColor" value="{{ categoryData.cmdColor }}"/>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
