{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}

<section class="content-header">
    <div class="action-bar">
        <div class="action-group">
            <a class="btn btn-danger btn-action-bar" href="index.php?v=d&p=administration"><i class="fas fa-chevron-left"></i>{{ 'Retour'}}</a>
            <a class="btn btn-default btn-action-bar" href="index.php?v=d&p=display"><i class="fas fa-eye"></i>{{ 'Visualiser' }}</a>
            <a class="btn btn-success btn-action-bar" id="bt_addObjectSummary"><i class="fas fa-plus-circle"></i>{{ 'Ajouter un résumé' }}</a>
        </div>
        <div class="action-group">
            <a class="btn btn-success btn-action-bar pull-right" id="bt_savesummary"><i class="fas fa-save"></i>{{ 'Sauvegarder' }}</a>
        </div>
    </div>
</section>

<section class="content">
    <div class="box" id="summary">
        <!-- Header bar -->
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-table"></i>{{ 'Résumés domotiques' }}</h3>
        </div>

        <!-- Page content -->
        <div class="box-body">
            <!-- Summary Section -->
            <div class="">
                <table class="table table-condensed table-bordered text-center" id="table_objectSummary">
                    <thead>
                    <tr>
                        <th>{{ 'Clé' }}</th>
                        <th>{{ 'Nom' }}</th>
                        <th>{{ 'Calcul' }}</th>
                        <th>{{ 'Icône' }}</th>
                        <th>{{ 'Unité' }}</th>
                        <th>{{ 'Méthode de comptage' }}</th>
                        <th>{{ 'Affichage si valeur nulle' }}</th>
                        <th>{{ 'Lien à un virtuel' }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</section>
